
{% macro chapterTitle() %}Chapitre 11{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('12_chap_10')"><i class="fa-solid fa-arrow-left"></i> Chapitre 10</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('14_chap_12')">Chapitre 12 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f103/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f103/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f103" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f104/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f104/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f104" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f105/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f105/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f105" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f106/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f106/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f106" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f107/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f107/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f107" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f108/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f108/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f108" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f109/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f109/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f109" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f110/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f110/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f110" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f103">
   
   <p title="Numéro de folio" class="text-end"><i>39r</i></p>
   
   
   <hr data-img-id="f104">
   
   <p title="Numéro de folio" class="text-end"><i>39v</i></p>
   <span class="d-block fw-bold mb-3">De Clouys filz de
      Childerich</span>
   
   <blockquote class="ms-2">
      
      <span class="verse v1711"><mark title="piedMouche">§</mark>Sans regarder code / loix / ne digeſtes</span>
      <span class="verse v1712">Ia neſt beſoing de liure ſe pouruoir,</span>
      <span class="verse v1713">Fors ſeullement de ceſtuy cy./ pour veoir</span>
      <span class="verse v1714">Du roy Clouys les
         gentilz faictz et geſtes.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      
      <span class="lem">Chapitre.&nbsp;<span class="num" type="ordinal" value="11">xi<sup>e</sup></span>.</span>
      
      
      
      </blockquote>
   
   <span class="verse v1715"><span class="verse-number">1715</span>COmme Clouis fut de foꝛme
      elegante,</span>
   <span class="verse v1716">Beaulte / facunde / et maniere allegante,</span>
   <span class="verse v1717">Doulceur en luy / gꝛace et 
      <span class="lem"></span>
      
       benignite,</span>
   <span class="verse v1718">Auſſi fut il de magnanimite,</span>
   <span class="verse v1719">
      <span class="lem">Foꝛce</span>
      
       / vertus / bonnes meurs / et pꝛoueſſes,</span>
   <span class="verse v1720"><span class="verse-number">1720</span>Comble dhonneurs / et ſaiges hardieſſes,</span>
   <span class="verse v1721">Et tout ainſi quen puiſſance de coꝛps</span>
   <span class="verse v1722">Commenca croiſtre /. On fait de luy recoꝛdz</span>
   <span class="verse v1723">Que ayant honneurs et biens a pleines ſommes,</span>
   <span class="verse v1724">Il 
      <span class="lem"></span>
      
      
       creut en loz / gꝛace et amour des hommes.</span>
   <span class="verse v1725"><span class="verse-number">1725</span>Luy roy <span class="num">cinquieſme</span> en <mark title="placeName" instant="false" full="yes">France</mark>
      couronne</span>
   <span class="verse v1726">Comme heritier, filz legitime ne,</span>
   <span class="verse v1727">Tant vint a chief dempꝛiſes gloꝛieuſes,</span>
   <span class="verse v1728">Par exploicter armes victoꝛieuſes,</span>
   <span class="verse v1729">Quon ne 
      <span class="lem">liſt</span>
      
       point les ſiens pꝛedeceſſeurs</span>
   <span class="verse v1730"><span class="verse-number">1730</span>Auoir eſte de 
      <span class="lem">tel bꝛuyt</span>
      
       poſſeſſeurs.</span>
   <span class="verse v1731">Et pour venir a ſon pꝛemier chief dœuure.</span>
   
   
   <hr data-img-id="f105">
   
   <p title="Numéro de folio" class="text-end"><i>40r</i></p>
   <span class="d-block fw-bold mb-3"> filz de Gillon mys en
      fuyte par les <mark title="orgName" instant="false" full="yes">francoys</mark>.</span>
   <span class="verse v1732">Affin que au nect la beſongne deſcoeuure,</span>
   <span class="verse v1733">Le ſiege miſt (ung iour) deuant
      <mark title="placeName" instant="false" full="yes">Soiſſons</mark>,</span>
   <span class="verse v1734">Ou ſi tres 
      <span class="lem">hault</span>
      
       ſonnerent <mark title="orgName" instant="false" full="yes">Francoys</mark> ſons</span>
   <span class="verse v1735"><span class="verse-number">1735</span>Quen fiers aſſaultz et furieux alarmes</span>
   <span class="verse v1736">Fut la cite plongee en ſang et larmes.</span>
   <span class="verse v1737">Loꝛs le pays <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Soiſſonnois</mark></mark> reuolte,</span>
   <span class="verse v1738">Mys et reduyt tout a ſa volunte,</span>
   <span class="verse v1739">
      <span class="lem">Syagꝛius</span>
      
       voyant que peu pꝛoufitte</span>
   <span class="verse v1740"><span class="verse-number">1740</span>
      <span class="lem">A</span>
      
      
       reſiſter / ſe ſaulue et pꝛend la fuyte.</span>
   <span class="verse v1741">Ceſtuy fut filz de Gillon
      le <mark title="orgName" instant="false" full="yes">Romain</mark>,</span>
   <span class="verse v1742">Dur aux <mark title="orgName" instant="false" full="yes">Francoys</mark> / cruel et 
      <span class="lem"></span>
      
       inhumain,</span>
   <span class="verse v1743">Comme deſſus auons mention faicte,</span>
   <span class="verse v1744">Qui audit lieu (congnoiſſant ſa deffaicte)</span>
   <span class="verse v1745"><span class="verse-number">1745</span>Se retira.
      Et, apꝛes ſon deces,</span>
   <span class="verse v1746">
      <span class="lem">Ce</span>
      
      
       filz y eut ſi bon et ſeur acces</span>
   <span class="verse v1747">Que gouuerneur demoura /
      Ivſqua lheure</span>
   <span class="verse v1748">Quon luy haſta une 
      <span class="lem"></span>
      
       ſi foꝛte alleure.</span>
   <span class="verse v1749">Dont tellement fouyt /. quoncques depuys</span>
   <span class="verse v1750"><span class="verse-number">1750</span>Luy 
      <span class="lem">ne</span>
      
       les ſiens ny trouuerent appuys.</span>
   <span class="verse v1751"><mark title="piedMouche">§</mark>Durant 
      <span class="lem">ces</span>
      
      
       iours /. la fiere et gꝛoſſe armee</span>
   <span class="verse v1752">Du roy Clouis / en feu de ire allumee,</span>
   <span class="verse v1753">Depuys <mark title="placeName" instant="false" full="yes">Soiſſons</mark> iuſques a
      <mark title="placeName" instant="false" full="yes">Reins</mark> courut,</span>
   <span class="verse v1754">Dont maint manoir 
      <span class="lem">gꝛand</span>
      
      
       dommaige encourut,</span>
   <span class="verse v1755"><span class="verse-number">1755</span>Mainte perſonne en ceſte dure courſe</span>
   <span class="verse v1756">Y fut deſtruicte /. Et 
      <span class="lem">vint</span>
      
       la cauſe /.
      Pource</span>
   
   
   <hr data-img-id="f106">
   
   <p title="Numéro de folio" class="text-end"><i>40v</i></p>
   <span class="d-block fw-bold mb-3">Les <mark title="orgName" instant="false" full="yes">francoys</mark> pillans ſur les
      <mark title="orgName" instant="false" full="yes">creſtiens</mark>.</span>
   <span class="verse v1757">Que iceulx <mark title="orgName" instant="false" full="yes">Francoys</mark>, meſcreans et payans,</span>
   <span class="verse v1758">Sur <mark title="orgName" instant="false" full="yes">creſtiens</mark> furent foꝛt abayans</span>
   <span class="verse v1759">Et eurent toſt 
      <span class="lem">les occaſions quiſes</span>
      
      ,</span>
   <span class="verse v1760"><span class="verse-number">1760</span>Temples rober et pꝛophaner egliſes,</span>
   <span class="verse v1761">Ainſi quon voit pays eſcoꝛnifler,</span>
   <span class="verse v1762">Peuples piller / et tous leurs biens rifler.</span>
   <span class="verse v1763">Celluy neſt loꝛs qui 
      <span class="lem"></span>
      
      ſa gꝛiffe ne touille</span>
   <span class="verse v1764">Pour y gaigner quelque gꝛoſſe deſpouille.</span>
   <span class="verse v1765"><span class="verse-number">1765</span>La firent ilz 
      <span class="lem"></span>
      
       ſi terrible hutin</span>
   <span class="verse v1766">Quil en ſoꝛtit foꝛt gꝛand et lourd butin,</span>
   <span class="verse v1767">Le quel poſe a <mark title="placeName" instant="false" full="yes">Soiſſons</mark> en
      reſerue,</span>
   <span class="verse v1768">Lheure actendant que 
      <span class="lem">bon</span>
      
       dꝛoit ſe y obſerue</span>
   <span class="verse v1769">Et 
      <span class="lem">que</span>
      
       chaſcun /
      
      <span class="lem">par iuſte</span>
      
      
       equalite,</span>
   <span class="verse v1770"><span class="verse-number">1770</span>Y pꝛengne part ſelon ſa qualite.</span>
   <span class="verse v1771">Au dur conflict de ceſte riblerie,</span>
   <span class="verse v1772">Ranſonnerie / et foꝛte pillerie,</span>
   <span class="verse v1773">Par quelque faulx et oultraigeux ſergent,</span>
   <span class="verse v1774">Fut deſrobee une eſguiere dargent</span>
   <span class="verse v1775"><span class="verse-number">1775</span>
      <span class="lem">Daſſez</span>
      
       bon poix et meſure tenante,</span>
   <span class="verse v1776">Laquelle eſguiere eſtoit appartenante</span>
   <span class="verse v1777">A ſainct Remy,
      archeueſque de <mark title="placeName" instant="false" full="yes">Reins</mark>,</span>
   <span class="verse v1778">Qui vers le roy 
      <span class="lem">tranſmect</span>
      
       foꝛt bonne erre /
      Ains</span>
   <span class="verse v1779">Que le butin 
      <span class="lem">departy</span>
      
      , 
      <span class="lem">on</span>
      
      
       ait guyere,</span>
   <span class="verse v1780"><span class="verse-number">1780</span>Le ſuppliant / que luy rende leſguiere.</span>
   <span class="verse v1781">A quoy 
      <span class="lem">reſpond</span>
      
       quil eſt content /. pourueu</span>
   
   
   <hr data-img-id="f107">
   
   <p title="Numéro de folio" class="text-end"><i>41r</i></p>
   <span class="d-block fw-bold mb-3">Le reffus fait a Clouys de leſguyere a ſainct Remy.</span>
   <span class="verse v1782">
      <span class="lem">Que</span>
      
       delle ſoit en ſon butin pourueu,</span>
   <span class="verse v1783">Et neantmoins doubtant le ſoꝛt tumber</span>
   <span class="verse v1784">En main dautruy, 
      <span class="lem">qui</span>
      
       puiſſe deſtourber</span>
   <span class="verse v1785"><span class="verse-number">1785</span>Le ſien deſir /. pour doubtes incertaines</span>
   <span class="verse v1786">Mieulx aſſeurer /.
      Il pꝛie aux capitaines</span>
   <span class="verse v1787">Que de la 
      <span class="lem">pꝛoye</span>
      
       /
      Ayant pꝛopoꝛtion</span>
   <span class="verse v1788">Leſguiere obtienne / oultre ſa poꝛtion.</span>
   <span class="verse v1789">Sur ce / chaſcun des ſeigneurs ſe contente</span>
   <span class="verse v1790"><span class="verse-number">1790</span>Et dit au roy quil face a ſon entente</span>
   <span class="verse v1791">Non de cela / ſans plus / mais du butin</span>
   <span class="verse v1792">Entierement /. Loꝛs ung paillard mutin,</span>
   <span class="verse v1793">Tout furieux / et comme remply de 
      <span class="lem"></span>
      
       ire,</span>
   <span class="verse v1794">Leſpee au poing / oſa bien 
      <span class="lem"></span>
      
       ce mot dire&nbsp;:</span>
   <span class="verse v1795"><span class="verse-number">1795</span>
      <span title="Discours direct">Roy. tu 
         <span class="lem">nauras</span>
         
          oultre le tien debuoir,</span>
      </span>
   <span class="verse v1796">
      <span title="Discours direct">En ce butin / foꝛs ce que 
         <span class="lem"></span>
         
          doibz auoir.</span>
      </span>
   <span class="verse v1797">Diſant ces motz / donna de ſon 
      <span class="lem"></span>
      
       eſpee</span>
   <span class="verse v1798">Deſſus leſguyere /.
      <span title="Discours direct">Ainſi 
         <span class="lem">lay</span>
         
          ie frappee</span></span>
   <span class="verse v1799">
      <span title="Discours direct">Souldardz (</span>
      
      <span class="lem">diſt il</span>
      
      
      )
      <span title="Discours direct">Affin quen doubtez moins.</span>
      </span>
   
   <span class="verse v1800"><span class="verse-number">1800</span>
      <span title="Discours direct">Et de ce cas /
         Ien appelle a 
         <span class="lem"></span>
         
          teſmoings,</span>
      </span>
   <span class="verse v1801">
      <span title="Discours direct">Ayde et ſecours
         noz dieux / et les 
         <span class="lem"></span>
         
          coniure.</span>
      </span>
   <span class="verse v1802">Le roy, <span class="choice"><span title="Abbréviation pour portant"><mark title="abbréviation">poꝛtāt</mark></span></span> patiemment 
      <span class="lem"></span>
      
       liniure,</span>
   <span class="verse v1803">Ne ſonna 
      <span class="lem"></span>
      
       mot /. Mais auant deſmarcher,</span>
   <span class="verse v1804">Loultraigeux 
      <span class="lem"></span>
      
      fol ſceut tres bien remarcher,</span>
   <span class="verse v1805"><span class="verse-number">1805</span>Et croy, 
      <span class="lem"></span>
      
       aincoys que du pays ſen ſoꝛte,</span>
   <span class="verse v1806">De luy ſcaura pꝛendꝛe vengence / en ſoꝛte</span>
   
   
   <hr data-img-id="f108">
   
   <p title="Numéro de folio" class="text-end"><i>41v</i></p>
   <span class="d-block fw-bold mb-3">La monſtre des gentilz hommes du roy
      Clouys</span>
   <span class="verse v1807">Quil debura plaindꝛe et regꝛeter 
      <span class="lem"></span>
      
       beaucoup</span>
   <span class="verse v1808">
      <span class="lem"></span>
      
       Le iour / ou penſe auoir fait ce beau coup.</span>
   <span class="verse v1809">Mais malgꝛe luy / a temps et heure deue,</span>
   <span class="verse v1810"><span class="verse-number">1810</span>Fuſt ceſte eſguyere au ſainct homme rendue.</span>
   <span class="verse v1811"><mark title="piedMouche">§</mark>Tantoſt apꝛes (pour deſployer 
      <span class="lem">argentz</span>
      
      ,</span>
   
   <span class="verse v1812">Le roy commande acouſtrer 
      <span class="lem">tous ſes gentz</span>
      
      ,</span>
   <span class="verse v1813">Eſperant veoir leurs facons liberalles</span>
   <span class="verse v1814">Selon le train de monſtres generalles.</span>
   <span class="verse v1815"><span class="verse-number">1815</span>Le iour venu / chaſcun ſe mect en point</span>
   <span class="verse v1816">Au myeulx quil peut /. cela ne doubte point.</span>
   <span class="verse v1817">Luymeſme y va goꝛgias et honneſte,</span>
   <span class="verse v1818">Comme vouloir deſireux admonneſte</span>
   <span class="verse v1819">Le cueur dun roy / a ſe monſtrer touſiours</span>
   <span class="verse v1820"><span class="verse-number">1820</span>Franc et gaillard en 
      <span class="lem">ſes</span>
      
       royaulx ſeiours.</span>
   <span class="verse v1821">Eſtant aux champs /
      
      <span class="lem">Il</span>
      
       voit bende apꝛes bende&nbsp;:</span>
   <span class="verse v1822">Lun rompt ſa lance /. et lautre ſon arc
      bende,</span>
   <span class="verse v1823">La fleche enfonce / et 
      <span class="lem"></span>
      
       monſtre au deſcocher</span>
   <span class="verse v1824">Que a bien tirer/  neſt repeu deſcot cher.</span>
   <span class="verse v1825"><span class="verse-number">1825</span>Dꝛoit la ſe font 
      <span class="lem"></span>
      
      courſes / gꝛoſſes 
      <span class="lem">penades</span>
      
      ,</span>
   <span class="verse v1826">Saultz / vouſtes / tours / gambades et ruades.</span>
   <span class="verse v1827">Les dames ſont ſur eſchauffaultz / et hours</span>
   <span class="verse v1828">Pour veoir paſſer les commenſaulx damours</span>
   <span class="verse v1829">Qui 
      <span class="lem">vitte</span>
      
       vont comme vol 
      <span class="lem"></span>
      
       darondelles.</span>
   <span class="verse v1830"><span class="verse-number">1830</span>Et de dꝛoit fil 
      <span class="lem">rompans</span>
      
      , pour lamour delles,</span>
   <span class="verse v1831">On dit que lun eſt aux armes gentil,</span>
   
   
   <hr data-img-id="f109">
   
   <p title="Numéro de folio" class="text-end"><i>42r</i></p>
   <span class="d-block fw-bold mb-3">Clouis reprend le
      mutin qui auoit reffuſe et frape leſguiere.</span>
   <span class="verse v1832">Lautre eſt tenu nyes et peu ſubtil,</span>
   <span class="verse v1833">Lun dit triumphe / et lautre fait merueilles,</span>
   <span class="verse v1834">Lun a 
      <span class="lem"></span>
      
       beau nez /.
      Lautre 
      <span class="lem"></span>
      
       belles aureilles,</span>
   <span class="verse v1835"><span class="verse-number">1835</span>Lun eſt vaillant / et na pas deux tournoys,</span>
   <span class="verse v1836">Lautre a de quoy. et 
      <span class="lem">ne</span>
      
       vault en tournoys</span>
   <span class="verse v1837">
      <span class="lem">Ne</span>
      
       faictz de guerre ./ Ainſi, chacun 
      <span class="lem">deuiſe</span>
      
      </span>
   <span class="verse v1838">De pluſieurs gens / ains que bien les aduiſe.</span>
   <span class="verse v1839">Oꝛ neſt il feſte / ou 
      <span class="lem"></span>
      
       quelcun /
      Indigne</span>
   <span class="verse v1840"><span class="verse-number">1840</span>Ne ſoit touſiours / et ſouuent mau diſne,</span>
   <span class="verse v1841">Comme il aduint ſur lheure en malencontre</span>
   <span class="verse v1842">A ce 
      <span class="lem">mutin</span>
      
      , que le roy la encontre,</span>
   <span class="verse v1843">
      <span class="lem">Qui</span>
      
       peu auant par ſa temerite</span>
   <span class="verse v1844">Et ſot parler lauoit 
      <span class="lem">tant</span>
      
       irrite</span>
   <span class="verse v1845"><span class="verse-number">1845</span>En pꝛeſumant veoir ſa dextre occuppee</span>
   <span class="verse v1846">Toucher leſguyere au trenchant de leſpee.</span>
   <span class="verse v1847">
      <span class="lem">Le</span>
      
       malheureux, de frayeur pꝛeſque oultre,</span>
   <span class="verse v1848">Eſtoit ce iour aſſez mal acouſtre,</span>
   <span class="verse v1849">Qui ne fut pas pour amander la choſe.</span>
   <span class="verse v1850"><span class="verse-number">1850</span>
      <span title="Discours direct">Ie meſbahys 
         <span class="lem">comme</span>
         
          ung ſoudard 
         <span class="lem">laſche</span>
         
          oſe</span>
      </span>
   <span class="verse v1851">
      <span title="Discours direct">Venir icy en ſi poure appareil ?</span>
      </span>
   <span class="verse v1852">Luy diſt le roy /.
      <span title="Discours direct">huy ne vey le
         pareil</span></span>
   <span class="verse v1853">
      <span title="Discours direct">
         <span class="lem">De</span>
         
          toy / meſchant /. Entre tous mes gens darmes,</span>
      </span>
   <span class="verse v1854">
      <span title="Discours direct">Nay ung ſeul veu poꝛtant
         ſi foybles armes.</span>
      </span>
   <span class="verse v1855"><span class="verse-number">1855</span>
      <span title="Discours direct">Meſchant 
         <span class="lem"></span>
         
          es tu /. et 
         <span class="lem">monſtres</span>
         
          bien au cueur</span>
      </span>
   <span class="verse v1856">
      <span title="Discours direct">Nauoir vertu de
         foꝛce / ne vigueur.</span>
      </span>
   
   
   <hr data-img-id="f110">
   
   <p title="Numéro de folio" class="text-end"><i>42v</i></p>
   <span class="d-block fw-bold mb-3">Clouys occit celluy
      qui frappa leſguiere de ſainct Remy.</span>
   <span class="verse v1857">
      <span title="Discours direct">Oꝛ tien et 
         <span class="lem"></span>
         
         veoy /. que te 
         <span class="lem">vault ſi</span>
         
         
         
         
         
         <span class="lem">aſpꝛe</span>
         
          eſtre</span>
      </span>
   <span class="verse v1858">
      <span title="Discours direct">Quant tu frappas
         leſguyere du bon pꝛeſtre</span>
      </span>
   <span class="verse v1859">
      <span title="Discours direct">Si armes as / mieulx recepuras le
         choc.</span>
      </span>
   <span class="verse v1860"><span class="verse-number">1860</span>En ce diſant / luy planta ſon eſtoc</span>
   <span class="verse v1861">Dedans le ſein /. dont il paſſa au nombꝛe</span>
   <span class="verse v1862">Des ſouldayers du triſte et moꝛtel vmbꝛe.</span>
   <span class="verse v1863">Ce coup donna matiere a ung chaſcun</span>
   <span class="verse v1864">De lourde craincte /. Et depuys neut aucun</span>
   <span class="verse v1865"><span class="verse-number">1865</span>Qui 
      <span class="lem">oſaſt plus</span>
      
       telle parolle empꝛandꝛe&nbsp;:</span>
   <span class="verse v1866">Voulſiſt le roy en laſcher ou en pꝛendꝛe,</span>
   <span class="verse v1867">Homme ny eut deulx tous a laduenir</span>
   <span class="verse v1868">Qui a ſon vueil tendiſt contreuenir.</span>
   <span class="verse v1869">Enuers les bons /
      Il fut doulx et paiſible</span>
   <span class="verse v1870"><span class="verse-number">1870</span>Et fier auſſi aux mauluais le poſſible.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f103">
   
   
   
   <hr data-img-id="f104">
   
   <span class="curr-title fw-bold">De <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> filz de
      <mark class="persName">Childerich<span class="persName-info fw-normal on-left"><b>Childéric Ier</b> (436 — 481)<span class="hr-100">&nbsp;</span>Roi des Francs saliens (457-481)<br/></span></mark></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v1711"><mark title="piedMouche">§</mark>Sans regarder code, loix ne digestes</span>
      <span class="verse v1712">Ja n’est besoing de livre se pourvoir,</span>
      <span class="verse v1713">Fors seullement de cestuy cy, pour veoir</span>
      <span class="verse v1714">Du roy <mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> les
         gentilz faictz et gestes.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;<span class="num" type="ordinal" value="11">xi<sup>e</sup></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, Vat966]</span></span><span class="collation-content">Chapitre.unziesme.<span class="coll-source"> [Cha514]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v1715"><span class="verse-number">1715</span>Comme <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> fut de forme
      elegante,</span>
   <span class="verse v1716">Beaulté, facunde et maniere allegante,</span>
   <span class="verse v1717">Doulceur en luy, grace et  benignité,</span>
   <span class="verse v1718">Aussi fut il de magnanimité,</span>
   <span class="verse v1719"><span style="position: relative;">Force</span>, vertus, bonnes meurs et prouësses,</span>
   <span class="verse v1720"><span class="verse-number">1720</span>Comblé d’honneurs et saiges hardïesses,</span>
   <span class="verse v1721">Et tout ainsi qu’en puissance de corps</span>
   <span class="verse v1722">Commença croistre. On fait de luy recordz</span>
   <span class="verse v1723">Que ayant honneurs et biens à pleines sommes,</span>
   <span class="verse v1724">Il  creut en loz, grace et amour des hommes.</span>
   <span class="verse v1725"><span class="verse-number">1725</span>Luy roy <span class="num">cinquiesme</span> en <mark title="placeName" instant="false" full="yes">France</mark>
      couronné</span>
   <span class="verse v1726">Comme heritier, filz legitime né,</span>
   <span class="verse v1727">Tant vint à chief d’emprises glorïeuses,</span>
   <span class="verse v1728">Par exploicter armes victorïeuses,</span>
   <span class="verse v1729">Qu’on ne <span style="position: relative;">list</span> point les siens predecesseurs</span>
   <span class="verse v1730"><span class="verse-number">1730</span>Avoir esté de <span style="position: relative;"><span class="lem">tel bruyt</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">telz biens<span class="coll-source"> [Vat966]</span></span></span></sup></span> possesseurs.</span>
   <span class="verse v1731">Et pour venir à son premier chief d’œuvre,</span>
   
   
   <hr data-img-id="f105">
   
   <span class="curr-title fw-bold"> filz de <mark class="persName">Gillon<span class="persName-info fw-normal on-left"><b>Ægidius</b> (01/01/400 — 01/01/464)<span class="hr-short">&nbsp;</span>Général romain, à la tête du royaume des Francs durant l'exil de
            Childéric</span></mark> mys en
      fuyte par les <mark title="orgName" instant="false" full="yes">Françoys</mark></span>
   <span class="verse v1732">Affin que au nect la besongne descoeuvre,</span>
   <span class="verse v1733">Le siege mist ung jour devant
      <mark title="placeName" instant="false" full="yes">Soissons</mark>,</span>
   <span class="verse v1734">Où si tres <span style="position: relative;">hault</span> sonnerent <mark title="orgName" instant="false" full="yes">Françoys</mark> sons</span>
   <span class="verse v1735"><span class="verse-number">1735</span>Qu’en fiers assaultz et furieux alarmes</span>
   <span class="verse v1736">Fut la cité plongee en sang et larmes.</span>
   <span class="verse v1737">Lors le paÿs <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">soissonnois</mark></mark> revolté,</span>
   <span class="verse v1738">Mys et reduyt tout à sa volunté,</span>
   <span class="verse v1739"><mark class="persName"><span style="position: relative;"><span class="lem">Sÿagrïus</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">Siragrius<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Syagrius</b> (430 — 487)<span class="hr-short">&nbsp;</span>Général gallo-romain</span></mark> voyant que peu proufitte</span>
   <span class="verse v1740"><span class="verse-number">1740</span><span style="position: relative;"><span class="lem">À</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">Le<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr5299, Cha514, Vat966]</span></span><span class="collation-content">De<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> resister, se saulve et prend la fuyte.</span>
   <span class="verse v1741">Cestuy fut filz de <mark class="persName">Gillon<span class="persName-info fw-normal on-right"><b>Ægidius</b> (01/01/400 — 01/01/464)<span class="hr-short">&nbsp;</span>Général romain, à la tête du royaume des Francs durant l'exil de
            Childéric</span></mark>
      le <mark title="orgName" instant="false" full="yes">Romain</mark>,</span>
   <span class="verse v1742">Dur aux <mark title="orgName" instant="false" full="yes">Françoys</mark>, cruel et  inhumain,</span>
   <span class="verse v1743">Comme dessus avons mentïon faicte,</span>
   <span class="verse v1744">Qui audit lieu, congnoissant sa deffaicte,</span>
   <span class="verse v1745"><span class="verse-number">1745</span>Se retira
      et, aprés son decés,</span>
   <span class="verse v1746"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">Son<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Se<span class="coll-source"> [Vat966, Cha514]</span></span></span></sup></span> filz y eut si bon et seur accés</span>
   <span class="verse v1747">Que gouverneur demoura
      jusqu’à l’heure</span>
   <span class="verse v1748">Qu’on luy hasta une  si forte alleure.</span>
   <span class="verse v1749">Dont tellement fouÿt qu’oncques depuys</span>
   <span class="verse v1750"><span class="verse-number">1750</span>Luy <span style="position: relative;"><span class="lem">ne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">et<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span> les siens n’y trouverent appuys.</span>
   <span class="verse v1751"><mark title="piedMouche">§</mark>Durant <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">ses<span class="coll-source"> [BnFfr23145]</span></span><span class="collation-content">les<span class="coll-source"> [Vat966]</span></span></span></sup></span> jours, la fiere et grosse armee</span>
   <span class="verse v1752">Du roy <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>, en feu de ire allumee,</span>
   <span class="verse v1753">Depuys <mark title="placeName" instant="false" full="yes">Soissons</mark> jusques à
      <mark title="placeName" instant="false" full="yes">Reins</mark> courut,</span>
   <span class="verse v1754">Dont maint manoir <span style="position: relative;"><span class="lem">grand</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">maint<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">grief<span class="coll-source"> [BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span> dommaige encourut,</span>
   <span class="verse v1755"><span class="verse-number">1755</span>Mainte personne en ceste dure course</span>
   <span class="verse v1756">Y fut destruicte. Et <span style="position: relative;"><span class="lem">vint</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span> la cause
      pource</span>
   
   
   <hr data-img-id="f106">
   
   <span class="curr-title fw-bold">Les <mark title="orgName" instant="false" full="yes">Françoys</mark> pillans sur les
      <mark title="orgName" instant="false" full="yes">crestiens</mark></span>
   <span class="verse v1757">Que iceulx <mark title="orgName" instant="false" full="yes">Françoys</mark>, mescrëans et payans,</span>
   <span class="verse v1758">Sur <mark title="orgName" instant="false" full="yes">crestïens</mark> furent fort abayans</span>
   <span class="verse v1759">Et eurent tost <span style="position: relative;">les occasïons quises</span>,</span>
   <span class="verse v1760"><span class="verse-number">1760</span>Temples rober et prophaner eglises,</span>
   <span class="verse v1761">Ainsi qu’on voit paÿs escornifler,</span>
   <span class="verse v1762">Peuples piller et tous leurs biens rifler.</span>
   <span class="verse v1763">Celluy n’est lors qui <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">a <span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>sa griffe ne touille</span>
   <span class="verse v1764">Pour y gaigner quelque grosse despouille.</span>
   <span class="verse v1765"><span class="verse-number">1765</span>Là firent ilz  si terrible hutin</span>
   <span class="verse v1766">Qu’il en sortit fort grand et lourd butin,</span>
   <span class="verse v1767">Lequel posé à <mark title="placeName" instant="false" full="yes">Soissons</mark> en
      reserve,</span>
   <span class="verse v1768">L’heure actendant que <span style="position: relative;"><span class="lem">bon</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">le<span class="coll-source"> [BnFfr4967, BnFfr5299, Cha514, Vat966]</span></span></span></sup></span> droit se y observe</span>
   <span class="verse v1769">Et <span style="position: relative;"><span class="lem">que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> chascun,
      <span style="position: relative;"><span class="lem">par juste</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">de mesme<span class="coll-source"> [BnFfr17274, Vat966, Cha514]</span></span><span class="collation-content">de mesure<span class="coll-source"> [BnFfr23145, BnFfr5299]</span> ; <span class="unclear" instant="false">de mesure</span><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> equalité,</span>
   <span class="verse v1770"><span class="verse-number">1770</span>Y prengne part selon sa qualité.</span>
   <span class="verse v1771">Au dur conflict de ceste riblerie,</span>
   <span class="verse v1772">Ransonnerie et forte pillerie,</span>
   <span class="verse v1773">Par quelque faulx et oultraigeux sergent,</span>
   <span class="verse v1774">Fut desrobee une esguiere d’argent</span>
   <span class="verse v1775"><span class="verse-number">1775</span><span style="position: relative;"><span class="lem">D’assez</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">Assez<span class="coll-source"> [BnFfr23145, Aix419, BnFfr5299, Cha514]</span></span></span></sup></span> bon poix et mesure tenante,</span>
   <span class="verse v1776">Laquelle esguiere estoit appartenante</span>
   <span class="verse v1777">À sainct <mark class="persName">Remy<span class="persName-info fw-normal on-right"><b>Rémi de Reims, saint</b> (437 — 13/01/553)<span class="hr-short">&nbsp;</span>Saint catholique</span></mark>,
      archevesque de <mark title="placeName" instant="false" full="yes">Reins</mark>,</span>
   <span class="verse v1778">Qui vers le roy <span style="position: relative;"><span class="lem">transmect</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">
                  <span class="choice">transmist</span>
                  <span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> fort bonne erre,
      ains</span>
   <span class="verse v1779">Que le butin <span style="position: relative;">departy</span>, <span style="position: relative;"><span class="lem">on</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">en<span class="coll-source"> [BnFfr23145]</span></span><span class="collation-content">ont<span class="coll-source"> [Aix419]</span></span></span></sup></span> ait guyere,</span>
   <span class="verse v1780"><span class="verse-number">1780</span>Le suppliant que luy rende l’esguiere.</span>
   <span class="verse v1781">À quoy <span style="position: relative;"><span class="lem">respond</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> qu’il est content, pourveu</span>
   
   
   <hr data-img-id="f107">
   
   <span class="curr-title fw-bold">Le reffus fait à <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> de l’esguyere à sainct <mark class="persName">Remy<span class="persName-info fw-normal on-left"><b>Rémi de Reims, saint</b> (437 — 13/01/553)<span class="hr-short">&nbsp;</span>Saint catholique</span></mark></span>
   <span class="verse v1782"><span style="position: relative;"><span class="lem">Que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content"><i>om.</i><span class="coll-source"> [Vat966]</span></span></span></sup></span> d’elle soit en son butin pourveu,</span>
   <span class="verse v1783">Et neantmoins doubtant le sort tumber</span>
   <span class="verse v1784">En main d’autruy, <span style="position: relative;"><span class="lem">qui</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">qu’il<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> puisse destourber</span>
   <span class="verse v1785"><span class="verse-number">1785</span>Le sien desir, pour doubtes incertaines</span>
   <span class="verse v1786">Mieulx asseurer,
      il prie aux capitaines</span>
   <span class="verse v1787">Que de la <span style="position: relative;"><span class="lem">proye</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content">poye<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      ayant proportïon</span>
   <span class="verse v1788">L’esguiere obtienne oultre sa portïon.</span>
   <span class="verse v1789">Sur ce, chascun des seigneurs se contente</span>
   <span class="verse v1790"><span class="verse-number">1790</span>Et dit au roy qu’il face à son entente</span>
   <span class="verse v1791">Non de cela sans plus, mais du butin</span>
   <span class="verse v1792">Entierement. Lors ung paillard mutin,</span>
   <span class="verse v1793">Tout furïeux et comme remply de  ire,</span>
   <span class="verse v1794">L’espee au poing, osa bien <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ce mot dire&nbsp;:</span>
   <span class="verse v1795"><span class="verse-number">1795</span>
      <span title="Discours direct">«&nbsp;Roy, tu <span style="position: relative;">n’auras</span> oultre le tien debvoir,&nbsp;»</span>
      </span>
   <span class="verse v1796">
      <span title="Discours direct">«&nbsp;En ce butin, fors ce que  doibz avoir.&nbsp;»</span>
      </span>
   <span class="verse v1797">Disant ces motz, donna de son  espee</span>
   <span class="verse v1798">Dessus l’esguyere.
      <span title="Discours direct">«&nbsp;Ainsi <span style="position: relative;">l’ay</span> je frappee&nbsp;»</span></span>
   <span class="verse v1799">
      <span title="Discours direct">«&nbsp;Souldardz, &nbsp;»</span>
      <span style="position: relative;">dist il</span>
      ,
      <span title="Discours direct">«&nbsp;affin qu’en doubtez moins.&nbsp;»</span>
      </span>
   
   <span class="verse v1800"><span class="verse-number">1800</span>
      <span title="Discours direct">«&nbsp;Et de ce cas
         j’en appelle à  tesmoings,&nbsp;»</span>
      </span>
   <span class="verse v1801">
      <span title="Discours direct">«&nbsp;Ayde et secours
         noz dieux et les <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> conjure.&nbsp;»</span>
      </span>
   <span class="verse v1802">Le roy, <span class="choice"><span title="Abbrégé en portāt"><mark title="abbréviation">portant</mark></span></span> patïemment <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content"><s>l’injure</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> l’injure,</span>
   <span class="verse v1803">Ne sonna  mot. Mais avant desmarcher,</span>
   <span class="verse v1804">L’oultraigeux fol sceut tres bien remarcher,</span>
   <span class="verse v1805"><span class="verse-number">1805</span>Et croy,  ainçoys que du paÿs s’en sorte,</span>
   <span class="verse v1806">De luy sçaura prendre vengence, en sorte</span>
   
   
   <hr data-img-id="f108">
   
   <span class="curr-title fw-bold">La monstre des gentilzhommes du roy
      <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark></span>
   <span class="verse v1807">Qu’il debvra plaindre et regreter  beaucoup</span>
   <span class="verse v1808"> Le jour où pense avoir fait ce beau coup.</span>
   <span class="verse v1809">Mais malgré luy, à temps et heure deue,</span>
   <span class="verse v1810"><span class="verse-number">1810</span>Fust ceste esguyere au sainct homme rendue.</span>
   <span class="verse v1811"><mark title="piedMouche">§</mark>Tantost aprés,pour desployer <span style="position: relative;"><span class="lem">argentz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">argent<span class="coll-source"> [BnFfr17274, BnFfr23145]</span></span></span></sup></span>,</span>
   
   <span class="verse v1812">Le roy commande acoustrer <span style="position: relative;"><span class="lem">tous ses gentz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content">tout sa gent<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>,</span>
   <span class="verse v1813">Esperant veoir leurs façons liberalles</span>
   <span class="verse v1814">Selon le train de monstres generalles.</span>
   <span class="verse v1815"><span class="verse-number">1815</span>Le jour venu, chascun se mect en point</span>
   <span class="verse v1816">Au myeulx qu’il peut, cela ne doubte point.</span>
   <span class="verse v1817">Luy mesme y va gorgias et honneste,</span>
   <span class="verse v1818">Comme vouloir desireux admonneste</span>
   <span class="verse v1819">Le cueur d’un roy à se monstrer tousjours</span>
   <span class="verse v1820"><span class="verse-number">1820</span>Franc et gaillard en <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> royaulx sejours.</span>
   <span class="verse v1821">Estant aux champs,
      <span style="position: relative;"><span class="lem">il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span> voit bende aprés bende&nbsp;:</span>
   <span class="verse v1822">L’un rompt sa lance et l’autre son arc
      bende,</span>
   <span class="verse v1823">La fleche enfonce et <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> monstre au descocher</span>
   <span class="verse v1824">Que à bien tirer n’est repeu d’escot cher.</span>
   <span class="verse v1825"><span class="verse-number">1825</span>Droit là se font courses, grosses <span style="position: relative;"><span class="lem">penades</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content">panades<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Cha514]</span></span></span></sup></span>,</span>
   <span class="verse v1826">Saultz, voustes, tours, gambades et ruades.</span>
   <span class="verse v1827">Les dames sont sur eschauffaultz et hours</span>
   <span class="verse v1828">Pour veoir passer les commensaulx d’amours</span>
   <span class="verse v1829">Qui <span style="position: relative;"><span class="lem">vitte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content">viste<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> vont comme vol  d’arondelles.</span>
   <span class="verse v1830"><span class="verse-number">1830</span>Et de droit fil <span style="position: relative;"><span class="lem">rompans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content">rompent<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, Vat966]</span></span></span></sup></span>, pour l’amour d’elles,</span>
   <span class="verse v1831">On dit que l’un est aux armes gentil,</span>
   
   
   <hr data-img-id="f109">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> reprend le
      mutin qui avoit reffusé et frapé l’esguiere</span>
   <span class="verse v1832">L’autre est tenu nyés et peu subtil,</span>
   <span class="verse v1833">L’un dit triumphe et l’autre fait merveilles,</span>
   <span class="verse v1834">L’un a  beau nez,
      l’autre <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content">a<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr5299]</span></span></span></sup></span> belles aureilles,</span>
   <span class="verse v1835"><span class="verse-number">1835</span>L’un est vaillant et n’a pas deux tournoys,</span>
   <span class="verse v1836">L’autre a de quoy et <span style="position: relative;">ne</span> vault en tournoys</span>
   <span class="verse v1837"><span style="position: relative;"><span class="lem">Ne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59"><span class="collation-content">Au<s>e</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> faictz de guerre. Ainsi, chacun <span style="position: relative;"><span class="lem">devise</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">de mise<span class="coll-source"> [Vat966]</span></span></span></sup></span></span>
   <span class="verse v1838">De plusieurs gens, ains que bien les advise.</span>
   <span class="verse v1839">Or n’est il feste où <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> quelc’un
      indigné</span>
   <span class="verse v1840"><span class="verse-number">1840</span>Ne soit tousjours et souvent mau disné,</span>
   <span class="verse v1841">Comme il advint sur l’heure en malencontre</span>
   <span class="verse v1842">À ce <span style="position: relative;"><span class="lem">mutin</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">matin<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>, que le roy là encontre,</span>
   <span class="verse v1843"><span style="position: relative;"><span class="lem">Qui</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63"><span class="collation-content">Que<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> peu avant par sa temerité</span>
   <span class="verse v1844">Et sot parler l’avoit <span style="position: relative;"><span class="lem">tant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown64" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown64"><span class="collation-content">tout<span class="coll-source"> [Cha514]</span></span></span></sup></span> irrité</span>
   <span class="verse v1845"><span class="verse-number">1845</span>En presumant veoir sa dextre occuppee</span>
   <span class="verse v1846">Toucher l’esguyere au trenchant de l’espee.</span>
   <span class="verse v1847"><span style="position: relative;"><span class="lem">Le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65"><span class="collation-content">Ce<span class="coll-source"> [Aix419]</span></span></span></sup></span> malheureux, de frayeur presque oultré,</span>
   <span class="verse v1848">Estoit ce jour assez mal acoustré,</span>
   <span class="verse v1849">Qui ne fut pas pour amander la chose.</span>
   <span class="verse v1850"><span class="verse-number">1850</span>
      <span title="Discours direct">«&nbsp;Je m’esbahys <span style="position: relative;"><span class="lem">comme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66"><span class="collation-content">
                     <span class="choice">comment</span>
                     <span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ung soudard <span style="position: relative;"><span class="lem">lasche</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ose&nbsp;»</span>
      </span>
   <span class="verse v1851">
      <span title="Discours direct">«&nbsp;Venir icy en si povre appareil,&nbsp;»</span>
      </span>
   <span class="verse v1852">Luy dist le roy,
      <span title="Discours direct">«&nbsp;huy ne vey le
         pareil&nbsp;»</span></span>
   <span class="verse v1853">
      <span title="Discours direct">«&nbsp;<span style="position: relative;"><span class="lem">De</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">À<span class="coll-source"> [Aix419]</span></span></span></sup></span> toy meschant. Entre tous mes gens d’armes,&nbsp;»</span>
      </span>
   <span class="verse v1854">
      <span title="Discours direct">«&nbsp;N’ay ung seul veu portant
         si foybles armes.&nbsp;»</span>
      </span>
   <span class="verse v1855"><span class="verse-number">1855</span>
      <span title="Discours direct">«&nbsp;Meschant  es tu et <span style="position: relative;"><span class="lem">monstres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70"><span class="collation-content">monstre<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> bien au cueur&nbsp;»</span>
      </span>
   <span class="verse v1856">
      <span title="Discours direct">«&nbsp;N’avoir vertu de
         force ne vigueur.&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f110">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> occit celluy
      qui frappa l’esguiere de sainct <mark class="persName">Remy<span class="persName-info fw-normal on-left"><b>Rémi de Reims, saint</b> (437 — 13/01/553)<span class="hr-short">&nbsp;</span>Saint catholique</span></mark></span>
   <span class="verse v1857">
      <span title="Discours direct">«&nbsp;Or tien et veoy que te <span style="position: relative;"><span class="lem">vault si</span></span>
         <span style="position: relative;">aspre</span> estre&nbsp;»</span>
      </span>
   <span class="verse v1858">
      <span title="Discours direct">«&nbsp;Quant tu frappas
         l’esguyere du bon prestre&nbsp;»</span>
      </span>
   <span class="verse v1859">
      <span title="Discours direct">«&nbsp;Si armes as mieulx recepvras le
         choc.&nbsp;»</span>
      </span>
   <span class="verse v1860"><span class="verse-number">1860</span>En ce disant luy planta son estoc</span>
   <span class="verse v1861">Dedans le sein dont il passa au nombre</span>
   <span class="verse v1862">Des souldayers du triste et mortel umbre.</span>
   <span class="verse v1863">Ce coup donna matiere à ung chascun</span>
   <span class="verse v1864">De lourde craincte. Et depuys n’eut aucun</span>
   <span class="verse v1865"><span class="verse-number">1865</span>Qui <span style="position: relative;">osast plus<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown74" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown74"><span class="collation-content">plus osast<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514]</span> ; plus ozast<span class="coll-source"> [Aix419]</span></span></span></sup></span> telle parolle emprandre&nbsp;:</span>
   <span class="verse v1866">Voulsist le roy en lascher ou en prendre,</span>
   <span class="verse v1867">Homme n’y eut d’eulx tous à l’advenir</span>
   <span class="verse v1868">Qui à son vueil tendist contrevenir.</span>
   <span class="verse v1869">Envers les bons
      il fut doulx et paisible</span>
   <span class="verse v1870"><span class="verse-number">1870</span>Et fier aussi aux maulvais le possible.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, Vat966 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre.unziesme.</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1730);">v. 1730</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>telz biens</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1739);">v. 1739</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Siragrius</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1740);">v. 1740</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr5299, Cha514, Vat966 </span>Le</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>De</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1746);">v. 1746</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Son</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966, Cha514 </span>Se</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1750);">v. 1750</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>et</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1751);">v. 1751</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>ses</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>les</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1754);">v. 1754</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>maint</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>grief</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1756);">v. 1756</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1763);">v. 1763</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>a </span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1768);">v. 1768</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967, BnFfr5299, Cha514, Vat966 </span>le</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1769);">v. 1769</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1769);">v. 1769</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Vat966, Cha514 </span>de mesme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr5299 </span>de mesure</span> ; <span><span class="coll-source">BnFfr4967 </span><span class="unclear" instant="false">de mesure</span></span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1775);">v. 1775</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, BnFfr5299, Cha514 </span>Assez</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1778);">v. 1778</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span class="choice">transmist</span>
            </span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1779);">v. 1779</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>en</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>ont</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1781);">v. 1781</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1782);">v. 1782</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1784);">v. 1784</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>qu’il</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1787);">v. 1787</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>poye</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1794);">v. 1794</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1801);">v. 1801</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1802);">v. 1802</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>l’injure</s></span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1811);">v. 1811</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145 </span>argent</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1812);">v. 1812</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>tout sa gent</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1820);">v. 1820</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1821);">v. 1821</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1823);">v. 1823</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1825);">v. 1825</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Cha514 </span>panades</span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1829);">v. 1829</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>viste</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1830);">v. 1830</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, Vat966 </span>rompent</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1834);">v. 1834</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr5299 </span>a</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1837);">v. 1837</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Au<s>e</s></span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1837);">v. 1837</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>de mise</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1839);">v. 1839</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1842);">v. 1842</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>matin</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1843);">v. 1843</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Que</span></div>
      </div>
   <div class="collation row" id="coll64">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1844);">v. 1844</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>tout</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1847);">v. 1847</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Ce</span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1850);">v. 1850</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span class="choice">comment</span>
            </span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1850);">v. 1850</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1853);">v. 1853</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>À</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1855);">v. 1855</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>monstre</span></div>
      </div>
   <div class="collation row" id="coll74">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1865);">v. 1865</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>plus osast</span> ; <span><span class="coll-source">Aix419 </span>plus ozast</span></div>
      </div>
</div>
{% endmacro %}
