
{% macro chapterTitle() %}Chapitre 14{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('15_chap_13')"><i class="fa-solid fa-arrow-left"></i> Chapitre 13</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('17_chap_15')">Chapitre 15 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f132/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f132/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f132" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f133/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f133/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f133" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f134/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f134/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f134" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f135/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f135/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f135" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f136/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f136/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f136" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f137/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f137/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f137" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f138/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f138/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f138" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f139/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f139/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f139" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f132">
   <p title="Numéro de folio" class="text-end"><i>53v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2419"><mark title="piedMouche">§</mark>Cil qui de lire 
         <span class="lem">hyſtoyres</span>
         
          leſbat ayme</span>
      <span class="verse v2420"><span class="verse-number">2420</span>Verra en 
         <span class="lem">moins</span>
         
          de fueillet et demy.</span>
      <span class="verse v2421">Comme Clouis receut de
         ſainct Remy</span>
      <span class="verse v2422">Le digne et ſainct ſacrement de bapteſme.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre. .&nbsp;<span class="num" type="cardinal" value="14">xiiii</span>.</span>
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f133">
   
   <p title="Numéro de folio" class="text-end"><i>54r</i></p>
   <span class="d-block fw-bold mb-3">La ſaincte ampolle <span class="choice"><span title="Abbréviation pour transmise"><mark title="abbréviation">trāſmiſe</mark></span></span> du ciel au bapteſme de Clouis.</span>
   
   <span class="verse v2423">Au iour eſleu et aſſigne / pour faire</span>
   <span class="verse v2424">Songneuſement et par oꝛdꝛe / laffaire</span>
   <span class="verse v2425"><span class="verse-number">2425</span>Le roy /
      
      <span class="lem">la</span>
      
       royne / a gꝛande et gꝛoſſe court,</span>
   <span class="verse v2426">Sen vont a <mark title="placeName" instant="false" full="yes">Reims</mark> /. Loꝛs la nobleſſe court.</span>
   <span class="verse v2427">Seigneurs du ſang / les pꝛinces / ducz / et comtes,</span>
   <span class="verse v2428">Suyuent apꝛes / ſans y trouuer meſcontes,</span>
   <span class="verse v2429">Tous richement acouſtrez et parez.</span>
   <span class="verse v2430"><span class="verse-number">2430</span>Oꝛ ſont tantoſt les ſainctz fontz pꝛeparez,</span>
   <span class="verse v2431">
      <span class="lem">La</span>
      
       comparans archeueſques /
      
      <span class="lem"></span>
      
       eueſques,</span>
   <span class="verse v2432">Tout le clerge /
      
      <span class="lem"></span>
      
       nobleſſe et peuple auecques.</span>
   <span class="verse v2433">Le roy Clouis, apꝛes
      confeſſion,</span>
   <span class="verse v2434">Se pꝛeſenta / monſtrant 
      <span class="lem"></span>
      
      
      <span class="lem">laffection</span>
      
      </span>
   <span class="verse v2435"><span class="verse-number">2435</span>Tres gꝛande auoir de receuoir bapteſme.</span>
   <span class="verse v2436">Mais au beſoing 
      <span class="lem">deffaillit</span>
      
       le ſainct creſme</span>
   <span class="verse v2437">Par le deffault du miniſtre /. ou de ceulx</span>
   
   <span class="lem"></span>
   
   
   <span class="verse v2438">Ayans la charge / en cela pareſſeux.</span>
   <span class="verse v2439">Ou cela vint, ce croy ie / et non deuine,</span>
   <span class="verse v2440"><span class="verse-number">2440</span>Par diſpoſee oꝛdonnance diuine.</span>
   <span class="verse v2441">Et comme on feuſt / ſans riens 
      <span class="lem">quelconcque</span>
      
      
      
      <span class="lem"></span>
      
       ouurer</span>
   <span class="verse v2442">
      <span class="lem">Par</span>
      
       non pouoir le creſme recouurer,</span>
   <span class="verse v2443">Soudainement une blanche 
      <span class="lem"></span>
      
       columbe,</span>
   <span class="verse v2444">Venant du ciel / deuant le peuple tumbe,</span>
   <span class="verse v2445"><span class="verse-number">2445</span>Et en volant 
      <span class="lem">a lentour</span>
      
       / et parmy</span>
   <span class="verse v2446">Toute la tourbe /.
      Es mains de ſainct Remy</span>
   <span class="verse v2447">Viſiblement poſa une fiolle</span>
   
   
   <hr data-img-id="f134">
   
   <p title="Numéro de folio" class="text-end"><i>54v</i></p>
   <span class="d-block fw-bold mb-3">Clouys baptiſe incite
      tous ſes gentz a eſtre baptiſez.</span>
   <span class="verse v2448">Que maintenant diſons la ſaincte ampolle,</span>
   <span class="verse v2449">Pleine de doulce et ſouefue liqueur,</span>
   <span class="verse v2450"><span class="verse-number">2450</span>Que croyꝛe doibt tout humble et deuot cueur</span>
   <span class="verse v2451">Auoir eſte miniſtre par loffice</span>
   <span class="verse v2452">Du ſainct 
      <span class="lem">Eſpꝛit</span>
      
       / et diuin benefice</span>
   <span class="verse v2453">De la liqueur tres bien receue a gꝛe</span>
   <span class="verse v2454">Fut loꝛs le roy enoingt et conſacre</span>
   <span class="verse v2455"><span class="verse-number">2455</span>
      <span class="lem">Et</span>
      
       auſſi ont eſte les roys de <mark title="placeName" instant="false" full="yes">France</mark></span>
   <span class="verse v2456">Touſiours depuys / ains que auoir deliurance</span>
   <span class="verse v2457">Du pays leur / par entiere action</span>
   <span class="verse v2458">De 
      <span class="lem"></span>
      
       iouyſſante adminiſtration.</span>
   <span class="verse v2459">Apꝛes ce ſainct et ſollempnel bapteſme</span>
   <span class="verse v2460"><span class="verse-number">2460</span>Le roy parlant a ſes gentz pꝛiſt ſon teſme</span>
   <span class="verse v2461">Sur bon pꝛopos quen bꝛiefz 
      <span class="lem">motz</span>
      
       leur deſcript</span>
   <span class="verse v2462">Et les pꝛia de croyꝛe en Ieſus
      Criſt</span>
   <span class="verse v2463">Dont tient auoir la victoyꝛe 
      <span class="lem">obtenue</span>
      
      </span>
   <span class="verse v2464">Et ſe repent que tant a 
      <span class="lem"></span>
      
       ſouſtenue</span>
   <span class="verse v2465"><span class="verse-number">2465</span>La faulſe loy / et ſuperſtition</span>
   <span class="verse v2466">Qui ſes fauteurs meyne a perdition</span>
   <span class="verse v2467">Il 
      <span class="lem">leur</span>
      
       ſuade a laiſſer les ydolles</span>
   <span class="verse v2468">Et de leurs dieux 
      <span class="lem">tous temples / capitolles</span>
      
      </span>
   <span class="verse v2469">
      <span class="lem"></span>
      
      Pꝛophanes lieux / ſimulachꝛes / aultiers,</span>
   <span class="verse v2470"><span class="verse-number">2470</span>Ne ſouffrir veoir et demourer entiers</span>
   <span class="verse v2471">Mais tout bꝛiſer / rompꝛe / et a terre abatre</span>
   <span class="verse v2472">Et pour la foy du Redempteur combatre</span>
   
   
   <hr data-img-id="f135">
   
   <p title="Numéro de folio" class="text-end"><i>55r</i></p>
   <span class="d-block fw-bold mb-3">Clouis fonda legliſe
      du mont <mark title="placeName" instant="false" full="yes">saincte Geneuefue</mark> a <mark title="placeName" instant="false" full="yes">paris</mark>.</span>
   <span class="verse v2473">En congnoiſſant 
      <span class="lem">que au</span>
      
       rachapt des humains</span>
   <span class="verse v2474">Son digne coꝛps /
      
      <span class="lem">chef</span>
      
       / coſte /
      
      <span class="lem">piedz</span>
      
       / et mains</span>
   <span class="verse v2475"><span class="verse-number">2475</span>Souffrit percer ſur le perron doultrance</span>
   <span class="verse v2476">Tenant le pas /. A ceſte remonſtrance</span>
   <span class="verse v2477">Furent les cueurs des <mark title="orgName" instant="false" full="yes">Francoys</mark> amoliz</span>
   <span class="verse v2478">Si que leurs dieux laiſſez et aboliz</span>
   <span class="verse v2479">Tous les pꝛeſens / et autres, quant le
      ſceurent,</span>
   <span class="verse v2480"><span class="verse-number">2480</span>Le ſacrement de bapteſme receurent.</span>
   <span class="verse v2481"><mark title="piedMouche">§</mark>Le roy apꝛes
      / pour augmenter touſiours</span>
   <span class="verse v2482">La foy de Dieu /.
      fiſt en bien peu de iours</span>
   <span class="verse v2483">Conſtruyꝛe ung 
      <span class="lem"></span>
      
      temple a <mark title="placeName" instant="false" full="yes">paris</mark> /. pꝛincipalle</span>
   <span class="verse v2484">Cite tenue / et ville capitalle</span>
   <span class="verse v2485"><span class="verse-number">2485</span>De ſon royaulme / et couſta maint eſcu</span>
   <span class="verse v2486">
      <span class="lem">Ce</span>
      
       baſtyment ſur le mont dit <mark title="placeName" instant="false" full="yes">Aygu</mark></span>
   <span class="verse v2487">Ou il auoit la terre et place acquiſe</span>
   <span class="verse v2488">Fut erigee une bien belle egliſe</span>
   <span class="verse v2489">Fondee au nom des apoſtres benoiſtz</span>
   <span class="verse v2490"><span class="verse-number">2490</span>
      <span class="lem">Sainct</span>
      
      
      Pierre et Paul /.
      Et a ce 
      <span class="lem">quen</span>
      
       congnoys</span>
   <span class="verse v2491">Ceſt 
      <span class="lem">le</span>
      
       lieu pꝛopꝛe / ou 
      <span class="lem">ſaincte</span>
      
      
      Geneuefue</span>
   <span class="verse v2492">Maint langoureux 
      <span class="lem">febꝛicitant</span>
      
       relieue</span>
   <span class="verse v2493">De ſa 
      <span class="lem"></span>
      
      douleur / peine et calamite</span>
   <span class="verse v2494">Donnant remede a toute infirmite.</span>
   <span class="verse v2495"><span class="verse-number">2495</span>Les roys de <mark title="placeName" instant="false" full="yes">France</mark> en leurs armes
      poꝛtoyent</span>
   <span class="verse v2496">Durant ce temps 
      <span class="lem"></span>
      
       troys crapaulx / qui eſtoyent</span>
   <span class="verse v2497">Armes par trop eſtranges a poꝛter</span>
   
   
   <hr data-img-id="f136">
   
   <p title="Numéro de folio" class="text-end"><i>55v</i></p>
   <span class="d-block fw-bold mb-3">Les troys fleurs de liz enuoyees du ciel au roy Clouys.</span>
   <span class="verse v2498">Mais Dieu voulut les faire
      tranſpoꝛter</span>
   <span class="verse v2499">Quant a Clouis furent du
      ciel tranſmiſes</span>
   <span class="verse v2500"><span class="verse-number">2500</span>Fleurs de liz doꝛ / pour eſtre en ce lieu 
      <span class="lem"></span>
      
      miſes</span>
   <span class="verse v2501">Sur champ dazur la celeſte couleur</span>
   <span class="verse v2502">Les fiſt aſſeoir /. De ceſte digne fleur</span>
   <span class="verse v2503">A <mark title="placeName" instant="false" full="yes">
         <span class="lem">Ioye</span>
         
          en Val</mark> y a pꝛeuue certaine</span>
   <span class="verse v2504">Par une vifue et 
      <span class="lem">tres</span>
      
       clere fontaine</span>
   <span class="verse v2505"><span class="verse-number">2505</span>Ou lon maintient que fut fait ce tranſpoꝛt</span>
   <span class="verse v2506">A ung pꝛeudhomme hermite /.
      Et au rappoꝛt</span>
   <span class="verse v2507">De luy /. pꝛenant dun tel treſoꝛ moult ioye</span>
   <span class="verse v2508">Fut 
      <span class="lem">pꝛis</span>
      
       le nom du roy darmes&nbsp;: Montioye.</span>
   <span class="verse v2509">La giſt 
      <span class="lem">a moins dun</span>
      
      
       traict darc et 
      <span class="lem"></span>
      
      demy</span>
   <span class="verse v2510"><span class="verse-number">2510</span>Le benoiſt coꝛps de ſainct 
      <span class="lem"></span>
      
      Barthelemy</span>
   <span class="verse v2511">La pour teſmoing de ce diuin miſtere</span>
   <span class="verse v2512">
      <span class="lem">Pꝛent</span>
      
       ioye en val 
      <span class="lem">ce</span>
      
       deuot monaſtere</span>
   <span class="verse v2513">Mais ceſt ung cas bien ſauuaige / et aſſez</span>
   <span class="verse v2514">A 
      <span class="lem">repꝛimer</span>
      
       /. que les roys treſpaſſez</span>
   <span class="verse v2515"><span class="verse-number">2515</span>Nont eu ce lieu en plus gꝛand reuerence.</span>
   <span class="verse v2516">
      <span class="lem">Y</span>
      
       trouuez vous pꝛopos 
      <span class="lem">ne</span>
      
       apparence&nbsp;?</span>
   <span class="verse v2517">Deuſſent ilz pas en ce ioyeux pourpꝛis</span>
   <span class="verse v2518">Auoir 
      <span class="lem">baſty</span>
      
       quelque ouuraige de pꝛis&nbsp;?</span>
   <span class="verse v2519">Laiſſer le lieu en ſi gꝛande ruyne</span>
   <span class="verse v2520"><span class="verse-number">2520</span>Ou vint la fleur / dont fut ceſte bꝛuyne</span>
   <span class="verse v2521">
      <span class="lem">Des</span>
      
       troys 
      <span class="lem"></span>
      
       enflez et venimeux crapaulx</span>
   <span class="verse v2522">Miſe ſoubz piedz /. De tous lieux pꝛincipaulx</span>
   
   
   <hr data-img-id="f137">
   
   <p title="Numéro de folio" class="text-end"><i>56r</i></p>
   <span class="d-block fw-bold mb-3">Du mal des eſcrouelles dont le roy de <mark title="placeName" instant="false" full="yes">france</mark> gueriſt.</span>
   <span class="verse v2523">Ce <mark title="placeName" instant="false" full="yes">ioye en Val</mark> vault bien pour debuoir eſtre</span>
   <span class="verse v2524">Plus extime que 
      <span class="lem"></span>
      
       autre nul royal 
      <span class="lem">eſtre</span>
      
      .</span>
   <span class="verse v2525"><span class="verse-number">2525</span>Capable eſt il voire entre ung milion</span>
   <span class="verse v2526">Dy baſtir lautre et ſecond <mark title="placeName" instant="false" full="yes">Ylion</mark></span>
   
   <span class="verse v2527">La deuroit on ſur blanc marbꝛe et poꝛphire</span>
   <span class="verse v2528">Faire entailler ymaiges a ſouffire</span>
   <span class="verse v2529">Et beaulx eſcriptz / ou feuſſent contenuz</span>
   <span class="verse v2530"><span class="verse-number">2530</span>Les excellentz faictz darmes que ont tenuz</span>
   <span class="verse v2531">Tous roys <mark title="orgName" instant="false" full="yes">francoys</mark> / pour en
      telz repertoyꝛes</span>
   <span class="verse v2532">A 
      <span class="lem"></span>
      
       lœil choyſir leurs heureuſes victoyꝛes.</span>
   <span class="verse v2533">O roy des roys / et ſeigneur des ſeigneurs,</span>
   <span class="verse v2534">Quelz ſi gꝛandz biens / pꝛiuileiges / honneurs</span>
   <span class="verse v2535"><span class="verse-number">2535</span>
      
      <span class="lem">Quelz ſi beaux 
         <span class="lem">dons</span>
         
          / et gꝛaces ſi affectes</span>
      
      
      </span>
   <span class="verse v2536">Ont autres euz / que 
      <span class="lem">aux roys</span>
      
      
      <mark title="orgName" instant="false" full="yes">francoys</mark> as 
      <span class="lem"></span>
      
       faictes&nbsp;?</span>
   <span class="verse v2537">Certes il neſt ſi gꝛande nation</span>
   <span class="verse v2538">Qui 
      <span class="lem">de ſes</span>
      
       dieux ayt eu donation</span>
   <span class="verse v2539">Si appꝛouchante a lheur, dont 
      <span class="lem">cueur franc</span>
      
       ſe ayſe,</span>
   <span class="verse v2540"><span class="verse-number">2540</span>Que a eu de toy la nation <mark title="orgName" instant="false" full="yes">francoyſe</mark>.</span>
   <span class="verse v2541">
      <span class="lem">Loue</span>
      
       en ſoit ton ſainct nom pꝛecieux</span>
   <span class="verse v2542">Et honnoꝛe en la terre et aux cieulx.</span>
   <span class="verse v2543">Reſte adiouxter 
      <span class="lem">aux</span>
      
       gꝛaces deſſus dictes</span>
   <span class="verse v2544">Entre autres / deux / qui ne ſont pas
      petites</span>
   <span class="verse v2545"><span class="verse-number">2545</span>Lune 
      <span class="lem">et</span>
      
      
      
       plus gꝛande eſt ceſte /.
      Or la retien :</span>
   <span class="verse v2546">Ceſt que le roy nomme tres <mark title="orgName" instant="false" full="yes">creſtien</mark></span>
   <span class="verse v2547">Dun ſeul toucher guariſt / ſans doubter / croy le,</span>
   
   
   <hr data-img-id="f138">
   
   <p title="Numéro de folio" class="text-end"><i>56v</i></p>
   <span class="d-block fw-bold mb-3">Des graces diuines que ont les roys de <mark title="placeName" instant="false" full="yes">france</mark>.</span>
   <span class="verse v2548">La malladie appellee eſcrouelle /.</span>
   <span class="verse v2549">Miracle gꝛand /. Eſt il place ou deſtour</span>
   <span class="verse v2550"><span class="verse-number">2550</span>Ou ſoit celluy qui 
      <span class="lem">puiſt</span>
      
      
       faire un tel tour&nbsp;?</span>
   <span class="verse v2551">On dit aſſez /.
      Mais ceſt le foꝛt 
      <span class="lem">du</span>
      
      
       faire.</span>
   <span class="verse v2552">Ie ne croyꝛay iamais en 
      <span class="lem">ceſt</span>
      
       affaire</span>
   <span class="verse v2553">Que filz ſeptieſme a ce bien 
      <span class="lem">eſpꝛouue</span>
      
      .</span>
   <span class="verse v2554">Soit ia de luy ung ſeul guary trouue !</span>
   <span class="verse v2555"><span class="verse-number">2555</span>Lautre gꝛace eſt / et tien ou que ie ſoye</span>
   <span class="verse v2556">Auoir eſte ung dꝛap de rouge ſoye</span>
   <span class="verse v2557">Tranſmys du ciel / iadis reſplendiſſant</span>
   <span class="verse v2558">Au deſployer / comme ſoleil naiſſant</span>
   <span class="verse v2559">Vers le matin / ſans ce que noyꝛe nue</span>
   <span class="verse v2560"><span class="verse-number">2560</span>De ſa clarte en riens luy diminue.</span>
   <span class="verse v2561">Ce dꝛap de ſoye / en la facon eſtoit</span>
   <span class="verse v2562">Dun eſtandart / et des roys ſe poꝛtoit</span>
   <span class="verse v2563">Quant on fondoit querelles 
      <span class="lem">des</span>
      
       batailles</span>
   <span class="verse v2564">Ioindꝛe ſur loſt de 
      <span class="lem">viles</span>
      
       truendailles,</span>
   <span class="verse v2565"><span class="verse-number">2565</span>Turcz / meſcreans / ennemys de la foy.</span>
   <span class="verse v2566">On 
      <span class="lem">dit</span>
      
       auſſi que a eſte fait lenuoy</span>
   <span class="verse v2567">De ceſte enſeigne appellee auriflamme</span>
   <span class="verse v2568">A Charlemaigne
      / ardant comme la 
      <span class="lem"></span>
      
      flamme</span>
   <span class="verse v2569">Et en ſon cueur / ayant le zele eſcript</span>
   <span class="verse v2570"><span class="verse-number">2570</span>A ſouſtenir 
      <span class="lem">la</span>
      
       foy de Ieſus Criſt</span>
   <span class="verse v2571">
      <span class="lem">Et obſeruer</span>
      
       dꝛoit iuſte et canonicque</span>
   <span class="verse v2572">Comme verrons en cueillant ſa cronicque.</span>
   
   
   <hr data-img-id="f139">
   
   <p title="Numéro de folio" class="text-end"><i>57r</i></p>
   <span class="d-block fw-bold mb-3">De lauriflamme enuoyee du ciel a Clouis</span>
   <span class="verse v2573">Ceſte auriflamme auoit telle vertu</span>
   <span class="verse v2574">Que quant ung oſt ſen trouuoit 
      <span class="lem"></span>
      
       reueſtu</span>
   <span class="verse v2575"><span class="verse-number">2575</span>Et 
      <span class="lem">deſployee</span>
      
      
      
      <span class="lem"></span>
      
      
      
      <span class="lem">au vent eſtoit</span>
      
      
      
      <span class="lem">ſinglee</span>
      
      </span>
   <span class="verse v2576">Partie aduerſe en venoit 
      <span class="lem"></span>
      
      aueuglee.</span>
   <span class="verse v2577">Elle a eſte gardee bien longtemps</span>
   <span class="verse v2578">A <mark title="placeName" instant="false" full="yes">Sainct Denys</mark> en
      <mark title="placeName" instant="false" full="yes">France</mark> /.
      Mais ientendz</span>
   <span class="verse v2579">Ainſi que vent va ſouflant en ouye</span>
   <span class="verse v2580"><span class="verse-number">2580</span>Que du lieu ſeſt pieca eſuanouye</span>
   <span class="verse v2581">Et la raiſon /. pource que 
      <span class="lem">aucuns</span>
      
      
       des roys</span>
   <span class="verse v2582">Sur creſtiens par impourueuz deſroys</span>
   <span class="verse v2583">Contre le vueil de Dieu mal en
      vſerent</span>
   <span class="verse v2584">
      <span class="lem">Et du</span>
      
       diuin pꝛiuileige abuſerent</span>
   <span class="verse v2585"><span class="verse-number">2585</span>Autre parolle icy tenir nen puys</span>
   <span class="verse v2586">Foꝛs ſeullement que ay entendu depuys</span>
   <span class="verse v2587">A la ſemblance une a eſte beneyſte</span>
   <span class="verse v2588">Et eſt dedans legliſe deſſus dicte</span>
   <span class="verse v2589">Miſe 
      <span class="lem">et</span>
      
       gardee aupꝛes du benoiſt coꝛps</span>
   <span class="verse v2590"><span class="verse-number">2590</span>De ſainct Denys /. Qui ne croyt mes recoꝛdz</span>
   <span class="verse v2591">Lœil en fera
      <span class="lem"> (ſil y va)</span>
      
       ſeure pꝛeuue.</span>
   <span class="verse v2592">Dire ne puys ſinon ce que ien treuue.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f132">
   <blockquote class="ms-2">
      
      <span class="verse v2419"><mark title="piedMouche">§</mark>Cil qui de lire <span style="position: relative;"><span class="lem">hystoyres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">histoire<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> l’esbat ayme</span>
      <span class="verse v2420"><span class="verse-number">2420</span>Verra en <span style="position: relative;"><span class="lem">moins</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">moindz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> de fueillet et demy</span>
      <span class="verse v2421">Comme <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> receut de
         sainct <mark class="persName">Remy<span class="persName-info fw-normal on-right"><b>Rémi de Reims, saint</b> (437 — 13/01/553)<span class="hr-short">&nbsp;</span>Saint catholique</span></mark></span>
      <span class="verse v2422">Le digne et sainct sacrement de baptesme.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;<span class="num" type="cardinal" value="14">xiiii</span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></span><span class="collation-content">Chapitre.quatorziesme.<span class="coll-source"> [Cha514]</span></span></span></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f133">
   
   <span class="curr-title fw-bold">La saincte ampolle <span class="choice"><span title="Abbrégé en trāsmise"><mark title="abbréviation">transmise</mark></span></span> du ciel au baptesme de <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark></span>
   
   <span class="verse v2423">Au jour esleu et assigné pour faire</span>
   <span class="verse v2424">Songneusement et par ordre l’affaire</span>
   <span class="verse v2425"><span class="verse-number">2425</span>Le roy,
      <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">et <s>la</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> royne, à grande et grosse court,</span>
   <span class="verse v2426">S’en vont à <mark title="placeName" instant="false" full="yes">Reims</mark>. Lors la noblesse court.</span>
   <span class="verse v2427">Seigneurs du sang, les princes, ducz et comtes,</span>
   <span class="verse v2428">Suyvent aprés sans y trouver mescontes,</span>
   <span class="verse v2429">Tous richement acoustrez et parez.</span>
   <span class="verse v2430"><span class="verse-number">2430</span>Or sont tantost les sainctz fontz preparez,</span>
   <span class="verse v2431"><span style="position: relative;"><span class="lem">Là</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">Les<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> comparans archevesques,
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content"><s>et</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> evesques,</span>
   <span class="verse v2432">Tout le clergé,
       noblesse et peuple avecques.</span>
   <span class="verse v2433">Le roy <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>, aprés
      confessïon,</span>
   <span class="verse v2434">Se presenta, monstrant <span style="position: relative;"><span class="lem">l’affectïon</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">affection<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span></span>
   <span class="verse v2435"><span class="verse-number">2435</span>Tres grande avoir de recevoir baptesme.</span>
   <span class="verse v2436">Mais au besoing <span style="position: relative;"><span class="lem">deffaillit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">deffault<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> le sainct cresme</span>
   <span class="verse v2437">Par le deffault du ministre, ou de ceulx</span>
   
   <span class="verse v2438">Ayans la charge, en cela paresseux.</span>
   <span class="verse v2439">Ou cela vint, ce croy je et non devine,</span>
   <span class="verse v2440"><span class="verse-number">2440</span>Par disposee ordonnance divine.</span>
   <span class="verse v2441">Et comme on feust sans riens <span style="position: relative;"><span class="lem">quelconcque</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">
                  <span class="choice">quelzconques</span>
                  <span class="coll-source"> [BnFfr23145]</span></span></span></sup></span>
       ouvrer</span>
   <span class="verse v2442"><span style="position: relative;"><span class="lem">Par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">Pour<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> non pouoir le cresme recouvrer,</span>
   <span class="verse v2443">Soudainement une blanche  columbe,</span>
   <span class="verse v2444">Venant du ciel, devant le peuple tumbe,</span>
   <span class="verse v2445"><span class="verse-number">2445</span>Et en volant <span style="position: relative;"><span class="lem">à l’entour</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">enlentour<span class="coll-source"> [Vat966]</span></span></span></sup></span> et parmy</span>
   <span class="verse v2446">Toute la tourbe,
      es mains de sainct <mark class="persName">Remy<span class="persName-info fw-normal on-right"><b>Rémi de Reims, saint</b> (437 — 13/01/553)<span class="hr-short">&nbsp;</span>Saint catholique</span></mark></span>
   <span class="verse v2447">Visiblement posa une fïolle</span>
   
   
   <hr data-img-id="f134">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> baptisé incite
      tous ses gentz à estre baptisez</span>
   <span class="verse v2448">Que maintenant disons la saincte ampolle,</span>
   <span class="verse v2449">Pleine de doulce et souefve liqueur,</span>
   <span class="verse v2450"><span class="verse-number">2450</span>Que croyre doibt tout humble et devot cueur</span>
   <span class="verse v2451">Avoir esté ministré par l’office</span>
   <span class="verse v2452">Du <mark class="persName">sainct <span style="position: relative;"><span class="lem">Esprit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">Esperit<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Saint-Esprit</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans de nombreuses religions</span></mark> et divin benefice</span>
   <span class="verse v2453">De la liqueur tres bien receue à gré</span>
   <span class="verse v2454">Fut lors le roy enoingt et consacré</span>
   <span class="verse v2455"><span class="verse-number">2455</span><span style="position: relative;">Et</span> aussi ont esté les roys de <mark title="placeName" instant="false" full="yes">France</mark></span>
   <span class="verse v2456">Tousjours depuys ains que avoir delivrance</span>
   <span class="verse v2457">Du paÿs leur par entiere actïon</span>
   <span class="verse v2458">De  jouÿssante administratïon.</span>
   <span class="verse v2459">Aprés ce sainct et sollempnel baptesme</span>
   <span class="verse v2460"><span class="verse-number">2460</span>Le roy parlant à ses gentz prist son tesme</span>
   <span class="verse v2461">Sur bon propos qu’en briefz <span style="position: relative;"><span class="lem">motz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">mot<span class="coll-source"> [Aix419]</span></span></span></sup></span> leur descript</span>
   <span class="verse v2462">Et les pria de croyre en <mark class="persName">Jesus
         Crist<span class="persName-info fw-normal on-right"><b>Jésus-Christ</b><span class="hr-short">&nbsp;</span>Messie et fils unique de Dieu pour les chrétiens</span></mark></span>
   <span class="verse v2463">Dont tient avoir la victoyre <span style="position: relative;">obtenue</span></span>
   <span class="verse v2464">Et se repent que tant a  soustenue</span>
   <span class="verse v2465"><span class="verse-number">2465</span>La faulse loy et superstitïon</span>
   <span class="verse v2466">Qui ses fauteurs meyne à perditïon</span>
   <span class="verse v2467">Il <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">leurs<span class="coll-source"> [Aix419]</span></span></span></sup></span> suade à laisser les ydolles</span>
   <span class="verse v2468">Et de leurs dieux <span style="position: relative;">tous temples capitolles<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">temples et capitolles<span class="coll-source"> [BnFfr17274, BnFfr4967, BnFfr5299, Vat966, Cha514]</span> ; temples et capitoles<span class="coll-source"> [BnFfr23145]</span> ; temples <span class="choice">et</span> cappitolles <span class="coll-source"> [Aix419]</span></span></span></sup></span></span>
   <span class="verse v2469">Prophanes lieux, simulachres aultiers,</span>
   <span class="verse v2470"><span class="verse-number">2470</span>Ne souffrir veoir et demourer entiers</span>
   <span class="verse v2471">Mais tout briser, rompre et à terre abatre</span>
   <span class="verse v2472">Et pour la foy du <mark class="persName">Redempteur<span class="persName-info fw-normal on-right"><b>Jésus-Christ</b><span class="hr-short">&nbsp;</span>Messie et fils unique de Dieu pour les chrétiens</span></mark> combatre</span>
   
   
   <hr data-img-id="f135">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> fonda l’eglise
      du mont <mark title="placeName" instant="false" full="yes">Saincte Genevefve</mark> à <mark title="placeName" instant="false" full="yes">Paris</mark></span>
   <span class="verse v2473">En congnoissant <span style="position: relative;"><span class="lem">que au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">le<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span></span></span></sup></span> rachapt des humains</span>
   <span class="verse v2474">Son digne corps,
      <span style="position: relative;">chef</span>, costé,
      <span style="position: relative;"><span class="lem">piedz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">piedz<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> et mains</span>
   <span class="verse v2475"><span class="verse-number">2475</span>Souffrit percer sur le perron d’oultrance</span>
   <span class="verse v2476">Tenant le pas. À ceste remonstrance</span>
   <span class="verse v2477">Furent les cueurs des <mark title="orgName" instant="false" full="yes">Françoys</mark> amoliz</span>
   <span class="verse v2478">Si que leurs dieux laissez et aboliz</span>
   <span class="verse v2479">Tous les presens et autres, quant le
      sceurent,</span>
   <span class="verse v2480"><span class="verse-number">2480</span>Le sacrement de baptesme receurent.</span>
   <span class="verse v2481"><mark title="piedMouche">§</mark>Le roy aprés pour augmenter tousjours</span>
   <span class="verse v2482">La foy de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>
      fist en bien peu de jours</span>
   <span class="verse v2483">Construyre ung <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">peud <s>peuple</s>
                  <span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>temple à <mark title="placeName" instant="false" full="yes">Paris</mark> principalle</span>
   <span class="verse v2484">Cité tenue et ville capitalle</span>
   <span class="verse v2485"><span class="verse-number">2485</span>De son royaulme et cousta maint escu</span>
   <span class="verse v2486"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content">Ce<s>st</s><span class="coll-source"> [Aix419]</span></span></span></sup></span> bastyment sur le mont dit <mark title="placeName" instant="false" full="yes">Aygu</mark></span>
   <span class="verse v2487">Où il avoit la terre et place acquise</span>
   <span class="verse v2488">Fut erigee une bien belle eglise</span>
   <span class="verse v2489">Fondee au nom des apostres benoistz</span>
   <span class="verse v2490"><span class="verse-number">2490</span><span style="position: relative;"><span class="lem">Sainct</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">Sainctz<span class="coll-source"> [Aix419, Cha514]</span></span></span></sup></span>
      <mark class="persName">Pierre<span class="persName-info fw-normal on-right"><b>Pierre, saint</b> (Ier siècle avant J.C. — entre 64 et 68)<span class="hr-short">&nbsp;</span>Apôtre du Christ et premier pape de l'Église catholique</span></mark> et <mark class="persName">Paul<span class="persName-info fw-normal on-right"><b>Paul, saint</b> (5 — entre 64 et 67)<span class="hr-short">&nbsp;</span>Apôtre du Christ et missionnaire</span></mark>
      et à ce <span style="position: relative;"><span class="lem">qu’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content">
                  <span class="choice">que</span>
                  <span class="coll-source"> [Aix419]</span></span></span></sup></span> congnoys</span>
   <span class="verse v2491">C’est <span style="position: relative;"><span class="lem">le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content"><i>om.</i><span class="coll-source"> [Vat966]</span></span></span></sup></span> lieu propre où <span style="position: relative;"><span class="lem">saincte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">sainct<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>
      <mark class="persName">Genevefve<span class="persName-info fw-normal on-right"><b>Geneviève, sainte</b> (423 — 502)<span class="hr-short">&nbsp;</span>Sainte française, patronne de la ville de Paris, du diocèse de Nanterre et des
            gendarmes</span></mark></span>
   <span class="verse v2492">Maint langoureux <span style="position: relative;"><span class="lem">febricitant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">subricitant<span class="coll-source"> [Aix419]</span></span></span></sup></span> relieve</span>
   <span class="verse v2493">De sa douleur, peine et calamité</span>
   <span class="verse v2494">Donnant remede à toute infirmité.</span>
   <span class="verse v2495"><span class="verse-number">2495</span>Les roys de <mark title="placeName" instant="false" full="yes">France</mark> en leurs armes
      portoyent</span>
   <span class="verse v2496">Durant ce temps  troys crapaulx qui estoyent</span>
   <span class="verse v2497">Armes par trop estranges à porter</span>
   
   
   <hr data-img-id="f136">
   
   <span class="curr-title fw-bold">Les troys fleurs de liz envoyees du ciel au roy <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark></span>
   <span class="verse v2498">Mais <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> voulut les faire
      transporter</span>
   <span class="verse v2499">Quant à <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> furent du
      ciel transmises</span>
   <span class="verse v2500"><span class="verse-number">2500</span>Fleurs de liz d’or pour estre en ce lieu <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">et<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>mises</span>
   <span class="verse v2501">Sur champ d’azur la celeste couleur</span>
   <span class="verse v2502">Les fist asseoir. De ceste digne fleur</span>
   <span class="verse v2503">À <mark title="placeName" instant="false" full="yes"><span style="position: relative;">Joye</span> en Val</mark> y a preuve certaine</span>
   <span class="verse v2504">Par une vifve et <span style="position: relative;">tres</span> clere fontaine</span>
   <span class="verse v2505"><span class="verse-number">2505</span>Où l’on maintient que fut fait ce transport</span>
   <span class="verse v2506">À ung preudhomme hermite
      et au rapport</span>
   <span class="verse v2507">De luy prenant d’un tel tresor moult joye</span>
   <span class="verse v2508">Fut <span style="position: relative;"><span class="lem">pris</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">puis<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> le nom du roy d’armes&nbsp;: Montjoye.</span>
   <span class="verse v2509">Là gist <span style="position: relative;"><span class="lem">à moins d’un</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">en moindz du<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">en moins d’ung<span class="coll-source"> [Aix419, Cha514]</span></span></span></sup></span> traict d’arc et demy</span>
   <span class="verse v2510"><span class="verse-number">2510</span>Le benoist corps de sainct <mark class="persName">Barthelemy<span class="persName-info fw-normal on-right"><b>Barthélemy, saint</b> (Ier siècle avant J.C. — Ier siècle)<span class="hr-short">&nbsp;</span>Apôtre du Christ</span></mark></span>
   <span class="verse v2511">Là pour tesmoing de ce divin mistere</span>
   <span class="verse v2512"><span style="position: relative;"><span class="lem">Prent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content">Prens<span class="coll-source"> [BnFfr17274, Aix419, Vat966, Cha514]</span></span></span></sup></span> joye en val <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">le<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, Vat966, Cha514]</span></span></span></sup></span> devot monastere</span>
   <span class="verse v2513">Mais c’est ung cas bien sauvaige et assez</span>
   <span class="verse v2514">À <span style="position: relative;"><span class="lem">reprimer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content">reprouver<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr5299, BnFfr4967, Vat966, Cha514]</span></span></span></sup></span> que les roys trespassez</span>
   <span class="verse v2515"><span class="verse-number">2515</span>N’ont eu ce lieu en plus grand reverence.</span>
   <span class="verse v2516"><span style="position: relative;"><span class="lem">Y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48"><span class="collation-content">Il<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> trouvez vous propos <span style="position: relative;"><span class="lem">ne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">n<span>y</span>
                  <span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> apparence&nbsp;?</span>
   <span class="verse v2517">Deussent ilz pas en ce joyeux pourpris</span>
   <span class="verse v2518">Avoir <span style="position: relative;">basty</span> quelque ouvraige de pris&nbsp;?</span>
   <span class="verse v2519">Laisser le lieu en si grande ruÿne</span>
   <span class="verse v2520"><span class="verse-number">2520</span>Où vint la fleur dont fut ceste bruÿne</span>
   <span class="verse v2521"><span style="position: relative;"><span class="lem">Des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">De<span class="coll-source"> [Vat966]</span></span></span></sup></span> troys  enflez et venimeux crapaulx</span>
   <span class="verse v2522">Mise soubz piedz ! De tous lieux principaulx</span>
   
   
   <hr data-img-id="f137">
   
   <span class="curr-title fw-bold">Du mal des escrouelles dont le roy de <mark title="placeName" instant="false" full="yes">France</mark> guerist</span>
   <span class="verse v2523">Ce <mark title="placeName" instant="false" full="yes">Joye en Val</mark> vault bien pour debvoir estre</span>
   <span class="verse v2524">Plus extimé que  autre nul royal <span style="position: relative;"><span class="lem">estre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">aistre<span class="coll-source"> [BnFfr23145, Aix419, Vat966, Cha514]</span></span></span></sup></span>.</span>
   <span class="verse v2525"><span class="verse-number">2525</span>Capable est il voire entre ung milïon</span>
   <span class="verse v2526">D’y bastir l’autre et second <mark title="placeName" instant="false" full="yes">Ylïon</mark></span>
   <sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup>
   <span class="verse v2527">Là devroit on sur blanc marbre et porphire</span>
   <span class="verse v2528">Faire entailler ymaiges à souffire</span>
   <span class="verse v2529">Et beaulx escriptz où feussent contenuz</span>
   <span class="verse v2530"><span class="verse-number">2530</span>Les excellentz faictz d’armes que ont tenuz</span>
   <span class="verse v2531">Tous roys <mark title="orgName" instant="false" full="yes">françoys</mark> pour en
      telz repertoyres</span>
   <span class="verse v2532">À  l’œil choysir leurs heureuses victoyres.</span>
   <span class="verse v2533">O roy des roys et seigneur des seigneurs,</span>
   <span class="verse v2534">Quelz si grandz biens, privileiges, honneurs</span>
   <span class="verse v2535"><span class="verse-number">2535</span>
      <span style="position: relative;">Quelz si beaux <span style="position: relative;"><span class="lem">dons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content">dont<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> et graces si affectes</span>
      </span>
   <span class="verse v2536">Ont autres euz que <span style="position: relative;">aux roys</span>
      <mark title="orgName" instant="false" full="yes">françoys</mark> as  faictes&nbsp;?</span>
   <span class="verse v2537">Certes il n’est si grande natïon</span>
   <span class="verse v2538">Qui <span style="position: relative;"><span class="lem">de ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">des<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> dieux ayt eu donatïon</span>
   <span class="verse v2539">Si approuchante à l’heur, dont <span style="position: relative;"><span class="lem">cueur franc</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61"><span class="collation-content">franc cueur<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> se ayse,</span>
   <span class="verse v2540"><span class="verse-number">2540</span>Que a eu de toy la natïon <mark title="orgName" instant="false" full="yes">françoyse</mark>.</span>
   <span class="verse v2541"><span style="position: relative;"><span class="lem">Loué</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">Lout<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> en soit ton sainct nom precïeux</span>
   <span class="verse v2542">Et honnoré en la terre et aux cieulx.</span>
   <span class="verse v2543">Reste adjouxter <span style="position: relative;">aux</span> graces dessus dictes</span>
   <span class="verse v2544">Entre autres deux qui ne sont pas
      petites</span>
   <span class="verse v2545"><span class="verse-number">2545</span>L’une <span style="position: relative;"><span class="lem">et</span></span> plus grande est ceste,
      or la retien :</span>
   <span class="verse v2546">C’est que le roy nommé tres <mark title="orgName" instant="false" full="yes">crestïen</mark></span>
   <span class="verse v2547">D’un seul toucher guarist, sans doubter croy le,</span>
   
   
   <hr data-img-id="f138">
   
   <span class="curr-title fw-bold">Des graces divines que ont les roys de <mark title="placeName" instant="false" full="yes">France</mark></span>
   <span class="verse v2548">La malladie appellee escrouelle.</span>
   <span class="verse v2549">Miracle grand ! Est il place ou destour</span>
   <span class="verse v2550"><span class="verse-number">2550</span>Où soit celluy qui <span style="position: relative;"><span class="lem">puist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65"><span class="collation-content">peult<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">peust<span class="coll-source"> [Aix419]</span></span></span></sup></span> faire un tel tour&nbsp;?</span>
   <span class="verse v2551">On dit assez,
      mais c’est le fort <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66"><span class="collation-content">de<span class="coll-source"> [BnFfr23145]</span></span><span class="collation-content">à<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> faire.</span>
   <span class="verse v2552">Je ne croyray jamais en <span style="position: relative;"><span class="lem">cest</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content">ceste<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> affaire</span>
   <span class="verse v2553">Que filz septiesme a ce bien <span style="position: relative;"><span class="lem">esprouvé</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">approuvé<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>.</span>
   <span class="verse v2554">Soit ja de luy ung seul guary trouvé !</span>
   <span class="verse v2555"><span class="verse-number">2555</span>L’autre grace est et tien où que je soye</span>
   <span class="verse v2556">Avoir esté ung drap de rouge soye</span>
   <span class="verse v2557">Transmys du ciel jadis resplendissant</span>
   <span class="verse v2558">Au desployer comme soleil naissant</span>
   <span class="verse v2559">Vers le matin, sans ce que noyre nue</span>
   <span class="verse v2560"><span class="verse-number">2560</span>De sa clarté en riens luy diminue.</span>
   <span class="verse v2561">Ce drap de soye en la façon estoit</span>
   <span class="verse v2562">D’un estandart et des roys se portoit</span>
   <span class="verse v2563">Quant on fondoit querelles <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69"><span class="collation-content">de<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Aix419, Cha514]</span></span></span></sup></span> batailles</span>
   <span class="verse v2564">Joindre sur l’ost de <span style="position: relative;"><span class="lem">viles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70"><span class="collation-content">villes<span class="coll-source"> [Aix419]</span></span></span></sup></span> truendailles,</span>
   <span class="verse v2565"><span class="verse-number">2565</span>Turcz, mescreans, ennemys de la foy.</span>
   <span class="verse v2566">On <span style="position: relative;"><span class="lem">dit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content">tient<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span> aussi que a esté fait l’envoy</span>
   <span class="verse v2567">De ceste enseigne appellee auriflamme</span>
   <span class="verse v2568">À <mark class="persName">Charlemaigne<span class="persName-info fw-normal on-right"><b>Charlemagne</b> (entre 06/04/742 et 06/04/748 — 01/02/814)<span class="hr-100">&nbsp;</span>Roi des Francs (13/10/768-01/02/814)<br/>Roi des Lombards (14/07/774-01/02/814)<br/>Empereur d'Occident (29/12/800-01/02/814)<br/>Duc de Bavière (?-?)<br/></span></mark> ardant comme la flamme</span>
   <span class="verse v2569">Et en son cueur ayant le zele escript</span>
   <span class="verse v2570"><span class="verse-number">2570</span>À soustenir <span style="position: relative;">la</span> foy de <mark class="persName">Jesus Crist<span class="persName-info fw-normal on-right"><b>Jésus-Christ</b><span class="hr-short">&nbsp;</span>Messie et fils unique de Dieu pour les chrétiens</span></mark></span>
   <span class="verse v2571"><span style="position: relative;"><span class="lem">Et observer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown74" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown74"><span class="collation-content">En observant<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span> droit juste et canonicque</span>
   <span class="verse v2572">Comme verrons en cueillant sa cronicque.</span>
   
   
   <hr data-img-id="f139">
   
   <span class="curr-title fw-bold">De l’auriflamme envoyee du ciel à <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark></span>
   <span class="verse v2573">Ceste auriflamme avoit telle vertu</span>
   <span class="verse v2574">Que quant ung ost s’en trouvoit  revestu</span>
   <span class="verse v2575"><span class="verse-number">2575</span>Et <span style="position: relative;">desployee<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76"><span class="collation-content">desployé<span class="coll-source"> [Aix419]</span> ; desploié<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      
      <span style="position: relative;"><span class="lem">au vent estoit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown78" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown78"><span class="collation-content">estoit au vent<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">singlee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown79" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown79"><span class="collation-content">sanglee<span class="coll-source"> [Aix419]</span></span></span></sup></span></span>
   <span class="verse v2576">Partie adverse en venoit aveuglee.</span>
   <span class="verse v2577">Elle a esté gardee bien longtemps</span>
   <span class="verse v2578">À <mark title="placeName" instant="false" full="yes">Sainct Denys</mark> en
      <mark title="placeName" instant="false" full="yes">France</mark>
      mais j’entendz</span>
   <span class="verse v2579">Ainsi que vent va souflant en ouye</span>
   <span class="verse v2580"><span class="verse-number">2580</span>Que du lieu s’est pieça esvanouye</span>
   <span class="verse v2581">Et la raison pour ce que <span style="position: relative;"><span class="lem">aucuns</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown81" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown81"><span class="collation-content">
                  <span>aucune</span>
                  <span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">aucun<span class="coll-source"> [Aix419]</span></span></span></sup></span> des roys</span>
   <span class="verse v2582">Sur crestiens par impourveuz desroys</span>
   <span class="verse v2583">Contre le vueil de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> mal en
      userent</span>
   <span class="verse v2584"><span style="position: relative;">Et du</span> divin privileige abuserent</span>
   <span class="verse v2585"><span class="verse-number">2585</span>Autre parolle icy tenir n’en puys</span>
   <span class="verse v2586">Fors seullement que ay entendu depuys</span>
   <span class="verse v2587">À la semblance une a esté beneyste</span>
   <span class="verse v2588">Et est dedans l’eglise dessus dicte</span>
   <span class="verse v2589">Mise <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown83" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown83"><span class="collation-content">en<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> gardee auprés du benoist corps</span>
   <span class="verse v2590"><span class="verse-number">2590</span>De sainct <mark class="persName">Denys<span class="persName-info fw-normal on-right"><b>Denis, saint</b> (IIIe siècle — 250)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark>. Qui ne croyt mes recordz</span>
   <span class="verse v2591">L’œil en fera<span style="position: relative;"> s’il y va</span> seure preuve.</span>
   <span class="verse v2592">Dire ne puys sinon ce que j’en treuve.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1">Note n°1</h4>
   <div class="modal-text" modal-text="noteModal1"> Pierre de Ronsard fait rimer ces deux mêmes mots dans la Franciade,
      liv. 1, vers 35-36. </div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2419);">v. 2419</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>histoire</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2420);">v. 2420</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>moindz</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre.quatorziesme.</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2425);">v. 2425</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>et <s>la</s></span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2431);">v. 2431</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Les</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2431);">v. 2431</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>et</s></span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2434);">v. 2434</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>affection</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2436);">v. 2436</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>deffault</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2441);">v. 2441</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>
            <span class="choice">quelzconques</span>
            </span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2442);">v. 2442</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Pour</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2445);">v. 2445</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>enlentour</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2452);">v. 2452</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Esperit</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2461);">v. 2461</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>mot</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2467);">v. 2467</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2468);">v. 2468</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>temples et capitolles</span> ; <span><span class="coll-source">BnFfr23145 </span>temples et capitoles</span> ; <span><span class="coll-source">Aix419 </span>temples <span class="choice">et</span> cappitolles </span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2473);">v. 2473</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>le</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2474);">v. 2474</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>piedz</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2483);">v. 2483</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>peud <s>peuple</s>
            </span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2486);">v. 2486</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Ce<s>st</s></span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2490);">v. 2490</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha514 </span>Sainctz</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2490);">v. 2490</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>
            <span class="choice">que</span>
            </span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2491);">v. 2491</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2491);">v. 2491</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>sainct</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2492);">v. 2492</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>subricitant</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2500);">v. 2500</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>et</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2508);">v. 2508</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>puis</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2509);">v. 2509</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>en moindz du</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha514 </span>en moins d’ung</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2512);">v. 2512</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Aix419, Vat966, Cha514 </span>Prens</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2512);">v. 2512</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, Vat966, Cha514 </span>le</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2514);">v. 2514</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr5299, BnFfr4967, Vat966, Cha514 </span>reprouver</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2516);">v. 2516</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Il</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2516);">v. 2516</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>n<span>y</span>
            </span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2521);">v. 2521</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>De</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2524);">v. 2524</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, Vat966, Cha514 </span>aistre</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2535);">v. 2535</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>dont</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2538);">v. 2538</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>des</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2539);">v. 2539</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>franc cueur</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2541);">v. 2541</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Lout</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2550);">v. 2550</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>peult</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>peust</span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2551);">v. 2551</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>de</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>à</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2552);">v. 2552</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ceste</span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2553);">v. 2553</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>approuvé</span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2563);">v. 2563</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Aix419, Cha514 </span>de</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2564);">v. 2564</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>villes</span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2566);">v. 2566</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>tient</span></div>
      </div>
   <div class="collation row" id="coll74">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2571);">v. 2571</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>En observant</span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2575);">v. 2575</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>desployé</span> ; <span><span class="coll-source">BnFfr17274 </span>desploié</span></div>
      </div>
   <div class="collation row" id="coll78">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2575);">v. 2575</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>estoit au vent</span></div>
      </div>
   <div class="collation row" id="coll79">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2575);">v. 2575</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>sanglee</span></div>
      </div>
   <div class="collation row" id="coll81">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2581);">v. 2581</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>
            <span>aucune</span>
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>aucun</span></div>
      </div>
   <div class="collation row" id="coll83">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2589);">v. 2589</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>en</span></div>
      </div>
</div>
{% endmacro %}
