
{% macro chapterTitle() %}Chapitre 18{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('19_chap_17')"><i class="fa-solid fa-arrow-left"></i> Chapitre 17</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('21_chap_19')">Chapitre 19 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f160/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f160/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f160" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f161/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f161/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f161" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f162/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f162/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f162" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f163/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f163/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f163" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f164/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f164/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f164" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f165/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f165/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f165" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f160">
   
   <p title="Numéro de folio" class="text-end"><i>67v</i></p>
   <span class="d-block fw-bold mb-3">Bataille de Clouys contre
      les <mark title="orgName" instant="false" full="yes">Gotz</mark> pres de <mark title="placeName" instant="false" full="yes">poictiers</mark>.</span>
   
   <blockquote class="ms-2">
      
      <span class="verse v3091"><mark title="piedMouche">§</mark>Aux <mark title="orgName" instant="false" full="yes">gotz</mark> pourra Clouis la donner bonne</span>
      <span class="verse v3092">Rendant 
         <span class="lem">leur</span>
         
          roy 
         <span class="lem">et</span>
         
          eulx tous deſconfitz</span>
      <span class="verse v3093">Puys 
         <span class="lem">enuoyra</span>
         
         
          aux champs Thierry ſon
         filz</span>
      <span class="verse v3094">Vers <mark title="placeName" instant="false" full="yes">languedoc</mark> / en <mark title="placeName" instant="false" full="yes">avuergne</mark> et <mark title="placeName" instant="false" full="yes">nerbonne</mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      
      <span class="lem">
         <mark title="piedMouche">§</mark>Chapitre.&nbsp;<span class="num" type="cardinal" value="18">xuiii</span>.</span>
      
      
      
      </blockquote>
   
   <span class="verse v3095"><span class="verse-number">3095</span>LE roy 
      <span class="lem">fiſt</span>
      
       faire 
      <span class="lem">expꝛes</span>
      
      
      <span class="choice"><span title="Abbréviation pour commandement"><mark title="abbréviation">commandemēt</mark></span></span></span>
   <span class="verse v3096">Que loſt marchaſt|ſans ſecond <span class="choice"><span title="Abbréviation pour mandement"><mark title="abbréviation">mādemēt</mark></span></span></span>
   <span class="verse v3097">Et ſe rendiſt chaſcun 
      <span class="lem">a</span>
      
       ſon enſeigne</span>
   <span class="verse v3098">
      <span class="lem">Fiſt</span>
      
       publier auſſi <span class="choice"><span title="Abbréviation pour que"><mark title="abbréviation">q̄</mark></span></span>
      <span class="choice"><span title="Abbréviation pour homme"><mark title="abbréviation">hōme</mark></span></span> ne pꝛeigne</span>
   <span class="verse v3099">Viure / montant la valleur dun liart</span>
   <span class="verse v3100"><span class="verse-number">3100</span>Sans le payer /
      
      <span class="lem"></span>
      
      ſur peine de la hart</span>
   <span class="verse v3101">Et 
      <span class="lem">aduerty</span>
      
       loſt des <mark title="orgName" instant="false" full="yes">gotz</mark>
      
      <span class="lem">au champ</span>
      
       eſtre</span>
   <span class="verse v3102">Dit 
      <span class="lem"><mark title="placeName" instant="false" full="yes">Vogledin</mark></span>
      
       / en la plaine champeſtre</span>
   <span class="verse v3103">Du fleuue <mark title="placeName" instant="false" full="yes">
         <span class="lem">Clain</span>
         
         </mark> pꝛochaine /. et de <mark title="placeName" instant="false" full="yes">poictiers</mark></span>
   <span class="verse v3104">Cinq lieues diſtant / marcha tres voluntiers</span>
   <span class="verse v3105"><span class="verse-number">3105</span>Tout dꝛoit a eulx /. Loꝛs ceſte 
      <span class="lem"></span>
      
       truendaille</span>
   <span class="verse v3106">Sans tenir foꝛme et oꝛdꝛe de bataille</span>
   <span class="verse v3107">Comme pourceaux pleins de 
      <span class="lem">raige</span>
      
       et fureur</span>
   <span class="verse v3108">Donnerent choc de farouche terreur</span>
   <span class="verse v3109">Et au donner y eut peine terrible</span>
   <span class="verse v3110"><span class="verse-number">3110</span>De ſouſtenir 
      <span class="lem"><span class="choice"><span title="Abbréviation pour poincte"><mark title="abbréviation">poīcte</mark></span></span></span>
      
       ſi tres hoꝛrible</span>
   <span class="verse v3111">Mais leur fureur / apꝛes 
      <span class="lem">peine</span>
      
       endurer</span>
   <span class="verse v3112">Contre <mark title="orgName" instant="false" full="yes">francoys</mark> ne ſceut longtemps durer</span>
   <span class="verse v3113">Car la 
      <span class="lem">leur</span>
      
       foꝛce y trouuerent ſi fiere</span>
   
   
   <hr data-img-id="f161">
   
   <p title="Numéro de folio" class="text-end"><i>68r</i></p>
   <span class="d-block fw-bold mb-3">Clouis occit
      Alaire en
      bataille/. puys miſt Thierry ſur champs.</span>
   <span class="verse v3114">Quil ne leur 
      <span class="lem"></span>
      
       chault en quel lieu on ſe fiere</span>
   <span class="verse v3115"><span class="verse-number">3115</span>Clouys voyant Allaire au plus eſpois</span>
   <span class="verse v3116">Des ſiens ſouldardz / le chargea dun tel boys</span>
   <span class="verse v3117">Que de la charge il le gecta par terre</span>
   <span class="verse v3118">Non ſans peril pour Clouys /.
      Car gꝛand erre</span>
   <span class="verse v3119">Vindꝛent <span class="num">deux</span>
      <mark title="orgName" instant="false" full="yes">Gotz</mark>
      
      <span class="lem"></span>
      
       fierement le chocquer</span>
   <span class="verse v3120"><span class="verse-number">3120</span>Le cuydans veoir des arcons deſrocquer.</span>
   <span class="verse v3121">Mais 
      <span class="lem">ſe poꝛtant</span>
      
      
       en ſoꝛte dhomme adeſtre</span>
   <span class="verse v3122">
      <span class="lem">Oncq</span>
      
       ne bꝛanla /.
      Et, de ſa pꝛopꝛe dextre,</span>
   <span class="verse v3123">Coups leur donna ſi peſans et maſſifz</span>
   <span class="verse v3124">
      <span class="lem">Quil</span>
      
      
       les rendit 
      <span class="lem">(</span>
      
      comme leur roy
      <span class="lem">)</span>
      
       occiz.</span>
   <span class="verse v3125"><span class="verse-number">3125</span>Par ainſi fut vie a celluy finye</span>
   <span class="verse v3126">Apꝛes regner <span class="date" dur="P12Y" instant="false">douze</span> ans en tyꝛannie.</span>
   <span class="verse v3127">Voyans les <mark title="orgName" instant="false" full="yes">Gotz</mark>
      
      <span class="lem">ce</span>
      
       malheureux meſchef</span>
   <span class="verse v3128">Tumber ſur eulx, ayans perdu leur chief,</span>
   <span class="verse v3129">Oncques depuys ung ſeul coup ne donnerent</span>
   <span class="verse v3130"><span class="verse-number">3130</span>Mais laſchement fuyans / le doz tournerent.</span>
   <span class="verse v3131"><mark title="piedMouche">§</mark>Clouys / apꝛes ceſte victoyꝛe, alla</span>
   <span class="verse v3132">Iuſqua <mark title="placeName" instant="false" full="yes">Boꝛdeaulx</mark> /. et
      paſſa lyuer 
      <span class="lem">la</span>
      
      .</span>
   <span class="verse v3133">Son filz Thierry fiſt loꝛs
      ſur les champs mectre</span>
   <span class="verse v3134">Auecq armee / ou ſe ſceut entremectre</span>
   <span class="verse v3135"><span class="verse-number">3135</span>De telle poincte et 
      <span class="lem">de</span>
      
       ſi ferme eſtoc</span>
   <span class="verse v3136">Que les pays de <mark title="placeName" instant="false" full="yes">Rodais</mark> /
      <mark title="placeName" instant="false" full="yes">Languedoc</mark>,</span>
   <span class="verse v3137"><mark title="placeName" instant="false" full="yes">Narbonne</mark> /
      <mark title="placeName" instant="false" full="yes">Auuergne</mark> /
      
      <span class="lem">Il</span>
      
       fiſt (par bien conduyꝛe</span>
   
   <span class="lem">
      <span class="verse v3138">Et ſaigement ſon cas, le tout reduyꝛe</span>
      </span>
   
   
   
   
   <hr data-img-id="f162">
   
   <p title="Numéro de folio" class="text-end"><i>68v</i></p>
   <span class="d-block fw-bold mb-3">Concqueſtes de Clouys
      a <mark title="placeName" instant="false" full="yes">Tholoſe</mark> ſur les
      <mark title="orgName" instant="false" full="yes">Gotz</mark>.</span>
   <span class="verse v3139">Es mains 
      <span class="lem">du</span>
      
       roy ſon pere en peu de temps</span>
   <span class="verse v3140"><span class="verse-number">3140</span>Dont il rendit gensdarmes foꝛt contentz</span>
   <span class="verse v3141">Veu que 
      <span class="lem">pꝛoueſſe et pꝛudence</span>
      
       en ſon eaige</span>
   <span class="verse v3142">Font 
      <span class="lem">lextimer</span>
      
       eſtre bien perſonnaige</span>
   <span class="verse v3143">Pour augmenter le bon loz et credit</span>
   <span class="verse v3144">De ſon 
      <span class="lem"></span>
      
       renom /. Et desloꝛs il fut dit</span>
   <span class="verse v3145"><span class="verse-number">3145</span>Que ſa conqueſte et victoire pꝛoſpere</span>
   <span class="verse v3146">Eſtoit 
      <span class="lem"></span>
      
       eſgale a celle de ſon pere.</span>
   <span class="verse v3147"><mark title="piedMouche">§</mark>Lyuer paſſe et le
      pꝛimtemps venu,</span>
   <span class="verse v3148">Le roy dedans <mark title="placeName" instant="false" full="yes">Tholouze</mark> peruenu,</span>
   <span class="verse v3149">Les gꝛandz treſoꝛs du roy des <mark title="orgName" instant="false" full="yes">gotz</mark>
      Allaire</span>
   <span class="verse v3150"><span class="verse-number">3150</span>Trouua 
      <span class="lem">et pꝛiſt</span>
      
       /. Puys de couraige hilaire</span>
   <span class="verse v3151">Cueur magnanime, honneſte et liberal</span>
   <span class="verse v3152">Les departit a tous en general</span>
   <span class="verse v3153">Villes /
      
      <span class="lem"></span>
      
       chaſteaux / et places contenues</span>
   <span class="verse v3154">Ou dit pays / et par les <mark title="orgName" instant="false" full="yes">Gotz</mark>
      tenues,</span>
   <span class="verse v3155"><span class="verse-number">3155</span>Fiſt aſſieger /. Les unes pꝛiſt daſſault</span>
   <span class="verse v3156">Et la pluſpart empoꝛta de plain ſault.</span>
   <span class="verse v3157">Deuant <mark title="placeName" instant="false" full="yes">Damon</mark>, ville foꝛte peuplee</span>
   <span class="verse v3158">Et de tous biens a largeſſe comblee,</span>
   <span class="verse v3159">Le ſiege miſt / ou ung cas 
      <span class="lem">luy aduint</span>
      
      
      </span>
   <span class="verse v3160"><span class="verse-number">3160</span>Bien 
      <span class="lem"></span>
      
       merueilleux /.
      
      <span class="lem"></span>
      
      Car ſi toſt que la vint,</span>
   <span class="verse v3161">Soudain les murs de la ville tumberent,</span>
   <span class="verse v3162">Par quoy ſes gens ayſement loccupperent.</span>
   <span class="verse v3163">Ce fut miracle et ſigne quil eſtoit</span>
   
   
   <hr data-img-id="f163">
   
   <p title="Numéro de folio" class="text-end"><i>69r</i></p>
   <span class="d-block fw-bold mb-3">Lempereur Anaſtaſe
      enuoye vers le roy Clouis.</span>
   <span class="verse v3164">Amy de Dieu /. Par quoy 
      <span class="lem">ladmonneſtoit</span>
      
      </span>
   <span class="verse v3165"><span class="verse-number">3165</span>Faire extirper ceſte vilaine ſecte</span>
   <span class="verse v3166">Sans vouloir que ung tout ſeul des <mark title="orgName" instant="false" full="yes">Gotz</mark>
      excepte</span>
   <span class="verse v3167">Et non 
      <span class="lem">fiſt</span>
      
       il / nul 
      <span class="lem">eſchappa</span>
      
      
      
      <span class="lem">de</span>
      
       fait</span>
   <span class="verse v3168">Que tout ne feuſt 
      <span class="lem">mys a ſac</span>
      
       et deffait</span>
   <span class="verse v3169">Eulx 
      <span class="lem">terminez</span>
      
       / et 
      <span class="lem">les</span>
      
       garniſons miſes</span>
   <span class="verse v3170"><span class="verse-number">3170</span>Oꝛdꝛe donnee / en ſes charges commiſes</span>
   <span class="verse v3171">Et bien pourueu au cas / tira vers <mark title="placeName" instant="false" full="yes">tours</mark></span>
   <span class="verse v3172">Ou il trouua en triumphans attours</span>
   <span class="verse v3173">Ambaſſadeurs 
      <span class="lem">par</span>
      
       lempereur de <mark title="placeName" instant="false" full="yes">romme</mark></span>
   <span class="verse v3174">Dit 
      <span class="lem">Anaſtaſe</span>
      
      , humain / et non fier homme</span>
   <span class="verse v3175"><span class="verse-number">3175</span>Dacouſtremens, de bagues et ioyaux</span>
   <span class="verse v3176">Firent pꝛeſentz foꝛt riches et moult beaulx</span>
   <span class="verse v3177">Luy 
      <span class="lem">font</span>
      
       auſſi offre par belle lectre</span>
   <span class="verse v3178">
      <span class="lem">De</span>
      
       ſenateur rommain / ſil luy plaiſt leſtre.</span>
   <span class="verse v3179">Remerciant lempereur /Auſſi eulx</span>
   <span class="verse v3180"><span class="verse-number">3180</span>Leur fait recueil comme foꝛt ſoucieux</span>
   <span class="verse v3181">Les bien traicter / et faire bonne chere</span>
   <span class="verse v3182">Diſant / quil tient a choſe digne et chiere</span>
   <span class="verse v3183">Dont leur maiſtre a / conſideration</span>
   <span class="verse v3184">
      <span class="lem">Auoir</span>
      
       a luy confederation</span>
   <span class="verse v3185"><span class="verse-number">3185</span>Et amytie / quant de luy ſe ſoucye</span>
   <span class="verse v3186">Si que au conſeil du ſenat laſſocye</span>
   <span class="verse v3187">Et pour monſtrer quen ce 
      <span class="lem"></span>
      
       pꝛenoit plaiſir</span>
   <span class="verse v3188">Sans ſeiourner / ne <span class="choice"><span title="Abbréviation pour actendre"><mark title="abbréviation">actēdꝛe</mark></span></span> autre loyſir</span>
   
   
   <hr data-img-id="f164">
   
   <p title="Numéro de folio" class="text-end"><i>69v</i></p>
   <span class="d-block fw-bold mb-3">De la liberalite de Clouys appelle Senateur <mark title="orgName" instant="false" full="yes">rommain</mark>.</span>
   <span class="verse v3189">Voulut veſtir lhabit 
      <span class="lem">des</span>
      
       ce iour pꝛopꝛe</span>
   <span class="verse v3190"><span class="verse-number">3190</span>De ſenateur / qui eſtoit 
      <span class="lem">de fin</span>
      
       pourpꝛe</span>
   <span class="verse v3191">Sur ung courſier 
      <span class="lem">monte</span>
      
       / fut excite</span>
   
   <span class="lem">
      <span class="verse v3192">En tel habit aller 
         <span class="lem">par</span>
         
          la cite</span>
      </span>
   
   
   <span class="verse v3193">Et cela ſceu / peuple ſoꝛtit en place</span>
   <span class="verse v3194">
      <span class="lem">Vers</span>
      
      
      
      <span class="lem">certain</span>
      
       lieu / ſpacieux et ample a ce</span>
   <span class="verse v3195"><span class="verse-number">3195</span>Tout 
      <span class="lem">dꝛoit</span>
      
       deuant legliſe <mark title="placeName" instant="false" full="yes">sainct martin</mark></span>
   <span class="verse v3196">Lactendant veoir paſſer 
      <span class="lem"></span>
      
      
      
      <span class="lem">des le matin</span>
      
       /.</span>
   <span class="verse v3197">La arriue, voyant ce peuple en tourbe</span>
   <span class="verse v3198">Qui pour le veoir tant ſe amuſe et deſtourbe</span>
   <span class="verse v3199">Bourſe deſlie / et gecte par my
      eulx</span>
   <span class="verse v3200"><span class="verse-number">3200</span>Oꝛ a plante /. Et loꝛs a qui mieulx mieulx</span>
   <span class="verse v3201">
      <span class="lem"></span>
      
       Pour 
      <span class="lem">loꝛ</span>
      
       cueillir / chaſcun fiſt ioye et feſte</span>
   <span class="verse v3202">Et vont criant a belle plaine teſte&nbsp;:</span>
   <span class="verse v3203">
      
      <span class="lem">
         <span title="Discours direct">Viue le
            roy et ſenateur <mark title="orgName" instant="false" full="yes">rommain</mark></span>
         </span>
      
      
      </span>
   <span class="verse v3204">
      
      <span class="lem">
         <span title="Discours direct">Qui a ſon peuple ainſi extend la
            main&nbsp;!</span>
         </span>
      
      
      </span>
   <span class="verse v3205"><span class="verse-number">3205</span>
      <span title="Discours direct">Viue le roy Clouys tres magnanime</span>
      </span>
   <span class="verse v3206">
      <span title="Discours direct">Qui (a laymer)
         
         <span class="lem">ſon peuple ainſi</span>
         
          anime&nbsp;!</span>
      </span>
   <span class="verse v3207"><mark title="piedMouche">§</mark>Apꝛes cela
      /.
      Le roy, en regardant</span>
   <span class="verse v3208">Deuers legliſe /.
      Il ſe alla recoꝛdant</span>
   <span class="verse v3209">Du ſien cheual de monſtre et belle taille</span>
   <span class="verse v3210"><span class="verse-number">3210</span>Dont voluntiers il vſoit en bataille</span>
   <span class="verse v3211">Que auoit voue / pꝛomys / et deſdie</span>
   <span class="verse v3212">A <mark title="placeName" instant="false" full="yes">ſainct martin</mark> /. pour eſtre expedie</span>
   <span class="verse v3213">De ce veu fait /. tout 
      <span class="lem">en</span>
      
       lheure pꝛeſente</span>
   
   
   <hr data-img-id="f165">
   
   <p title="Numéro de folio" class="text-end"><i>70r</i></p>
   <span class="d-block fw-bold mb-3">Du cheual que Clouis
      auoit offert a ſainct martin de <mark title="placeName" instant="false" full="yes">tours</mark></span>
   
   <span class="lem">
      <span class="verse v3214">Ledit cheual a ſainct martin pꝛeſente</span>
      </span>
   
   
   <span class="verse v3215"><span class="verse-number">3215</span>Et pꝛetendant dargent le racheter</span>
   <span class="verse v3216">Au benoiſt ſainct 
      <span class="lem">ſupplia</span>
      
       daccepter</span>
   <span class="verse v3217">Loblation quil 
      <span class="lem">miſt</span>
      
       deuant ſa chaſſe.</span>
   <span class="verse v3218">Mais pour tirer / ne quon le 
      <span class="lem">pouſſe</span>
      
       et chaſſe</span>
   <span class="verse v3219">Dela 
      <span class="lem"></span>
      
      ne fut poſſible le mouuoir</span>
   <span class="verse v3220"><span class="verse-number">3220</span>Adoncq / pour faire acquict dample debuoir</span>
   <span class="verse v3221"><span class="num">Cent</span> eſcuz doꝛ / auecq lautre
      pecune</span>
   <span class="verse v3222">Fiſt adiouxter.
      Et ſans contraincte aucune</span>
   <span class="verse v3223">Fut 
      <span class="lem">ramene</span>
      
       /. Loꝛs le roy foꝛt friant</span>
   <span class="verse v3224">De 
      <span class="lem">remonſter</span>
      
       ſur luy /
      
      <span class="lem">diſt</span>
      
       en riant</span>
   <span class="verse v3225"><span class="verse-number">3225</span>Ung mot que nay 
      <span class="lem">voulu Icy</span>
      
      
       obmectre</span>
   <span class="verse v3226">Car ceſt parolle aſſez digne de mectre&nbsp;:</span>
   <span class="verse v3227">
      <span title="Discours direct">
         Martin eſt pꝛompt 
         <span class="lem">au</span>
         
          ſecours. Mais de pꝛis</span>
      </span>
   <span class="verse v3228">
      <span title="Discours direct">Se monſtre
         cher, comme iay 
         <span class="lem">cy</span>
         
         
          appꝛis.</span>
      </span>
   <span class="verse v3229">Pour ce na il la gꝛace meſpꝛiſee&nbsp;;</span>
   <span class="verse v3230"><span class="verse-number">3230</span>Ceſt ſeullement 
      <span class="lem">par</span>
      
       foꝛme de riſee.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f160">
   
   <span class="curr-title fw-bold">Bataille de <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> contre
      les <mark title="orgName" instant="false" full="yes">Gotz</mark> prés de <mark title="placeName" instant="false" full="yes">Poictiers</mark></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v3091"><mark title="piedMouche">§</mark>Aux <mark title="orgName" instant="false" full="yes">Gotz</mark> pourra <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> la donner bonne</span>
      <span class="verse v3092">Rendant <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">le<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> roy <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">par<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> eulx tous desconfitz</span>
      <span class="verse v3093">Puys <span style="position: relative;"><span class="lem">envoyra</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">envoya<span class="coll-source"> [BnFfr23145, Aix419, Vat966]</span> ; 
                     <span class="choice">envoya</span>
                     <span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">envoyera<span class="coll-source"> [BnFfr5299]</span></span></span></sup></span> aux champs <mark class="persName">Thierry<span class="persName-info fw-normal on-right"><b>Thierry Ier</b> (485 — 534)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (511-534)<br/></span></mark> son
         filz</span>
      <span class="verse v3094">Vers <mark title="placeName" instant="false" full="yes">Languedoc</mark> en <mark title="placeName" instant="false" full="yes">Auvergne</mark> et <mark title="placeName" instant="false" full="yes">Nerbonne</mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem">
            <mark title="piedMouche">§</mark>Chapitre&nbsp;<span class="num" type="cardinal" value="18">xviii</span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, Vat966]</span></span><span class="collation-content">Chapitre. xviiie.<span class="coll-source"> [Cha514]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v3095"><span class="verse-number">3095</span>Le roy <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">faict<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> faire <span style="position: relative;"><span class="lem">exprés</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">aprés<span class="coll-source"> [Aix419]</span></span></span></sup></span>
      <span class="choice"><span title="Abbrégé en commandemēt"><mark title="abbréviation">commandement</mark></span></span></span>
   <span class="verse v3096">Que l’ost marchast sans second <span class="choice"><span title="Abbrégé en mādemēt"><mark title="abbréviation">mandement</mark></span></span></span>
   <span class="verse v3097">Et se rendist chascun <span style="position: relative;">à</span> son enseigne</span>
   <span class="verse v3098"><span style="position: relative;"><span class="lem">Fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">Faict<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> publier aussi <span class="choice"><span title="Abbrégé en q̄"><mark title="abbréviation">que</mark></span></span>
      <span class="choice"><span title="Abbrégé en hōme"><mark title="abbréviation">homme</mark></span></span> ne preigne</span>
   <span class="verse v3099">Vivre montant la valleur d’un lïart</span>
   <span class="verse v3100"><span class="verse-number">3100</span>Sans le payer
      sur peine de la hart</span>
   <span class="verse v3101">Et <span style="position: relative;">adverty</span> l’ost des <mark title="orgName" instant="false" full="yes">Gotz</mark>
      <span style="position: relative;"><span class="lem">au champ</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">aux champs<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967]</span></span></span></sup></span> estre</span>
   <span class="verse v3102">Dit <span style="position: relative;"><span class="lem"><mark title="placeName" instant="false" full="yes">Vogledin</mark></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">Vaucledin<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> en la plaine champestre</span>
   <span class="verse v3103">Du fleuve <mark title="placeName" instant="false" full="yes"><span style="position: relative;"><span class="lem">Clain</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content"> <span class="coll-source"> [Vat966]</span></span></span></sup></span></mark> prochaine et de <mark title="placeName" instant="false" full="yes">Poictiers</mark></span>
   <span class="verse v3104">Cinq lieues distant marcha tres voluntiers</span>
   <span class="verse v3105"><span class="verse-number">3105</span>Tout droit à eulx. Lors ceste  truendaille</span>
   <span class="verse v3106">Sans tenir forme et ordre de bataille</span>
   <span class="verse v3107">Comme pourceaux pleins de <span style="position: relative;">raige</span> et fureur</span>
   <span class="verse v3108">Donnerent choc de farouche terreur</span>
   <span class="verse v3109">Et au donner y eut peine terrible</span>
   <span class="verse v3110"><span class="verse-number">3110</span>De soustenir <span style="position: relative;"><span class="lem"><span class="choice"><span title="Abbrégé en poīcte"><mark title="abbréviation">poincte</mark></span></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">peine<span class="coll-source"> [Vat966]</span></span></span></sup></span> si tres horrible</span>
   <span class="verse v3111">Mais leur fureur aprés <span style="position: relative;">peine<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">peu<span class="coll-source"> [BnFfr17274, BnFfr23145, Vat966, BnFfr4967, Cha514]</span> ; peu<s>d</s><span class="coll-source"> [Aix419]</span></span></span></sup></span> endurer</span>
   <span class="verse v3112">Contre <mark title="orgName" instant="false" full="yes">Françoys</mark> ne sceut longtemps durer</span>
   <span class="verse v3113">Car là <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">le<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> force y trouverent si fiere</span>
   
   
   <hr data-img-id="f161">
   
   <span class="curr-title fw-bold"><mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> occit
      <mark class="persName">Alaire<span class="persName-info fw-normal on-left"><b>Alaric II</b> (458 — 01/08/507)<span class="hr-short">&nbsp;</span>Roi des Wisigoths de 484 à 507</span></mark> en
      bataille puys mist <mark class="persName">Thierry<span class="persName-info fw-normal on-left"><b>Thierry Ier</b> (485 — 534)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (511-534)<br/></span></mark> sur champs</span>
   <span class="verse v3114">Qu’il ne leur  chault en quel lieu on se fiere</span>
   <span class="verse v3115"><span class="verse-number">3115</span><mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> voyant <mark class="persName">Allaire<span class="persName-info fw-normal on-right"><b>Alaric II</b> (458 — 01/08/507)<span class="hr-short">&nbsp;</span>Roi des Wisigoths de 484 à 507</span></mark> au plus espois</span>
   <span class="verse v3116">Des siens souldardz le chargea d’un tel boys</span>
   <span class="verse v3117">Que de la charge il le gecta par terre</span>
   <span class="verse v3118">Non sans peril pour <mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>,
      car grand erre</span>
   <span class="verse v3119">Vindrent <span class="num">deux</span>
      <mark title="orgName" instant="false" full="yes">Gotz</mark>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content"><s>le</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> fierement le chocquer</span>
   <span class="verse v3120"><span class="verse-number">3120</span>Le cuydans veoir des arçons desrocquer.</span>
   <span class="verse v3121">Mais <span style="position: relative;"><span class="lem">se portant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">pourtant<span class="coll-source"> [BnFfr4967]</span></span><span class="collation-content">ce pourtant<span class="coll-source"> [Vat966]</span></span></span></sup></span> en sorte d’homme adestre</span>
   <span class="verse v3122"><span style="position: relative;"><span class="lem">Oncq</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">On<span class="coll-source"> [BnFfr4967, Vat966]</span></span></span></sup></span> ne branla
      et, de sa propre dextre,</span>
   <span class="verse v3123">Coups leur donna si pesans et massifz</span>
   <span class="verse v3124"><span style="position: relative;">Qu’il</span> les rendit <span style="position: relative;"></span>comme leur roy<span style="position: relative;"></span> occiz.</span>
   <span class="verse v3125"><span class="verse-number">3125</span>Par ainsi fut vie à celluy finye</span>
   <span class="verse v3126">Aprés regner <span class="date" dur="P12Y" instant="false">douze</span> ans en tyrannie.</span>
   <span class="verse v3127">Voyans les <mark title="orgName" instant="false" full="yes">Gotz</mark>
      <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">se<span class="coll-source"> [Aix419]</span></span></span></sup></span> malheureux meschef</span>
   <span class="verse v3128">Tumber sur eulx, ayans perdu leur chief,</span>
   <span class="verse v3129">Oncques depuys ung seul coup ne donnerent</span>
   <span class="verse v3130"><span class="verse-number">3130</span>Mais laschement fuyans le doz tournerent.</span>
   <span class="verse v3131"><mark title="piedMouche">§</mark><mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>, aprés ceste victoyre, alla</span>
   <span class="verse v3132">Jusqu’à <mark title="placeName" instant="false" full="yes">Bordeaulx</mark> et
      passa l’yver <span style="position: relative;">là</span>.</span>
   <span class="verse v3133">Son filz <mark class="persName">Thierry<span class="persName-info fw-normal on-right"><b>Thierry Ier</b> (485 — 534)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (511-534)<br/></span></mark> fist lors
      sur les champs mectre</span>
   <span class="verse v3134">Avecq armee où se sceut entremectre</span>
   <span class="verse v3135"><span class="verse-number">3135</span>De telle poincte et <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span> si ferme estoc</span>
   <span class="verse v3136">Que les paÿs de <mark title="placeName" instant="false" full="yes">Rodais</mark>,
      <mark title="placeName" instant="false" full="yes">Languedoc</mark>,</span>
   <span class="verse v3137"><mark title="placeName" instant="false" full="yes">Narbonne</mark>,
      <mark title="placeName" instant="false" full="yes">Auvergne</mark>,
      <span style="position: relative;"><span class="lem">il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">et<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> fist ,par bien conduyre</span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v3138">Et saigement son cas, le tout reduyre</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>
   
   
   <hr data-img-id="f162">
   
   <span class="curr-title fw-bold">Concquestes de <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>
      à <mark title="placeName" instant="false" full="yes">Tholose</mark> sur les
      <mark title="orgName" instant="false" full="yes">Gotz</mark></span>
   <span class="verse v3139">Es mains <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">de<span class="coll-source"> [Aix419]</span></span></span></sup></span> roy son pere en peu de temps</span>
   <span class="verse v3140"><span class="verse-number">3140</span>Dont il rendit gens d’armes fort contentz</span>
   <span class="verse v3141">Veu que <span style="position: relative;"><span class="lem">prouësse et prudence</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content">prudence et prouesse<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> en son eaige</span>
   <span class="verse v3142">Font <span style="position: relative;"><span class="lem">l’extimer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">extimer<span class="coll-source"> [BnFfr23145, Aix419]</span></span></span></sup></span> estre bien personnaige</span>
   <span class="verse v3143">Pour augmenter le bon loz et credit</span>
   <span class="verse v3144">De son  renom. Et dès lors il fut dit</span>
   <span class="verse v3145"><span class="verse-number">3145</span>Que sa conqueste et victoire prospere</span>
   <span class="verse v3146">Estoit  esgale à celle de son pere.</span>
   <span class="verse v3147"><mark title="piedMouche">§</mark>L’yver passé et le
      primtemps venu,</span>
   <span class="verse v3148">Le roy dedans <mark title="placeName" instant="false" full="yes">Tholouze</mark> pervenu,</span>
   <span class="verse v3149">Les grandz tresors du roy des <mark title="orgName" instant="false" full="yes">Gotz</mark>
      <mark class="persName">Allaire<span class="persName-info fw-normal on-right"><b>Alaric II</b> (458 — 01/08/507)<span class="hr-short">&nbsp;</span>Roi des Wisigoths de 484 à 507</span></mark></span>
   <span class="verse v3150"><span class="verse-number">3150</span>Trouva <span style="position: relative;"><span class="lem">et prist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">en point<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span>. Puys de couraige hilaire</span>
   <span class="verse v3151">Cueur magnanime, honneste et liberal</span>
   <span class="verse v3152">Les departit à tous en general</span>
   <span class="verse v3153">Villes,
       chasteaux et places contenues</span>
   <span class="verse v3154">Ou dit paÿs et par les <mark title="orgName" instant="false" full="yes">Gotz</mark>
      tenues,</span>
   <span class="verse v3155"><span class="verse-number">3155</span>Fist assieger. Les unes prist d’assault</span>
   <span class="verse v3156">Et la pluspart emporta de plain sault.</span>
   <span class="verse v3157">Devant <mark title="placeName" instant="false" full="yes">Damon</mark>, ville forte peuplee</span>
   <span class="verse v3158">Et de tous biens à largesse comblee,</span>
   <span class="verse v3159">Le siege mist où ung cas <span style="position: relative;"><span class="lem">luy advint</span></span></span>
   <span class="verse v3160"><span class="verse-number">3160</span>Bien  merveilleux.
      Car si tost que là vint,</span>
   <span class="verse v3161">Soudain les murs de la ville tumberent,</span>
   <span class="verse v3162">Par quoy ses gens aysement l’occupperent.</span>
   <span class="verse v3163">Ce fut miracle et signe qu’il estoit</span>
   
   
   <hr data-img-id="f163">
   
   <span class="curr-title fw-bold">L’empereur <mark class="persName">Anastase<span class="persName-info fw-normal on-left"><b>Anastase Ier</b> (430 — 09/07/518)<span class="hr-short">&nbsp;</span>Empereur byzantin de 491 à 518</span></mark>
      envoye vers le roy <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark></span>
   <span class="verse v3164">Amy de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>. Par quoy <span style="position: relative;">l’admonnestoit</span></span>
   <span class="verse v3165"><span class="verse-number">3165</span>Faire extirper ceste vilaine secte</span>
   <span class="verse v3166">Sans vouloir que ung tout seul des <mark title="orgName" instant="false" full="yes">Gotz</mark>
      excepte</span>
   <span class="verse v3167">Et non <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">fait<span class="coll-source"> [Aix419]</span></span></span></sup></span> il nul <span style="position: relative;"><span class="lem">eschappa</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">n’eschappa<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">du<span class="coll-source"> [Vat966]</span></span></span></sup></span> fait</span>
   <span class="verse v3168">Que tout ne feust <span style="position: relative;">mys à sac<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content">à sac mis<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span> ; <s>mis</s> à sac mis<span class="coll-source"> [BnFfr17274]</span> ; à sac mys<span class="coll-source"> [Cha514]</span></span></span></sup></span> et deffait</span>
   <span class="verse v3169">Eulx <span style="position: relative;"><span class="lem">terminez</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">exterminez<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> et <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content">leurs<span class="coll-source"> [Aix419]</span></span></span></sup></span> garnisons mises</span>
   <span class="verse v3170"><span class="verse-number">3170</span>Ordre donnee en ses charges commises</span>
   <span class="verse v3171">Et bien pourveu au cas tira vers <mark title="placeName" instant="false" full="yes">Tours</mark></span>
   <span class="verse v3172">Où il trouva en triumphans attours</span>
   <span class="verse v3173">Ambassadeurs <span style="position: relative;">par</span> l’empereur de <mark title="placeName" instant="false" full="yes">Romme</mark></span>
   <span class="verse v3174">Dit <mark class="persName"><span style="position: relative;"><span class="lem">Anastase</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">Anastasia<span class="coll-source"> [Aix419]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Anastase Ier</b> (430 — 09/07/518)<span class="hr-short">&nbsp;</span>Empereur byzantin de 491 à 518</span></mark>, humain et non fier homme</span>
   <span class="verse v3175"><span class="verse-number">3175</span>D’acoustremens, de bagues et joyaux</span>
   <span class="verse v3176">Firent presentz fort riches et moult beaulx</span>
   <span class="verse v3177">Luy <span style="position: relative;">font</span> aussi offre par belle lectre</span>
   <span class="verse v3178"><span style="position: relative;"><span class="lem">De</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">Du<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> senateur rommain s’il luy plaist l’estre.</span>
   <span class="verse v3179">Remerciant l’empereur.Aussi eulx</span>
   <span class="verse v3180"><span class="verse-number">3180</span>Leur fait recueil comme fort soucïeux</span>
   <span class="verse v3181">Les bien traicter et faire bonne chere</span>
   <span class="verse v3182">Disant qu’il tient à chose digne et chiere</span>
   <span class="verse v3183">Dont leur maistre a consideratïon</span>
   <span class="verse v3184"><span style="position: relative;">Avoir</span> à luy confederatïon</span>
   <span class="verse v3185"><span class="verse-number">3185</span>Et amytié quant de luy se soucye</span>
   <span class="verse v3186">Si que au conseil du senat l’assocye</span>
   <span class="verse v3187">Et pour monstrer qu’en ce  prenoit plaisir</span>
   <span class="verse v3188">Sans sejourner ne <span class="choice"><span title="Abbrégé en actēdre"><mark title="abbréviation">actendre</mark></span></span> autre loysir</span>
   
   
   <hr data-img-id="f164">
   
   <span class="curr-title fw-bold">De la liberalité de <mark class="persName">Clovys<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> appellé senateur <mark title="orgName" instant="false" full="yes">rommain</mark></span>
   <span class="verse v3189">Voulut vestir l’habit <span style="position: relative;"><span class="lem">dès</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">de<span class="coll-source"> [Cha514]</span></span></span></sup></span> ce jour propre</span>
   <span class="verse v3190"><span class="verse-number">3190</span>De senateur qui estoit <span style="position: relative;"><span class="lem">de fin</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content">fin de<span class="coll-source"> [BnFfr23145, BnFfr5299]</span></span></span></sup></span> pourpre</span>
   <span class="verse v3191">Sur ung coursier <span style="position: relative;">monté</span> fut excité</span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v3192">En tel habit aller <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58"><span class="collation-content">pour<span class="coll-source"> [Vat966]</span></span></span></sup></span> la cité</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>
   <span class="verse v3193">Et cela sceu, peuple sortit en place</span>
   <span class="verse v3194"><span style="position: relative;">Vers</span>
      <span style="position: relative;"><span class="lem">certain</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">certains<span class="coll-source"> [Aix419]</span></span></span></sup></span> lieu spacieux et ample à ce</span>
   <span class="verse v3195"><span class="verse-number">3195</span>Tout <span style="position: relative;">droit</span> devant l’eglise <mark title="placeName" instant="false" full="yes">Sainct Martin</mark></span>
   <span class="verse v3196">L’actendant veoir passer 
      <span style="position: relative;"><span class="lem">dès le matin</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63"><span class="collation-content">de <span class="coll-source"> [Vat966]</span></span></span></sup></span>.</span>
   <span class="verse v3197">Là arrivé, voyant ce peuple en tourbe</span>
   <span class="verse v3198">Qui pour le veoir tant se amuse et destourbe</span>
   <span class="verse v3199">Bourse deslie et gecte parmy
      eulx</span>
   <span class="verse v3200"><span class="verse-number">3200</span>Or à planté. Et lors à qui mieulx mieulx</span>
   <span class="verse v3201"> Pour <span style="position: relative;"><span class="lem">l’or</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65"><span class="collation-content">lors<span class="coll-source"> [Aix419]</span></span></span></sup></span> cueillir chascun fist joye et feste</span>
   <span class="verse v3202">Et vont criant à belle plaine teste&nbsp;:</span>
   <span class="verse v3203">
      <span style="position: relative;"><span class="lem">
            <span title="Discours direct">«&nbsp;Vive le
               roy et senateur <mark title="orgName" instant="false" full="yes">rommain</mark>&nbsp;»</span>
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span>
      </span>
   <span class="verse v3204">
      <span style="position: relative;"><span class="lem">
            <span title="Discours direct">«&nbsp;Qui à son peuple ainsi extend la
               main&nbsp;!&nbsp;»</span>
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span>
      </span>
   <span class="verse v3205"><span class="verse-number">3205</span>
      <span title="Discours direct">«&nbsp;Vive le roy <mark class="persName">Clovys<span class="persName-info fw-normal on-right"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark> tres magnanime&nbsp;»</span>
      </span>
   <span class="verse v3206">
      <span title="Discours direct">«&nbsp;Qui à l’aymer
         <span style="position: relative;"><span class="lem">son peuple ainsi</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">ainsy son peuple<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> anime&nbsp;!&nbsp;»</span>
      </span>
   <span class="verse v3207"><mark title="piedMouche">§</mark>Aprés cela
      le roy, en regardant</span>
   <span class="verse v3208">Devers l’eglise,
      il se alla recordant</span>
   <span class="verse v3209">Du sien cheval de monstre et belle taille</span>
   <span class="verse v3210"><span class="verse-number">3210</span>Dont voluntiers il usoit en bataille</span>
   <span class="verse v3211">Que avoit voüé, promys et desdïé</span>
   <span class="verse v3212">À <mark title="placeName" instant="false" full="yes">Sainct Martin</mark> pour estre expedïé</span>
   <span class="verse v3213">De ce veu fait tout <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69"><span class="collation-content">à<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span> l’heure presente</span>
   
   
   <hr data-img-id="f165">
   
   <span class="curr-title fw-bold">Du cheval que <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis Ier</b> (466 — 29/11/511)<span class="hr-100">&nbsp;</span>Roi des Francs (481-511)<br/></span></mark>
      avoit offert à sainct <mark class="persName">Martin<span class="persName-info fw-normal on-left"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> de <mark title="placeName" instant="false" full="yes">Tours</mark></span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v3214">Ledit cheval à sainct <mark class="persName">Martin<span class="persName-info fw-normal on-right"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> presente</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70"><span class="collation-content"><i>om.</i><span class="coll-source"> [Vat966]</span></span></span></sup></span>
   <span class="verse v3215"><span class="verse-number">3215</span>Et pretendant d’argent le racheter</span>
   <span class="verse v3216">Au benoist sainct <span style="position: relative;"><span class="lem">supplia</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content">supplie<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> d’accepter</span>
   <span class="verse v3217">L’oblatïon qu’il <span style="position: relative;"><span class="lem">mist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown72" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown72"><span class="collation-content">mect<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> devant sa chasse.</span>
   <span class="verse v3218">Mais pour tirer ne qu’on le <span style="position: relative;"><span class="lem">pousse</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73"><span class="collation-content">touche<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span></span></sup></span> et chasse</span>
   <span class="verse v3219">De;là ne fut possible le mouvoir</span>
   <span class="verse v3220"><span class="verse-number">3220</span>Adoncq pour faire acquict d’ample debvoir</span>
   <span class="verse v3221"><span class="num">Cent</span> escuz d’or avecq l’autre
      pecune</span>
   <span class="verse v3222">Fist adjouxter
      et sans contraincte aucune</span>
   <span class="verse v3223">Fut <span style="position: relative;"><span class="lem">ramené</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75"><span class="collation-content">ravie<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span>. Lors le roy fort friant</span>
   <span class="verse v3224">De <span style="position: relative;">remonster</span> sur luy
      <span style="position: relative;"><span class="lem">dist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77"><span class="collation-content">dict<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> en riant</span>
   <span class="verse v3225"><span class="verse-number">3225</span>Ung mot que n’ay <span style="position: relative;"><span class="lem">voulu icy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown78" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown78"><span class="collation-content">icy voullu<span class="coll-source"> [BnFfr23145]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> obmectre</span>
   <span class="verse v3226">Car c’est parolle assez digne de mectre&nbsp;:</span>
   <span class="verse v3227">
      <span title="Discours direct">«&nbsp;
         <mark class="persName">Martin<span class="persName-info fw-normal on-right"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> est prompt <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown79" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown79"><span class="collation-content">aux<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> secours. Mais de pris&nbsp;»</span>
      </span>
   <span class="verse v3228">
      <span title="Discours direct">«&nbsp;Se monstre
         cher, comme j’ay <span style="position: relative;"><span class="lem">cy</span></span> appris.&nbsp;»</span>
      </span>
   <span class="verse v3229">Pour ce n’a il la grace mesprisee&nbsp;;</span>
   <span class="verse v3230"><span class="verse-number">3230</span>C’est seullement <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown81" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown81"><span class="collation-content"><i>om.</i><span class="coll-source"> [Vat966]</span></span></span></sup></span> forme de risee.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3092);">v. 3092</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>le</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3092);">v. 3092</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>par</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3093);">v. 3093</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, Vat966 </span>envoya</span> ; <span><span class="coll-source">BnFfr17274 </span>
            <span class="choice">envoya</span>
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr5299 </span>envoyera</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, Vat966 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre. xviiie.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3095);">v. 3095</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3095);">v. 3095</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>aprés</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3098);">v. 3098</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Faict</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3101);">v. 3101</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967 </span>aux champs</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3102);">v. 3102</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Vaucledin</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3103);">v. 3103</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span> </span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3110);">v. 3110</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>peine</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3111);">v. 3111</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Vat966, BnFfr4967, Cha514 </span>peu</span> ; <span><span class="coll-source">Aix419 </span>peu<s>d</s></span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3113);">v. 3113</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>le</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3119);">v. 3119</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>le</s></span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3121);">v. 3121</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>pourtant</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>ce pourtant</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3122);">v. 3122</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967, Vat966 </span>On</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3127);">v. 3127</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>se</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3135);">v. 3135</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3137);">v. 3137</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>et</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3139);">v. 3139</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>de</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3141);">v. 3141</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>prudence et prouesse</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3142);">v. 3142</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419 </span>extimer</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3150);">v. 3150</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>en point</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3167);">v. 3167</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>fait</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3167);">v. 3167</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>n’eschappa</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3167);">v. 3167</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>du</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3168);">v. 3168</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>à sac mis</span> ; <span><span class="coll-source">BnFfr17274 </span><s>mis</s> à sac mis</span> ; <span><span class="coll-source">Cha514 </span>à sac mys</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3169);">v. 3169</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>exterminez</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3169);">v. 3169</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3174);">v. 3174</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Anastasia</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3178);">v. 3178</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Du</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3189);">v. 3189</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>de</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3190);">v. 3190</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr5299 </span>fin de</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3192);">v. 3192</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>pour</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3194);">v. 3194</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>certains</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3196);">v. 3196</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>de </span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3201);">v. 3201</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>lors</span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3203);">v. 3203</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3204);">v. 3204</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3206);">v. 3206</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ainsy son peuple</span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3213);">v. 3213</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>à</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3216);">v. 3216</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>supplie</span></div>
      </div>
   <div class="collation row" id="coll72">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3217);">v. 3217</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>mect</span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3218);">v. 3218</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>touche</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3223);">v. 3223</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>ravie</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3224);">v. 3224</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>dict</span></div>
      </div>
   <div class="collation row" id="coll78">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3225);">v. 3225</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>icy voullu</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll79">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3227);">v. 3227</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>aux</span></div>
      </div>
   <div class="collation row" id="coll81">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3230);">v. 3230</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><i>om.</i></span></div>
      </div>
</div>
{% endmacro %}
