
{% macro chapterTitle() %}Chapitre 25{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('26_chap_24')"><i class="fa-solid fa-arrow-left"></i> Chapitre 24</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('28_chap_26')">Chapitre 26 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f219/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f219/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f219" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f220/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f220/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f220" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f221/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f221/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f221" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f222/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f222/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f222" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f223/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f223/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f223" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f219">
   
   <p title="Numéro de folio" class="text-end"><i>97r</i></p>
   <span class="d-block fw-bold mb-3">Theodebert et ſon
      oncle Childebert font guerre a
      Clotaire.</span>
   
   <blockquote class="ms-2">
      
      <span class="verse v4503"><mark title="piedMouche">§</mark>Senſuyt comment 
         <span class="lem"></span>
         
         
         Clotilde fiſt priere</span>
      <span class="verse v4504">Deuotement a ſainct martin de <mark title="placeName" instant="false" full="yes">tours</mark></span>
      <span class="verse v4505"><span class="verse-number">4505</span>Pour ſes enfans / mectans par faulx
         deſtours</span>
      <span class="verse v4506">Guerre en auant / et concorde en
         arriere.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem"> Chapitre.
         <mark title="piedMouche">§</mark>&nbsp; <span class="num" type="ordinal" value="25"> xxu<sup>e</sup>
            </span>.</span>
      
      
      
      </blockquote>
   
   <span class="verse v4507">Loncle et nepueu 
      <span class="lem"></span>
      
      dhoſtilles appareilz,</span>
   <span class="verse v4508"><span class="choice"><span title="Abbréviation pour Communs"><mark title="abbréviation">Cōmuns</mark></span></span> en foy / et de foꝛce pareilz,</span>
   <span class="verse v4509">Foꝛt equippez /
      
      <span class="lem"></span>
      
      menacerent Clotaire</span>
   <span class="verse v4510"><span class="verse-number">4510</span>Par gꝛand 
      <span class="lem">furie</span>
      
       / et felonnie auſtere.</span>
   <span class="verse v4511">Luy dautre part congnoiſſant leur vouloir</span>
   <span class="verse v4512">Neut en ce cas pareſſeux nonchalloir,</span>
   <span class="verse v4513">Mais renfoꝛca tellement ſon armee</span>
   <span class="verse v4514">Quil tint contre eulx oppinion 
      <span class="lem">fermee</span>
      
      </span>
   <span class="verse v4515"><span class="verse-number">4515</span>Bien reſiſter a la contention</span>
   <span class="verse v4516">De leur peruerſe et laſche intention.</span>
   <span class="verse v4517">Se lun fut chault /. lautre eut 
      <span class="lem">bꝛuſlant</span>
      
       couraige</span>
   <span class="verse v4518">
      <span class="lem">Se</span>
      
       lun ſeſmeut / lautre ſenfla de raige</span>
   <span class="verse v4519">Se lun 
      <span class="lem">mect</span>
      
       ſus gens darmes couraigeux,</span>
   <span class="verse v4520"><span class="verse-number">4520</span>Lautre ne quiſt ſouldardz 
      <span class="lem">moins</span>
      
       oultraigeux.</span>
   <span class="verse v4521">Et par ainſi lun 
      <span class="lem">a</span>
      
       lautre appareille</span>
   <span class="verse v4522">
      <span class="lem">Sert<s>e</s></span>
      
      
      
       de metz eſgal / pour la pareille /.</span>
   <span class="verse v4523">Oꝛ au plus toſt que Clotilde entendit</span>
   <span class="verse v4524">Ceſte nouuelle /. une heure nactendit</span>
   
   
   <hr data-img-id="f220">
   
   <p title="Numéro de folio" class="text-end"><i>97v</i></p>
   <span class="d-block fw-bold mb-3">Clotilde prie ſainct
      martin pour ſes enfans.</span>
   <span class="verse v4525"><span class="verse-number">4525</span>Dedans <mark title="placeName" instant="false" full="yes">paris</mark> /. mais de feruent
      couraige</span>
   <span class="verse v4526">A
      <mark title="placeName" instant="false" full="yes">tours</mark> courut /
      
      <span class="lem"></span>
      
      
      
      <span class="lem">imploꝛer</span>
      
       le 
      <span class="lem">ſuffraige</span>
      
      </span>
   <span class="verse v4527">De ſainct martin gloꝛieux confeſſeur</span>
   <span class="verse v4528">Penſant au ſien merite / quon fait ſeur</span>
   <span class="verse v4529">Peril doubteux /
      genoulx flechiz / mains ioinctes,</span>
   <span class="verse v4530"><span class="verse-number">4530</span>Les yeulx au ciel diſtillans larmes maintes</span>
   <span class="verse v4531">Et cueur plonge 
      <span class="lem">au</span>
      
       gꝛand lac de ſoucy,</span>
   <span class="verse v4532">Fit ſa pꝛiere en ceſte ſoꝛte icy&nbsp;:</span>
   <span class="verse v4533">
      <mark title="piedMouche">§</mark>
      <span title="Discours direct">Amy de Dieu.
         Ie te ſupply, regarde</span>
      </span>
   <span class="verse v4534">
      <span title="Discours direct">Celle qui ſoubz la tienne
         ſauuegarde</span>
      </span>
   <span class="verse v4535"><span class="verse-number">4535</span>
      <span title="Discours direct">A touſiours 
         <span class="lem">quis</span>
         
          ſecours / ayde et ſuppoꝛt.</span>
      </span>
   <span class="verse v4536">
      <span title="Discours direct">Helas, ſeigneur /. oꝛ 
         <span class="lem">me</span>
         
          voy ie ſur poꝛt</span>
      </span>
   <span class="verse v4537">
      <span title="Discours direct">Daffliction / pꝛeſte dentrer au haure</span>
      </span>
   <span class="verse v4538">
      <span title="Discours direct">Tresangoiſſeux / qui cueurs 
         <span class="lem">contriſtez naure</span>
         
         
         .</span>
      </span>
   <span class="verse v4539">
      <span title="Discours direct">Ie veoy ceulx la que en mes
         flans ay poꝛtez</span>
      </span>
   <span class="verse v4540"><span class="verse-number">4540</span>
      <span title="Discours direct">Lun contre lautre oultre
         loy tranſpoꝛtez</span>
      </span>
   <span class="verse v4541">
      <span title="Discours direct">De fraternelle amoureuſe
         nature.</span>
      </span>
   <span class="verse v4542">
      <span title="Discours direct">Sang contre ſang ſi foꝛt
         ſe deſnature</span>
      </span>
   <span class="verse v4543">
      <span title="Discours direct">Que lun vouldꝛoit lautre
         a dur ply renger</span>
      </span>
   <span class="verse v4544">
      <span title="Discours direct">Pire que nul ennemy
         eſtranger</span>
      </span>
   <span class="verse v4545"><span class="verse-number">4545</span>
      <span title="Discours direct">Ie foꝛtunee afflicte et
         triſte mere</span>
      </span>
   <span class="verse v4546">
      <span title="Discours direct">Veoy auiourdvy loꝛde et
         vile chimere</span>
      </span>
   <span class="verse v4547">
      <span title="Discours direct">Guerre ſur 
         <span class="lem">piedz</span>
         
          / pour rendꝛe ceulx deffaitz</span>
      </span>
   <span class="verse v4548">
      <span title="Discours direct">Que ay enfantez /. Oꝛ ſcay ie quilz ont faictz</span>
      </span>
   <span class="verse v4549">
      <span title="Discours direct">Pluſieurs gꝛandz maulx /. Par quoy dieu veult permectre</span>
      </span>
   
   
   <hr data-img-id="f221">
   
   <p title="Numéro de folio" class="text-end"><i>98r</i></p>
   <span class="d-block fw-bold mb-3">Oraiſon de Clotilde
      pour mectre paix entre ſes enfans.</span>
   <span class="verse v4550"><span class="verse-number">4550</span>
      <span title="Discours direct">Moꝛtelle playe a
         eulx / celle part mectre.</span>
      </span>
   <span class="verse v4551">
      <span title="Discours direct">Las, chier ſeigneur / te plaiſe interceder</span>
      </span>
   <span class="verse v4552">
      <span title="Discours direct">Pour moy /
         vers luy / que ſans plus pꝛoceder</span>
      </span>
   <span class="verse v4553">
      <span title="Discours direct">Lun contre lautre 
         <span class="lem">a</span>
         
         
          ſi 
         <span class="lem"></span>
         
          cruelz oultraiges,</span>
      </span>
   <span class="verse v4554">
      <span title="Discours direct">Son plaiſir ſoit amollir
         leurs couraiges</span>
      </span>
   <span class="verse v4555"><span class="verse-number">4555</span>
      <span title="Discours direct">Et demonſtrer par ſignes
         euidentz</span>
      </span>
   <span class="verse v4556">
      <span title="Discours direct">Que pour leur cr<span title="substitution"><span class="align-top" title="Ajout">ime</span><s class="align-bottom" title="Suppression"><s></s></s></span> ont ces lourdz accidentz.</span>
      </span>
   <span class="verse v4557">
      <span title="Discours direct">Luy plaiſe auſſi, a ta pꝛiere / duyꝛe</span>
      </span>
   <span class="verse v4558">
      <span title="Discours direct">Hayne en amour
         /. et ſi bien les reduyꝛe</span>
      </span>
   <span class="verse v4559">
      <span title="Discours direct">A bonne paix de conioincte
         unite</span>
      </span>
   <span class="verse v4560"><span class="verse-number">4560</span>
      <span title="Discours direct">Que deſoꝛmais la leur
         fraternite</span>
      </span>
   <span class="verse v4561">
      <span title="Discours direct">Ne ſoit par dol 
         <span class="lem">enuieux</span>
         
         
         
          ſeparee</span>
      </span>
   <span class="verse v4562">
      <span title="Discours direct">Mais damytie loyalle ſoit paree.</span>
      </span>
   <span class="verse v4563"><mark title="piedMouche">§</mark>Croyꝛe 
      <span class="lem"></span>
      
      debuons que la ſienne oꝛaiſon</span>
   <span class="verse v4564">Fut exaulcee /. et a bonne raiſon,</span>
   <span class="verse v4565"><span class="verse-number">4565</span>Quant Dieu monſtra telz ſignes
      et miracles</span>
   <span class="verse v4566">Sur pauillons / tentes / et 
      <span class="lem"></span>
      
      tabernacles</span>
   <span class="verse v4567">Ceſt aſſauoir en loſt de Childebert</span>
   <span class="verse v4568">
      
      <span class="lem">Et du nepueu auſſi</span>
      
      
      
      <span class="lem"></span>
      
      
      Theodebert
      </span>
   <span class="verse v4569">Car tout ſoudain en icelle iournee</span>
   <span class="verse v4570"><span class="verse-number">4570</span>Que ia eſtoit la bataille oꝛdonnee,</span>
   <span class="verse v4571">Quoyque le temps feuſt 
      <span class="lem"></span>
      
       coy / paiſible et cler,</span>
   <span class="verse v4572">Fouldꝛe du ciel / tonnerre et foꝛt eſcler</span>
   <span class="verse v4573">Si aſpꝛement tumberent et tonnerrent</span>
   <span class="verse v4574">Que les cheuaulx et gentz foꝛt eſtonnerent</span>
   
   
   <hr data-img-id="f222">
   
   <p title="Numéro de folio" class="text-end"><i>98v</i></p>
   <span class="d-block fw-bold mb-3">Miracle en loſt des deux roys Childebert et Theodebert.</span>
   <span class="verse v4575"><span class="verse-number">4575</span>En laer y eut gꝛandz 
      <span class="lem">alterations</span>
      
      </span>
   <span class="verse v4576">Car eolus / les 
      <span class="lem"></span>
      
       choꝛuſcations</span>
   <span class="verse v4577">De Aquarius ſoufloit a la
      trauerſe</span>
   <span class="verse v4578">Que oncques ne fut tempeſte 
      <span class="lem">plus</span>
      
      
       diuerſe.</span>
   <span class="verse v4579">Gꝛeſle a monceaulx foꝛte et dure ſingloit</span>
   <span class="verse v4580"><span class="verse-number">4580</span>Qui tellement 
      <span class="lem"></span>
      
       gensdarmes aueugloit</span>
   <span class="verse v4581">Que pluſieurs deulx / (comme 
      <span class="lem">paour</span>
      
      
       gentz atterre,</span>
   <span class="verse v4582">Furent contrainctz mectre le nez a terre.</span>
   <span class="verse v4583">Harnois rompuz / cheuaulx effarouchez</span>
   <span class="verse v4584">Donnerent loꝛs telle frayeur aux chiefz</span>
   <span class="verse v4585"><span class="verse-number">4585</span>Que 
      <span class="lem"></span>
      
       leurs ſubiectz voyans feu du 
      <span class="lem"></span>
      
       ciel fondꝛe</span>
   <span class="verse v4586">Cuyderent tous abiſmer et confondꝛe.</span>
   <span class="verse v4587">Ce fut gꝛand cas /.
      
      <span class="lem">Car</span>
      
       ſur les oſtz des deux</span>
   <span class="verse v4588">Oncle et nepueu / fiſt temps ſi tres hideux,</span>
   <span class="verse v4589">Trouble et obſcur / que a peine on 
      <span class="lem"></span>
      
       voyoit goutte</span>
   <span class="verse v4590"><span class="verse-number">4590</span>Et ſur celluy de Clotaire / oncques goutte</span>
   <span class="verse v4591">
      <span class="lem"></span>
      
      Nen degoutta /. Cela rendit 
      <span class="lem"></span>
      
       paoureux</span>
   <span class="verse v4592">Iceulx penſans dieu neſtre pas pour eulx</span>
   <span class="verse v4593">Et veyꝛent bien 
      <span class="lem">en</span>
      
       la ſignifiance</span>
   <span class="verse v4594">Que a leur gꝛand toꝛt fut ceſte deffiance,</span>
   <span class="verse v4595"><span class="verse-number">4595</span>Par quoy ſans plus autre terme querir</span>
   <span class="verse v4596">Pꝛindꝛent aduis la paix loꝛs requerir.</span>
   <span class="verse v4597">A ces moyens vers Clotaire enuoyerent</span>
   <span class="verse v4598">
      <span class="lem">Ambaſſadeurs</span>
      
       / qui ne ſe foꝛuoyerent,</span>
   <span class="verse v4599">Car tout ainſi quilz ſceurent recoꝛder</span>
   
   
   <hr data-img-id="f223">
   
   <p title="Numéro de folio" class="text-end"><i>99r</i></p>
   <span class="d-block fw-bold mb-3">Paix entre Theodebert /
      Childebert et Clotaire.</span>
   <span class="verse v4600"><span class="verse-number">4600</span>Par leur demande / il voulut accoꝛder</span>
   <span class="verse v4601">En lieu 
      <span class="lem">de</span>
      
       hayne et 
      <span class="lem"></span>
      
      fiere violance</span>
   <span class="verse v4602">Signe monſtra dhumble begniuolance,</span>
   <span class="verse v4603">Ce doibt on croyꝛe, 
      <span class="lem">a</span>
      
       la petition,</span>
   <span class="verse v4604">Saincte pꝛiere et interceſſion</span>
   <span class="verse v4605"><span class="verse-number">4605</span>De ceſte bonne et catholicque dame</span>
   <span class="verse v4606">Auoir eſte /. Par une 
      <span class="lem"></span>
      
      deuote ame</span>
   <span class="verse v4607">Souuenteſfois Dieu amoliſt les
      cueurs</span>
   <span class="verse v4608">Et en doulceur mue toutes rigueurs.</span>
   <span class="verse v4609">Doncques / apꝛes ceſte guerre odieuſe</span>
   <span class="verse v4610"><span class="verse-number">4610</span>Paix leur 
      <span class="lem">donna</span>
      
       chanſon melodieuſe ;</span>
   <span class="verse v4611">Apꝛes debat de fiere auſterite</span>
   <span class="verse v4612">Amour 
      <span class="lem">entra</span>
      
       en plaine auctoꝛite ;</span>
   <span class="verse v4613">Vraye union chaſſa toute rancune</span>
   <span class="verse v4614">Et ſen alla chaſcun 
      <span class="lem"></span>
      
       en ſa chaſcune.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f219">
   
   <span class="curr-title fw-bold"><mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert Ier</b> (entre 496 et 505 — 548)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (534-548)<br/></span></mark> et son
      oncle <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert Ier</b> (01/01/497 — entre 13/12/558 et 25/12/558)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/></span></mark> font guerre à
      <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v4503"><mark title="piedMouche">§</mark>S’ensuyt comment <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content"><s>feist priere</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
         <mark class="persName">Clotilde<span class="persName-info fw-normal on-right"><b>Clotilde</b> (entre 474 et 475 — 03/06/545)<span class="hr-100">&nbsp;</span>Princesse burgonde (474-493)<br/>Reine des Francs (493-511)<br/></span></mark> fist prïere</span>
      <span class="verse v4504">Devotement à sainct <mark class="persName">Martin<span class="persName-info fw-normal on-right"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> de <mark title="placeName" instant="false" full="yes">Tours</mark></span>
      <span class="verse v4505"><span class="verse-number">4505</span>Pour ses enfans mectans par faulx
         destours</span>
      <span class="verse v4506">Guerre en avant et concorde en
         arriere.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem"> Chapitre
            <mark title="piedMouche">§</mark>&nbsp; <span class="num" type="ordinal" value="25"> xxv<sup>e</sup>
               </span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></span><span class="collation-content">Chapitre.vingt.v<sup>e</sup>.<span class="coll-source"> [Cha514]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v4507">L’oncle et nepveu d’hostilles appareilz,</span>
   <span class="verse v4508"><span class="choice"><span title="Abbrégé en Cōmuns"><mark title="abbréviation">Communs</mark></span></span> en foy et de force pareilz,</span>
   <span class="verse v4509">Fort equippez
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">me <span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>menacerent <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark></span>
   <span class="verse v4510"><span class="verse-number">4510</span>Par grand <span style="position: relative;"><span class="lem">furie</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">fierté<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> et felonnie austere.</span>
   <span class="verse v4511">Luy d’autre part congnoissant leur vouloir</span>
   <span class="verse v4512">N’eut en ce cas paresseux nonchalloir,</span>
   <span class="verse v4513">Mais renforça tellement son armee</span>
   <span class="verse v4514">Qu’il tint contre eulx oppinïon <span style="position: relative;"><span class="lem">fermee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">fromee<span class="coll-source"> [Aix419]</span></span></span></sup></span></span>
   <span class="verse v4515"><span class="verse-number">4515</span>Bien resister à la contentïon</span>
   <span class="verse v4516">De leur perverse et lasche intentïon.</span>
   <span class="verse v4517">Se l’un fut chault, l’autre eut <span style="position: relative;">bruslant<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content">bouillant<span class="coll-source"> [BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514]</span> ; boullant<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> couraige</span>
   <span class="verse v4518"><span style="position: relative;"><span class="lem">Se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">Le<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> l’un s’esmeut, l’autre s’enfla de raige</span>
   <span class="verse v4519">Se l’un <span style="position: relative;">mect<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">myct<span class="coll-source"> [Aix419, Vat966, Cha514]</span> ; mist<span class="coll-source"> [BnFfr17274, BnFfr5299]</span> ; mit<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> sus gens d’armes couraigeux,</span>
   <span class="verse v4520"><span class="verse-number">4520</span>L’autre ne quist souldardz <span style="position: relative;"><span class="lem">moins</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">mains<span class="coll-source"> [Aix419]</span></span></span></sup></span> oultraigeux.</span>
   <span class="verse v4521">Et par ainsi l’un <span style="position: relative;">à<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">et<span class="coll-source"> [BnFfr17274, Cha514]</span> ; 
                  <span class="choice">et</span>
                  <span class="coll-source"> [Aix419]</span></span></span></sup></span> l’autre appareille</span>
   <span class="verse v4522"><span style="position: relative;"><span class="lem">Sert<s>e</s></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">Sorte<span class="coll-source"> [BnFfr17274, Aix419, Vat966, Cha514]</span></span><span class="collation-content">Secte<span class="coll-source"> [BnFfr23145]</span></span><span class="collation-content">Serte<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> de metz esgal pour la pareille.</span>
   <span class="verse v4523">Or au plus tost que <mark class="persName">Clotilde<span class="persName-info fw-normal on-right"><b>Clotilde</b> (entre 474 et 475 — 03/06/545)<span class="hr-100">&nbsp;</span>Princesse burgonde (474-493)<br/>Reine des Francs (493-511)<br/></span></mark> entendit</span>
   <span class="verse v4524">Ceste nouvelle, une heure n’actendit</span>
   
   
   <hr data-img-id="f220">
   
   <span class="curr-title fw-bold"><mark class="persName">Clotilde<span class="persName-info fw-normal on-left"><b>Clotilde</b> (entre 474 et 475 — 03/06/545)<span class="hr-100">&nbsp;</span>Princesse burgonde (474-493)<br/>Reine des Francs (493-511)<br/></span></mark> prie sainct
      <mark class="persName">Martin<span class="persName-info fw-normal on-left"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> pour ses enfans</span>
   <span class="verse v4525"><span class="verse-number">4525</span>Dedans <mark title="placeName" instant="false" full="yes">Paris</mark> mais de fervent
      couraige</span>
   <span class="verse v4526">À
      <mark title="placeName" instant="false" full="yes">Tours</mark> courut
      
      <span style="position: relative;">implorer</span> le <span style="position: relative;"><span class="lem">suffraige</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">fuffraige<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span></span>
   <span class="verse v4527">De sainct <mark class="persName">Martin<span class="persName-info fw-normal on-right"><b>Martin de Tours, saint</b> (316 — 08/11/397)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> glorïeux confesseur</span>
   <span class="verse v4528">Pensant au sien merite qu’on fait seur</span>
   <span class="verse v4529">Peril doubteux.
      Genoulx flechiz, mains joinctes,</span>
   <span class="verse v4530"><span class="verse-number">4530</span>Les yeulx au ciel distillans larmes maintes</span>
   <span class="verse v4531">Et cueur plongé <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">à<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> grand lac de soucy,</span>
   <span class="verse v4532">Fit sa priere en ceste sorte icy&nbsp;:</span>
   <span class="verse v4533">
      <mark title="piedMouche">§</mark>
      <span title="Discours direct">«&nbsp;Amy de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>,
         je te supply, regarde&nbsp;»</span>
      </span>
   <span class="verse v4534">
      <span title="Discours direct">«&nbsp;Celle qui soubz la tienne
         sauvegarde&nbsp;»</span>
      </span>
   <span class="verse v4535"><span class="verse-number">4535</span>
      <span title="Discours direct">«&nbsp;A tousjours <span style="position: relative;"><span class="lem">quis</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">qu’ilz<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> secours, ayde et support.&nbsp;»</span>
      </span>
   <span class="verse v4536">
      <span title="Discours direct">«&nbsp;Helas, <mark class="persName">seigneur<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>, or <span style="position: relative;"><span class="lem">me</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">ne<span class="coll-source"> [Aix419]</span></span></span></sup></span> voy je sur port&nbsp;»</span>
      </span>
   <span class="verse v4537">
      <span title="Discours direct">«&nbsp;D’afflictïon, preste d’entrer au havre&nbsp;»</span>
      </span>
   <span class="verse v4538">
      <span title="Discours direct">«&nbsp;Tres angoisseux qui cueurs <span style="position: relative;"><span class="lem">contristez navre</span></span>.&nbsp;»</span>
      </span>
   <span class="verse v4539">
      <span title="Discours direct">«&nbsp;Je veoy ceulx là que en mes
         flans ay portez&nbsp;»</span>
      </span>
   <span class="verse v4540"><span class="verse-number">4540</span>
      <span title="Discours direct">«&nbsp;L’un contre l’autre oultre
         loy transportez&nbsp;»</span>
      </span>
   <span class="verse v4541">
      <span title="Discours direct">«&nbsp;De fraternelle amoureuse
         nature.&nbsp;»</span>
      </span>
   <span class="verse v4542">
      <span title="Discours direct">«&nbsp;Sang contre sang si fort
         se desnature&nbsp;»</span>
      </span>
   <span class="verse v4543">
      <span title="Discours direct">«&nbsp;Que l’un vouldroit l’autre
         à dur ply renger&nbsp;»</span>
      </span>
   <span class="verse v4544">
      <span title="Discours direct">«&nbsp;Pire que nul ennemy
         estranger&nbsp;»</span>
      </span>
   <span class="verse v4545"><span class="verse-number">4545</span>
      <span title="Discours direct">«&nbsp;Je fortunee afflicte et
         triste mere&nbsp;»</span>
      </span>
   <span class="verse v4546">
      <span title="Discours direct">«&nbsp;Veoy aujourd’uy l’orde et
         vile chimere&nbsp;»</span>
      </span>
   <span class="verse v4547">
      <span title="Discours direct">«&nbsp;Guerre sur <span style="position: relative;"><span class="lem">piedz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">pied<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> pour rendre ceulx deffaitz&nbsp;»</span>
      </span>
   <span class="verse v4548">
      <span title="Discours direct">«&nbsp;Que ay enfantez. Or sçay je qu’ilz ont faictz&nbsp;»</span>
      </span>
   <span class="verse v4549">
      <span title="Discours direct">«&nbsp;Plusieurs grandz maulx. Par quoy <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> veult permectre&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f221">
   
   <span class="curr-title fw-bold">Oraison de <mark class="persName">Clotilde<span class="persName-info fw-normal on-left"><b>Clotilde</b> (entre 474 et 475 — 03/06/545)<span class="hr-100">&nbsp;</span>Princesse burgonde (474-493)<br/>Reine des Francs (493-511)<br/></span></mark>
      pour mectre paix entre ses enfans</span>
   <span class="verse v4550"><span class="verse-number">4550</span>
      <span title="Discours direct">«&nbsp;Mortelle playe à
         eulx celle part mectre.&nbsp;»</span>
      </span>
   <span class="verse v4551">
      <span title="Discours direct">«&nbsp;Las, chier seigneur, te plaise interceder&nbsp;»</span>
      </span>
   <span class="verse v4552">
      <span title="Discours direct">«&nbsp;Pour moy
         vers luy que sans plus proceder&nbsp;»</span>
      </span>
   <span class="verse v4553">
      <span title="Discours direct">«&nbsp;L’un contre l’autre <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">
                     <span class="choice">et</span>
                     <span class="coll-source"> [Aix419]</span></span><span class="collation-content">et<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> si <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> cruelz oultraiges,&nbsp;»</span>
      </span>
   <span class="verse v4554">
      <span title="Discours direct">«&nbsp;Son plaisir soit amollir
         leurs couraiges&nbsp;»</span>
      </span>
   <span class="verse v4555"><span class="verse-number">4555</span>
      <span title="Discours direct">«&nbsp;Et demonstrer par signes
         evidentz&nbsp;»</span>
      </span>
   <span class="verse v4556">
      <span title="Discours direct">«&nbsp;Que pour leur cr<span title="Texte résultant d'une substitution">ime</span> ont ces lourdz accidentz.&nbsp;»</span>
      </span>
   <span class="verse v4557">
      <span title="Discours direct">«&nbsp;Luy plaise aussi, à ta priere, duyre&nbsp;»</span>
      </span>
   <span class="verse v4558">
      <span title="Discours direct">«&nbsp;Hayne en amour et si bien les reduyre&nbsp;»</span>
      </span>
   <span class="verse v4559">
      <span title="Discours direct">«&nbsp;À bonne paix de conjoincte
         unité&nbsp;»</span>
      </span>
   <span class="verse v4560"><span class="verse-number">4560</span>
      <span title="Discours direct">«&nbsp;Que desormais la leur
         fraternité&nbsp;»</span>
      </span>
   <span class="verse v4561">
      <span title="Discours direct">«&nbsp;Ne soit par dol <span style="position: relative;">enuieux</span> separee&nbsp;»</span>
      </span>
   <span class="verse v4562">
      <span title="Discours direct">«&nbsp;Mais d’amytié loyalle soit paree.&nbsp;»</span>
      </span>
   <span class="verse v4563"><mark title="piedMouche">§</mark>Croyre debvons que la sienne oraison</span>
   <span class="verse v4564">Fut exaulcee, et à bonne raison,</span>
   <span class="verse v4565"><span class="verse-number">4565</span>Quant <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> monstra telz signes
      et miracles</span>
   <span class="verse v4566">Sur pavillons, tentes et tabernacles</span>
   <span class="verse v4567">C’est assavoir en l’ost de <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert Ier</b> (01/01/497 — entre 13/12/558 et 25/12/558)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/></span></mark></span>
   <span class="verse v4568">
      <span style="position: relative;"><span class="lem">Et du nepveu aussi</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">Et à celluy du
                  nepveu<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">dit<span class="coll-source"> [Cha514]</span> ; dict<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <mark class="persName">Theodebert<span class="persName-info fw-normal on-right"><b>Théodebert Ier</b> (entre 496 et 505 — 548)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (534-548)<br/></span></mark>
      </span>
   <span class="verse v4569">Car tout soudain en icelle journee</span>
   <span class="verse v4570"><span class="verse-number">4570</span>Que ja estoit la bataille ordonnee,</span>
   <span class="verse v4571">Quoyque le temps feust  coy, paisible et cler,</span>
   <span class="verse v4572">Fouldre du ciel, tonnerre et fort escler</span>
   <span class="verse v4573">Si asprement tumberent et tonnerrent</span>
   <span class="verse v4574">Que les chevaulx et gentz fort estonnerent</span>
   
   
   <hr data-img-id="f222">
   
   <span class="curr-title fw-bold">Miracle en l’ost des deux roys <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert Ier</b> (01/01/497 — entre 13/12/558 et 25/12/558)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/></span></mark> et <mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert Ier</b> (entre 496 et 505 — 548)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (534-548)<br/></span></mark></span>
   <span class="verse v4575"><span class="verse-number">4575</span>En l’aer y eut grandz <span style="position: relative;"><span class="lem">alteratïons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">altercatïons<span class="coll-source"> [Cha514]</span></span></span></sup></span></span>
   <span class="verse v4576">Car <mark class="persName">Eolus<span class="persName-info fw-normal on-right"><b>Éole</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Hippotès et maître des
            vents</span></mark> les  choruscatïons</span>
   <span class="verse v4577">De <mark class="persName">Aquarïus<span class="persName-info fw-normal on-right"><b>Aquarius</b><span class="hr-short">&nbsp;</span>Divinité marine</span></mark> soufloit à la
      traverse</span>
   <span class="verse v4578">Que oncques ne fut tempeste <span style="position: relative;"><span class="lem">plus</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">sy<span class="coll-source"> [BnFfr17274, Cha514]</span></span><span class="collation-content">si<span class="coll-source"> [Aix419]</span></span></span></sup></span> diverse.</span>
   <span class="verse v4579">Gresle à monceaulx forte et dure singloit</span>
   <span class="verse v4580"><span class="verse-number">4580</span>Qui tellement  gens d’armes aveugloit</span>
   <span class="verse v4581">Que plusieurs d’eulx, comme <span style="position: relative;"><span class="lem">paour</span></span> gentz atterre,</span>
   <span class="verse v4582">Furent contrainctz mectre le nez à terre.</span>
   <span class="verse v4583">Harnois rompuz, chevaulx effarouchez</span>
   <span class="verse v4584">Donnerent lors telle frayeur aux chiefz</span>
   <span class="verse v4585"><span class="verse-number">4585</span>Que  leurs subjectz voyans feu du  ciel fondre</span>
   <span class="verse v4586">Cuyderent tous abismer et confondre.</span>
   <span class="verse v4587">Ce fut grand cas,
      <span style="position: relative;"><span class="lem">car</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">ca<s>r</s><span class="coll-source"> [Vat966]</span></span></span></sup></span> sur les ostz des deux</span>
   <span class="verse v4588">Oncle et nepveu fist temps si tres hideux,</span>
   <span class="verse v4589">Trouble et obscur, que à peine on  voyoit goutte</span>
   <span class="verse v4590"><span class="verse-number">4590</span>Et sur celluy de <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> oncques goutte</span>
   <span class="verse v4591">N’en degoutta. Cela rendit  paoureux</span>
   <span class="verse v4592">Iceulx pensans <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> n’estre pas pour eulx</span>
   <span class="verse v4593">Et veyrent bien <span style="position: relative;">en</span> la signifïance</span>
   <span class="verse v4594">Que à leur grand tort fut ceste deffïance,</span>
   <span class="verse v4595"><span class="verse-number">4595</span>Par quoy sans plus autre terme querir</span>
   <span class="verse v4596">Prindrent advis la paix lors requerir.</span>
   <span class="verse v4597">À ces moyens vers <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> envoyerent</span>
   <span class="verse v4598"><span style="position: relative;">Ambassadeurs</span> qui ne se forvoyerent,</span>
   <span class="verse v4599">Car tout ainsi qu’ilz sceurent recorder</span>
   
   
   <hr data-img-id="f223">
   
   <span class="curr-title fw-bold">Paix entre <mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert Ier</b> (entre 496 et 505 — 548)<span class="hr-100">&nbsp;</span>Roi des Francs de Metz (534-548)<br/></span></mark>,
      <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert Ier</b> (01/01/497 — entre 13/12/558 et 25/12/558)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/></span></mark> et <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark></span>
   <span class="verse v4600"><span class="verse-number">4600</span>Par leur demande, il voulut accorder</span>
   <span class="verse v4601">En lieu <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">et à<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> hayne et fiere vïolance</span>
   <span class="verse v4602">Signe monstra d’humble begnivolance,</span>
   <span class="verse v4603">Ce doibt on croyre, <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">en<span class="coll-source"> [Vat966]</span></span></span></sup></span> la petitïon,</span>
   <span class="verse v4604">Saincte prïere et intercessïon</span>
   <span class="verse v4605"><span class="verse-number">4605</span>De ceste bonne et catholicque dame</span>
   <span class="verse v4606">Avoir esté. Par une devote ame</span>
   <span class="verse v4607">Souventesfois <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> amolist les
      cueurs</span>
   <span class="verse v4608">Et en doulceur mue toutes rigueurs.</span>
   <span class="verse v4609">Doncques aprés ceste guerre odïeuse</span>
   <span class="verse v4610"><span class="verse-number">4610</span>Paix leur <span style="position: relative;"><span class="lem">donna</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">sonna<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Aix419, Vat966, Cha514]</span></span></span></sup></span> chanson melodïeuse ;</span>
   <span class="verse v4611">Aprés debat de fiere austerité</span>
   <span class="verse v4612">Amour <span style="position: relative;"><span class="lem">entra</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content">rentra<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Vat966, BnFfr4967, Cha514]</span></span></span></sup></span> en plaine auctorité ;</span>
   <span class="verse v4613">Vraye unïon chassa toute rancune</span>
   <span class="verse v4614">Et s’en alla chascun  en sa chascune.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4503);">v. 4503</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>feist priere</s></span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Chapitre.vingt.v<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4509);">v. 4509</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>me </span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4510);">v. 4510</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>fierté</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4514);">v. 4514</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>fromee</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4517);">v. 4517</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>bouillant</span> ; <span><span class="coll-source">BnFfr17274 </span>boullant</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4518);">v. 4518</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Le</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4519);">v. 4519</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Vat966, Cha514 </span>myct</span> ; <span><span class="coll-source">BnFfr17274, BnFfr5299 </span>mist</span> ; <span><span class="coll-source">BnFfr23145 </span>mit</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4520);">v. 4520</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>mains</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4521);">v. 4521</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Cha514 </span>et</span> ; <span><span class="coll-source">Aix419 </span>
            <span class="choice">et</span>
            </span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4522);">v. 4522</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Aix419, Vat966, Cha514 </span>Sorte</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Secte</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Serte</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4526);">v. 4526</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>fuffraige</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4531);">v. 4531</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>à</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4535);">v. 4535</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>qu’ilz</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4536);">v. 4536</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>ne</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4547);">v. 4547</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>pied</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4553);">v. 4553</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>
            <span class="choice">et</span>
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>et</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4553);">v. 4553</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4568);">v. 4568</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>Et à celluy du
            nepveu</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4568);">v. 4568</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>dit</span> ; <span><span class="coll-source">BnFfr17274 </span>dict</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4575);">v. 4575</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>altercatïons</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4578);">v. 4578</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Cha514 </span>sy</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>si</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4587);">v. 4587</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>ca<s>r</s></span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4601);">v. 4601</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>et à</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4603);">v. 4603</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>en</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4610);">v. 4610</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Aix419, Vat966, Cha514 </span>sonna</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4612);">v. 4612</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Vat966, BnFfr4967, Cha514 </span>rentra</span></div>
      </div>
</div>
{% endmacro %}
