
{% macro chapterTitle() %}Prologue en vers{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('1_prologueProse')"><i class="fa-solid fa-arrow-left"></i> Prologue en prose</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('3_chap_1')">Chapitre 1 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f26/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f26/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f26" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f27/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f27/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f27" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f28/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f28/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f28" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f29/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f29/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f29" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f26">
   
   <p title="Numéro de folio" class="text-end"><i>Jv</i></p>
   
   
   <hr data-img-id="f27">
   
   <p title="Numéro de folio" class="text-end"><i>1r</i></p>
   <span class="d-block fw-bold mb-3">Second prologue.</span>
   
   <blockquote class="ms-2">
      
      <span class="lem"></span>
      
      
      </blockquote>
   
   <span class="verse v1">APꝛes auoir 
      <span class="lem">tourne</span>
      
       pluſieurs volumes</span>
   <span class="verse v2">Iadis eſcriptz et paſſez par les plumes</span>
   <span class="verse v3">Et art ſubtil des excellentz aucteurs</span>
   <span class="verse v4">Hiſtoꝛiens / et expers oꝛateurs</span>
   <span class="verse v5"><span class="verse-number">5</span>Meſmes de ceulx / qui les geſtes et faictz</span>
   <span class="verse v6">Des <mark title="orgName" instant="false" full="yes">francois</mark> francz /
      
      <span class="lem">par vertueux</span>
      
       effectz</span>
   <span class="verse v7">Ont 
      <span class="lem">redigez</span>
      
       a clere demonſtrance</span>
   <span class="verse v8">Par le recit des cronicques de <mark title="placeName" instant="false" full="yes">france</mark>,</span>
   <span class="verse v9">Iay entrepꝛis (ſe temps le peult permettre)</span>
   <span class="verse v10"><span class="verse-number">10</span>Faire ung recueil /. et le coucher par 
      <span class="lem">mettre</span>
      
      ,</span>
   <span class="verse v11">De tous leurs faictz 
      <span class="lem">notables</span>
      
       mys en pꝛoſe.</span>
   <span class="verse v12">Si 
      <span class="lem"></span>
      
      
      
      <span class="lem">naffiert</span>
      
       pas que de mon ſens pꝛopꝛe oze</span>
   <span class="verse v13">Pꝛecipiter la plume /. et que plumette</span>
   <span class="verse v14">Legierement. Ains vault mieulx que plus mette</span>
   <span class="verse v15"><span class="verse-number">15</span>En bien 
      <span class="lem">peſant</span>
      
       louuraige que ie fais</span>
   <span class="verse v16">Que par erreur 
      <span class="lem">ſuccumbe</span>
      
      
      
      <span class="lem">ſoubz le</span>
      
      
      
      <span class="lem">faix</span>
      
      </span>
   <span class="verse v17">Du pas honteux de repꝛehenſion.</span>
   <span class="verse v18"><mark title="piedMouche">§</mark>Doncq. pour
      auoir ſaine appꝛehenſion,</span>
   <span class="verse v19">
      <span class="lem">Deuers</span>
      
      
      Clio conuient auoir recours,</span>
   <span class="verse v20"><span class="verse-number">20</span>Luy ſuppliant me faire ouurir le cours</span>
   <span class="verse v21">De veine vifue / et ſource deloquence,</span>
   <span class="verse v22">Pour 
      <span class="lem">par</span>
      
       eſcript 
      <span class="lem">
         
         <span class="lem">de loing</span>
         
          ſuyure Lactence
         </span>
      
      
      .</span>
   <span class="verse v23"><mark title="piedMouche">§</mark>Ou ſil luy plaiſt que aye
      de 
      <span class="lem">laymer</span>
      
       cure</span>
   <span class="verse v24">Me face pꝛeſt de la fluſte a Mercure</span>
   
   
   <hr data-img-id="f28">
   
   <p title="Numéro de folio" class="text-end"><i>1v</i></p>
   <span class="d-block fw-bold mb-3">Second prologue.</span>
   <span class="verse v25"><span class="verse-number">25</span>Qui endoꝛmit le cler voyant Argus</span>
   <span class="verse v26">Si en ſeront les miens ſens plus agus</span>
   <span class="verse v27">Ou 
      <span class="lem">la rebelle</span>
      
      
      Arion qui chant a</span>
   <span class="verse v28">Si doulx /. quen mer le daulphin enchanta&nbsp;;</span>
   <span class="verse v29"><mark title="piedMouche">§</mark>Ou bien la harpe a
      Oꝛpheus mappoꝛte,</span>
   <span class="verse v30"><span class="verse-number">30</span>Qui par doulx chantz, 
      <span class="lem">ouurit d<mark title="placeName" instant="false" full="yes">enfer</mark></span>
      
       la poꝛte.</span>
   <span class="verse v31">Car ſans auoir parolle melliflue</span>
   <span class="verse v32">Et que de 
      <span class="lem">Pan</span>
      
       la challemelle y flue,</span>
   <span class="verse v33">
      <span class="lem">Ia</span>
      
       ne 
      <span class="lem">pourray</span>
      
       faire querimonie</span>
   <span class="verse v34">
      <span class="lem">Qui rende</span>
      
       ſon de ioyeuſe armonie.</span>
   <span class="verse v35"><span class="verse-number">35</span><mark title="piedMouche">§</mark>Que 
      <span class="lem">puys ie</span>
      
       eſcripꝛe apꝛes mes directeurs,</span>
   <span class="verse v36">Tres eloquentz pꝛecepteurs et recteurs,</span>
   <span class="verse v37">De Meun /.
      Gꝛeban / et Geoꝛges Chaſtellain,</span>
   <span class="verse v38">Apꝛes le doulx ſtille de Maiſtre Allain</span>
   <span class="verse v39">De Molinet linuention
      ſubtille,</span>
   <span class="verse v40"><span class="verse-number">40</span>De Sainct
      Gelais la veine ſi gentille</span>
   <span class="verse v41">Et de 
      <span class="lem">Caſtel</span>
      
       la doulce reſonance&nbsp;?</span>
   <span class="verse v42"><mark title="piedMouche">§</mark>Que puys ie faire
      / ou ſonne 
      <span class="lem">conſonance</span>
      
      </span>
   <span class="verse v43">De doulx accoꝛdz / ? Ie ſembleray foꝛment</span>
   <span class="verse v44">Semer la paille 
      <span class="lem">empꝛes</span>
      
       gꝛain de froment,</span>
   <span class="verse v45"><span class="verse-number">45</span>Rudes chardons iouxte roſes et fleurs,</span>
   <span class="verse v46">Paincture moꝛte entre vifues couleurs,</span>
   <span class="verse v47">Cuyure apꝛes oꝛ / Et leau en lieu 
      <span class="lem">du</span>
      
       vin,</span>
   <span class="verse v48">Si ce neſtoit que 
      <span class="lem">ſuffraige</span>
      
       diuin</span>
   <span class="verse v49">Madminiſtraſt gꝛace et ſcience 
      <span class="lem"></span>
      
       infuſe</span>
   <span class="verse v50"><span class="verse-number">50</span>Pour adoulcir ma rudeſſe confuſe.</span>
   
   
   <hr data-img-id="f29">
   
   <p title="Numéro de folio" class="text-end"><i>2r</i></p>
   <span class="d-block fw-bold mb-3">Second prologue.</span>
   <span class="verse v51">Au foꝛt aller /. A complaire ne ſongne,</span>
   
   <span class="lem">
      <span class="verse v52">Foꝛs a celluy qui ma mys en beſongne.</span>
      </span>
   
   
   <span class="verse v53">Sen lieu de ſuccre, il treuue 
      <span class="lem"></span>
      
       en maint pas ſable</span>
   <span class="verse v54">Et dit ſans plus que louuraige eſt paſſable,</span>
   <span class="verse v55"><span class="verse-number">55</span>Il me ſouffit /. En la dirrection</span>
   <span class="verse v56">Du ſien plaiſir giſt ma coꝛrection.</span>
   <span class="verse v57"><mark title="piedMouche">§</mark>Tire doncq, pleume. Aduenture ton traict</span>
   <span class="verse v58">Sur ceſt affaire /. et volle tout attraict</span>
   <span class="verse v59">Se erreur commectz. A lamander te renge,</span>
   <span class="verse v60"><span class="verse-number">60</span>Et ſe 
      <span class="lem"></span>
      
       bien 
      <span class="lem">faiz</span>
      
       / a lvy ſoit la louenge :-</span>
   
   
   <span class="lem"></span>
   
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f26">
   
   
   
   <hr data-img-id="f27">
   
   <span class="curr-title fw-bold">Second prologue</span>
   
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">Livre premier sur le recueil de la Cronique
                  françoyse<span class="coll-source"> [Cha514]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v1">Aprés avoir <span style="position: relative;"><span class="lem">tourné</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">tourner<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> plusieurs volumes,</span>
   <span class="verse v2">Jadis escriptz et passez par les plumes</span>
   <span class="verse v3">Et art subtil des excellentz aucteurs,</span>
   <span class="verse v4">Historïens et expers orateurs,</span>
   <span class="verse v5"><span class="verse-number">5</span>Mesmes de ceulx qui les gestes et faictz</span>
   <span class="verse v6">Des <mark title="orgName" instant="false" full="yes">François</mark> francz,
      <span style="position: relative;"><span class="lem">par vertueux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> effectz,</span>
   <span class="verse v7">Ont <span style="position: relative;"><span class="lem">redigez</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">redigé<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> à clere demonstrance</span>
   <span class="verse v8">Par le recit des cronicques de <mark title="placeName" instant="false" full="yes">France</mark>,</span>
   <span class="verse v9">J’ay entrepris, se temps le peult permettre,</span>
   <span class="verse v10"><span class="verse-number">10</span>Faire ung recueil, et le coucher par <span style="position: relative;"><span class="lem">mettre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">mectres<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v11">De tous leurs faictz <span style="position: relative;">notables</span> mys en prose.</span>
   <span class="verse v12">Si 
      <span style="position: relative;">n’affiert</span> pas que de mon sens propre oze</span>
   <span class="verse v13">Precipiter la plume, et que plumette</span>
   <span class="verse v14">Legierement. Ains vault mieulx que plus mette</span>
   <span class="verse v15"><span class="verse-number">15</span>En bien <span style="position: relative;"><span class="lem">pesant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">pensant<span class="coll-source"> [BnFfr5299, BnFfr23145, BnFfr4967]</span></span></span></sup></span> l'ouvraige que je fais</span>
   <span class="verse v16">Que par erreur <span style="position: relative;"><span class="lem">succumbe</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">succomber<span class="coll-source"> [BnFfr23145, BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;">soubz le</span>
      <span style="position: relative;"><span class="lem">faix</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content"><span class="unclear" instant="false">foctz</span><span class="coll-source"> [Vat966]</span></span></span></sup></span></span>
   <span class="verse v17">Du pas honteux de reprehensïon.</span>
   <span class="verse v18"><mark title="piedMouche">§</mark>Doncq pour
      avoir saine apprehensïon,</span>
   <span class="verse v19"><span style="position: relative;"><span class="lem">Devers</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">Devant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <mark class="persName">Clio<span class="persName-info fw-normal on-right"><b>Clio</b><span class="hr-short">&nbsp;</span>Muse de l'histoire</span></mark> convient avoir recours,</span>
   <span class="verse v20"><span class="verse-number">20</span>Luy suppliant me faire ouvrir le cours</span>
   <span class="verse v21">De veine vifve et source d’eloquence,</span>
   <span class="verse v22">Pour <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">faire<span class="coll-source"> [Aix419, Cha514]</span></span></span></sup></span> escript <span style="position: relative;"><span class="lem">
            <span style="position: relative;">de loing</span> suyvre <mark class="persName">Lactence<span class="persName-info fw-normal on-right"><b>Lactance</b> (250 — 325)<span class="hr-short">&nbsp;</span>Apologiste chrétien</span></mark>
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">de bonne consequence<span class="coll-source"> [Aix419, Cha514]</span></span></span></sup></span>.</span>
   <span class="verse v23"><mark title="piedMouche">§</mark>Ou s’il luy plaist que aye
      de <span style="position: relative;"><span class="lem">l’aymer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">la mer<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> cure</span>
   <span class="verse v24">Me face prest de la fluste à <mark class="persName">Mercure<span class="persName-info fw-normal on-right"><b>Mercure</b><span class="hr-short">&nbsp;</span>Dieu romain du commerce et messager des dieux</span></mark></span>
   
   
   <hr data-img-id="f28">
   
   <span class="curr-title fw-bold">Second prologue</span>
   <span class="verse v25"><span class="verse-number">25</span>Qui endormit le cler voyant <mark class="persName">Argus<span class="persName-info fw-normal on-right"><b>Argos</b><span class="hr-short">&nbsp;</span>Géant de la mythologie grecque</span></mark> :</span>
   <span class="verse v26">Si en seront les miens sens plus agus ;</span>
   <span class="verse v27">Ou <span style="position: relative;"><span class="lem">la rebelle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content"><span class="unclear" instant="false">le rebec</span><span class="coll-source"> [Vat966]</span></span></span></sup></span>
      <mark class="persName">Arïon<span class="persName-info fw-normal on-right"><b>Arion de Méthymne</b><span class="hr-short">&nbsp;</span>Poète et musicien antique semi-légendaire</span></mark> qui chant a</span>
   <span class="verse v28">Si doulx qu’en mer le daulphin enchanta&nbsp;;</span>
   <span class="verse v29"><mark title="piedMouche">§</mark>Ou bien la harpe à
      <mark class="persName">Orpheüs<span class="persName-info fw-normal on-right"><b>Orphée</b><span class="hr-short">&nbsp;</span>Héros de la mythologie grecque, poète et musicien</span></mark> m’apporte,</span>
   <span class="verse v30"><span class="verse-number">30</span>Qui par doulx chantz, <span style="position: relative;"><span class="lem">ouvrit d’<mark title="placeName" instant="false" full="yes">Enfer</mark></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">d’Enfer ouvrit<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> la porte.</span>
   <span class="verse v31">Car sans avoir parolle melliflue</span>
   <span class="verse v32">Et que de <mark class="persName"><span style="position: relative;"><span class="lem">Pan</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">Paon<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Pan</b><span class="hr-short">&nbsp;</span>Divinité de la mythologie grecque de la nature, protecteur des bergers et des
            troupeaux, souvent représenté comme une créature chimérique, mi-homme
            mi-bouc</span></mark> la challemelle y flue,</span>
   <span class="verse v33"><span style="position: relative;"><span class="lem">Ja</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">Je<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr23146]</span></span></span></sup></span> ne <span style="position: relative;"><span class="lem">pourray</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">pourré<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> faire querimonie</span>
   <span class="verse v34"><span style="position: relative;"><span class="lem">Qui rende</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">De ne rendre<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> son de joyeuse armonie.</span>
   <span class="verse v35"><span class="verse-number">35</span><mark title="piedMouche">§</mark>Que <span style="position: relative;"><span class="lem">puys je</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">puisse<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> escripre aprés mes directeurs,</span>
   <span class="verse v36">Tres eloquentz precepteurs et recteurs,</span>
   <span class="verse v37"><mark class="persName">De Meun,<span class="persName-info fw-normal on-right"><b>Meung, Jean de</b> (1240 — circa 1304)<span class="hr-short">&nbsp;</span>Poète français</span></mark>
      <mark class="persName">Greban<span class="persName-info fw-normal on-right"><b>Gréban, Frères</b> ( — XVe siècle)<span class="hr-short">&nbsp;</span>Dramaturges du XVe siècle</span></mark> et <mark class="persName">Georges Chastellain<span class="persName-info fw-normal on-right"><b>Chastelain, Georges</b> (circa 1415 — 20/03/1475)<span class="hr-short">&nbsp;</span>Poète et chroniqueur, conseiller du duc de Bourgogne</span></mark>,</span>
   <span class="verse v38">Aprés le doulx stille de maistre <mark class="persName">Allain<span class="persName-info fw-normal on-right"><b>Chartier, Alain</b> (1392 — 20/03/1430)<span class="hr-short">&nbsp;</span>Poète français</span></mark></span>
   <span class="verse v39">De <mark class="persName">Molinet<span class="persName-info fw-normal on-right"><b>Molinet, Jean</b> (1435 — 23/08/1507)<span class="hr-short">&nbsp;</span>Chroniqueur, poète et compositeur, historiographe de la cour de
            Bourgogne</span></mark> l’inventïon
      subtille,</span>
   <span class="verse v40"><span class="verse-number">40</span>De <mark class="persName">Sainct
         Gelais<span class="persName-info fw-normal on-right"><b>Saint-Gelais, Octavien de</b> (1468 — 1502)<span class="hr-short">&nbsp;</span>Poète et évêque français</span></mark> la veine si gentille</span>
   <span class="verse v41">Et de <mark class="persName"><span style="position: relative;"><span class="lem">Castel</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25"><span class="collation-content">Chastel<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Castel, Jean</b> (1425 — 24/02/1476)<span class="hr-short">&nbsp;</span>Moine bénedictin, auteur d'œuvres poétiques et de textes de philosophie morale
            et religieuse, chroniqueur de Louis XI</span></mark> la doulce resonance&nbsp;?</span>
   <span class="verse v42"><mark title="piedMouche">§</mark>Que puys je faire où sonne <span style="position: relative;"><span class="lem">consonance</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">resonnance<span class="coll-source"> [Aix419]</span></span></span></sup></span></span>
   <span class="verse v43">De doulx accordz ? Je sembleray forment</span>
   <span class="verse v44">Semer la paille <span style="position: relative;"><span class="lem">emprés</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">aprés<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> grain de froment,</span>
   <span class="verse v45"><span class="verse-number">45</span>Rudes chardons jouxte roses et fleurs,</span>
   <span class="verse v46">Paincture morte entre vifves couleurs,</span>
   <span class="verse v47">Cuyvre aprés or, et l’eau en lieu <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">de<span class="coll-source"> [Vat966, Cha514]</span></span></span></sup></span> vin,</span>
   <span class="verse v48">Si ce n’estoit que <span style="position: relative;">suffraige</span> divin</span>
   <span class="verse v49">M’administrast grace et scïence  infuse</span>
   <span class="verse v50"><span class="verse-number">50</span>Pour adoulcir ma rudesse confuse.</span>
   
   
   <hr data-img-id="f29">
   
   <span class="curr-title fw-bold">Second prologue</span>
   <span class="verse v51">Au fort aller à complaire ne songne,</span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v52">Fors à celluy qui m’a mys en besongne.</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>
   <span class="verse v53">S’en lieu de succre, il treuve  en maint pas sable</span>
   <span class="verse v54">Et dit sans plus que l’ouvraige est passable,</span>
   <span class="verse v55"><span class="verse-number">55</span>Il me souffit. En la dirrectïon</span>
   <span class="verse v56">Du sien plaisir gist ma correctïon.</span>
   <span class="verse v57"><mark title="piedMouche">§</mark>Tire doncq, pleume, adventure ton traict</span>
   <span class="verse v58">Sur cest affaire, et volle tout attraict !</span>
   <span class="verse v59">Se erreur commectz, à l’amander te renge,</span>
   <span class="verse v60"><span class="verse-number">60</span>Et se <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">le<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> bien <span style="position: relative;"><span class="lem">faiz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">faictz<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span>, à Luy soit la louenge.</span>
   
   <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">
               Mieulx que pis
               <span class="coll-source"> [Aix419, Cha514]</span></span></span></sup></span>
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>Livre premier sur le recueil de la Cronique
            françoyse</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1);">v. 1</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tourner</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(6);">v. 6</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(7);">v. 7</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>redigé</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(10);">v. 10</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>mectres</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(15);">v. 15</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr5299, BnFfr23145, BnFfr4967 </span>pensant</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(16);">v. 16</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr23146 </span>succomber</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(16);">v. 16</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><span class="unclear" instant="false">foctz</span></span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(19);">v. 19</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Devant</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(22);">v. 22</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha514 </span>faire</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(22);">v. 22</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha514 </span>de bonne consequence</span></div>
      
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(23);">v. 23</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>la mer</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(27);">v. 27</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><span class="unclear" instant="false">le rebec</span></span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(30);">v. 30</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>d’Enfer ouvrit</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(32);">v. 32</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Paon</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(33);">v. 33</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr23146 </span>Je</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(33);">v. 33</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>pourré</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(34);">v. 34</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>De ne rendre</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(35);">v. 35</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>puisse</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(41);">v. 41</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>Chastel</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(42);">v. 42</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>resonnance</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(44);">v. 44</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>aprés</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(47);">v. 47</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966, Cha514 </span>de</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(60);">v. 60</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>le</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(60);">v. 60</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>faictz</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha514 </span>
            Mieulx que pis
            </span></div>
      </div>
</div>
{% endmacro %}
