
{% macro chapterTitle() %}Chapitre 1{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('2_prologueVerse')"><i class="fa-solid fa-arrow-left"></i> Prologue en vers</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('4_chap_2')">Chapitre 2 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f29/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f29/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f29" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f30/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f30/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f30" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f31/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f31/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f31" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f32/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f32/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f32" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f33/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f33/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f33" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f29">
   <p title="Numéro de folio" class="text-end"><i>2r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v61"><mark title="piedMouche">§</mark>Puys que a droit point
         ie treuue lheure en priſe</span>
      <span class="verse v62">Se dieu et temps me ſont vie octroyans</span>
      <span class="verse v63">
         <span class="lem">Cy</span>
         
          traicteray de lexil aux <mark title="orgName" instant="false" full="yes">troyans</mark></span>
      <span class="verse v64">Sur le recueil de la matiere empriſe.</span>
      
      </blockquote>
   
   
   <hr data-img-id="f30">
   
   <p title="Numéro de folio" class="text-end"><i>2v</i></p>
   
   
   <hr data-img-id="f31">
   
   <p title="Numéro de folio" class="text-end"><i>3r</i></p>
   <span class="d-block fw-bold mb-3">De lexil 
      <mark title="orgName" instant="false" full="yes">troyans</mark>.</span>
   
   <blockquote class="ms-2">
      
      <span class="lem">Chappitre <span class="num" type="ordinal" value="1">pꝛemier</span>
         ჻
         </span>
      
      
      </blockquote>
   
   <span class="verse v65"><span class="verse-number">65</span><span class="date" instant="false">Quatre cens ans et quatre</span>
      <span class="choice"><span title="Abbréviation pour avant"><mark title="abbréviation">auāt</mark></span></span> que <mark title="placeName" instant="false" full="yes">
         <span class="choice"><span title="Abbréviation pour Romme"><mark title="abbréviation">rōme</mark></span></span>
         </mark></span>
   <span class="verse v66">Euſt appareil daſſiette /. et 
      <span class="lem">que</span>
      
       par homme</span>
   <span class="verse v67">
      <span class="lem">Pꝛiſt</span>
      
      
      <span class="choice"><span title="Abbréviation pour aornement"><mark title="abbréviation">aoꝛnemēt</mark></span></span> / derection conſtruicte,</span>
   <span class="verse v68">Fut la gꝛand <mark title="placeName" instant="false" full="yes">troye</mark> adnullee et deſtruicte.</span>
   <span class="verse v69">Le roy Pꝛiam, comble de gloyꝛe / nom /</span>
   <span class="verse v70"><span class="verse-number">70</span>Bꝛuyt floꝛiſſant /. Credit dample renom,</span>
   <span class="verse v71">Richeſſes / biens / loz / honneurs triumphans,</span>
   <span class="verse v72">Gens / temps pꝛoſpere /. Avtant de beaux enfans</span>
   <span class="verse v73">Et gꝛands treſoꝛs / que roy 
      <span class="lem">pour loꝛs</span>
      
       en vie,</span>
   <span class="verse v74">Foꝛtune aduerſe / eut de ſon bien enuie,</span>
   <span class="verse v75"><span class="verse-number">75</span><mark title="piedMouche">§</mark> Luymeſme
      auſſi deffaillant regarder</span>
   <span class="verse v76">Que aiſe eſt ſouuent difficille a garder,</span>
   <span class="verse v77">Comme ennuye 
      <span class="lem">dheur</span>
      
       et pꝛoſperite</span>
   <span class="verse v78">Fiſt playe / a luy /et ſa
      poſterite.</span>
   <span class="verse v79"><mark title="piedMouche">§</mark>Par ung ſien filz
      /. dit Paris
      Alexandꝛe,</span>
   <span class="verse v80"><span class="verse-number">80</span>Fut toute <mark title="placeName" instant="false" full="yes">troye</mark> afflicte et miſe en cendꝛe.</span>
   <span class="verse v81"><mark title="piedMouche">§</mark>Par le bꝛandon dardeur
      libidineuſe,</span>
   <span class="verse v82">Fier glayue et feu la firent ruyneuſe.</span>
   <span class="verse v83"><mark title="piedMouche">§</mark>Paris, allant en 
      <span class="lem">
         <mark title="placeName" instant="false" full="yes">grece</mark></span>
      
      
      
      <span class="lem">a</span>
      
       diligence,</span>
   <span class="verse v84">Rauit Heleine /.
      et le fiſt par vengence</span>
   <span class="verse v85"><span class="verse-number">85</span>Du toꝛt des <mark title="orgName" instant="false" full="yes">grecz</mark> /
      
      <span class="lem">en</span>
      
       ſa tante Exionne</span>
   
   <span class="verse v86">Menelaus (veu lexploict) diſt /.
      <span title="Discours direct">Si
         on ne</span></span>
   <span class="verse v87">
      <span title="Discours direct">Len veult venger /. Par 
         <span class="lem">les puiſſantz</span>
         
         
         
         <span class="lem">dieu</span>
         
         , iure</span>
      </span>
   <span class="verse v88">
      <span title="Discours direct">Que a toute <mark title="placeName" instant="false" full="yes">grece</mark> imputera liniure.</span>
      </span>
   
   
   <hr data-img-id="f32">
   
   <p title="Numéro de folio" class="text-end"><i>3v</i></p>
   <span class="d-block fw-bold mb-3">De lexil aux
      <mark title="orgName" instant="false" full="yes">Troyans</mark>.</span>
   <span class="verse v89">Le conſeil pꝛis / chaſcun deulx luy octroye</span>
   <span class="verse v90"><span class="verse-number">90</span>Armes poꝛter / pour aller deuant <mark title="placeName" instant="false" full="yes">troye</mark>.</span>
   <span class="verse v91"><span class="date" dur="P10Y" instant="false">Dix</span> ans dura le ſieige
      douloureux</span>
   <span class="verse v92">Puys en la fin tumba 
      <span class="lem">ſoꝛt</span>
      
       malheureux</span>
   <span class="verse v93">De peſtifere et moꝛtelle bꝛuyne</span>
   <span class="verse v94">Sur les <mark title="orgName" instant="false" full="yes">troyans</mark> /. Apꝛes ceſte ruyne,</span>
   <span class="verse v95"><span class="verse-number">95</span>La cite miſe en feu, toute embꝛazee,</span>
   <span class="verse v96">Depopulee / abatue / et razee,</span>
   <span class="verse v97">Pꝛiam occis /. De tous ſes enfans, nulz</span>
   <span class="verse v98">Furent ſauluez / foꝛs ſans plus Helenus</span>
   <span class="verse v99">Aucuns barons de <mark title="placeName" instant="false" full="yes">troye</mark> / et nobles pꝛinces,</span>
   <span class="verse v100"><span class="verse-number">100</span>Mys en exil /
      
      <span class="lem">enchercherent</span>
      
       pꝛouinces</span>
   <span class="verse v101">Deſtranges lieux et habitations</span>
   <span class="verse v102">Pour y baſtir nouuelles manſions,</span>
   <span class="verse v103">Comme Helenus /
      Anthenoꝛ / puysEnee,</span>
   <span class="verse v104">Et autres / dont ſoꝛtit belle lignee</span>
   <span class="verse v105"><span class="verse-number">105</span>Celluy Enee / ung des plus gꝛandz de <mark title="placeName" instant="false" full="yes">troye</mark>,</span>
   <span class="verse v106">Se miſt en mer / querant nouuelle pꝛoye,</span>
   <span class="verse v107">Et des <mark title="orgName" instant="false" full="yes">troyans</mark> emmena par ſon ſens</span>
   <span class="verse v108">Auecques ſoy / Qvatre mil quatre cens</span>
   <span class="verse v109">Mais auant eſtre arriue en <mark title="placeName" instant="false" full="yes">Carthaige</mark>,</span>
   <span class="verse v110"><span class="verse-number">110</span>Eut de gꝛiefz maulx / foꝛt exceſſif
      partaige</span>
   <span class="verse v111">Dame Iuno / qui enuieuſe eſtoit,</span>
   <span class="verse v112">Du bien que ſoꝛt 
      <span class="lem"></span>
      
      
      <span class="lem">fatal</span>
      
      
      <span class="lem"></span>
      
       luy pꝛomectoit,</span>
   
   
   <hr data-img-id="f33">
   
   <p title="Numéro de folio" class="text-end"><i>4r</i></p>
   <span class="d-block fw-bold mb-3">De lexil aux <mark title="orgName" instant="false" full="yes">troyans</mark></span>
   <span class="verse v113">Pour trauailler ſes dolentz eſperitz,</span>
   <span class="verse v114">Luy pꝛeſenta pluſieurs doubteux perilz</span>
   <span class="verse v115"><span class="verse-number">115</span>Loꝛs Eolus / des goulfres perilleux,</span>
   <span class="verse v116">Fiſt ſoꝛtir hoꝛs bouffemens merueilleux,</span>
   <span class="verse v117">Hoꝛribles ventz / tempeſtes vehementes.</span>
   
   <span class="lem"></span>
   
   
   <span class="verse v118">Mer 
      <span class="lem">ſenfle</span>
      
       et bꝛuyt / undes / vagues / tourmentes</span>
   <span class="verse v119">Font appareil de nauffraige et dangier</span>
   <span class="verse v120"><span class="verse-number">120</span>Pour faire Enee et les ſiens
      ſubmerger</span>
   <span class="verse v121">Puys, comme temps diuers ſappaiſe et paſſe,</span>
   <span class="verse v122">Vint en <mark title="placeName" instant="false" full="yes">carthaige</mark> /. et 
      <span class="lem">fut la</span>
      
       quelque eſpace</span>
   <span class="verse v123">
      <span class="lem">Auec dido. Mais</span>
      
       voluntez fatalles</span>
   <span class="verse v124">Le firent toſt bꝛanſler 
      <span class="lem">iuſquaux</span>
      
      
      <mark title="placeName" instant="false" full="yes">italles</mark>,</span>
   <span class="verse v125"><span class="verse-number">125</span>Ou il regna par certains ans pꝛefix,</span>
   <span class="verse v126">Et apꝛes luy, Aſcanius, ſon
      filz,</span>
   <span class="verse v127">Qui en bꝛief temps ſon vouloir 
      <span class="lem"></span>
      
       expoſa</span>
   <span class="verse v128">Au roy Latin / et ſa fille eſpouſa</span>
   <span class="verse v129">Delle eut ung filz, dit Siluius /. qui puys</span>
   <span class="verse v130"><span class="verse-number">130</span>Commiſt ung faict / que taire icy ne
      puys</span>
   <span class="verse v131">Le cas fut tel /. Il 
      <span class="lem">pꝛiſt</span>
      
       la hardieſſe</span>
   <span class="verse v132">Souiller le lict de ſa pꝛopꝛe niepce,</span>
   <span class="verse v133">Et ſur degꝛe de conſanguinite</span>
   <span class="verse v134">Cueillant la fleur de ſa virginite,</span>
   <span class="verse v135"><span class="verse-number">135</span>Delle eut ung filz / quil fiſt nommer Bꝛutus,</span>
   <span class="verse v136"> Du quel les faictz, pꝛoueſſes et vertus</span>
   <span class="verse v137">Acquirent 
      <span class="lem">loz</span>
      
       dœuure aſſez meritoire</span>
   <span class="verse v138">Pour tenir lieu en la pꝛeſente hiſtoire</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f29">
   <blockquote class="ms-2">
      
      <span class="verse v61"><mark title="piedMouche">§</mark>Puys que à droit point
         je treuve l’heure en prise</span>
      <span class="verse v62">Se Dieu et temps me sont vie octroyans</span>
      <span class="verse v63"><span style="position: relative;"><span class="lem">Cy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">Sy<span class="coll-source"> [BnFfr17274, Aix419]</span></span></span></sup></span> traicteray de l’exil aux <mark title="orgName" instant="false" full="yes">Troyans</mark></span>
      <span class="verse v64">Sur le recueil de la matiere emprise.</span>
      
      </blockquote>
   
   
   <hr data-img-id="f30">
   
   
   
   <hr data-img-id="f31">
   
   <span class="curr-title fw-bold">De l’exil 
      <mark title="orgName" instant="false" full="yes">Troyans</mark></span>
   
   <blockquote class="ms-2">
      <span style="position: relative;"><span class="lem">Chappitre <span class="num" type="ordinal" value="1">premier</span>
            
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v65"><span class="verse-number">65</span><span class="date" instant="false">Quatre cens ans et quatre</span>
      <span class="choice"><span title="Abbrégé en auāt"><mark title="abbréviation">avant</mark></span></span> que <mark title="placeName" instant="false" full="yes">
         <span class="choice"><span title="Abbrégé en rōme"><mark title="abbréviation">Romme</mark></span></span>
         </mark></span>
   <span class="verse v66">Eust appareil d’assiette, et <span style="position: relative;">que</span> par homme</span>
   <span class="verse v67"><span style="position: relative;">Prist</span>
      <span class="choice"><span title="Abbrégé en aornemēt"><mark title="abbréviation">aornement</mark></span></span> d’erectïon construicte,</span>
   <span class="verse v68">Fut la grand <mark title="placeName" instant="false" full="yes">Troye</mark> adnullee et destruicte.</span>
   <span class="verse v69">Le roy <mark class="persName">Priam<span class="persName-info fw-normal on-right"><b>Priam</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, dernier roi de Troie, fils et successeur
            de Laomédon</span></mark>, comblé de gloyre, nom,</span>
   <span class="verse v70"><span class="verse-number">70</span>Bruyt florissant, credit d’ample renom,</span>
   <span class="verse v71">Richesses, biens, loz, honneurs triumphans,</span>
   <span class="verse v72">Gens, temps prospere, autant de beaux enfans</span>
   <span class="verse v73">Et grands tresors que roy <span style="position: relative;"><span class="lem">pour lors</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">alors<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> en vie,</span>
   <span class="verse v74">Fortune adverse eut de son bien envie,</span>
   <span class="verse v75"><span class="verse-number">75</span><mark title="piedMouche">§</mark> Luy mesme
      aussi deffaillant regarder</span>
   <span class="verse v76">Que aise est souvent difficille à garder,</span>
   <span class="verse v77">Comme ennuyé <span style="position: relative;"><span class="lem">d’heur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">heur<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> et prosperité</span>
   <span class="verse v78">Fist playe à luy et sa
      posterité.</span>
   <span class="verse v79"><mark title="piedMouche">§</mark>Par ung sien filz dit <mark class="persName">Paris
         Alexandre<span class="persName-info fw-normal on-right"><b>Pâris</b><span class="hr-short">&nbsp;</span>Personnage de la mythologique grecque, prince de Troie, fils du roi
            Priam</span></mark>,</span>
   <span class="verse v80"><span class="verse-number">80</span>Fut toute <mark title="placeName" instant="false" full="yes">Troye</mark> afflicte et mise en cendre.</span>
   <span class="verse v81"><mark title="piedMouche">§</mark>Par le brandon d’ardeur
      libidineuse,</span>
   <span class="verse v82">Fier glayve et feu la firent rüyneuse.</span>
   <span class="verse v83"><mark title="piedMouche">§</mark><mark class="persName">Paris<span class="persName-info fw-normal on-right"><b>Pâris</b><span class="hr-short">&nbsp;</span>Personnage de la mythologique grecque, prince de Troie, fils du roi
            Priam</span></mark>, allant en <span style="position: relative;">
         <mark title="placeName" instant="false" full="yes">Grece</mark></span>
      <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">en<span class="coll-source"> [Vat966]</span></span></span></sup></span> diligence,</span>
   <span class="verse v84">Ravit <mark class="persName">Heleine<span class="persName-info fw-normal on-right"><b>Hélène de Sparte</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, épouse du roi de Sparte Ménélas</span></mark>
      et le fist par vengence</span>
   <span class="verse v85"><span class="verse-number">85</span>Du tort des <mark title="orgName" instant="false" full="yes">Grecz</mark>
      <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4967, BnFfr5299, Vat966]</span></span></span></sup></span> sa tante <mark class="persName">Exïonne<span class="persName-info fw-normal on-right"><b>Hésione</b><span class="hr-short">&nbsp;</span>Princesse troyenne, fille de Laomédon et de la nymphe Strymo</span></mark></span>
   
   <span class="verse v86"><mark class="persName">Menelaus<span class="persName-info fw-normal on-right"><b>Ménélas</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, roi de Sparte</span></mark>, veu l’exploict, dist :
      <span title="Discours direct">«&nbsp;Si
         on ne&nbsp;»</span></span>
   <span class="verse v87">
      <span title="Discours direct">«&nbsp;L’en veult venger, par <span style="position: relative;"><span class="lem">les puissantz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">le puissant<span class="coll-source"> [Aix419]</span></span></span></sup></span>
         <span style="position: relative;"><span class="lem">dieu</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">dieux<span class="coll-source"> [BnFfr17274, BnFfr23145]</span></span></span></sup></span>, jure&nbsp;»</span>
      </span>
   <span class="verse v88">
      <span title="Discours direct">«&nbsp;Que à toute <mark title="placeName" instant="false" full="yes">Grece</mark> imputera l’injure.&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f32">
   
   <span class="curr-title fw-bold">De l’exil aux
      <mark title="orgName" instant="false" full="yes">Troyans</mark></span>
   <span class="verse v89">Le conseil pris, chascun d’eulx luy octroye</span>
   <span class="verse v90"><span class="verse-number">90</span>Armes porter pour aller devant <mark title="placeName" instant="false" full="yes">Troye</mark>.</span>
   <span class="verse v91"><span class="date" dur="P10Y" instant="false">Dix</span> ans dura le sieige
      douloureux.</span>
   <span class="verse v92">Puys en la fin tumba <span style="position: relative;"><span class="lem">sort</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">fort<span class="coll-source"> [BnFfr17274, BnFfr4967]</span></span></span></sup></span> malheureux</span>
   <span class="verse v93">De pestifere et mortelle brüyne</span>
   <span class="verse v94">Sur les <mark title="orgName" instant="false" full="yes">Troyans</mark>. Aprés ceste rüyne,</span>
   <span class="verse v95"><span class="verse-number">95</span>La cité mise en feu, toute embrazee,</span>
   <span class="verse v96">Depopulee, abatue et razee,</span>
   <span class="verse v97"><mark class="persName">Priam<span class="persName-info fw-normal on-right"><b>Priam</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, dernier roi de Troie, fils et successeur
            de Laomédon</span></mark> occis. De tous ses enfans, nulz</span>
   <span class="verse v98">Furent saulvez, fors sans plus <mark class="persName">Helenus<span class="persName-info fw-normal on-right"><b>Hélénos</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque</span></mark>.</span>
   <span class="verse v99">Aucuns barons de <mark title="placeName" instant="false" full="yes">Troye</mark> et nobles princes,</span>
   <span class="verse v100"><span class="verse-number">100</span>Mys en exil,
      <span style="position: relative;"><span class="lem">enchercherent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">ou chercerent<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> provinces</span>
   <span class="verse v101">D’estranges lieux et habitatïons</span>
   <span class="verse v102">Pour y bastir nouvelles mansïons,</span>
   <span class="verse v103">Comme <mark class="persName">Helenus<span class="persName-info fw-normal on-right"><b>Hélénos</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque</span></mark>,
      <mark class="persName">Anthenor<span class="persName-info fw-normal on-right"><b>Anténor</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Ésyétès</span></mark>, puys<mark class="persName">Enee<span class="persName-info fw-normal on-right"><b>Énée</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Anchis et de Vénus, héros de la
            guerre de Troie</span></mark>,</span>
   <span class="verse v104">Et autres dont sortit belle lignee.</span>
   <span class="verse v105"><span class="verse-number">105</span>Celluy <mark class="persName">Enee<span class="persName-info fw-normal on-right"><b>Énée</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Anchis et de Vénus, héros de la
            guerre de Troie</span></mark>, ung des plus grandz de <mark title="placeName" instant="false" full="yes">Troye</mark>,</span>
   <span class="verse v106">Se mist en mer querant nouvelle proye,</span>
   <span class="verse v107">Et des <mark title="orgName" instant="false" full="yes">Troyans</mark> emmena par son sens</span>
   <span class="verse v108">Avecques soy quatre mil quatre cens.</span>
   <span class="verse v109">Mais avant estre arrivé en <mark title="placeName" instant="false" full="yes">Carthaige</mark>,</span>
   <span class="verse v110"><span class="verse-number">110</span>Eut de griefz maulx fort excessif
      partaige.</span>
   <span class="verse v111">Dame <mark class="persName">Juno<span class="persName-info fw-normal on-right"><b>Junon</b><span class="hr-short">&nbsp;</span>Déesse romaine</span></mark>, qui envïeuse estoit,</span>
   <span class="verse v112">Du bien que sort <span style="position: relative;"><span class="lem">fatal</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">fatale<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> luy promectoit,</span>
   
   
   <hr data-img-id="f33">
   
   <span class="curr-title fw-bold">De l’exil aux <mark title="orgName" instant="false" full="yes">Troyans</mark></span>
   <span class="verse v113">Pour travailler ses dolentz esperitz,</span>
   <span class="verse v114">Luy presenta plusieurs doubteux perilz.</span>
   <span class="verse v115"><span class="verse-number">115</span>Lors <mark class="persName">Eolus<span class="persName-info fw-normal on-right"><b>Éole</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Hippotès et maître des
            vents</span></mark>, des goulfres perilleux,</span>
   <span class="verse v116">Fist sortir hors bouffemens merveilleux,</span>
   <span class="verse v117">Horribles ventz, tempestes vehementes.</span>
   
   <span class="verse v118">Mer <span style="position: relative;"><span class="lem">s’enfle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">souffle<span class="coll-source"> [BnFfr23145, BnFfr5299]</span></span></span></sup></span> et bruyt ; undes, vagues, tourmentes</span>
   <span class="verse v119">Font appareil de nauffraige et dangier</span>
   <span class="verse v120"><span class="verse-number">120</span>Pour faire <mark class="persName">Enee<span class="persName-info fw-normal on-right"><b>Énée</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque, fils d'Anchis et de Vénus, héros de la
            guerre de Troie</span></mark> et les siens
      submerger.</span>
   <span class="verse v121">Puys, comme temps divers s’appaise et passe,</span>
   <span class="verse v122">Vint en <mark title="placeName" instant="false" full="yes">Carthaige</mark> et <span style="position: relative;"><span class="lem">fut là</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">là fut<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> quelque espace</span>
   <span class="verse v123"><span style="position: relative;"><span class="lem">Avec <mark class="persName">Dido<span class="persName-info fw-normal on-right"><b>Didon</b><span class="hr-short">&nbsp;</span>Princesse phénicienne, fondatrice légendaire de Carthage et sa première
                  reine</span></mark>. Mais</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">Non fort longtemps car<span class="coll-source"> [Aix419]</span></span></span></sup></span> voluntez fatalles</span>
   <span class="verse v124">Le firent tost bransler <span style="position: relative;">jusqu’aux</span>
      <mark title="placeName" instant="false" full="yes">Italles</mark>,</span>
   <span class="verse v125"><span class="verse-number">125</span>Où il regna par certains ans prefix,</span>
   <span class="verse v126">Et aprés luy, <mark class="persName">Ascanïus<span class="persName-info fw-normal on-right"><b>Ascagne</b><span class="hr-short">&nbsp;</span>Fils d'Enée, roi fondateur légendaire d'Albe la Longue</span></mark>, son
      filz,</span>
   <span class="verse v127">Qui en brief temps son vouloir  exposa</span>
   <span class="verse v128">Au roy <mark class="persName">Latin<span class="persName-info fw-normal on-right"><b>Latinus</b><span class="hr-short">&nbsp;</span>Personnage de la mythologie grecque</span></mark>, et sa fille espousa.</span>
   <span class="verse v129">D’elle eut ung filz, dit <mark class="persName">Silvïus<span class="persName-info fw-normal on-right"><b>Silvius</b><span class="hr-short">&nbsp;</span>Roi légendaire d'Albe la Longue</span></mark>, qui puys</span>
   <span class="verse v130"><span class="verse-number">130</span>Commist ung faict que taire icy ne
      puys.</span>
   <span class="verse v131">Le cas fut tel&nbsp;: il <span style="position: relative;"><span class="lem">prist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">print<span class="coll-source"> [Cha514]</span></span></span></sup></span> la hardïesse</span>
   <span class="verse v132">Souiller le lict de sa propre nïepce,</span>
   <span class="verse v133">Et sur degré de consanguinité</span>
   <span class="verse v134">Cueillant la fleur de sa virginité,</span>
   <span class="verse v135"><span class="verse-number">135</span>D’elle eut ung filz qu’il fist nommer <mark class="persName">Brutus<span class="persName-info fw-normal on-right"><b>Brutus</b><span class="hr-short">&nbsp;</span>Roi légendaire de Bretagne, supposé être le descendant du héros troyen
            Énée</span></mark>,</span>
   <span class="verse v136"> Duquel les faictz, prouësses et vertus</span>
   <span class="verse v137">Acquirent <span style="position: relative;"><span class="lem">loz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">lotz<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> d’œuvre assez meritoire</span>
   <span class="verse v138">Pour tenir lieu en la presente histoire.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(63);">v. 63</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Aix419 </span>Sy</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(73);">v. 73</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>alors</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(77);">v. 77</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>heur</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(83);">v. 83</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>en</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(85);">v. 85</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(87);">v. 87</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>le puissant</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(87);">v. 87</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145 </span>dieux</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(92);">v. 92</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr4967 </span>fort</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(100);">v. 100</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ou chercerent</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(112);">v. 112</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>fatale</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(118);">v. 118</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr5299 </span>souffle</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(122);">v. 122</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>là fut</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(123);">v. 123</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Non fort longtemps car</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(131);">v. 131</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>print</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(137);">v. 137</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>lotz</span></div>
      </div>
</div>
{% endmacro %}
