
{% macro chapterTitle() %}Chapitre 4{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('5_chap_3')"><i class="fa-solid fa-arrow-left"></i> Chapitre 3</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('7_chap_5')">Chapitre 5 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f46/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f46/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f46" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f47/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f47/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f47" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f48/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f48/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f48" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f49/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f49/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f49" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f50/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f50/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f50" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f51/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f51/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f51" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f52/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b105206468/f52/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f52" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f46">
   <p title="Numéro de folio" class="text-end"><i>10v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v441"><mark title="piedMouche">§</mark>En leſcript mys cy
         deſſoubz verrons mains</span>
      <span class="verse v442">Couraigeux faictz des <mark title="orgName" instant="false" full="yes">francoys</mark> / allumans</span>
      <span class="verse v443">Feu de fureur contre les <mark title="orgName" instant="false" full="yes">Allemans</mark></span>
      <span class="verse v444">Et comme auſſi 
         <span class="lem">vainquirent</span>
         
          les <mark title="orgName" instant="false" full="yes">rommains</mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.
         <span class="num" type="ordinal" value="4">iiii<sup>e</sup></span>.</span>
      
      
      </blockquote>
   
   <span class="verse v445"><span class="verse-number">445</span>LO ꝛ s que le temps de laffranchiſement</span>
   <span class="verse v446">Fut expire /.
      Lempereur doulcement</span>
   <span class="verse v447">Vers les <mark title="orgName" instant="false" full="yes">francoys</mark> ſes recepueurs manda</span>
   <span class="verse v448">Et le tribut recepuoir commanda</span>
   <span class="verse v449">Acouſtume 
      <span class="lem"></span>
      
      pꝛendꝛe auant les <span class="date" dur="P10Y" instant="false">dix</span> ans,</span>
   <span class="verse v450"><span class="verse-number">450</span>Ce que <mark title="orgName" instant="false" full="yes">francoys</mark>
      <span class="choice"><span title="Abbréviation pour reffuserent"><mark title="abbréviation">reffuſerēt</mark></span></span> /. diſans</span>
   <span class="verse v451">Que par le pꝛis de leur ſang /
      
      <span class="lem">ſen</span>
      
       tenoyent</span>
   <span class="verse v452">Quictes et francz /.
      Et oultre ſouſtenoyent</span>
   <span class="verse v453">Auoir pꝛopos libꝛes et voluntaires</span>
   <span class="verse v454">Neſtre iamais aux <mark title="orgName" instant="false" full="yes">rommains</mark> tributaires.</span>
   <span class="verse v455"><span class="verse-number">455</span>Ce rappoꝛt fait /
      Lempereur indigne,</span>
   <span class="verse v456">Tout marmouze / mau meu et mutine,</span>
   <span class="verse v457">Pꝛenant a cueur ceſte choſe / pꝛoteſte</span>
   
   
   <hr data-img-id="f47">
   
   <p title="Numéro de folio" class="text-end"><i>11r</i></p>
   <span class="d-block fw-bold mb-3">Guerre entre les <mark title="orgName" instant="false" full="yes">francoys</mark> et <mark title="orgName" instant="false" full="yes">rommains</mark>.</span>
   <span class="verse v458">Ciel / ſoleil / lune /. et tous les deux atteſte</span>
   <span class="verse v459">Quen bꝛief fera / (veu larrogant reffus,</span>
   <span class="verse v460"><span class="verse-number">460</span>Leur fier oꝛgueil dompter a fers et fuſtz.</span>
   <span class="verse v461">Si decerna amples commiſſions</span>
   <span class="verse v462">Pour conuocquer pꝛouchaines nations,</span>
   <span class="verse v463">Puys fait mander que 
      <span class="lem">loſt</span>
      
       on 
      <span class="lem">auitaille</span>
      
      </span>
   <span class="verse v464">Et veult 
      <span class="lem">quil</span>
      
       marche en oꝛdꝛe de bataille,</span>
   <span class="verse v465"><span class="verse-number">465</span>Faiſant crier ſur <mark title="orgName" instant="false" full="yes">francoys</mark> guerre ouuerte.</span>
   <span class="verse v466">Mais ſuppoſe que terre feuſt couuerte</span>
   <span class="verse v467">De gentz armez /.
      <mark title="orgName" instant="false" full="yes">francoys</mark> ſicambꝛiens</span>
   <span class="verse v468">Ne font ſemblant <mark title="orgName" instant="false" full="yes">rommains</mark> doubter en riens,</span>
   <span class="verse v469">Soꝛtent aux champs deliberez combatre</span>
   <span class="verse v470"><span class="verse-number">470</span>Tout loſt <mark title="orgName" instant="false" full="yes">rommain</mark> /. Mais quant vint au debatre,</span>
   <span class="verse v471">Conſiderans /
      Apꝛes peine enduree</span>
   <span class="verse v472">Ne pouoir pas auoir longue duree</span>
   <span class="verse v473">Contre tel peuple /
      Aviſerent ces lieux</span>
   <span class="verse v474">Deſemparer /. En 
      <span class="lem">ce</span>
      
       cas firent mieulx</span>
   <span class="verse v475"><span class="verse-number">475</span>Car la retraicte a poꝛt de bonne entente</span>
   <span class="verse v476">Duiſt touſiours mieulx que la mauuaiſe 
      <span class="lem">actente</span>
      
      .</span>
   <span class="verse v477">A ces moyens / du partir oꝛdonnerent</span>
   <span class="verse v478">Et leur cite 
      <span class="lem">pour</span>
      
       lheure abandonnerent.</span>
   <span class="verse v479">Mais nonobſtant / la perte dommaigeuſe,</span>
   <span class="verse v480"><span class="verse-number">480</span>Ceſte 
      <span class="lem">meſgnye</span>
      
       hardie et couraigeuſe</span>
   <span class="verse v481">
      <span class="lem">Conſidera</span>
      
       que 
      <span class="lem">perdꝛe</span>
      
       a doubter eſt</span>
   <span class="verse v482">Plus liberte que nul autre intereſt.</span>
   
   
   <hr data-img-id="f48">
   
   <p title="Numéro de folio" class="text-end"><i>11v</i></p>
   <span class="d-block fw-bold mb-3">Des conqueſtes des <mark title="orgName" instant="false" full="yes">francoys</mark> en
      <mark title="placeName" instant="false" full="yes">Germanie</mark>.</span>
   <span class="verse v483">Veu que pour oꝛ ne ſe peult 
      <span class="lem">acheter</span>
      
      .</span>
   <span class="verse v484">Par quoy conclud dure moꝛt accepter</span>
   <span class="verse v485"><span class="verse-number">485</span>Ains que ſouffrir aſſeruir ſa franchiſe,</span>
   <span class="verse v486">Diſant /.
      <span title="Discours direct">Ceſt dꝛoit que
         noble cueur franc giſe</span></span>
   <span class="verse v487">
      <span title="Discours direct">Hoꝛs les liens de
         vile ſeruitude.</span>
      </span>
   <span class="verse v488">Loꝛs ſaſſembla ſi gꝛande multitude</span>
   <span class="verse v489">
      <span class="lem">De</span>
      
      
      <mark title="orgName" instant="false" full="yes">Sicambꝛoys</mark> / que chaſcun les admire.</span>
   <span class="verse v490"><span class="verse-number">490</span>Chiefz et ducteurs eſleurent Marcomire</span>
   <span class="verse v491">Et autres deux Symon et
      
      <span class="lem">Gennebault</span>
      
      ,</span>
   
   <span class="verse v492">Gentz de gꝛand cueur /.
      Qvi de couraige 
      <span class="lem">bault</span>
      
      ,</span>
   <span class="verse v493">Sans deſuoyer, deuers la part ſiniſtre</span>
   <span class="verse v494">Paſſerent tous le gꝛand fluue du <mark title="placeName" instant="false" full="yes">liſtre</mark>.</span>
   <span class="verse v495"><span class="verse-number">495</span>Oultre paſſez / deſcendirent tantoſt</span>
   <span class="verse v496">En <mark title="placeName" instant="false" full="yes">Germanie</mark> /. ou deffirent
      gꝛand oſt</span>
   <span class="verse v497">Venant contre eulx du peuple <mark title="orgName" instant="false" full="yes">Germanicque</mark>.</span>
   <span class="verse v498">Et ſur le <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rin</mark></mark>
      
      <span class="lem">(</span>
      
      Comme dit la cronicque
      <span class="lem">)</span>
      
      </span>
   <span class="verse v499">De ceulx faiſans vray recueil des hiſtoyꝛes,</span>
   <span class="verse v500"><span class="verse-number">500</span>Eurent tout plein dexcellentes victoyꝛes</span>
   <span class="verse v501">Ou loz / renom / bꝛuyt / et triumphe acquirent.</span>
   <span class="verse v502">La gꝛand 
      <span class="lem"></span>
      
       cite de <mark title="placeName" instant="false" full="yes">francone</mark> baſtirent /</span>
   <span class="verse v503">Qui maintenant 
      <span class="lem"></span>
      
       appellee eſt /
      <mark title="placeName" instant="false" full="yes">francfoꝛt</mark>,</span>
   <span class="verse v504">En quoy leur nom eut credit de renfoꝛt.</span>
   <span class="verse v505"><span class="verse-number">505</span>Depuys regnant lempereur Theodoſe,</span>
   <span class="verse v506">Bien aduerty de la facon dont oſe</span>
   <span class="verse v507">Ceſte ſuperbe et fiere nation</span>
   
   
   <hr data-img-id="f49">
   
   <p title="Numéro de folio" class="text-end"><i>12r</i></p>
   <span class="d-block fw-bold mb-3">La guerre meue aux <mark title="orgName" instant="false" full="yes">francoys</mark> par les <mark title="orgName" instant="false" full="yes">rommains</mark>.</span>
   <span class="verse v508">Empꝛandꝛe honneur de domination,</span>
   <span class="verse v509">Saichant auſſi les batailles quont quiſes</span>
   <span class="verse v510"><span class="verse-number">510</span>Dauoir ainſi <mark title="placeName" instant="false" full="yes">Allemaignes</mark> conquiſes</span>
   <span class="verse v511">Pays gaſtez / gꝛandz manoirs demoliz,</span>
   <span class="verse v512">Chaſteaux raſez / villaiges aboliz,</span>
   <span class="verse v513"><span class="choice"><span title="Abbréviation pour Semblablement"><mark title="abbréviation">Semƀꝉement</mark></span></span> / quont retire leurs mains,</span>
   <span class="verse v514">Rendꝛe et payer le tribut aux <mark title="orgName" instant="false" full="yes">rommains</mark>,</span>
   <span class="verse v515"><span class="verse-number">515</span>Delibera 
      <span class="lem"></span>
      
      ouurir guerre fermee</span>
   <span class="verse v516">Et contre eulx mectre une bien gꝛoſſe armee</span>
   <span class="verse v517">Pour leur gꝛos cueur rebelle et infeſtant</span>
   <span class="verse v518">Rendꝛe amoly /. et 
      <span class="lem">charger</span>
      
       de 
      <span class="lem">faix</span>
      
      , tant</span>
   <span class="verse v519">Que iamais plus ne feuſt memoyꝛe deulx.</span>
   <span class="verse v520"><span class="verse-number">520</span>De ceſt affaire, eurent la charge / deux</span>
   <span class="verse v521">Conſulz rommains.
      Quintinus et Nanime,</span>
   
   <span class="verse v522">Qui de couraige et vouloir magnanime</span>
   <span class="verse v523">Contre <mark title="orgName" instant="false" full="yes">francoys</mark> dꝛeſſerent appareil</span>
   <span class="verse v524">De fier combat /. Auſſi, en cas pareil,</span>
   <span class="verse v525"><span class="verse-number">525</span><mark title="orgName" instant="false" full="yes">Francoys</mark> aux champs / ſans fuyr le dangier,</span>
   <span class="verse v526">Voullurent bien de meſmes en menger.</span>
   <span class="verse v527">Mais les <mark title="orgName" instant="false" full="yes">rommains</mark>, 
      <span class="lem">daigꝛe entremetz</span>
      
      
       repeuz,</span>
   <span class="verse v528">A ce pꝛemier 
      <span class="lem">conflict</span>
      
       furent rompuz</span>
   <span class="verse v529">Et mys en fuyte /. Oꝛ apꝛes ceſte etraincte</span>
   <span class="verse v530"><span class="verse-number">530</span>Lourde et honteuſe /.
      Il fut foꝛce contraincte,</span>
   <span class="verse v531">
      <span class="lem">Veu</span>
      
       les effectz (de leurs auances)
      courtz,</span>
   <span class="verse v532">Ayde appeler / et demander ſecours.</span>
   
   
   <hr data-img-id="f50">
   
   <p title="Numéro de folio" class="text-end"><i>12v</i></p>
   <span class="d-block fw-bold mb-3">Bataille des <mark title="orgName" instant="false" full="yes">francoys</mark> contre les
      <mark title="orgName" instant="false" full="yes">Rommains</mark>.</span>
   <span class="verse v533">Si fut tranſmys renfoꝛt de 
      <span class="lem">gentz</span>
      
       eſleuz,</span>
   <span class="verse v534">Iouinian /
      
      <span class="lem"></span>
      
      auſſi Eraclius.</span>
   <span class="verse v535"><span class="verse-number">535</span>Pꝛinces et ducz de la cheuallerie</span>
   <span class="verse v536">Du <mark title="orgName" instant="false" full="yes">Rommain</mark> peuple et haulte ſeigneurie</span>
   
   <span class="verse v537">Sont deputez au faict de la conduicte</span>
   <span class="verse v538">Pour 
      <span class="lem">veoir</span>
      
       lempꝛiſe a bonne fin reduicte.</span>
   <span class="verse v539">Loꝛs les <mark title="orgName" instant="false" full="yes">rommains</mark>, 
      <span class="lem"></span>
      
       eulx voyans renfoꝛcez,</span>
   <span class="verse v540"><span class="verse-number">540</span>Nagueres tous a la fuyte foꝛcez,</span>
   <span class="verse v541">Conſiderans que la vertu unie</span>
   <span class="verse v542">Eſt 
      <span class="lem"></span>
      
       plus de foꝛce et puiſſance munie</span>
   <span class="verse v543">Que quant ſe tient diſperſe et diuiſee,</span>
   <span class="verse v544">Ont de rechief la maniere aduiſee</span>
   <span class="verse v545"><span class="verse-number">545</span>Pour fierement ſur les <mark title="orgName" instant="false" full="yes">Francois</mark> ſaillir.</span>
   <span class="verse v546">On peult penſer et croyꝛe /
      A laſſaillir</span>
   <span class="verse v547">Y auoir eu fiere /
      
      <span class="lem"></span>
      
       foꝛte / et farouche,</span>
   <span class="verse v548">Rude / reueſche / et rebelle eſcarmouche.</span>
   
   <span class="verse v549">La Mulciber /
      martelle 
      <span class="lem">ſes</span>
      
       marteaux,</span>
   <span class="verse v550"><span class="verse-number">550</span>Mars baigne en ſang ſes glayues
      et couteaux,</span>
   <span class="verse v551">La tonne et bꝛuyt furieuſe diſcoꝛde,</span>
   <span class="verse v552">La. cry de guerre aſpꝛement ſe recoꝛde,</span>
   <span class="verse v553">Auanſcoureux /
      
      <span class="lem">bendes / trouppes /</span>
      
      
      
       batailles</span>
   <span class="verse v554">Mis peſle meſle /. Entendez quelles tailles,</span>
   <span class="verse v555"><span class="verse-number">555</span>Quelz coups deſtoc / de trenches et reuers</span>
   <span class="verse v556">La ſont donnez 
      <span class="lem">a</span>
      
       toꝛt et de trauers&nbsp;!</span>
   <span class="verse v557">Telle heure y eut 
      <span class="lem">quon neuſt ſceu</span>
      
       bien iuger</span>
   
   
   <hr data-img-id="f51">
   
   <p title="Numéro de folio" class="text-end"><i>13r</i></p>
   <span class="d-block fw-bold mb-3">Victoyres des <mark title="orgName" instant="false" full="yes">francoys</mark> contre les <mark title="orgName" instant="false" full="yes">rommains</mark>.</span>
   <span class="verse v558">Qui pꝛemier deuſt bꝛanſler et deſloger.</span>
   <span class="verse v559">Mais poſe oꝛ qua gꝛandz coups de guiſarmes,</span>
   <span class="verse v560"><span class="verse-number">560</span>Lances /
      
      <span class="lem">paſſotz</span>
      
       / vouges / et autres armes</span>
   <span class="verse v561">Feiſſent <mark title="orgName" instant="false" full="yes">rommains</mark> tours de gentz belliqueux,</span>
   <span class="verse v562">Si eurent ilz en fin plus vaillantz que eulx</span>
   <span class="verse v563">Car les <mark title="orgName" instant="false" full="yes">Francoys</mark> au combat ſi bien firent</span>
   <span class="verse v564">Que moꝛtz / que pꝛis / que fuyans les deffirent.</span>
   <span class="verse v565"><span class="verse-number">565</span>Du ſang <mark title="orgName" instant="false" full="yes">rommain</mark> eut telle effuſion</span>
   <span class="verse v566">Si exceſſiue et gꝛiefue occiſion</span>
   <span class="verse v567">Et tel deſoꝛdꝛe aux fuytifz capitaines</span>
   <span class="verse v568">Que nations pꝛouchaines et loingtaines</span>
   <span class="verse v569">Furent des loꝛs toutes eſpouentees</span>
   <span class="verse v570"><span class="verse-number">570</span>Et des <mark title="orgName" instant="false" full="yes">francoys</mark> les foꝛces tant doubtees</span>
   <span class="verse v571">Quoncques depuys neſung 
      <span class="lem">oſa</span>
      
      
      
      <span class="lem">empꝛendꝛe</span>
      
      </span>
   <span class="verse v572">Aucun tribut ſur eulx leuer ne pꝛendꝛe.</span>
   <span class="verse v573"><mark title="piedMouche">§</mark>Depuys leur fut 
      <span class="lem"></span>
      
      en <mark title="placeName" instant="false" full="yes">Treuere</mark> baillee</span>
   <span class="verse v574">Une cite <mark title="placeName" instant="false" full="yes">
         
         <span class="lem">Cyſrenane</span>
         
         
         
         
         </mark> appellee</span>
   <span class="verse v575"><span class="verse-number">575</span>Ou Lucius ſenateur 
      <span class="lem"></span>
      
       reſidoit</span>
   
   <span class="verse v576">Et ſoubz ladueu des <mark title="orgName" instant="false" full="yes">Rommains</mark> pꝛeſidoit.</span>
   <span class="verse v577">Ce Lucius / pour le conte abꝛeger,</span>
   <span class="verse v578">
      <span class="lem">Liura</span>
      
       la ville Affin de ſe venger</span>
   <span class="verse v579">Dun laſche tour / deſhonneſte et infame,</span>
   <span class="verse v580"><span class="verse-number">580</span>Touchant lhonneur de luy et de ſa femme,</span>
   <span class="verse v581">Que ung 
      <span class="lem">loꝛs pꝛeuoſt</span>
      
       de la <mark title="placeName" instant="false" full="yes">Gaulle</mark>
      
      <span class="lem">belgicque</span>
      
      
      </span>
   <span class="verse v582">
      <span class="lem">Commiſt</span>
      
       par <span title="substitution"><span class="align-top" title="Ajout">
            
            <span class="lem">art</span>
            
            
            
            
            </span><s class="align-bottom" title="Suppression"><s></s></s></span>
      
      <span class="lem"></span>
      
       ſubtil 
      <span class="lem">
         <span title="substitution"><span class="align-top" title="Ajout">
               <span class="choice"><span title="Abbréviation pour comme"><mark title="abbréviation">cōme</mark></span></span>
               </span><s class="align-bottom" title="Suppression"><s></s></s></span>
         </span>
      
      
       magicque.</span>
   
   
   <hr data-img-id="f52">
   
   <p title="Numéro de folio" class="text-end"><i>13v</i></p>
   <span class="d-block fw-bold mb-3">Du <mark title="orgName" instant="false" full="yes">Rommain</mark>
      Lucius.</span>
   <span class="verse v583">Deſir charnel plein de concupiſcence</span>
   <span class="verse v584">Si 
      <span class="lem"></span>
      
      aſpꝛement le ſaiſit / quen labſence</span>
   <span class="verse v585"><span class="verse-number">585</span>Du ſenateur / ſon eſpouſe deceut.</span>
   <span class="verse v586">Qui des pꝛemiers ( peult eſtre) ne le
      ſceut,</span>
   <span class="verse v587">Mais tant eſt vil ce vice dadultere,</span>
   <span class="verse v588">Que toſt eſt ſceu /
      Iacoit quon 
      <span class="lem">deuſt le</span>
      
       taire.</span>
   <span class="verse v589">Dauoir honny chaſtete maritalle,</span>
   <span class="verse v590"><span class="verse-number">590</span>Le bꝛuyt volla ſoudain iuſquen 
      <span class="lem">l<mark title="placeName" instant="false" full="yes">italle</mark></span>
      
      </span>
   <span class="verse v591">Ou, pour le temps ce Lucius
      eſtoit,</span>
   <span class="verse v592">Le quel du tour gueres ne ſe doubtoit,</span>
   <span class="verse v593">Ains bien penſoit telle fiance auoir</span>
   <span class="verse v594">
      <span class="lem">Au ſien</span>
      
       amy / pour iamais ne debuoir</span>
   <span class="verse v595"><span class="verse-number">595</span>Faire enuers luy ceſte pꝛodition</span>
   <span class="verse v596">Qui cauſe fut de la vendition</span>
   <span class="verse v597">Faicte aux <mark title="orgName" instant="false" full="yes">francoys</mark>. Et hoꝛs tribut de hommaige</span>
   <span class="verse v598">Leur gꝛand pꝛouffit faire dautruy dommaige.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f46">
   <blockquote class="ms-2">
      
      <span class="verse v441"><mark title="piedMouche">§</mark>En l’escript mys cy
         dessoubz verrons mains</span>
      <span class="verse v442">Couraigeux faictz des <mark title="orgName" instant="false" full="yes">Françoys</mark> allumans</span>
      <span class="verse v443">Feu de fureur contre les <mark title="orgName" instant="false" full="yes">Allemans</mark></span>
      <span class="verse v444">Et comme aussi <span style="position: relative;"><span class="lem">vainquirent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">vengerent<span class="coll-source"> [Aix419]</span></span></span></sup></span> les <mark title="orgName" instant="false" full="yes">Rommains</mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre
            <span class="num" type="ordinal" value="4">iiii<sup>e</sup></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v445"><span class="verse-number">445</span>Lors que le temps de l’affranchisement</span>
   <span class="verse v446">Fut expiré,
      l’empereur doulcement</span>
   <span class="verse v447">Vers les <mark title="orgName" instant="false" full="yes">Françoys</mark> ses recepveurs manda</span>
   <span class="verse v448">Et le tribut recepvoir commanda</span>
   <span class="verse v449">Acoustumé <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">de <span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>prendre avant les <span class="date" dur="P10Y" instant="false">dix</span> ans,</span>
   <span class="verse v450"><span class="verse-number">450</span>Ce que <mark title="orgName" instant="false" full="yes">Françoys</mark>
      <span class="choice"><span title="Abbrégé en reffuserēt"><mark title="abbréviation">reffuserent</mark></span></span>, disans</span>
   <span class="verse v451">Que par le pris de leur sang
      <span style="position: relative;"><span class="lem">s’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">se<span class="coll-source"> [BnFfr4967, BnFfr5299]</span></span></span></sup></span> tenoyent</span>
   <span class="verse v452">Quictes et francz,
      et oultre soustenoyent</span>
   <span class="verse v453">Avoir propos libres et voluntaires</span>
   <span class="verse v454">N’estre jamais aux <mark title="orgName" instant="false" full="yes">Rommains</mark> tributaires.</span>
   <span class="verse v455"><span class="verse-number">455</span>Ce rapport fait,
      l'empereur indigné,</span>
   <span class="verse v456">Tout marmouzé, mau meu et mutiné,</span>
   <span class="verse v457">Prenant à cueur ceste chose, proteste</span>
   
   
   <hr data-img-id="f47">
   
   <span class="curr-title fw-bold">Guerre entre les <mark title="orgName" instant="false" full="yes">Françoys</mark> et <mark title="orgName" instant="false" full="yes">Rommains</mark></span>
   <span class="verse v458">Ciel, soleil, lune et tous les deux atteste</span>
   <span class="verse v459">Qu’en brief fera, veu l’arrogant reffus,</span>
   <span class="verse v460"><span class="verse-number">460</span>Leur fier orgueil dompter à fers et fustz.</span>
   <span class="verse v461">Si decerna amples commissïons</span>
   <span class="verse v462">Pour convocquer prouchaines natïons,</span>
   <span class="verse v463">Puys fait mander que <span style="position: relative;">l’ost</span> on <span style="position: relative;">avitaille</span></span>
   <span class="verse v464">Et veult <span style="position: relative;"><span class="lem">qu’il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content">qui<span class="coll-source"> [Aix419]</span></span></span></sup></span> marche en ordre de bataille,</span>
   <span class="verse v465"><span class="verse-number">465</span>Faisant crier sur <mark title="orgName" instant="false" full="yes">Françoys</mark> guerre ouverte.</span>
   <span class="verse v466">Mais supposé que terre feust couverte</span>
   <span class="verse v467">De gentz armez,
      <mark title="orgName" instant="false" full="yes">Françoys</mark> sicambriens</span>
   <span class="verse v468">Ne font semblant <mark title="orgName" instant="false" full="yes">Rommains</mark> doubter en riens,</span>
   <span class="verse v469">Sortent aux champs deliberez combatre</span>
   <span class="verse v470"><span class="verse-number">470</span>Tout l’ost <mark title="orgName" instant="false" full="yes">rommain</mark>. Mais quant vint au debatre,</span>
   <span class="verse v471">Considerans
      aprés peine enduree</span>
   <span class="verse v472">Ne pouoir pas avoir longue duree</span>
   <span class="verse v473">Contre tel peuple,
      aviserent ces lieux</span>
   <span class="verse v474">Desemparer. En <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">ces<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> cas firent mieulx</span>
   <span class="verse v475"><span class="verse-number">475</span>Car la retraicte à port de bonne entente</span>
   <span class="verse v476">Duist tousjours mieulx que la mauvaise <span style="position: relative;">actente</span>.</span>
   <span class="verse v477">À ces moyens, du partir ordonnerent</span>
   <span class="verse v478">Et leur cité <span style="position: relative;"><span class="lem">pour</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">à<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> l’heure abandonnerent.</span>
   <span class="verse v479">Mais nonobstant la perte dommaigeuse,</span>
   <span class="verse v480"><span class="verse-number">480</span>Ceste <span style="position: relative;"><span class="lem">mesgnye</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">mesgnee<span class="coll-source"> [Cha514]</span></span></span></sup></span> hardie et couraigeuse</span>
   <span class="verse v481"><span style="position: relative;"><span class="lem">Considera</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">Considere<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> que <span style="position: relative;"><span class="lem">perdre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">perte<span class="coll-source"> [BnFfr4967]</span></span></span></sup></span> à doubter est</span>
   <span class="verse v482">Plus liberté que nul autre interest,</span>
   
   
   <hr data-img-id="f48">
   
   <span class="curr-title fw-bold">Des conquestes des <mark title="orgName" instant="false" full="yes">Françoys</mark> en
      <mark title="placeName" instant="false" full="yes">Germanie</mark></span>
   <span class="verse v483">Veu que pour or ne se peult <span style="position: relative;">acheter<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">achapter<span class="coll-source"> [BnFfr23145, Aix419]</span> ; achepter<span class="coll-source"> [BnFfr4967, Cha514]</span></span></span></sup></span>.</span>
   <span class="verse v484">Par quoy conclud dure mort accepter</span>
   <span class="verse v485"><span class="verse-number">485</span>Ains que souffrir asservir sa franchise,</span>
   <span class="verse v486">Disant :
      <span title="Discours direct">«&nbsp;C’est droit que
         noble cueur franc gise&nbsp;»</span></span>
   <span class="verse v487">
      <span title="Discours direct">«&nbsp;Hors les lïens de
         vile servitude.&nbsp;»</span>
      </span>
   <span class="verse v488">Lors s’assembla si grande multitude</span>
   <span class="verse v489"><span style="position: relative;">De</span>
      <mark title="orgName" instant="false" full="yes">Sicambroys</mark> que chascun les admire.</span>
   <span class="verse v490"><span class="verse-number">490</span>Chiefz et ducteurs esleurent <mark class="persName">Marcomire<span class="persName-info fw-normal on-right"><b>Marconir</b> (IVe siècle — circa 400)<span class="hr-100">&nbsp;</span>Roi des Francs à la fin du IVe siècle (380-400)<br/></span></mark></span>
   <span class="verse v491">Et autres deux <mark class="persName">Symon<span class="persName-info fw-normal on-right"><b>Sunnon</b> (circa 350 — 400)<span class="hr-100">&nbsp;</span>Roi franc (380-400)<br/></span></mark> et
      <mark class="persName"><span style="position: relative;"><span class="lem">Gennebault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">Gonnebault<span class="coll-source"> [Vat966]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Gennobaud</b> (IVe siècle — 388)<span class="hr-short">&nbsp;</span>Chef franc</span></mark>,</span>
   
   <span class="verse v492">Gentz de grand cueur
      qui de couraige <span style="position: relative;"><span class="lem">bault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content"><span>hault</span><span class="coll-source"> [Vat966]</span></span></span></sup></span>,</span>
   <span class="verse v493">Sans desvoyer, devers la part sinistre</span>
   <span class="verse v494">Passerent tous le grand fluve du <mark title="placeName" instant="false" full="yes">Listre</mark>.</span>
   <span class="verse v495"><span class="verse-number">495</span>Oultre passez descendirent tantost</span>
   <span class="verse v496">En <mark title="placeName" instant="false" full="yes">Germanie</mark> où deffirent
      grand ost</span>
   <span class="verse v497">Venant contre eulx du peuple <mark title="orgName" instant="false" full="yes">germanicque</mark>.</span>
   <span class="verse v498">Et sur le <mark title="placeName" instant="false" full="yes"><mark title="geogName" instant="false">Rin</mark></mark>
      <span style="position: relative;">,</span>comme dit la cronicque<span style="position: relative;">,</span></span>
   <span class="verse v499">De ceulx faisans vray recueil des histoyres,</span>
   <span class="verse v500"><span class="verse-number">500</span>Eurent tout plein d’excellentes victoyres</span>
   <span class="verse v501">Où loz, renom, bruyt et triumphe acquirent.</span>
   <span class="verse v502">La grand  cité de <mark title="placeName" instant="false" full="yes">Francone</mark> bastirent</span>
   <span class="verse v503">Qui maintenant  appellee est
      <mark title="placeName" instant="false" full="yes">Francfort</mark>,</span>
   <span class="verse v504">En quoy leur nom eut credit de renfort.</span>
   <span class="verse v505"><span class="verse-number">505</span>Depuys regnant l’empereur <mark class="persName">Theodose<span class="persName-info fw-normal on-right"><b>Théodose Ier</b> (11/01/347 — 17/01/395)<span class="hr-short">&nbsp;</span>Empereur romain de 379 à 395</span></mark>,</span>
   <span class="verse v506">Bien adverty de la façon dont ose</span>
   <span class="verse v507">Ceste superbe et fiere natïon</span>
   
   
   <hr data-img-id="f49">
   
   <span class="curr-title fw-bold">La guerre meue aux <mark title="orgName" instant="false" full="yes">Françoys</mark> par les <mark title="orgName" instant="false" full="yes">Rommains</mark></span>
   <span class="verse v508">Emprandre honneur de dominatïon,</span>
   <span class="verse v509">Saichant aussi les batailles qu’ont quises</span>
   <span class="verse v510"><span class="verse-number">510</span>D’avoir ainsi <mark title="placeName" instant="false" full="yes">Allemaignes</mark> conquises</span>
   <span class="verse v511">Paÿs gastez, grandz manoirs demoliz,</span>
   <span class="verse v512">Chasteaux rasez, villaiges aboliz,</span>
   <span class="verse v513"><span class="choice"><span title="Abbrégé en Semƀꝉement"><mark title="abbréviation">Semblablement</mark></span></span> qu’ont retiré leurs mains,</span>
   <span class="verse v514">Rendre et payer le tribut aux <mark title="orgName" instant="false" full="yes">Rommains</mark>,</span>
   <span class="verse v515"><span class="verse-number">515</span>Delibera ouvrir guerre fermee</span>
   <span class="verse v516">Et contre eulx mectre une bien grosse armee</span>
   <span class="verse v517">Pour leur gros cueur rebelle et infestant</span>
   <span class="verse v518">Rendre amoly et <span style="position: relative;"><span class="lem">charger</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">chargé<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Cha514]</span></span></span></sup></span> de <span style="position: relative;">faix<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">fetz<span class="coll-source"> [Cha514]</span> ; festz<span class="coll-source"> [Vat966]</span></span></span></sup></span>, tant</span>
   <span class="verse v519">Que jamais plus ne feust memoyre d’eulx.</span>
   <span class="verse v520"><span class="verse-number">520</span>De cest affaire, eurent la charge deux</span>
   <span class="verse v521">Consulz rommains,
      <mark class="persName">Quintinus<span class="persName-info fw-normal on-right"><b>Quintinus</b> ( — )<span class="hr-short">&nbsp;</span>Consul romain</span></mark> et <mark class="persName">Nanime<span class="persName-info fw-normal on-right"><b>Nanime</b> ( — )<span class="hr-short">&nbsp;</span>Consul romain</span></mark>,</span>
   
   <span class="verse v522">Qui de couraige et vouloir magnanime</span>
   <span class="verse v523">Contre <mark title="orgName" instant="false" full="yes">Françoys</mark> dresserent appareil</span>
   <span class="verse v524">De fier combat. Aussi, en cas pareil,</span>
   <span class="verse v525"><span class="verse-number">525</span><mark title="orgName" instant="false" full="yes">Françoys</mark> aux champs, sans fuÿr le dangier,</span>
   <span class="verse v526">Voullurent bien de mesmes en menger.</span>
   <span class="verse v527">Mais les <mark title="orgName" instant="false" full="yes">Rommains</mark>, <span style="position: relative;"><span class="lem">d’aigre entremetz</span></span> repeuz,</span>
   <span class="verse v528">À ce premier <span style="position: relative;">conflict</span> furent rompuz</span>
   <span class="verse v529">Et mys en fuyte. Or aprés ceste etraincte</span>
   <span class="verse v530"><span class="verse-number">530</span>Lourde et honteuse,
      il fut force contraincte,</span>
   <span class="verse v531"><span style="position: relative;"><span class="lem">Veu</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">Veuz<span class="coll-source"> [BnFfr17274, BnFfr23145]</span></span></span></sup></span> les effectzde leurs avances
      courtz,</span>
   <span class="verse v532">Ayde appeler et demander secours.</span>
   
   
   <hr data-img-id="f50">
   
   <span class="curr-title fw-bold">Bataille des <mark title="orgName" instant="false" full="yes">Françoys</mark> contre les
      <mark title="orgName" instant="false" full="yes">Rommains</mark></span>
   <span class="verse v533">Si fut transmys renfort de <span style="position: relative;"><span class="lem">gentz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">grantz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> esleuz,</span>
   <span class="verse v534"><mark class="persName">Jovinïan<span class="persName-info fw-normal on-right"><b>Jovinien</b><span class="hr-short">&nbsp;</span>Chef militaire romain imaginaire</span></mark>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">et <span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>aussi <mark class="persName">Eraclïus<span class="persName-info fw-normal on-right"><b>Eraclius</b> ( — )<span class="hr-short">&nbsp;</span>Chef militaire romain</span></mark>.</span>
   <span class="verse v535"><span class="verse-number">535</span>Princes et ducz de la chevallerie</span>
   <span class="verse v536">Du <mark title="orgName" instant="false" full="yes">rommain</mark> peuple et haulte seigneurie</span>
   
   <span class="verse v537">Sont deputez au faict de la conduicte</span>
   <span class="verse v538">Pour <span style="position: relative;">veoir</span> l’emprise à bonne fin reduicte.</span>
   <span class="verse v539">Lors les <mark title="orgName" instant="false" full="yes">Rommains</mark>, <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content"><s>v</s><span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> eulx voyans renforcez,</span>
   <span class="verse v540"><span class="verse-number">540</span>Nagueres tous à la fuyte forcez,</span>
   <span class="verse v541">Considerans que la vertu unie</span>
   <span class="verse v542">Est <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content">de<span class="coll-source"> [Aix419]</span></span></span></sup></span> plus de force et puissance munie</span>
   <span class="verse v543">Que quant se tient disperse et divisee,</span>
   <span class="verse v544">Ont de rechief la maniere advisee</span>
   <span class="verse v545"><span class="verse-number">545</span>Pour fierement sur les <mark title="orgName" instant="false" full="yes">François</mark> saillir.</span>
   <span class="verse v546">On peult penser et croyre
      à l’assaillir</span>
   <span class="verse v547">Y avoir eu fiere,
       forte et farouche,</span>
   <span class="verse v548">Rude, revesche et rebelle escarmouche.</span>
   
   <span class="verse v549">Là <mark class="persName">Mulciber<span class="persName-info fw-normal on-right"><b>Vulcain</b><span class="hr-short">&nbsp;</span>Dieu romain du feu, de la forge, des volcans</span></mark>
      martelle <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">les<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span></span></span></sup></span> marteaux,</span>
   <span class="verse v550"><span class="verse-number">550</span><mark class="persName">Mars<span class="persName-info fw-normal on-right"><b>Mars</b><span class="hr-short">&nbsp;</span>Dieu romain de la guerre</span></mark> baigne en sang ses glayves
      et couteaux,</span>
   <span class="verse v551">Là tonne et bruyt furïeuse discorde,</span>
   <span class="verse v552">Là cry de guerre asprement se recorde,</span>
   <span class="verse v553">Avanscoureux,
      <span style="position: relative;"><span class="lem">bendes, trouppes,</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content"><span class="gap" instant="false"></span>et<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">escouadres et<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299]</span> ; escoadres et<span class="coll-source"> [Cha514]</span></span><span class="collation-content">estandars et<span class="coll-source"> [Vat966]</span> ; estendartz et<span class="coll-source"> [Aix419]</span></span></span></sup></span> batailles</span>
   <span class="verse v554">Mis pesle mesle. Entendez quelles tailles,</span>
   <span class="verse v555"><span class="verse-number">555</span>Quelz coups d’estoc, de trenches et revers</span>
   <span class="verse v556">Là sont donnez <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">de<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span> tort et de travers&nbsp;!</span>
   <span class="verse v557">Telle heure y eut <span style="position: relative;">qu’on n’eust sceu<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">que
                  on ne sceust<span class="coll-source"> [BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514]</span> ; que on ne sceut<span class="coll-source"> [BnFfr17274, Aix419]</span></span></span></sup></span> bien juger</span>
   
   
   <hr data-img-id="f51">
   
   <span class="curr-title fw-bold">Victoyres des <mark title="orgName" instant="false" full="yes">Françoys</mark> contre les <mark title="orgName" instant="false" full="yes">Rommains</mark></span>
   <span class="verse v558">Qui premier deust bransler et desloger.</span>
   <span class="verse v559">Mais posé or qu’à grandz coups de guisarmes,</span>
   <span class="verse v560"><span class="verse-number">560</span>Lances,
      <span style="position: relative;"><span class="lem">passotz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">estocz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>, vouges et autres armes</span>
   <span class="verse v561">Feissent <mark title="orgName" instant="false" full="yes">Rommains</mark> tours de gentz belliqueux,</span>
   <span class="verse v562">Si eurent ilz en fin plus vaillantz que eulx</span>
   <span class="verse v563">Car les <mark title="orgName" instant="false" full="yes">Françoys</mark> au combat si bien firent</span>
   <span class="verse v564">Que mortz, que pris, que fuyans les deffirent.</span>
   <span class="verse v565"><span class="verse-number">565</span>Du sang <mark title="orgName" instant="false" full="yes">rommain</mark> eut telle effusïon</span>
   <span class="verse v566">Si excessive et griefve occisïon</span>
   <span class="verse v567">Et tel desordre aux fuytifz capitaines</span>
   <span class="verse v568">Que natïons prouchaines et loingtaines</span>
   <span class="verse v569">Furent dès lors toutes espouentees</span>
   <span class="verse v570"><span class="verse-number">570</span>Et des <mark title="orgName" instant="false" full="yes">Françoys</mark> les forces tant doubtees</span>
   <span class="verse v571">Qu’oncques depuys nesung <span style="position: relative;"><span class="lem">osa</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content"><s>n’</s>osa<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">emprendre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content">entreprendre<span class="coll-source"> [BnFfr23145]</span></span></span></sup></span></span>
   <span class="verse v572">Aucun tribut sur eulx lever ne prendre.</span>
   <span class="verse v573"><mark title="piedMouche">§</mark>Depuys leur fut <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">fait <span class="coll-source"> [BnFfr4967]</span></span></span></sup></span>en <mark title="placeName" instant="false" full="yes">Trevere</mark> baillee</span>
   <span class="verse v574">Une cité <mark title="placeName" instant="false" full="yes">
         <span style="position: relative;"><span class="lem">Cysrenane</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">Cisrenance<span class="coll-source"> [BnFfr23145]</span></span><span class="collation-content">Cyresnane<span class="coll-source"> [Aix419]</span></span><span class="collation-content">Cysrencie<span class="coll-source"> [Vat966]</span></span></span></sup></span>
         </mark> appellee</span>
   <span class="verse v575"><span class="verse-number">575</span>Où <mark class="persName">Lucïus<span class="persName-info fw-normal on-right"><b>Lucius</b> ( — )<span class="hr-short">&nbsp;</span>Sénateur romain</span></mark> senateur  residoit</span>
   
   <span class="verse v576">Et soubz l’adveu des <mark title="orgName" instant="false" full="yes">Rommains</mark> presidoit.</span>
   <span class="verse v577">Ce <mark class="persName">Lucïus<span class="persName-info fw-normal on-right"><b>Lucius</b> ( — )<span class="hr-short">&nbsp;</span>Sénateur romain</span></mark>, pour le conte abreger,</span>
   <span class="verse v578"><span style="position: relative;"><span class="lem">Livra</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">Livre<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> la ville affin de se venger</span>
   <span class="verse v579">D’un lasche tour deshonneste et infame,</span>
   <span class="verse v580"><span class="verse-number">580</span>Touchant l’honneur de luy et de sa femme,</span>
   <span class="verse v581">Que ung <span style="position: relative;">lors prevost</span> de la <mark title="placeName" instant="false" full="yes">Gaulle</mark>
      <span style="position: relative;">belgicque</span>
      </span>
   <span class="verse v582"><span style="position: relative;"><span class="lem">Commist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content">Sommyct<span class="coll-source"> [Aix419]</span></span></span></sup></span> par <span title="Texte résultant d'une substitution">
         <span style="position: relative;"><span class="lem">art</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48"><span class="collation-content">faict<span class="coll-source"> [BnFfr17274, BnFfr23145, Aix419, Vat966, Cha514]</span></span><span class="collation-content">fart<span class="coll-source"> [BnFfr4967]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr5299]</span></span></span></sup></span>
         </span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">plus<span class="coll-source"> [Aix419]</span></span></span></sup></span> subtil <span style="position: relative;"><span class="lem">
            <span title="Texte résultant d'une substitution">
               <span class="choice"><span title="Abbrégé en cōme"><mark title="abbréviation">comme</mark></span></span>
               </span>
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content">et art<span class="coll-source"> [BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514]</span></span><span class="collation-content">que art <span class="coll-source"> [Aix419]</span></span></span></sup></span> magicque.</span>
   
   
   <hr data-img-id="f52">
   
   <span class="curr-title fw-bold">Du <mark title="orgName" instant="false" full="yes">Rommain</mark>
      <mark class="persName">Lucius<span class="persName-info fw-normal on-left"><b>Lucius</b> ( — )<span class="hr-short">&nbsp;</span>Sénateur romain</span></mark></span>
   <span class="verse v583">Desir charnel plein de concupiscence</span>
   <span class="verse v584">Si asprement le saisit, qu’en l’absence</span>
   <span class="verse v585"><span class="verse-number">585</span>Du senateur son espouse deceut.</span>
   <span class="verse v586">Qui des premiers  peult estre ne le
      sceut,</span>
   <span class="verse v587">Mais tant est vil ce vice d’adultere,</span>
   <span class="verse v588">Que tost est sceu
      jaçoit qu’on <span style="position: relative;"><span class="lem">deust le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content">le deust<span class="coll-source"> [Vat966]</span></span></span></sup></span> taire.</span>
   <span class="verse v589">D’avoir honny chasteté maritalle,</span>
   <span class="verse v590"><span class="verse-number">590</span>Le bruyt volla soudain jusqu’en <span style="position: relative;"><span class="lem">l’<mark title="placeName" instant="false" full="yes">Italle</mark></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content">Itale<span class="coll-source"> [Aix419]</span></span></span></sup></span></span>
   <span class="verse v591">Où, pour le temps ce <mark class="persName">Lucïus<span class="persName-info fw-normal on-right"><b>Lucius</b> ( — )<span class="hr-short">&nbsp;</span>Sénateur romain</span></mark>
      estoit,</span>
   <span class="verse v592">Lequel du tour gueres ne se doubtoit,</span>
   <span class="verse v593">Ains bien pensoit telle fïance avoir</span>
   <span class="verse v594"><span style="position: relative;"><span class="lem">Au sien</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">A son<span class="coll-source"> [Cha514]</span></span></span></sup></span> amy pour jamais ne debvoir</span>
   <span class="verse v595"><span class="verse-number">595</span>Faire envers luy ceste proditïon</span>
   <span class="verse v596">Qui cause fut de la venditïon</span>
   <span class="verse v597">Faicte aux <mark title="orgName" instant="false" full="yes">Françoys</mark>. Et hors tribut de hommaige</span>
   <span class="verse v598">Leur grand prouffit faire d’autruy dommaige.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(444);">v. 444</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>vengerent</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(449);">v. 449</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>de </span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(451);">v. 451</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967, BnFfr5299 </span>se</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(464);">v. 464</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>qui</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(474);">v. 474</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(478);">v. 478</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>à</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(480);">v. 480</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>mesgnee</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(481);">v. 481</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Considere</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(481);">v. 481</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>perte</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(483);">v. 483</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, Aix419 </span>achapter</span> ; <span><span class="coll-source">BnFfr4967, Cha514 </span>achepter</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(491);">v. 491</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>Gonnebault</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(492);">v. 492</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span><span>hault</span></span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(518);">v. 518</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, BnFfr5299, Cha514 </span>chargé</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(518);">v. 518</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>fetz</span> ; <span><span class="coll-source">Vat966 </span>festz</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(531);">v. 531</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145 </span>Veuz</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(533);">v. 533</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>grantz</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(534);">v. 534</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>et </span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(539);">v. 539</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span><s>v</s></span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(542);">v. 542</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>de</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(549);">v. 549</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>les</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(553);">v. 553</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="gap" instant="false"></span>et</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299 </span>escouadres et</span> ; <span><span class="coll-source">Cha514 </span>escoadres et</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>estandars et</span> ; <span><span class="coll-source">Aix419 </span>estendartz et</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(556);">v. 556</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>de</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(557);">v. 557</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>que
            on ne sceust</span> ; <span><span class="coll-source">BnFfr17274, Aix419 </span>que on ne sceut</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(560);">v. 560</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>estocz</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(571);">v. 571</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>n’</s>osa</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(571);">v. 571</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>entreprendre</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(573);">v. 573</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>fait </span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(574);">v. 574</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23145 </span>Cisrenance</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Cyresnane</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>Cysrencie</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(578);">v. 578</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Livre</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(582);">v. 582</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Sommyct</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(582);">v. 582</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, Aix419, Vat966, Cha514 </span>faict</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4967 </span>fart</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr5299 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(582);">v. 582</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>plus</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(582);">v. 582</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23145, BnFfr4967, BnFfr5299, Vat966, Cha514 </span>et art</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>que art </span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(588);">v. 588</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Vat966 </span>le deust</span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(590);">v. 590</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Itale</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(594);">v. 594</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha514 </span>A son</span></div>
      </div>
</div>
{% endmacro %}
