/* accueil, biblio, presentationCF */

/****************
    spaces
****************/

.content div{
  margin-top: 2rem;
  /* align images to text */
  display: table;
}

h4 {
  margin-top: 0rem !important;
}

/****************
    images
****************/

img.inline-left, img.inline-right {
  width: 20%;
}

img.inline-left {
  float: left;
  margin-right: 15px;
}

img.inline-right {
  float: right;
  margin-left: 15px;
}

img.center {
  width: 100%;
  margin-right: 15px;
}

/****************
    paragraphs
****************/

p {
  text-align: justify;
}
