@media only screen and (max-width: 1450px) {
  #graph{
    width: 98% !important;
  }
}
@media only screen and (max-width: 1050px) {
  #graph{
    width: 95% !important;
  }
}

#graph {
  width: 100%;
  border: 1px solid var(--main-color);
  padding: 2rem;
}

#graph:hover {
  cursor: grab;
}

#graph:active {
  cursor: grabbing;
}


/****************
  icons in text
****************/
.btn-icon {
  border: solid 1px black;
  padding: 2px;
}


/****************
  bttns in graph
****************/
.cy-panzoom {
  position: fixed !important;
  width: fit-content;
  height: fit-content;
  right: 0;
  bottom: 0;
  margin-right: 2em;
  margin-bottom: 2em;
}

.cy-panzoom-zoom-button {
  position: relative;
  top: 0 !important;
  left: 0;
  width: 2em;
  height: 2em;
  margin-bottom: 1em;
  color: var(--main-color);
  border: solid 1px var(--main-color);
  padding: 0.5em;
}

.cy-panzoom-zoom-button:hover {
  color: white;
  background-color: var(--main-color);
}

.icon {
  font-size: 2em;
}

hr{
  height: 2px !important;
  color: var(--main-color);
  opacity: 1;
}

/* faire en fonction de la hauteur d'écran */
/* @media (height < 720px) {
  .cy-panzoom {
    position : absolute !important;
  }
} */
