:root {
  --main-color-darker: #846054;
  /* brick  */
  --main-color: #B22222;
  /* blue */
  /* --main-color: #0d6efd; */
  --disabled-color: lightgrey;
  --test-color: #DEC9BF;
  --highlight-color: #E2E2E2;
  --layout-btn-color: #F2F2F2;
}

body {
  font-family: 'Ubuntu';
}

h4 {
  margin: 2rem 0;
  text-align: justify;
}

.title {
  text-align: center;
  margin: 3rem 0;
}

.name {
  font-variant: small-caps;
}

/* fix footer down */
.content {
  /* min-height: 900px; */
  margin: 0 1rem 3rem;
}

.footer {
  text-align: center;
  background-color: white;
}

.footer img {
  height: 50px;
  margin: 10px;
}

/* display none alors pourquoi ? */
#pageNb {
  width: 60px;
}

/****************
    navbar
****************/
.navbar-nav {
  flex-direction: row;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.btn:focus {
  box-shadow: none;
}

.btn-menu, .btn-menu.show {
  color: white;
  border-color: var(--main-color);
}

.btn-menu:hover {
  color: var(--main-color);
  background-color: white;
}

.btn-summary, .dropdown-item:not(.disabled) {
  color: var(--main-color);
}

.btn-summary:hover, .dropdown-item:not(.disabled):hover {
  color: white;
  background-color: var(--main-color);
}

.bg-light {
  background-color: var(--main-color) !important;
}

/*******************
    books menu
*******************/

.dropdown-menu.dropdown-chapters {
  min-width: 15rem;
  max-height: 30rem;
  overflow-y: auto;
}

/* hide scrollbar */
.dropdown-menu::-webkit-scrollbar {
  display: none;
  z-index: 1;
}

.dropdown-toggle.dropdown-item {
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
  vertical-align: middle;
}

.dropdown-toggle.dropdown-item.show {
  background-color: var(--test-color);
}

.dropdown-toggle.dropdown-item:not(.show):focus {
  color: var(--main-color);
  background-color: white;
}

.dropdown-toggle.dropdown-item:hover {
  color: white;
  background-color: var(--main-color);
}

.dropend .dropdown-toggle::after {
  border: none;
}

.dropdown-books > .dropend > .dropdown-toggle.dropdown-item::after {
  margin: auto;
  margin-right: 0;
  font: var(--fa-font-solid);
  content: "\f0da";
}

.dropdown-menu {
  padding: 0;
}

.accordion {
  overflow-y: scroll;
  max-height: 30rem;
}

/*******************
    chapters menu
*******************/

.accordion-button {
  padding: 0.5rem 1rem;
  color: var(--main-color);
}

.accordion-button::after {
  font: var(--fa-font-solid);
  background-image: none;
  content: "\f078";
  width: 1rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: var(--main-color);
  background-color: var(--test-color);
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "\f078";
  width: 1rem;
}

.accordion-body {
  padding: 0rem;
}

.dropdown-item.btn-menu {
  padding-left: 1.5rem;
}

/****************
    links
****************/
a, a:hover {
  color: var(--main-color);
}
