<h2 xmlns="http://www.w3.org/1999/xhtml" class="title">La
   <i>Chronique française</i>
   de Guillaume Cretin
</h2>
<h3 xmlns="http://www.w3.org/1999/xhtml" class="title">Édition critique numérique</h3>
<div xmlns="http://www.w3.org/1999/xhtml"><img alt="" src="https://gallica.bnf.fr/ark:/12148/btv1b105206468/f26.highres" class="inline-left"></img><h4>La plate-forme « CreNum » présente l’édition de la
      <i>Chronique française</i>
      de Guillaume Cretin. Écrite entre 1515 et 1525, cette chronique relate, en décasyllabes, l’histoire des rois de France depuis
      la guerre de Troie jusqu’au X<sup>e</sup>
      siècle.
   </h4>
   <p>Elle est l’œuvre d’un poète reconnu à son époque et largement délaissé aujourd’hui :
      <b>Guillaume Cretin</b>
      (1460 ?-1525). Au début du XVI<sup>e</sup>
      siècle, ses pairs ont pourtant admiré en lui un maître, plusieurs fois primé dans des concours poétiques, tandis que Louis
      XII et François Ier lui ont manifesté leur confiance en faisant notamment de lui le chantre de la Sainte-Chapelle ou l’aumônier
      du roi.
   </p>
   <p>À son avènement en 1515,
      <b>François I<sup>er</sup></b>
      se tourne donc vers un poète renommé pour commander la composition d’une chronique en vers, qui devait retracer l’histoire
      des rois de France depuis la guerre de Troie et la fondation du royaume de France jusqu’au règne de Louis XII. Cretin y a
      travaillé les dix dernières années de sa vie et a composé cinq des douze livres annoncés ; le bénédictin René Macé a partiellement
      poursuivi son entreprise ensuite.
   </p>
   <p>Éditer et étudier la
      <i>Chronique française</i>, c’est surtout mettre en lumière une production littéraire qui échappe à nos définitions actuelles des genres poétiques et
      de l’historiographie, et par là révéler un nouveau pan de notre histoire culturelle, entre Moyen Âge et Renaissance.
   </p>
</div>