<h2 xmlns="http://www.w3.org/1999/xhtml" class="title">Bibliographie</h2>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Sur la <i>Chronique française</i></h4>
   <ul>
      <li><span class="name">Armstrong</span>, Adrian, « Des Chroniques de France à la Chronique de
         Cretin : un prosimètre », <i>Cahiers de recherches médiévales et
            humanistes</i>, dossier « Guillaume Cretin, écrivain polygraphe », à
         paraître en 2024.
      </li>
      <li>Base Jonas-IRHT/CNRS, section romane, notice de « Chronique rimée, Guillaume
         Cretin », URL : <a href="http://jonas.irht.cnrs.fr/oeuvre/11148" target="_blank">http://jonas.irht.cnrs.fr/oeuvre/11148</a>.
      </li>
      <li><span class="name">Beaune</span>, Colette, « L’échec d’un historien : le cas de Guillaume
         Cretin », dans <i>Histoires de France, historiens de la France. Actes du
            colloque de Reims (14-15 mai 1993)</i>, éd. Yves-Marie Bercé et Philippe
         Contamine, Paris, Champion, 1994, p. 119-136.
      </li>
      <li><span class="name">Berthon</span>, Guillaume et <span class="name">Bichüe</span>, Jérémy, « Le manuscrit poétique, de l’exercice à
         l’œuvre : le cas du manuscrit français 4967 de la BNF », <i>Le manuscrit littéraire à
            la Renaissance</i>, dir. Frank Lestringant et Olivier Millet, <i>Cahiers V.L. Saulnier</i>,
         n° 37, Paris, Sorbonne Université Presses, 2021, p. 147-162.
      </li>
      <li><span class="name">Beys</span>, Béatrice, « L’hommage du livre à François I<sup>er</sup> : une image royale multiple », <i>Réforme,
            Humanisme, Renaissance</i>, n° 79, 2014, p. 101-128.
      </li>
      <li><span class="name">Brix</span>, Antoine, « Guillaume Cretin et les ‘‘rénovateurs de
         l’histoire de France’’. Un historien parmi ses contemporains », <i>Cahiers de
            recherches médiévales et humanistes</i>, dossier « Guillaume Cretin,
         écrivain polygraphe », à paraître en 2024.
      </li>
      <li><span class="name">Brix</span>, Antoine et <span class="name">Delvallée</span>, Ellen, « Guillaume Cretin
         and the Rewriting of the <i>Grandes Chroniques de France</i>: Merging
         History, Politics and Poetry », <i>The Medieval Chronicle</i>, vol. 16, à
         paraître en 2024.
      </li>
      <li><span class="name">Cornilliat</span>, François, « La place du vers dans le travail
         historiographique des Grands Rhétoriqueurs » <i>La Recherche. Bilan et
            perspectives. Actes du IXe colloque international sur le moyen français
            (Montréal, 5-7 octobre 1998)</i>, <i>Le Moyen Français</i>, vol.
         44-45, 2000, p. 107-127.
      </li>
      <li><span class="name">Cornilliat</span>, François, <span class="name">Duhl</span>, Olga Anna et
         <span class="name">Mühlethaler</span>, Jean-Claude, <i>Poétiques de la Renaissance. Le
            Modèle italien, le monde franco-bourguignon et leur héritage en France au XVIe
            siècle</i>, dir. Perrine Galland-Hallyn et Fernand Hallyn, Genève, Droz,
         2001, p. 301-346, 415-438 et 509-532.
      </li>
      <li><span class="name">Delvallée</span>, Ellen, « Écrire l’histoire en vers dans la
         <i>Chronique française</i> de Guillaume Cretin », <i>Le Moyen
            Français</i>, dossier « Histoires en vers (XVe-XVIe siècles) », dir. Ellen
         Delvallée et Pascale Mounier, à paraître en 2024.
      </li>
      <li><span class="name">Delvallée</span>, Ellen, « Guillaume Cretin and the practice of invective
         discourse », <i>Poetry and Communication</i>, dir. E. Doudet, Lausanne,
         Peter Lang, à paraître.
      </li>
      <li><span class="name">Delvallée</span>, Ellen, entrée « Guillaume Cretin », dans
         <i>Écrivains juristes et juristes écrivains du Moyen-Âge au siècle des
            Lumières</i>, dir. Bruno Méniel, Paris, Classiques Garnier [réédition], à
         paraître.
      </li>
      <li><span class="name">Élissèche</span>, Charles-Yvan, « La carrière ecclésiastique de Guillaume
         Cretin », <i>Cahiers de recherches médiévales et humanistes</i>, dossier «
         Guillaume Cretin, écrivain polygraphe », à paraître en 2024.
      </li>
      <li><span class="name">Guy</span>, Henri, « La <i>Chronique française</i> de Maître
         Guillaume Cretin », <i>Revue des langues romanes</i>, vol. 47, 1904, p.
         385-417 ; vol. 48, 1905, p. 174-185, 324-373 et 530-550.
      </li>
      <li><span class="name">Guy</span>, Henri, « Un ‘‘Souverain poète français’’ : maître Guillaume
         Cretin », <i>Revue d’histoire littéraire de la France</i>, III, oct-déc
         1903, p. 553-589.
      </li>
      <li><span class="name">Maillard</span>, Sandy, « Guillaume Cretin dans le <i>Champ
            fleury</i> de Geoffroy Tory », <i>Cahiers de recherches médiévales et
            humanistes</i>, dossier « Guillaume Cretin, écrivain polygraphe », à
         paraître en 2024.
      </li>
      <li><span class="name">Raynaud</span>, Christiane, « ‘‘Grandz excez, cruaultez, insolences /
         Oppressions, forces et violences’’. Les assassinats royaux dans la
         <i>Chronique française</i> de Guillaume Cretin », <i>Cahiers de
            recherches médiévales et humanistes</i>, dossier « Guillaume Cretin,
         écrivain polygraphe », à paraître en 2024.
      </li>
      <li><span class="name">Slerca</span>, Anna, « Intorno alle fonti della ‘‘Chronique françoise’’
         (1515-1525) di Guillaume Cretin », <i>Studi Francesi</i>, XXXVII-2, 1993,
         p. 221-242.
      </li>
   </ul>
</div>