<h2 xmlns="http://www.w3.org/1999/xhtml" class="title">Équipe</h2>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Un projet interdisciplinaire et international</h4>
   <p>La <i>Chronique française</i> de Cretin ayant déjà suscité l’intérêt à la
      fois d’Antoine Brix, historien spécialiste des chroniques médiévales et en
      particulier des <i>Grandes Chroniques de France</i> ayant servi de source à
      Cretin et d’Ellen Delvallée, chercheuse spécialiste des Rhétoriqueurs et de la
      littérature française au tournant du Moyen Âge et de la Renaissance, le projet a été
      conçu de manière collective et interdisciplinaire dès le début.
   </p>
   <p>Il s’est précisé, en 2020, grâce à une nouvelle collaboration : avec Estelle Doudet
      (Université de Lausanne), porteuse du projet « <a href="https://medialitt.hypotheses.org/" target="_blank">Médialittérature</a> », consistant à
      étudier la formation de la culture médiatique dans les sociétés francophones au
      tournant du Moyen Âge et de la Renaissance, de la naissance de l’imprimerie aux
      conflits de la Réforme. La réflexion sur les principes d’édition numérique d’une
      chronique rimée de la Renaissance a été menée en étroite collaboration avec Benedetta
      Salvati (Université de Lausanne/École des Chartes), doctorante travaillant à
      l’édition d’une chronique en vers contemporaine de celle de Cretin, composée à la
      cour des ducs de Bourgogne : la <i>Chronique rimée</i> de Nicaise Ladam. À
      terme, l’objectif est de constituer un portail d’édition des chroniques en vers
      autour de 1500.
   </p>
   <p>Porté par Ellen Delvallée, le projet bénéficie du solide accompagnement de
      l’équipe d’ingénierie en humanités numériques <a href="https://www.elan-numerique.fr/" target="_blank">ELAN</a>, au sein de l’UMR 5316
      Litt&amp;Arts.
   </p>
   <p>Le projet a reçu un financement en 2021 et 2022 dans le cadre du
      dispositif IRGA de l’Université Grenoble Alpes.
   </p>
   <p>Outre la tenue de différents ateliers de travail collectif à l’UGA, ces fonds ont
      permis la prise en charge de missions pour examiner les manuscrits de la
      <i>Chronique</i> conservés à Paris, Chantilly, Aix-en-Provence ou au
      Vatican. Un autre manuscrit de la <i>Chronique française</i> reste à
      consulter à Saint-Pétersbourg. Exception faite de ce dernier, tous les manuscrits
      ont été numérisés et sont en cours d'examen.
   </p>
   <p>En termes de dissémination, le projet d’édition de la
      <i>Chronique française</i> a produit des études présentées par Antoine
      Brix et/ou Ellen Delvallée à des conférences ou ateliers internationaux (voir la <a href="bibliography">bibliographie</a>). Deux colloques
      internationaux ont par ailleurs été organisés ou coorganisés par Ellen Delvallée à
      l’Université Grenoble Alpes pour développer la réflexion autour des enjeux de la
      <i>Chronique</i> : <a href="https://litt-arts.univ-grenoble-alpes.fr/actualites/histoires-en-vers-xve-xvie-siecles" target="_blank">« Histoires en vers (XV<sup>e</sup>-XVI<sup>e</sup> siècles) »</a>, avec Pascale Mounier en 2022,
      ainsi que <a href="https://litt-arts.univ-grenoble-alpes.fr/actualites/guillaume-cretin-ecrivain-polygraphe" target="_blank">« Guillaume Cretin, écrivain polygraphe »</a> en 2023.
   </p>
</div>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Responsables scientifiques</h4>
   <ul>
      <li>Ellen Delvallée (UMR Litt&amp;Arts, CNRS/UGA), chargée de recherche spécialiste de la poésie au tournant du Moyen Âge et de la
         Renaissance, porteuse du projet
      </li>
      <li>Antoine Brix (Université de Namur), post-doctorant en histoire, spécialiste de
         l'historiographie vernaculaire des rois de France à la fin du Moyen Âge
      </li>
   </ul>
</div>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Équipe d'ingénierie en humanités numériques</h4>
   <p>L’ensemble des membres de l’équipe <a href="https://www.elan-numerique.fr/" target="_blank">ELAN</a> accompagne le projet à tous les niveaux :
      montage du dossier de financement, formation et accompagnement des chercheurs et
      stagiaires à l'utilisation d'outils de préparation et manipulation du corpus,
      création d’un schéma d’encodage en xml-tei, création des visualisations de
      données, développement de la plate-forme d’édition de la
      <i>Chronique</i>.
   </p>
   <ul>
      <li>Arnaud Bey (IE UGA, Litt&amp;Arts)</li>
      <li>Fanny Corsi (CDD IE UGA, Litt&amp;Arts ; mars-octobre 2023)</li>
      <li>Serena Crespi (CDD IE UGA, Litt&amp;Arts ; depuis mai 2023)</li>
      <li>Camille Desiles (CDD IE UGA, BAPSO et Litt&amp;Arts ; 2020-2021)</li>
      <li>Anne Garcia-Fernandez (IR CNRS, Litt&amp;Arts)</li>
      <li>Rachel Gaubil (IE UGA, Litt&amp;Arts)</li>
      <li>Elisabeth Greslou (IR UGA, Litt&amp;Arts ; jusqu'en septembre 2023)</li>
      <li>Théo Roulet (IE UGA, BAPSO et Litt&amp;Arts ; depuis janvier 2022)</li>
   </ul>
</div>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Stagiaires d'édition</h4>
   <p>Les étudiants stagiaires ont contribué à l’ensemble des tâches éditoriales :
      transcription des textes, encodage structurel du document, balisage en xml-TEI
      pour un affichage diplomatique et semi-diplomatique, repérage et identification
      des entités nommées, création de listes de référence (header), rédaction d’un
      manuel d’encodage.
   </p>
   <ul>
      <li>Fanny Corsi, étudiante de master à l'Université Grenoble Alpes, stage de 4
         mois (mai-août 2022 et janvier-février 2023).
      </li>
      <li>Nassim Mandhouj, étudiant de licence à l'Université Grenoble Alpes, stage de
         2,5 mois (mai-juillet 2022).
      </li>
   </ul>
</div>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Collaborations</h4>
   <p>L’équipe « <a href="https://medialitt.hypotheses.org/" target="_blank">Medialittérature.
         Poétiques et pratiques de la communication publique en français (XVe-XVIe
         siècles)</a> », basée à l’université de Lausanne, est associée au projet
      depuis sa création.
   </p>
   <ul>
      <li>Estelle Doudet, professeure (Université de Lausanne)</li>
      <li>Benedetta Salvati, doctorante (Université de Lausanne/École des
         Chartes)
      </li>
   </ul>
</div>