<h4>Directeur de la publication</h4>
<div class="mb-3">
  Yassine Lakhnech, président de l’Université Grenoble Alpes<br/>
  UGA<br/>
  CS 40700<br/>
  38058 Grenoble cedex 9<br/>
  <a href="mailto:presidence-universite@univ-grenoble-alpes.fr">presidence-universite@univ-grenoble-alpes.fr</a>
</div>

<h4>Responsabilité éditoriale</h4>
<div class="mb-3">
Ellen Delvallée, porteur du projet CreNum (Édition numérique de la Chronique française de Guillaume Cretin)<br/>
<a href="mailto:ellen.delvallee@univ-grenoble-alpes.fr ">ellen.delvallee@univ-grenoble-alpes.fr </a>

</div>

<div class="mb-3">
  <h4>Hébergement</h4>
  TGIR Huma-Num - UMS 3598<br/>
  54 Boulevard Raspail<br/>
  75006 Paris<br/>
  <a target="_blank" href="http://www.huma-num.fr">http://www.huma-num.fr</a><br/>
  cogrid@huma-num.fr<br/>
</div>

<div class="mb-3">
  <h4>Conception et maintenance du site</h4>
  ELAN - UMR 5316 Litt&Arts<br/>
  Université Grenoble Alpes / CNRS<br/>
  CS 40700 - 38058 Grenoble cedex 9<br/>
  <a target="_blank" href="http://www.elan-numerique.fr/">http://www.elan-numerique.fr/</a><br/>
  litt-et-arts-elan@univ-grenoble-alpes.fr<br/>
</div>

<div class="mb-3">
  <h4>Limitation de responsabilité</h4>
  Malgré les soins apportés à la réalisation du site et sa mise à jour régulière, la responsabilité des éditeurs ne peut être engagée suite à d’éventuelles erreurs ou omissions dans le contenu publié.
</div>

<div class="mb-3">
  <h4>Données personnelles</h4>
  Conformément à Loi n°78-17 du 6 janvier 1978 modifiée relative à l’informatique, aux fichiers et aux libertés modifiée notamment par la loi n°2018-493 du 20 juin 2018 relative à la protection des données personnelles ainsi qu’au règlement général sur
  la protection des données (RGPD)., vous disposez d’un droit d’information, d’accès, de rectification et de suppression des données nominatives vous concernant.<br/>
  Vous pouvez l’exercer par mail en écrivant à ELAN : <a href="mailto:litt-et-arts-elan@univ-grenoble-alpes.fr">litt-et-arts-elan@univ-grenoble-alpes.fr</a> ou au délégué à la protection des données (DPO) de l’UGA : relaisdpo@univ-grenoble-alpes.fr ou encore le DPD du CNRS à l’adresse suivante :<br/>
  DPD (déléguée à la protection des données), 17, rue notre Dame des Pauvres,<br/>
  54 519 VANDOEUVRE-LÈS-NANCY Cedex.<br/>
</div>

<div class="mb-2 ml-3">
  <h5>Qui est concerné ?</h5>
  Les personnes disposant d’un compte utilisateur sont concernées par le traitement de données personnelles.
</div>

<div class="mb-2 ml-3">
  <h5>Quelles données traitons-nous ?</h5>
  Les données personnelles que nous traitons sont celles complétées par l’utilisateur lors de son inscription : courriel et nom d’utilisateur.<br/>
  De plus, conformément à l’Art. 6-II de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique ; décret n°2011-219 du 25 février 2011 relatif à la conservation et à la communication des données des journaux, nous conservons les
  journaux de connexion pendant une durée minimale d’un an.<br/>
</div>

<div class="mb-2 ml-3">
  <h5>Pendant combien de temps les conservons-nous ?</h5>
  Vos données personnelles sont conservées pendant trois ans après la dernière activité du compte sur le site.<br/>
</div>

<div class="mb-2 ml-3">
  <h5>Quels sont vos droits ?</h5>
  Vous pouvez à tout moment, en nous contactant exercer les droits d’opposition, d’accès, de rectification, d’effacement, ainsi que le droit à une utilisation restreinte lorsque les données ne sont pas nécessaires ou ne sont plus utiles et le droit à
  la portabilité.<br/>
</div>

<div class="mb-3">
  <h4>Licence</h4>
Ce site est publié par l'UMR 5316 Litt&Arts dans le cadre du projet CreNum.<br/>
Ce site et l’ensemble des textes qui y sont publiés (y compris les transcriptions et les notes critiques) sont proposés selon les termes de la <a target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Licence Creative Commons Attribution 4.0 International.</a><br/>
<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
</div>

<h3>Crédits</h3>
<div class="mb-3">
	<h4>Origine des images</h4>
Les images du manuscrit servant à l’édition du texte viennent du site Gallica de la Bibliothèque Nationale de France. Nous renvoyons à leur site pour les conditions d’utilisation de ces images.
<a href="https://gallica.bnf.fr/edit/und/conditions-dutilisation-des-contenus-de-gallica">https://gallica.bnf.fr/edit/und/conditions-dutilisation-des-contenus-de-gallica</a>

</div>
