<div xmlns="http://www.w3.org/1999/xhtml" class="col">
   <nav class="text-center mb-3 small">Aller&nbsp;à&nbsp;:<a class="goto m-2" href="#Aix419">Aix419</a><a class="goto m-2" href="#Cha514">Cha514</a><a class="goto m-2" href="#Cha515">Cha515</a><a class="goto m-2" href="#Vat966">Vat966</a><a class="goto m-2" href="#BnFfr2817">BnFfr2817</a><a class="goto m-2" href="#BnFfr2818">BnFfr2818</a><a class="goto m-2" href="#BnFfr4964">BnFfr4964</a><a class="goto m-2" href="#BnFfr4965">BnFfr4965</a><a class="goto m-2" href="#BnFfr4967">BnFfr4967</a><a class="goto m-2" href="#BnFfr5299">BnFfr5299</a><a class="goto m-2" href="#BnFfr17274">BnFfr17274</a><a class="goto m-2" href="#BnFfr17275">BnFfr17275</a><a class="goto m-2" href="#BnFfr23145">BnFfr23145</a><a class="goto m-2" href="#BnFfr23146">BnFfr23146</a></nav>
   <h4 id="Aix419">Aix-en-Provence, Bibliothèque Méjanes, 419<code> [<i>Aix419</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. [1]r à [96]v&nbsp;: Chronique française, livre I.</li>
         <li>f. [97]r à [228]v&nbsp;: Chronique française, livre II.</li>
         <li>f. [229]r à [353]v&nbsp;: Chronique française, livre III.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 353 feuillets non numérotés + 1 feuillet de
         garde 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>274 x 195 mm. 1 colonne, 22 à 28 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 353 feuillets non numérotés + 1 feuillet de
         garde 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>274 x 195 mm. 1 colonne, 22 à 28 lignes à la page.</p>
   </div>
   <h4 id="Cha514">Chantilly, Bibliothèque du château (musée Condé), 514<code> [<i>Cha514</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>Chronique française, livre I.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 1 feuillet de garde + 107 feuillets numérotés</p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>330 x 225 mm. 1 colonne, 24 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 1 feuillet de garde + 107 feuillets numérotés</p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>330 x 225 mm. 1 colonne, 24 lignes à la page.</p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>1 main, écriture bâtarde comparable à la série BNF fr. 2817 à 2822.</p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Initiales ornées, comparables à la série de manuscrits BNF fr. 2817 à 2822
         offerts à François Ier.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Volume offert à Anne de Montmorency.</p>
   </div>
   <h4 id="Cha515">Chantilly, Bibliothèque du château (musée Condé), 515<code> [<i>Cha515</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>Chronique française, livre II.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 1 feuillet de garde + 130 feuillets numérotés</p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>360 x 245 mm. 1 colonne, 22 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 1 feuillet de garde + 130 feuillets numérotés</p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>360 x 245 mm. 1 colonne, 22 lignes à la page.</p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>1 main, écriture bâtarde comparable à la série BNF fr. 2817 à 2822.</p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Initiales ornées, comparables à la série de manuscrits BNF fr. 2817 à 2822
         offerts à François Ier.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Volume offert à Anne de Montmorency.</p>
   </div>
   <h4 id="Vat966">Vatican, Biblioteca Apostolica Vaticana, Reg.lat.966<code> [<i>Vat966</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>Chronique française, livre I.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 2 feuillets de garde (I et II) + 111 feuillets numérotés + 1
         feuillet (numéroté III)
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>301 x 201 mm. 1 colonne, 24 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 2 feuillets de garde (I et II) + 111 feuillets numérotés + 1
         feuillet (numéroté III)
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>301 x 201 mm. 1 colonne, 24 lignes à la page.</p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>1 main, cursive du XVIe siècle.</p>
   </div>
   <h4 id="BnFfr2817">Paris, Bibliothèque nationale de France, fr. 2817<code> [<i>BnFfr2817</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. Ar-Hv&nbsp;: Prologue en prose. <i>Recueil sommaire des cronicques françoyses commancé en vers mesurez par
               le commandement du tres crestien, tres heureux et tres victorieux roy de
               France Françoys premiers de ce nom. L’an mil cinq cens et quinze et le
               premier de son regne</i></li>
         <li>f. iv-cviv&nbsp;: Chronique française, livre I.</li>
         <li>Table des matières</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 2 feuillets de garde (non foliotés) + 10 feuillets (A-J, foliotation
         moderne) + 105 feuillets (i-cvi, foliotation originale [pas de feuillet
         VIII]) + 10 feuillets (non foliotés) + 3 feuillets de garde (non
         foliotés) 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>355 x 240 mm. 1 colonne, 25 lignes à la page. Titres courants et foliotation
         originale en marge de tête.
      </p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 2 feuillets de garde (non foliotés) + 10 feuillets (A-J, foliotation
         moderne) + 105 feuillets (i-cvi, foliotation originale [pas de feuillet
         VIII]) + 10 feuillets (non foliotés) + 3 feuillets de garde (non
         foliotés) 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>355 x 240 mm. 1 colonne, 25 lignes à la page. Titres courants et foliotation
         originale en marge de tête.
      </p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>2 mains, une bâtarde et une humanistique (foliotation, titres de chapitres
         et titres courants)
      </p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Initiales ornées, 11 miniatures pleine page décrites sur le site
         mandragore.bnf
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Volume offert à François Ier.</p>
   </div>
   <h4 id="BnFfr2818">Paris, Bibliothèque nationale de France, fr. 2818<code> [<i>BnFfr2818</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. Ar-Fr&nbsp;: .</li>
         <li>f. Ir-cxiiiir&nbsp;: Chronique française, livre II.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 2 feuillets de garde (non foliotés) + 15 feuillets (A-O, foliotation
         moderne) + 114 feuillets (i-cxiiii, foliotation originale) + 3 feuillets
         de garde (non foliotés) 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>355 x 240 mm. 1 colonne, 25 lignes à la page. Titres courants et foliotation
         originale en marge de tête.
      </p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Parchemin. 2 feuillets de garde (non foliotés) + 15 feuillets (A-O, foliotation
         moderne) + 114 feuillets (i-cxiiii, foliotation originale) + 3 feuillets
         de garde (non foliotés) 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>355 x 240 mm. 1 colonne, 25 lignes à la page. Titres courants et foliotation
         originale en marge de tête.
      </p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>2 mains, une bâtarde et une humanistique (foliotation, titres de chapitres
         et titres courants)
      </p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Initiales ornées, 20 miniatures pleine page</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Volume offert à François Ier.</p>
   </div>
   <h5>Bibliographie</h5>
   <div class="subsection">
      <p>
         Trésors royaux : la bibliothèque de François Ier, dir. Maxence Hermant,
         Presses Universitaires de Rennes, 2015, n°66
         
      </p>
   </div>
   <h4 id="BnFfr4964" class="mt-4">Paris, Bibliothèque nationale de France, fr. 4964<code> [<i>BnFfr4964</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>Chronique française, livre II.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 125 feuillets numérotés + 1 feuillet de garde
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>260 x 190 mm. 1 colonne, 22 à 23 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 125 feuillets numérotés + 1 feuillet de garde
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>260 x 190 mm. 1 colonne, 22 à 23 lignes à la page.</p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Titres rubriqués, initiales ornées.</p>
   </div>
   <h4 id="BnFfr4965" class="mt-4">Paris, Bibliothèque nationale de France, fr. 4965<code> [<i>BnFfr4965</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>Chronique française, livre II.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 99 feuillets numérotés + 1 feuillet de garde
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>272 x 188 mm. 1 colonne, 28 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 99 feuillets numérotés + 1 feuillet de garde
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>272 x 188 mm. 1 colonne, 28 lignes à la page.</p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>2 mains, une cursive et une bâtarde pour les premiers vers des
         chapitres.Cette répartition évoque le manuscrit BnF fr. 23145 renfermant le livre I et
         suggère qu'ils appartiennent à la même série.
      </p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Titres rubriqués, espace laissé vacant pour des initiales ornées.Le programme ornemental (même inachevé) évoque le manuscrit BnF fr. 23145
         renfermant le livre I et suggère qu'ils appartiennent à la même série.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Mention "De tresor de Boisrogues" au premier feuillet, comme pour
         le manuscrit BnF fr. 23145.
      </p>
   </div>
   <h4 id="BnFfr4967" class="mt-4">Paris, Bibliothèque nationale de France, fr. 4967<code> [<i>BnFfr4967</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. 1r-32v&nbsp;: Art de seconde rhétorique.</li>
         <li>f. 33r-119r&nbsp;: Chronique française, livre I.</li>
         <li>f. 121r-305r&nbsp;: Pièces brèves en vers.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 2 feuillets de garde + 305 feuillets numérotés </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>310 x 210 mm. 1 colonne, 25 à 33 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 2 feuillets de garde + 305 feuillets numérotés </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>310 x 210 mm. 1 colonne, 25 à 33 lignes à la page.</p>
   </div>
   <h5>Bibliographie</h5>
   <div class="subsection">
      <p>
         Guillaume Berthon et Jérémy Bichüe, « Le manuscrit poétique, de
         l’exercice à l’œuvre : le cas du manuscrit français 4967 de la BNF », Le
         manuscrit littéraire à la Renaissance, dir. Frank Lestringant et Olivier,
         Millet, Cahiers V.L. Saulnier n° 37, Paris, Sorbonne Université Presses,
         2021, p. 147-162.
         
      </p>
   </div>
   <h4 id="BnFfr5299" class="mt-4">Paris, Bibliothèque nationale de France, fr. 5299<code> [<i>BnFfr5299</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. 1r-7r&nbsp;: Prologue en prose.</li>
         <li>f. 7v-100v&nbsp;: Chronique française, livre I.</li>
         <li>102v&nbsp;: poème en italien.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 103 feuillets numérotés (1 à 103, foliotation
         moderne) + 1 feuillet de garde 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>273 x 188 mm. 1 colonne, 24 à 27 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 103 feuillets numérotés (1 à 103, foliotation
         moderne) + 1 feuillet de garde 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>273 x 188 mm. 1 colonne, 24 à 27 lignes à la page.</p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Titres des chapitres rubriqués. Un espace est laissé vacant pour accueillir
         des lettrines à l'initiale des chapitres, non réalisées.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À Colbert.</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Estampilles de la Bibliothèque royale (période v. 1700-v. 1735, type
         Josserand-Bruno 5) aux f. 1r et 100v
      </p>
   </div>
   <h4 id="BnFfr17274" class="mt-4">Paris, Bibliothèque nationale de France, fr. 17274<code> [<i>BnFfr17274</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. 1r-2r&nbsp;: Pronostication. <i>Pronostication veritable composee sur le zenith meridional de la ville
               et cité d'Arras pour l'an</i></li>
         <li>f. 3r-74v&nbsp;: Chronique française, livre I.</li>
         <li>f. 75r-156v&nbsp;: Chronique française, livre II.</li>
         <li>f. 157r-234r&nbsp;: Chronique française, livre III.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 234 feuillets numérotés (+ 1 feuillet 235 collé au plat inférieur)
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>300 x 200 mm. 1 colonne, 31 à 40 lignes à la page. Le livre III, seul, présente des
         traces de réglure.
      </p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 234 feuillets numérotés (+ 1 feuillet 235 collé au plat inférieur)
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>300 x 200 mm. 1 colonne, 31 à 40 lignes à la page. Le livre III, seul, présente des
         traces de réglure.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À Pierre Séguier.</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À Henri-Charles de Coislin.</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À l'abbaye de Saint-Germain-des-Prés</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Estampilles de la Bibliothèque nationale (période 1792-1804, type
         Josserand-Bruno 17) aux f. 1r et 234v
      </p>
   </div>
   <h4 id="BnFfr17275" class="mt-4">Paris, Bibliothèque nationale de France, fr. 17275<code> [<i>BnFfr17275</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. 1r-121v&nbsp;: Chronique française, livre IV.</li>
         <li>f. 125r-250v&nbsp;: Chronique française, livre V.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 250 feuillets numérotés </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>300 x 208 mm. 1 colonne,  ligne à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 250 feuillets numérotés </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>300 x 208 mm. 1 colonne,  ligne à la page.</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Signature au f. 1r : Tulloue. Vraisemblablement Robert Tulloue,
         notaire au Châtelet dans la première moitié du 17e siècle. Son seing se
         rencontre également dans les manuscrits BnF, fr. 5642 et 15392, et lat.
         6150
         À propos de la bibliothèque de Robert Tulloue, qui récupéra une partie de la
         collection de Philippe Desportes, voir Isabelle de Conihout, Du nouveau sur
         la bibliothèque de Philippe Desportes et sur sa dispersion, dans Philippe
         Desportes (1556-1606), un poète presque parfait entre Renaissance et
         classicisme, éd. Jean Balsamo, Paris, 2000, p. 121-160.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À Pierre Séguier</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À Henri-Charles de Coislin</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À l'abbaye de Saint-Germain des Prés</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Estampilles de la Bibliothèque nationale (période 1792-1804, type
         Josserand-Bruno 17) aux f. 7r et 250v
      </p>
   </div>
   <h4 id="BnFfr23145" class="mt-4">Paris, Bibliothèque nationale de France, fr. 23145<code> [<i>BnFfr23145</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. 1r-6v&nbsp;: Prologue en prose.</li>
         <li>f. 6v-96r&nbsp;: Chronique française, livre I.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 96 feuillets numérotés + 1 feuillet de garde
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>267 x 185 mm. 1 colonne, 28 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 1 feuillet de garde + 96 feuillets numérotés + 1 feuillet de garde
         
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>267 x 185 mm. 1 colonne, 28 lignes à la page.</p>
   </div>
   <h5>Écriture</h5>
   <div class="subsection">
      <p>2 mains, une cursive et une bâtarde pour les premiers vers des
         chapitres.Cette répartition correspond à celle du manuscrit BnF fr. 4965 renfermant le
         livre II et indique qu'ils appartiennent à la même série.
      </p>
   </div>
   <h5>Mise en page et décoration</h5>
   <div class="subsection">
      <p>Titres rubriqués, initiales ornées.Le programme ornemental correspond à celui du manuscrit BnF fr. 4965
         renfermant le livre II et indique qu'ils appartiennent à la même série.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Mention "De tresor de Boisrogues" au premier feuillet, comme pour
         le manuscrit BnF fr. 4965.
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À l'abbé de Castries jusqu'en 1709.</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À François Roger de Gaignières (numéro 285.1 de l'inventaire de
         1711)
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Estampilles de la Bibliothèque royale (période 1815-1830, proche du
         type Josserand-Bruno 21) aux f. 1r et 95v
      </p>
   </div>
   <h4 id="BnFfr23146" class="mt-4">Paris, Bibliothèque nationale de France, fr. 23146<code> [<i>BnFfr23146</i>]</code></h4>
   <h5>Contenus</h5>
   <div class="subsection">
      <ul>
         <li>f. 1r-v&nbsp;: Chronique française, livre I [prologue uniquement].</li>
         <li>f. 2r-59v&nbsp;: Chronique française, livre II.</li>
      </ul>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 3 feuillets de garde non numérotés + 60 feuillets numérotés
         (foliotation moderne) + 3 feuillets de garde non numérotés 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>285 x 195 mm. 1 colonne, 34 à 50 lignes à la page.</p>
   </div>
   <h5>Supports et composition</h5>
   <div class="subsection">
      <p>Papier. 3 feuillets de garde non numérotés + 60 feuillets numérotés
         (foliotation moderne) + 3 feuillets de garde non numérotés 
      </p>
   </div>
   <h5>Dimensions et préparation de la page</h5>
   <div class="subsection">
      <p>285 x 195 mm. 1 colonne, 34 à 50 lignes à la page.</p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Note au f. 56v : Donné par M. l'abé de Castres [à François Roger de
         Gaignières] le 21 oct. 1709.
         À propos de cette donation, voir Sarah Héquette, Les manuscrits de l'abbé de
         Castries dans la collection Gaignières : une donation exceptionnelle ?, Les
         Cahiers de l'École du Louvre, 19, 2022 [DOI :
         10.4000/cel.23807]
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>À François-Roger de Gaignières (numéro 285.2 de l'inventaire de
         1711)
      </p>
   </div>
   <h5>Histoire et traces d’usage</h5>
   <div class="subsection">
      <p>Estampilles de la Bibliothèque royale (période 1815-1830, proche du
         type Josserand-Bruno 21) aux f. 1r et 60v
      </p>
   </div>
</div>
