<h2 xmlns="http://www.w3.org/1999/xhtml" class="title">Présentation de la <i>Chronique française</i></h2>
<div xmlns="http://www.w3.org/1999/xhtml"><img alt="" src="https://gallica.bnf.fr/ark:/12148/btv1b105090110/f26.highres" class="inline-right"></img><h4>Une œuvre injustement oubliée</h4>
   <p><i>Le recueil sommaire de la Chronique Françoyse</i> figure dans six
      riches volumes manuscrits, pourvus de miniatures, conservés à la Bibliothèque
      Nationale de France (sous les cotes ms. fr. 2817 à 2822). Les trois premiers
      volumes de cette série ont été offerts à François I<sup>er</sup>,
      les suivants semblent être fidèlement copiés à partir d’originaux perdus.
   </p>
   <p>En dépit de son ampleur ou de la renommée de son auteur et de celle de son
      commanditaire, cette grande histoire ne fut que très partiellement éditée au début
      du XX<sup>e</sup> siècle par Henri Guy (environ 2500 vers sur les
      25 000 que compte la <i>Chronique</i> composée par Cretin).
   </p>
   <p>Qualifiée d’« échec » par C. Beaune y voyant une œuvre qui, faute d’avoir été
      imprimée ou écrite en prose latine, n’a jamais rencontré son public, tout porte au
      contraire à croire que la <i>Chronique</i> a été lue et goûtée durant,
      vraisemblablement, toute la première moitié du XVI<sup>e</sup>
      siècle. Pas moins d’une quarantaine de manuscrits comprenant un ou plusieurs
      livres de la <i>Chronique</i> ont été recensés à ce jour. Leurs cercles de
      diffusion (cour de France ou Sainte-Chappelle) ainsi que leur facture souvent
      soignée suggèrent la valeur accordée à l’auteur et à son ouvrage (voir la <a href="manuscripts">présentation des
         manuscrits</a>).
   </p>
</div>
<div xmlns="http://www.w3.org/1999/xhtml"><img alt="" src="https://gallica.bnf.fr/ark:/12148/btv1b10523278x/f22.highres" class="inline-left"></img><h4>Un intérêt historiographique sous-estimé</h4>
   <p>Malgré quelques sondages effectués par A. Slerca ou C. Beaune suggérant la
      pluralité des sources de Cretin, la <i>Chronique française</i> est souvent
      réduite à une simple mise en vers des <i>Grandes Chroniques de France</i>,
      rédigées au XIII<sup>e</sup> siècle par les moines de l’abbaye de
      Saint-Denis et continûment copiées et augmentées depuis. Pourtant Cretin puise à
      des sources récentes parmi les historiens humanistes (Robert Gaguin, dans sa
      version traduite, ou encore Nicole Gilles) et s’inscrit à sa façon dans la
      réflexion sur le renouveau de l’écriture de l’histoire autour de 1500.
   </p>
   <p>De plus, Cretin conçoit une œuvre en dialogue avec l’histoire présente. Soucieux
      de l’édification du jeune François I<sup>er</sup>, Cretin multiplie jugements moraux
      appuyés, digressions en apparence anecdotiques, aveux d’ignorance par endroits, ou
      encore éloges marqués en faveur de la monarchie de France. Autant d’entorses à une
      démarche proprement historienne (selon notre définition moderne du terme), que
      l’éditeur Henri Guy a vivement reproché à cette chronique, mais qui constituent
      précisément ce qui en fait l’intérêt. En écrivant l’histoire du passé, c’est un
      jugement sur le présent que Cretin contribue à forger.
   </p>
</div>
<div xmlns="http://www.w3.org/1999/xhtml">
   <h4>Une véritable ambition poétique</h4>
   <p>Si Henri Guy a qualifié les vers de Cretin de « laborieux » ou que la base Jonas
      fait de la <i>Chronique</i> en vers une « masse illisible », des indices
      suggèrent pourtant que le texte a été reçu comme l’œuvre d’un poète accompli. Dès
      1529, l’humaniste Geoffroy Tory compare Cretin à Virgile et Dante. D’un livre à
      l’autre, le poète de François I<sup>er</sup> raffine sa technique
      poétique et semble puiser aux différents genres à la mode pour enrichir l’écriture
      de l’histoire de France : tableaux cynégétiques, séquences épistolaires nourries
      des héroïdes à la mode, combats épiques. Tout porte à croire que, loin d’être un
      pensum imposé par la couronne à Cretin, ce dernier conçoit l'écriture de la
      <i>Chronique</i> comme la synthèse ambitieuse d’une œuvre puisant dans le
      fonds français médiéval mais ouverte à la modernité.
   </p><img alt="" src="https://gallica.bnf.fr/ark:/12148/btv1b10509421x/f188.highres" class="center"></img></div>
<div xmlns="http://www.w3.org/1999/xhtml">
   <p>Voir la <a href="bibliography">bibliographie</a> des travaux passés et en cours sur la
      <i>Chronique française</i>.
   </p>
</div>