<h2 xmlns="http://www.w3.org/1999/xhtml" class="title">Principes éditoriaux</h2>
<p xmlns="http://www.w3.org/1999/xhtml">Le texte servant de base à notre édition est celui qui est contenu dans la série de
   manuscrits conservés dans le fonds français de la Bibliothèque nationale de France
   sous les cotes 2817 à 2822. Il s’agit des manuscrits offerts à François Ier par
   Guillaume Cretin ou copiés d’après ceux-ci (pour les manuscrits 2821 et 2822). Même
   si la collation de tous les autres manuscrits a révélé que la série offerte à
   François Ier présentait en maints endroits des leçons uniques, parfois fautives,
   parfois relevant de choix stylistiques particuliers, il nous a semblé que cette série
   royale se rapprochait le plus du projet initial de Cretin, explicité dans un prologue
   en prose. Nous ne corigeons ce manuscrit de base que lorsque l'erreur est évidente et
   aisément rectifiable (par exemple, "droctine" est corrigé en "doctrine").
</p>
<p xmlns="http://www.w3.org/1999/xhtml">Le texte est disponible en version diplomatique et semi-modernisée. Pour la version
   diplomatique, le choix a été fait de transcrire une version la plus fidèle possible
   du texte du manuscrit de base, en respectant graphie, orthographe, abréviations,
   ponctuation (notamment les nombreuses barres obliques, souvent à la césure) et mise
   en page. Pour la version semi-modernisée, nous ne modifions pas l’orthographe mais
   nous modernisons certains éléments du texte afin d’en faciliter la lecture. Nos
   principes, conformes aux conseils de l’École des Chartes, sont les suivants :
</p>
<ul xmlns="http://www.w3.org/1999/xhtml">
   <li>dissimilation des <i>i</i>/<i>j</i> et <i>u</i>/<i>v</i></li>
   <li>régularisation de la graphie des <i>s</i> et <i>r</i></li>
   <li>développement des abréviations (y compris esperluettes et voyelles avec
      tilde)
   </li>
   <li>ajout des apostrophes et cédilles</li>
   <li>usage moderne des majuscules (<i>le roi</i>, <i>notre
         Seigneur</i>)
   </li>
   <li>séparation des mots agglutinés et agglutination des mots séparés, mais sans
      ajouter de trait d’union et sans restituer les élisions (<i>pource</i>, <i>ledit</i>, <i>puysque</i>…)
   </li>
   <li>ajout de l’accent aigu pour tous les noms, adjectifs et participes passés en «
      -é », « -és », « éz », etc. mais pas les terminaisons en « -ee » ou « -ees » qui
      se prononcent forcément [é] ou les verbes conjugués à la 2e personne du pluriel
      (<i>vous prenez</i>).
   </li>
   <li>ajout de l’accent aigu pour les mots dont la dernière syllabe se prononce (<i>trés</i>, <i>aprés</i>…)
   </li>
   <li>ajout des accents graves pour dissimiler les homophones (<i>à</i>,
      <i>là</i>, <i>où</i>)
   </li>
   <li>emploi des trémas pour indiquer les diérèses et hiatus dans les vers (<i>crestïens</i>)
   </li>
   <li>emploi des ligatures (<i>œ</i>) si elles ne figurent pas dans le
      manuscrit de base
   </li>
   <li>introduction de guillemets pour les propos rapportés</li>
   <li>introduction des italiques (pour les titres des livres mentionnés et langues
      étrangères)
   </li>
   <li>ponctuation modernisée (en particulier, les barres obliques sont supprimées ou
      remplacées par des virgules)
   </li>
   <li>usage moderne des paragraphes (remplacement des pieds-de-mouche par des retours
      à la ligne avec alinéa, création d’autres paragraphes selon le sens)
   </li>
</ul>
<p xmlns="http://www.w3.org/1999/xhtml">Les collations ont été réalisées avec les autres manuscrits de la
   <i>Chronique</i>. Elles sont associées à la version semi-modernisée du
   texte. Elles ne reproduisent pas les variantes orthographiques et les mots biffés.
   Quand les mots ou vers sont des ajouts interlinéaires ou à la marge, cela n’est pas
   précisé. 
</p>
<p xmlns="http://www.w3.org/1999/xhtml">Quelques rares notes d’apparat, d’identification de sources ou bien de commentaire
   historique ou littéraire sont déjà présentes.
</p>