<div xmlns="http://www.w3.org/1999/xhtml" class="accordion accordion-flush" id="accordionFlushExample1">
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap1"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap1" aria-controls="collapse1">Prologue en prose</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap1" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap1">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/1_prologueProse/p23">[Prologue en prose]</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap2"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap2" aria-controls="collapse2">Prologue en vers</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap2" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap2">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/2_prologueVerse/p26">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap2" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap2">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/2_prologueVerse/p27"><span class="toc"></span>Second prologue</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap2" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap2">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/2_prologueVerse/p28"><span class="toc"></span>Second prologue</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap2" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap2">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/2_prologueVerse/p29"><span class="toc"></span>Second prologue</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap3"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap3" aria-controls="collapse3">Chapitre 1</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap3" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap3">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/3_chap_1/p29"><span class="toc"></span>[De l’exil Troyans]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap3" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap3">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/3_chap_1/p30">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap3" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap3">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/3_chap_1/p31"><span class="toc"></span>De l’exil Troyans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap3" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap3">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/3_chap_1/p32"><span class="toc"></span>De l’exil aux
               Troyans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap3" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap3">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/3_chap_1/p33"><span class="toc"></span>De l’exil aux Troyans</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap4"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap4" aria-controls="collapse4">Chapitre 2</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap4" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap4">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/4_chap_2/p34"><span class="toc"></span>De Brutus et Turnus</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap4" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap4">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/4_chap_2/p35"><span class="toc"></span>De Brutus et Turnus</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap4" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap4">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/4_chap_2/p36"><span class="toc"></span>De Brutus et Turnus</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap4" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap4">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/4_chap_2/p37"><span class="toc"></span>De Brutus</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap4" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap4">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/4_chap_2/p38"><span class="toc"></span>De Brutus</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap4" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap4">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/4_chap_2/p39"><span class="toc"></span>De Francion filz de
               Hector</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap5"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap5" aria-controls="collapse5">Chapitre 3</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p39"><span class="toc"></span>[De Francion]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p40"><span class="toc"></span>De Francion</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p41"><span class="toc"></span>Les Rommains contre les
               Alains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p42"><span class="toc"></span>Les Françoys contre les
               Alains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p43"><span class="toc"></span>Bataille des Françoys contre les
               Alains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p44"><span class="toc"></span>Les Françoys contre les
               Alains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p45"><span class="toc"></span>D’où vint le nom « Françoys&nbsp;»</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap5" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap5">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/5_chap_3/p46"><span class="toc"></span>[D’où vint le nom « Françoys&nbsp;»]</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap6"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap6" aria-controls="collapse6">Chapitre 4</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p46"><span class="toc"></span>[Les Françoys contre les Rommains]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p47"><span class="toc"></span>Guerre entre les Françoys et Rommains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p48"><span class="toc"></span>Des conquestes des Françoys en
               Germanie</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p49"><span class="toc"></span>La guerre meue aux Françoys par les Rommains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p50"><span class="toc"></span>Bataille des Françoys contre les
               Rommains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p51"><span class="toc"></span>Victoyres des Françoys contre les Rommains</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap6" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap6">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/6_chap_4/p52"><span class="toc"></span>Du RommainLucius</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap7"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap7" aria-controls="collapse7">Chapitre 5</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p52"><span class="toc"></span>[Lutesse par les Françoys ediffiee]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p53">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p54"><span class="toc"></span>Lutesse par les Françoys ediffiee</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p55"><span class="toc"></span>De Marcomyre
               gouverneur des Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p56"><span class="toc"></span>De Pharamon premier
               roy de France, filz de Marcomire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p57"><span class="toc"></span>Lutesse par Pharamon nommée
               Paris</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap7" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap7">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/7_chap_5/p58"><span class="toc"></span>Du nom de la loy salicque</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap8"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap8" aria-controls="collapse8">Chapitre 6</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p58"><span class="toc"></span>[De Clodion second roy de France filz de Pharamon]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p59">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p60"><span class="toc"></span>De Clodion second roy de France filz de Pharamon</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p61"><span class="toc"></span>Du roy Clodion</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p62"><span class="toc"></span>Clodion vainct les Rommains à Cambray et à
               Tournay</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p63"><span class="toc"></span>De la division de
               Gaulle</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p64"><span class="toc"></span>Des rivieres et cités en Gaulle
               celtique</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p65"><span class="toc"></span>Villes, forestzet rivieres de la
               Gaulle belgicque</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap8" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap8">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/8_chap_6/p66"><span class="toc"></span>Des villes de France</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap9"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap9" aria-controls="collapse9">Chapitre 7</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap9" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap9">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/9_chap_7/p66"><span class="toc"></span>[De Meroveeiii<sup>e</sup> roy de France, cousin de Clodion]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap9" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap9">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/9_chap_7/p67">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap9" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap9">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/9_chap_7/p68"><span class="toc"></span>De Meroveeiii<sup>e</sup> roy de France, cousin de Clodion</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap9" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap9">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/9_chap_7/p69"><span class="toc"></span>Des maulx par les Huns faiz aux Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap9" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap9">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/9_chap_7/p70"><span class="toc"></span>Orleans par les Huns assiegee</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap9" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap9">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/9_chap_7/p71"><span class="toc"></span>Les Huns vaincuz par le roy Merovee</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap10"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap10" aria-controls="collapse10">Chapitre 8</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p72">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p73"><span class="toc"></span>De Childerich iiii<sup>e</sup> roy de France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p74"><span class="toc"></span>Du mauvais  du roy Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p75"><span class="toc"></span>Murmure du malvais gouvernement de Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p76"><span class="toc"></span>Du conseil de Guynemault à Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p77"><span class="toc"></span>Du bon conseil de Guynemault à Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p78"><span class="toc"></span>De l’exil du roy Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p79"><span class="toc"></span>Remonstrance de Guynemault aux Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p80"><span class="toc"></span>Du rommainGillon par les Françoys fait roy</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p81"><span class="toc"></span>Guynemault incite
               Gillon à lever impostz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p82"><span class="toc"></span>De Gillon levant
               impostz sur les Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p83"><span class="toc"></span>Du faulx conseil de Guynemault à Gillon</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p84"><span class="toc"></span>Des tirannies de Gillon</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap10" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap10">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/10_chap_8/p85"><span class="toc"></span>[Des tirannies de Gillon]</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap11"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap11" aria-controls="collapse11">Chapitre 9</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p85"><span class="toc"></span>[Murmure des princes contre Gillon]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p86"><span class="toc"></span>Du bon Guynemault
               aux princes de France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p87"><span class="toc"></span>Remonstrance de Guynemault aux princes</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p88"><span class="toc"></span>Du rappel de Childerich par Guynemault</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p89"><span class="toc"></span>Le messaige de Guynemault arrive vers Childerich en exil</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p90"><span class="toc"></span>Childerich part
               pour retourner en France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p91"><span class="toc"></span>Guynemault et les
               princes vont au devant de Childerich à
               Bar</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p92"><span class="toc"></span>Gillon mect son ost
               au devant de Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap11" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap11">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/11_chap_9/p93"><span class="toc"></span>La fuyte et fin de Gillon à Soyssons où il mourut <span class="choice"><span title="Abbrégé en miserablemēt">miserablement</span></span></a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap12"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap12" aria-controls="collapse12">Chapitre 10</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p94"><span class="toc"></span>Odoagre deffaict par
               Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p95"><span class="toc"></span>Childerich
               conquesta Orleans,Anjou et la cité d’Angiers</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p96"><span class="toc"></span>La royne Basine arrive
               en France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p97"><span class="toc"></span>Childerich
               s’enquiert de la venue de la royne Basine</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p98"><span class="toc"></span>Childerich espouse
               la royne Basine</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p99"><span class="toc"></span>Revelations de la royne Basine au roy Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p100"><span class="toc"></span>Les visions que eut Childerich la nuyct de ses nopces</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p101"><span class="toc"></span>Basine declaire à
               Childerichles visions qu’il a
               eues</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap12" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap12">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/12_chap_10/p102"><span class="toc"></span>Childerich et
               Basine engendrerent Clovys</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap13"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap13" aria-controls="collapse13">Chapitre 11</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p103">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p104"><span class="toc"></span>De Clovys filz de
               Childerich</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p105"><span class="toc"></span> filz de Gillon mys en
               fuyte par les Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p106"><span class="toc"></span>Les Françoys pillans sur les
               crestiens</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p107"><span class="toc"></span>Le reffus fait à Clovys de l’esguyere à sainct Remy</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p108"><span class="toc"></span>La monstre des gentilzhommes du roy
               Clovys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p109"><span class="toc"></span>Clovis reprend le
               mutin qui avoit reffusé et frapé l’esguiere</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap13" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap13">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/13_chap_11/p110"><span class="toc"></span>Clovys occit celluy
               qui frappa l’esguiere de sainct Remy</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap14"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap14" aria-controls="collapse14">Chapitre 12</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p110"><span class="toc"></span>[Louenge des vertus et meurs de Clotilde]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p111"><span class="toc"></span>Louenge des vertus et meurs de Clotilde</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p112"><span class="toc"></span>Aurelian en habit de
               povre est devant Clotilde</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p113"><span class="toc"></span>Aurelian habillé en
               povre parle à Clotilde
               secretement</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p114"><span class="toc"></span>La response de Clotilde à Aurelian</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p115"><span class="toc"></span>Clovis renvoye querir
               Clotide pour
               l’espouser</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p116"><span class="toc"></span>Clotilde emmenee en
               France vers le roy Clovys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p117"><span class="toc"></span>Clotilde au partir
               fait piller par le pays de
               Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p118"><span class="toc"></span>Nouvelles à Clovys de
               la venue de s’amye Clotilde</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p119"><span class="toc"></span>La joye que <span class="choice"><span title="Abbrégé en chūn">chacun</span></span> a pour la venue de Clotilde en France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p120"><span class="toc"></span>L’appareil de Clovys
               pour recepvoir s’amye Clotilde</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p121"><span class="toc"></span>Nopces et feste de Clovis et de la belle Clotilde crestienne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap14" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap14">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/14_chap_12/p122"><span class="toc"></span>Clotilde<span class="choice"><span title="Abbrégé en admōneste">admonneste</span></span>Clovys d’estre
               crestien</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap15"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap15" aria-controls="collapse15">Chapitre 13</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p122"><span class="toc"></span>[Clovis murmure de son
               filz mort qui avoit esté baptisé]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p123"><span class="toc"></span>Clovis murmure de son
               filz mort qui avoit esté baptisé</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p124"><span class="toc"></span>Clovys et Clotilde engendrerent Clodomire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p125"><span class="toc"></span>À la priere de Clotilde l’enfantClodomire eut
               santé</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p126"><span class="toc"></span>Bataille de Clovys et
               des Françoys contre les
               Allemans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p127"><span class="toc"></span>Clovis payan <span class="choice"><span title="Abbrégé en invocquāt">invocquant</span></span>Jesus Crist eut victoire <span class="choice"><span title="Abbrégé en cōtre">contre</span></span> les Allemans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p128"><span class="toc"></span>Clotilde et
               sainct Remy vont au devant de
               Clovys converty</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p129"><span class="toc"></span>De la saincteté de sainct Remy archevesque de
               Reins</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p130"><span class="toc"></span>Sainct Remy presche
               à Clovys la foy de Jesus Crist</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p131"><span class="toc"></span>Sainct Remy
               enseigne la foy de Jesus Crist
               à Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap15" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap15">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/15_chap_13/p132"><span class="toc"></span>Sainct Remy fait <span class="choice"><span title="Abbrégé en cōsentir">consentir</span></span>Clovys à soy
               baptiser</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap16"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap16" aria-controls="collapse16">Chapitre 14</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p132"><span class="toc"></span>[La saincte ampolle <span class="choice"><span title="Abbrégé en trāsmise">transmise</span></span> du ciel au baptesme de Clovis]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p133"><span class="toc"></span>La saincte ampolle <span class="choice"><span title="Abbrégé en trāsmise">transmise</span></span> du ciel au baptesme de Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p134"><span class="toc"></span>Clovys baptisé incite
               tous ses gentz à estre baptisez</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p135"><span class="toc"></span>Clovis fonda l’eglise
               du mont Saincte Genevefve à Paris</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p136"><span class="toc"></span>Les troys fleurs de liz envoyees du ciel au roy Clovys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p137"><span class="toc"></span>Du mal des escrouelles dont le roy de France guerist</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p138"><span class="toc"></span>Des graces divines que ont les roys de France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap16" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap16">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/16_chap_14/p139"><span class="toc"></span>De l’auriflamme envoyee du ciel à Clovis</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap17"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap17" aria-controls="collapse17">Chapitre 15</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p139"><span class="toc"></span>[Complaincte de Clotilde à
               Clovys sur Gondebault]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p140"><span class="toc"></span>Complaincte de Clotilde à
               Clovys sur Gondebault</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p141"><span class="toc"></span>Complaincte de la royne Clotilde à son mary Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p142"><span class="toc"></span>Clovys mect son armee
               en Bourgongne contre Gondebault</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p143"><span class="toc"></span>Gondebault à
               rençon et Gondesil est <span class="choice"><span title="Abbrégé en lieutenāt">lieutenant</span></span> en Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p144"><span class="toc"></span>Gondebauld contre
               son Gondesil en Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p145"><span class="toc"></span>Vienne à Gondebault vendue et par luy prise sur Gondesil</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p146"><span class="toc"></span>Gondebault occit son
               frere Gondesil à la prise de
               Vienne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap17" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap17">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/17_chap_15/p147"><span class="toc"></span>[Gondebault occit son
               frere Gondesil à la prise de
               Vienne]</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap18"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap18" aria-controls="collapse18">Chapitre 16</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p147"><span class="toc"></span>[Covis envoye ung
               herault vers les Gotz descenduz en
               Acquitaine]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p148"><span class="toc"></span>Le herault de Clovys
               arrive vers Alaire roy des Gotz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p149"><span class="toc"></span>La faincte paction que les Gotz feirent aux Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p150"><span class="toc"></span>La trahyson du roy Alaire contre les Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p151"><span class="toc"></span>La trahyson des Gotz contre les Françoys descouverte</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p152"><span class="toc"></span>La trahyson par Alaire faicte au herault de Clovys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p153"><span class="toc"></span>La trahyson que les Gotz feirent au herault du roy Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p154"><span class="toc"></span>Clovys fait armee
               contre Alaire et les
               Gotz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p155"><span class="toc"></span>Les Gotz en armes contre les Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap18" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap18">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/18_chap_16/p156"><span class="toc"></span>[Les Gotz en armes contre les Françoys]</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap19"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap19" aria-controls="collapse19">Chapitre 17</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap19" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap19">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/19_chap_17/p156"><span class="toc"></span>[Oblation faicte par Clovys à sainct Martin de Tours]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap19" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap19">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/19_chap_17/p157"><span class="toc"></span>Clovis se delibere
               combatre les Gotz hereticques arriens</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap19" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap19">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/19_chap_17/p158"><span class="toc"></span>Clovys prie Dieu pour son ost contre les Gotz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap19" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap19">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/19_chap_17/p159"><span class="toc"></span>Miracles et signes veuz en l’ost du roy Clovis</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap20"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap20" aria-controls="collapse20">Chapitre 18</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap20" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap20">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/20_chap_18/p160"><span class="toc"></span>Bataille de Clovys contre
               les Gotz prés de Poictiers</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap20" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap20">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/20_chap_18/p161"><span class="toc"></span>Clovis occit
               Alaire en
               bataille puys mist Thierry sur champs</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap20" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap20">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/20_chap_18/p162"><span class="toc"></span>Concquestes de Clovys
               à Tholose sur les
               Gotz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap20" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap20">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/20_chap_18/p163"><span class="toc"></span>L’empereur Anastase
               envoye vers le roy Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap20" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap20">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/20_chap_18/p164"><span class="toc"></span>De la liberalité de Clovys appellé senateur rommain</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap20" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap20">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/20_chap_18/p165"><span class="toc"></span>Du cheval que Clovis
               avoit offert à sainct Martin de Tours</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap21"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap21" aria-controls="collapse21">Chapitre 19</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p165"><span class="toc"></span>[Plainctes par les Cambroysiens faictes de
               Richer]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p166"><span class="toc"></span>Plainctes par les Cambroysiens faictes de
               Richer</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p167"><span class="toc"></span>Les presens que envoye Clovis aux ambassades de <span class="choice"><span title="Abbrégé en Cābresis">Cambresis</span></span></a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p168"><span class="toc"></span>Des flateries de Pharon
               envers Richer</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p169"><span class="toc"></span>Richer assemble ses
               gens contre Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p170"><span class="toc"></span>Clovys deffist
               Richer en
               bataille et prist Cambray</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p171"><span class="toc"></span>Les trahistres de Richer se plaignent du present de Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p172"><span class="toc"></span>Clovys reprend ceulx
               qui luy trahirent Richer</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p173"><span class="toc"></span>De la saincte vierge Genevefve et de sainct Germain</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p174"><span class="toc"></span>De la saincteté de saincte Genevefve</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p175"><span class="toc"></span>Des signes et presaiges qui <span class="choice"><span title="Abbrégé en feurēt">feurent</span></span> devant la mort de Clovis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p176"><span class="toc"></span>De la fin et mort du roy Clovys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap21" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap21">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/21_chap_19/p177"><span class="toc"></span>Clovis inhumé au <span class="choice"><span title="Abbrégé en mōt">mont</span></span><span class="choice"><span title="Abbrégé en saīcte">saincte</span></span>Genevefve à Paris qu’il fonda</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap22"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap22" aria-controls="collapse22">Chapitre 20</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p177"><span class="toc"></span>[Les quatre filz de Clovis
               departent le royaulme en quatre]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p178">[miniature]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p179"><span class="toc"></span>Les quatre filz de Clovis
               departent le royaulme en quatre</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p180"><span class="toc"></span>Thierry roy de Més fait guerre aux Dannoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p181"><span class="toc"></span>Complaincte de Clotilde à ses quatre filz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p182"><span class="toc"></span>Complaincte de Clotilde à ses quatre enfans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p183"><span class="toc"></span>Les filz de Clovis
               desliberent venger leur mere</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p184"><span class="toc"></span>Oraison de Sigismonde à sainct Maurice martir</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p185"><span class="toc"></span>La grande occision que Françoys feirent en
               Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p186"><span class="toc"></span>Sigismonde pris par
               Clodomire en
               Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap22" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap22">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/22_chap_20/p187"><span class="toc"></span>Sigismonde et ses
               enfans occis et luy enterré à
               Chabliz</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap23"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap23" aria-controls="collapse23">Chapitre 21</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p187"><span class="toc"></span>[Clodomire fait guerre à
               Gondinal en Bourgongne]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p188"><span class="toc"></span>Clodomire fait guerre à
               Gondinal en Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p189"><span class="toc"></span>Bataille des Françoys et des Bourguignons</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p190"><span class="toc"></span>Clodomire en bataille
               environné des Bourguignons</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p191"><span class="toc"></span>Clodomire fut des Bourguignons en bataille occis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p192"><span class="toc"></span>Clotaire et
               Childebert font guerre à
               Gondinal</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p193"><span class="toc"></span>Quelz gens assembla Gondinal contre les  françois</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p194"><span class="toc"></span>Childebert et
               Clotaire chasserent Gondinal de Bourgongne</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap23" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap23">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/23_chap_21/p195"><span class="toc"></span>[Childebert et
               Clotaire chasserent Gondinal de Bourgongne]</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap24"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap24" aria-controls="collapse24">Chapitre 22</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p195"><span class="toc"></span>[Amaulry succeda à son
               pere Alaire es
               Gotz]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p196"><span class="toc"></span>Amaulry demande la fille de Clovys en mariaige</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p197"><span class="toc"></span>Aumaulry<span class="choice"><span title="Abbrégé en doulcemēt">doulcement</span></span> receut sa femme puys la traicta
               mal</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p198"><span class="toc"></span>Les injures faictes par Amaulry à la fille de Clovys sa femme</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p199"><span class="toc"></span>La <span class="choice"><span title="Abbrégé en fēme">femme</span></span> de Amaulry se <span class="choice"><span title="Abbrégé en cōplainct">complainct</span></span> par lettre à ses freres</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p200"><span class="toc"></span>Epistre de la royne des Gotz à ses freres en France</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p201"><span class="toc"></span>Childebert pour
               sa seur fait guerre à son mary Amaulry roy des Gotz</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p202"><span class="toc"></span>Bataille entre les Françoys et les Gotz.</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p203"><span class="toc"></span>Amaulry occis,Childebert print
               Tollette et receut sa seur</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap24" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap24">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/24_chap_22/p204"><span class="toc"></span>Les despouilles de Childebert qu’il eut à
               Tollette</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap25"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap25" aria-controls="collapse25">Chapitre 23</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p204"><span class="toc"></span>[Thierry se accointa
               de Clotaire contre leur frere
               Childebert]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p205"><span class="toc"></span>Thierry se accointa
               de Clotaire contre leur frere
               Childebert</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p206"><span class="toc"></span>La trahison de Thierry contre son frere Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p207"><span class="toc"></span>La trahison de Thierry descouverte</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p208"><span class="toc"></span>Thierry<span class="choice"><span title="Abbrégé en rēvoye">renvoye</span></span><span class="choice"><span title="Abbrégé en q̄rir">querir</span></span> le bassin qu’il avoit donné à Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p209"><span class="toc"></span>Thierry fist mourir
               les ostaiges de son frere Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap25" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap25">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/25_chap_23/p210"><span class="toc"></span>Remonstrance d’ambition et couvoytise</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap26"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap26" aria-controls="collapse26">Chapitre 24</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p210"><span class="toc"></span>[Childebert et
               Clotaire machinent la mort des
               troys filz Clodomire]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p211"><span class="toc"></span>Childebert et
               Clotaire machinent la mort des
               troys filz Clodomire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p212"><span class="toc"></span>Clotilde envoye les
               troys enfans à ses deux oncles</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p213"><span class="toc"></span>L’espee et forces à Clotilde envoyés par ses deux enfans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p214"><span class="toc"></span>Plainctes de Clotilde
               pour les troys enfans de Clodomire.</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p215"><span class="toc"></span>La piteuse response de Clotilde au messaige de son filz Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p216"><span class="toc"></span>Clotaire occit deux
               enfans de son frere Clodomire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p217"><span class="toc"></span>De sainct Cloud et la sepulture de ses deux petitz freres
               occis</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap26" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap26">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/26_chap_24/p218"><span class="toc"></span>La mort de Thierry
               roy de Metz et de Lorraine</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap27"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap27" aria-controls="collapse27">Chapitre 25</button></h2><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap27" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap27">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/27_chap_25/p219"><span class="toc"></span>Theodebert et son
               oncle Childebert font guerre à
               Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap27" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap27">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/27_chap_25/p220"><span class="toc"></span>Clotilde prie sainct
               Martin pour ses enfans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap27" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap27">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/27_chap_25/p221"><span class="toc"></span>Oraison de Clotilde
               pour mectre paix entre ses enfans</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap27" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap27">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/27_chap_25/p222"><span class="toc"></span>Miracle en l’ost des deux roys Childebert et Theodebert</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap27" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap27">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/27_chap_25/p223"><span class="toc"></span>Paix entre Theodebert,Childebert et Clotaire</a></div>
      </div>
   </div>
   <div class="accordion-item">
      <h2 class="accordion-header" id="headingBook1Chap28"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target=".collapseBook1Chap28" aria-controls="collapse28">Chapitre 26</button></h2>
      <div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p223"><span class="toc"></span>[Childebert et
               Clotaire contre leur nepveu
               Theodebert]</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p224"><span class="toc"></span>Childebert et
               Clotaire contre leur nepveu
               Theodebert</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p225"><span class="toc"></span>Theodebert par sa
               prudence appaisa Childebert et
               Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p226"><span class="toc"></span>La mort de la royne Clotilde</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p227"><span class="toc"></span>Le corps de Clotilde
               mené de Tours à Paris</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p228"><span class="toc"></span>La mort de la royne Clotilde plaincte de tous</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p229"><span class="toc"></span>La sepulture de Clotilde et la mort de Theodebert roy de Lorraine</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p230"><span class="toc"></span>Du roy Clotaire et de son filz Cran</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p231"><span class="toc"></span>Des maulvaistez de Cran filz de Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p232"><span class="toc"></span>Childebert et
               Cran contre Clotaire</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p233"><span class="toc"></span>Guerre et bataille entre les Saxons et
               les Françoys</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p234"><span class="toc"></span>La mort du roy Childebert</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p235"><span class="toc"></span>Childebert fut
               inhumé à Sainct Germain des Prez qu’il avoit fondé</a></div>
      </div><span class="ok"></span><div class="accordion-collapse collapse collapseBook1Chap28" data-bs-parent="#accordionFlushExample1" aria-labelledby="headingBook1Chap28">
         <div class="accordion-body"><a class="dropdown-item btn-menu" href="/book1/28_chap_26/p236"><span class="toc"></span>Clotaire succede au
               royaulme de France</a></div>
      </div>
   </div>
</div>