{% extends "base.html.j2" %}

{% block css %}
<link href="{{ url_for('static', filename='css/editPages.css') }}" rel="stylesheet"/>
{% endblock %}

{% block containertype %}container{% endblock %}

{% block pageTitle %}Bibliographie{% endblock %}

{% block body %}
  {% include 'htm/bibliographie.htm'%}
{% endblock %}
