{% extends "chapter_base.html.j2" %}

{% block pageTitle %}Livre IV{% endblock %}

{% set chapterTitle %}{% block chapter %}{{ super() }}{% endblock %}{% endset %}

{% set chaptersList %}{% block allChaptersList %}{{ super() }}{% endblock %}{% endset %}

{% block body %}
  <h2 class="title">Livre IV - {{ chapterTitle }}</h2>

  <!-- table of contents  -->
  <div class="toc row justify-content-center">
      {{ chaptersList.book4() }}
  </div>
  {{ super() }}
{% endblock %}
