{% extends "base.html.j2" %}

{% block pageTitle %}Généalogie{% endblock %}

{% block css %}
  <link href="{{ url_for('static', filename='css/libs/cytoscape.js-navigator.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/libs/cytoscape.js-panzoom.css') }}" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/genealogy.css') }}" rel="stylesheet"/>
{% endblock %}

{% block containertype %}container{% endblock %}

{% block body %}
  <h2 class="title">Repères généalogiques</h2>

  <div class="row">
    <div class="col" id="instructions">
      <p>Plusieurs possibilités pour manipuler le graphe :</p>
      <ul>
        <li>Utiliser la roulette à l'extérieur du cadre permet de monter-descendre dans la page.</li>
        <li>Utiliser les boutons <i class="fa-solid fa-minus btn-icon"></i> et <i class="fa-solid fa-plus btn-icon"></i> ou la roulette à l'intérieur du cadre permet de zoomer-dézoomer.</li>
        <li>Maintenir appuyé n'importe où dans le cadre en déplaçant la souris permet de déplacer le graphe.</li>
        <li>Le bouton <i class="fa-solid fa-expand btn-icon"></i> permet de réinitialiser le zoom et de recentrer le graphe.</li>
        <li>Maintenir appuyé sur un noeud en déplaçant la souris permet de déplacer le noeud et de modeler le graphique à sa guise.</li>
        <li>Cliquer sur un noeud coupe le graphe et le centre sur la descendance de ce noeud.</li>
        <li>Cliquer sur ce bouton <i class="fa-solid fa-rotate btn-icon" onclick="window.location.reload()"></i> pour ré-initialiser le graphe tel qu'il était avant d'être manipulé.</li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-center" id="graph">
  </div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/libs/jquery-3.3.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/cytoscape.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/elk.bundled.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/cytoscape-elk.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/cytoscape-navigator.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/cytoscape-panzoom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graph.js') }}"></script>
{% endblock %}
