{% extends "base.html.j2" %}

{% block pageTitle %}Mentions légales{% endblock %}

{% block containertype %}container{% endblock %}

{% block body %}
  <h2 class="title">Mentions légales</h2>
  {% include 'htm/legal_mentions.htm'%}
{% endblock %}
