{% extends "base.html.j2" %}

{% block containertype %}container{% endblock %}

{% block pageTitle %}Manuscrits{% endblock %}

{% block body %}
  <h2 class="title">Manuscrits</h2>
  {% include 'htm/manuscrits.htm'%}
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/libs/jquery-3.3.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
{% endblock %}
