<div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <h3>
          <span id="modal-title-id"></span>
        </h3>
        <div class="modal-text">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-modal" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
