
<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <div class="collapse show navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mx-auto">
        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('index') }}"><i class="fa-solid fa-house-chimney"></i> Accueil</a>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-address-card"></i> Présentation</a>
          <ul class="dropdown-menu dropdown-pres" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='presentation') }}"></i><span>Présentation de la <i>Chronique française</i></span></a>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='edit_principles') }}"></i>Principes éditoriaux</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-book"></i> Livres</a>

          <ul class="dropdown-menu dropdown-books" aria-labelledby="navbarDropdown">
            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary" href="{{ url_for('vue', vueName='book1') }}" id="book1Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre I</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book1Dropdown">
                <!-- Dropdown menu links -->
                {% include('htm/table_of_contents_1.htm') %}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary" href="{{ url_for('vue', vueName='book2') }}" id="book2Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre II</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book2Dropdown">
                <!-- Dropdown menu links -->
                {% include('htm/table_of_contents_2.htm') %}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary disabled" href="{{ url_for('vue', vueName='book3') }}" id="book3Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre III</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book3Dropdown">
                <!-- Dropdown menu links -->
                {# {% include('htm/table_of_contents_3.htm') %} #}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary disabled" href="{{ url_for('vue', vueName='book4') }}" id="book4Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre IV</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book4Dropdown">
                <!-- Dropdown menu links -->
                {# {% include('htm/table_of_contents_4.htm') %} #}
              </ul>
            </li>

            <li class="dropend">
              <a class="dropdown-toggle dropdown-item btn-summary disabled" href="{{ url_for('vue', vueName='book5') }}" id="book5Dropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Livre V</a>
              <ul class="dropdown-menu dropdown-chapters" aria-labelledby="book5Dropdown">
                <!-- Dropdown menu links -->
                {# {% include('htm/table_of_contents_5.htm') %} #}
              </ul>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='manuscripts') }}"><i class="fa-solid fa-scroll"></i> Manuscrits</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='index_person') }}"><i class="fa-solid fa-bars"></i> Index</a>
        </li>

        <li class="nav-item dropdown">
          <a class="dropdown-toggle btn btn-menu me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="fa-solid fa-landmark"></i> Ressources</a>
          <ul class="dropdown-menu dropdown-ress" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='bibliography') }}"></i>Bibliographie</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary" href="{{ url_for('vue', vueName='genealogy') }}"></i>Repères généalogiques</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary disabled" href="{{ url_for('vue', vueName='map') }}"></i>Repères cartographiques</a>
            </li>
            <li>
              <a class="dropdown-item btn-summary disabled" href="{{ url_for('vue', vueName='timeline') }}"></i>Repères chronologiques</a>
            </li>
          </ul>
        </li>

        <!-- <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='genealogy') }}"><i class="fa-solid fa-people-roof"></i> Généalogie</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='map') }}"><i class="fa-solid fa-map-location-dot"></i> Carte</a>
        </li> -->

        <li class="nav-item">
          <a class="btn btn-menu me-3" href="{{ url_for('vue', vueName='team') }}"><i class="fa-solid fa-people-group"></i> Équipe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
