
{% macro chapterTitle() %}Chapitre 9{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('9_chap_8')"><i class="fa-solid fa-arrow-left"></i> Chapitre 8</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('11_chap_10')">Chapitre 10 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f96/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f96/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f96" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f97/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f97/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f97" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f98/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f98/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f98" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f99/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f99/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f99" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f100/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f100/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f100" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f101/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f101/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f101" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f102/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f102/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f102" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f96">
   <p title="Numéro de folio" class="text-end"><i>30v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v1697"><mark title="piedMouche">§</mark>Qui gros debatz
         regarde voluntiers</span>
      <span class="verse v1698">De trois roys, 
         <span class="lem">voye</span>
         
          ici /. dont deux ſe tordent</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v1699">Du droit ſentier /. et 
         <span class="lem">enſemble</span>
         
         
         
         <span class="lem">ſaccordent</span>
         
         </span>
      <span class="verse v1700"><span class="verse-number">1700</span>A quelque paix / pour deffaire le tiers.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre. ix<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v1701">QUant ainſi fut ceſte 
      <span class="lem"></span>
      
      guerre 
      <span class="lem"></span>
      
      appaiſee</span>
   <span class="verse v1702">Auſſi ſoudain quon peult / ſans repoſee</span>
   <span class="verse v1703">Bender a coup une arbaleſte 
      <span class="lem">au</span>
      
      
      
      <span class="lem"></span>
      
      cric,</span>
   <span class="verse v1704">Fut 
      <span class="lem">Sigibert</span>
      
       auecques Chilperich</span>
   <span class="verse v1705"><span class="verse-number">1705</span>Si bien bende / que enſemble coniurerent</span>
   <span class="verse v1706">La moꝛt Gontran
      / leur tiers frere /, et iurerent</span>
   <span class="verse v1707">Ny eſpergner cueur / coꝛps / puiſſance / auoir</span>
   <span class="verse v1708">Ne bien quelconcque /. Oꝛ qui vouldꝛoit ſcauoir</span>
   <span class="verse v1709">Loccaſion 
      <span class="lem">dont</span>
      
       ſourdit ceſte 
      <span class="lem"></span>
      
      hongne,</span>
   <span class="verse v1710"><span class="verse-number">1710</span>Ce fut pour tant que eſtoit roy de
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark></span>
   <span class="verse v1711">Celluy Gontran / et d<mark title="placeName" instant="false" full="yes">Oꝛleans</mark> auſſi.</span>
   <span class="verse v1712">Touſiours enuie allegue 
      <span class="lem">k</span>
      
      
       ou ſi,</span>
   
   <span class="verse v1713">Mais 
      <span class="lem">aſſez</span>
      
       peu fut lempꝛiſe extimee</span>
   <span class="verse v1714">Veu ſa legiere 
      <span class="lem">iſſue</span>
      
       /.
      Car larmee</span>
   <span class="verse v1715"><span class="verse-number">1715</span>Tant dun coſte 
      <span class="lem"></span>
      
      
      <span class="lem">comme</span>
      
       dautre 
      <span class="lem"></span>
      
      
      marchant</span>
   
   
   <hr data-img-id="f97">
   
   <p title="Numéro de folio" class="text-end"><i>31r</i></p>
   <span class="d-block fw-bold mb-3">Paix entre Chilperich /.
      Goutran / et Sigibert /
      freres.</span>
   <span class="verse v1716">Entre les 
      <span class="lem">bourgz</span>
      
       de <mark title="placeName" instant="false" full="yes">Viray</mark> et
      <mark title="placeName" instant="false" full="yes">Archant</mark>,</span>
   <span class="verse v1717">Ambaſſadeurs 
      <span class="lem">ſus</span>
      
       laffaire veillerent</span>
   <span class="verse v1718">Songneuſement /. et tant y traueillerent</span>
   <span class="verse v1719">Quil fut conclud iceulx freres / tous trois</span>
   <span class="verse v1720"><span class="verse-number">1720</span>A iour nomme / eulx trouuer dedans
      <mark title="placeName" instant="false" full="yes">Trois</mark></span>
   <span class="verse v1721">Qui de <mark title="placeName" instant="false" full="yes">Champaigne</mark> eſt ville
      capitalle.</span>
   <span class="verse v1722"><mark title="piedMouche">§</mark>La /
      confermee entre eulx la paix totalle</span>
   <span class="verse v1723">Par le moyen des articles admys,</span>
   <span class="verse v1724">
      <span class="lem">Sembla</span>
      
       les veoir departir bons amys.</span>
   <span class="verse v1725"><span class="verse-number">1725</span>Mais eſlongnez des accoꝛdz ſi toſt furent</span>
   <span class="verse v1726">Que amour et foy de petite eſtoffe eurent,</span>
   <span class="verse v1727">Comme apparut 
      <span class="lem">deffect</span>
      
       cler et 
      <span class="lem"></span>
      
      appert /.</span>
   <span class="verse v1728">Aduint ung iour que le roy Sigibert</span>
   <span class="verse v1729">Eſtoit aux champs par temps de foꝛte pluye,</span>
   <span class="verse v1730"><span class="verse-number">1730</span>
      <span class="lem"></span>
      
      Puys le matin 
      <span class="lem"></span>
      
      
      <span class="lem">iuſques</span>
      
      
      
      <span class="lem">pꝛes</span>
      
       de complie</span>
   <span class="verse v1731">Et auecq luy ſes gensdarmes gaſchez,</span>
   <span class="verse v1732">
      <span class="lem">Mouillez</span>
      
       / trempez / ennuyez / et 
      <span class="lem"></span>
      
      faſchez</span>
   <span class="verse v1733">De tant poꝛter le harnois 
      <span class="lem">ſus</span>
      
       leſchigne.</span>
   <span class="verse v1734">Celluy ny a qui 
      <span class="lem">nen</span>
      
       gꝛonde 
      <span class="lem"></span>
      
      et rechigne</span>
   <span class="verse v1735"><span class="verse-number">1735</span>Et vont diſant / touſiours eſtre pꝛemiers</span>
   <span class="verse v1736">Aux coupz donner /. et auſſi les 
      <span class="lem"></span>
      
      derniers</span>
   <span class="verse v1737">A receuoir du roy aulcun ſalaire.</span>
   <span class="verse v1738">Et poſe 
      <span class="lem">oꝛ</span>
      
       que la paix leur deuſt plaire</span>
   <span class="verse v1739">Faicte a Gontran /.
      Chaſcun deulx 
      <span class="lem">hayne</span>
      
       auoit</span>
   <span class="verse v1740"><span class="verse-number">1740</span>A Chilperich
      /. pour ce que ainſi viuoit</span>
   
   
   <hr data-img-id="f98">
   
   <p title="Numéro de folio" class="text-end"><i>31v</i></p>
   <span class="d-block fw-bold mb-3">Sigibert chaſſa
      Chilperich iuſques a
      <mark title="placeName" instant="false" full="yes">Tournay</mark>.</span>
   <span class="verse v1741">Lubꝛicquement ſon 
      <span class="lem">oꝛde</span>
      
       et male vie.</span>
   <span class="verse v1742">A le hayꝛ 
      <span class="lem">les</span>
      
       pꝛouocque et conuie.</span>
   <span class="verse v1743"><mark title="piedMouche">§</mark>Loꝛs Sigibert / les voyant
      mutinez</span>
   <span class="verse v1744">Et mal contentz. leurs vouloirs obſtinez</span>
   <span class="verse v1745"><span class="verse-number">1745</span>Fiſt 
      <span class="lem"></span>
      
      adoulcir a foꝛce de pecune.</span>
   <span class="verse v1746">Meilleure choſe 
      <span class="lem"></span>
      
      auoir lieu 
      <span class="lem">ny</span>
      
       peult que une,</span>
   <span class="verse v1747">Ceſt donner bꝛuyt / louenge / et bon loyer</span>
   <span class="verse v1748">A ceulx qui bien ſe veullent employer,</span>
   <span class="verse v1749">Car ſe la gꝛace au donner eſt cheſtifue</span>
   <span class="verse v1750"><span class="verse-number">1750</span>Au monde neſt ſi bon / qui 
      <span class="lem">nen</span>
      
       reſtifue.</span>
   <span class="verse v1751"><mark title="piedMouche">§</mark>A tant voyant ſon frere
      deſnue,</span>
   <span class="verse v1752">Si mal voulu / et tant diminue,</span>
   <span class="verse v1753">De gentz /
      
      <span class="lem">argent</span>
      
       / et tout le neceſſaire</span>
   <span class="verse v1754">Sur luy chargea / en ſoꝛte de aduerſaire.</span>
   <span class="verse v1755"><span class="verse-number">1755</span>Dont Chilperich eſtonne / ſans tenir</span>
   <span class="verse v1756">Oꝛdꝛe de guerre a tel faix ſouſtenir,</span>
   <span class="verse v1757">Comme eſbꝛanle 
      <span class="lem">deſperee</span>
      
      
      
      <span class="lem">aſſeurance</span>
      
      </span>
   <span class="verse v1758">Et gecte hoꝛs daſſeuree eſperance,</span>
   <span class="verse v1759">Luy, Fredegonde
      / et enfans eſbahis</span>
   <span class="verse v1760"><span class="verse-number">1760</span>De eulx veoir ainſi chauldement enuahis,</span>
   <span class="verse v1761">Remede au cas pour lheure ne donnerent</span>
   <span class="verse v1762">Foꝛs 
      <span class="lem">quen</span>
      
       fuyant / dedans <mark title="placeName" instant="false" full="yes">Tournay</mark>
      tournerent.</span>
   <span class="verse v1763">Mais la / foꝛtune 
      <span class="lem">au</span>
      
       malheur adiouxta</span>
   <span class="verse v1764">Ung autre mal /.
      Car le couraige oſta</span>
   <span class="verse v1765"><span class="verse-number">1765</span>Pour la plus part / aux gentz de leur 
      <span class="lem">armee</span>
      
      </span>
   
   
   <hr data-img-id="f99">
   
   <p title="Numéro de folio" class="text-end"><i>32r</i></p>
   <span class="d-block fw-bold mb-3">La mort de Sigibert
      conceue par la royne Fredegonde.</span>
   <span class="verse v1766">Qui dun accoꝛd / et volunte fermee</span>
   <span class="verse v1767">Vers Sigibert (.
      Ayant ia la cite</span>
   <span class="verse v1768">De <mark title="placeName" instant="false" full="yes">Tournay</mark> miſe en gꝛand neceſſite)</span>
   <span class="verse v1769">Allerent tous (ſans 
      <span class="lem">que</span>
      
      
      
      <span class="lem">boucle</span>
      
       deſſoulde</span>
   <span class="verse v1770"><span class="verse-number">1770</span>Ne hardillon) offrir 
      <span class="lem"></span>
      
      deſtre a ſa ſoulde.</span>
   <span class="verse v1771">Dont Fredegonde
      oultraigee en ſon cueur</span>
   <span class="verse v1772">Voyant celluy 
      <span class="lem"></span>
      
      vaincu / qui fut vaincueur,</span>
   <span class="verse v1773">A deux 
      <span class="lem">paillardz</span>
      
       /
      
      <span class="lem"></span>
      
      truans afetardiz</span>
   <span class="verse v1774">
      <span class="lem">Pꝛomptz</span>
      
       a mal faire / et a beau faict 
      <span class="lem">tardifz</span>
      
      ,</span>
   <span class="verse v1775"><span class="verse-number">1775</span>Secretement les 
      <span class="lem">tirant</span>
      
       de coſte elle,</span>
   <span class="verse v1776">Tant blaſonna par ſubtile cautelle</span>
   <span class="verse v1777">Et tant y eut par elle 
      <span class="lem">auant</span>
      
       marche,</span>
   <span class="verse v1778">Que ces 
      <span class="lem">pendardz</span>
      
       conclurent le marche</span>
   <span class="verse v1779">Daller meurdꝛir Sigibert
      en ſa tente.</span>
   <span class="verse v1780"><span class="verse-number">1780</span>En quoy faiſant / eſperans gꝛoſſe actente</span>
   <span class="verse v1781">De biens mondains / leur iura et 
      <span class="lem"></span>
      
      pꝛomiſt</span>
   <span class="verse v1782">Foy de pꝛinceſſe /
      
      <span class="lem">ou</span>
      
       cas que Dieu permiſt</span>
   <span class="verse v1783">
      <span class="lem">Quilz</span>
      
       fuſſent la occis par 
      <span class="lem"></span>
      
      malencontre</span>
   <span class="verse v1784">Faire pour eulx tant de biens a lencontre</span>
   <span class="verse v1785"><span class="verse-number">1785</span>De ce beau faict /. tant de fondations</span>
   
   <span class="lem">
      <span class="verse v1786">Tant doꝛaiſons /. et tant doblations,</span>
      </span>
   
   
   <span class="verse v1787">Que vray pardon de lvtille homicide</span>
   <span class="verse v1788">Leur ſeroit faict / moyennant tel
      ſubſide.</span>
   <span class="verse v1789"><mark title="piedMouche">§</mark>Les malheureux follement
      abuſez</span>
   <span class="verse v1790"><span class="verse-number">1790</span>Par affeſtez langaiges ſi ruſez</span>
   
   
   <hr data-img-id="f100">
   
   <p title="Numéro de folio" class="text-end"><i>32v</i></p>
   <span class="d-block fw-bold mb-3">Sigibert occis en
      ſon camp. et ceulx qui loccirent occis.</span>
   <span class="verse v1791">De ceſte faulſe et male creature,</span>
   <span class="verse v1792">
      <span class="lem"></span>
      
      Se allerent mectre ainſi a laduenture /.</span>
   <span class="verse v1793">Tant ſceurent 
      <span class="lem">ilz</span>
      
      
      
      <span class="lem"></span>
      
      tournoyer / topier</span>
   <span class="verse v1794">
      <span class="lem">Et</span>
      
       loſt du roy Sigibert
      eſpier,</span>
   <span class="verse v1795"><span class="verse-number">1795</span>Que entour mynuict 
      <span class="lem">au</span>
      
       dꝛoit point que 
      <span class="lem">la</span>
      
       ſomme</span>
   <span class="verse v1796">De plain 
      <span class="lem"></span>
      
      repoz /
      
      <span class="lem">lhomme</span>
      
       abat et 
      <span class="lem">aſſomme</span>
      
      
      ,</span>
   <span class="verse v1797">Comme aucteurs 
      <span class="lem"></span>
      
      faulx du criminel delit</span>
   <span class="verse v1798">
      <span class="lem">Soudainement loccirent en</span>
      
       ſon lict /</span>
   <span class="verse v1799">Mais les meurdꝛiers en 
      <span class="lem">pꝛeſſe</span>
      
      
      
      <span class="lem"></span>
      
      et gꝛoſſes tourbes,</span>
   <span class="verse v1800"><span class="verse-number">1800</span>
      <span class="lem">Cuydans</span>
      
       fouyꝛ / coups y receurent 
      <span class="lem">ourbes</span>
      
      ,</span>
   <span class="verse v1801">Et furent la detranchez a pas telz</span>
   <span class="verse v1802">Auſſi menu comme chair a paſtez /.</span>
   <span class="verse v1803">Ceſt la raiſon /. qui fiert de glayue /. certes</span>
   <span class="verse v1804">Requiert que glayue en paye les deſſertes /.</span>
   <span class="verse v1805"><span class="verse-number">1805</span><mark title="piedMouche">§</mark>Se 
      <span class="lem"></span>
      
      Sigibert / le
      bon paſteur Germain</span>
   <span class="verse v1806">Euſt creu / diſant quil gardaſt mectre main</span>
   <span class="verse v1807">Au pꝛopꝛe ſang du frere ſien eſpendꝛe,</span>
   <span class="verse v1808">Loꝛs ne fuſt moꝛt /.
      mais il ny 
      <span class="lem">voult</span>
      
       entendꝛe</span>
   <span class="verse v1809">Et ſi luy diſt /.
      <span title="Discours direct">Se tu vas pꝛeparer</span></span>
   <span class="verse v1810"><span class="verse-number">1810</span>
      <span title="Discours direct">Foſſe a ton frere / a luy deſemparer</span>
      </span>
   <span class="verse v1811">
      <span title="Discours direct">Du coꝛps la vie / entendz quon 
         <span class="lem">te appareille</span>
         
         </span>
      </span>
   <span class="verse v1812">
      <span title="Discours direct">De tel pain ſouppe
         / et viande pareille.</span>
      </span>
   <span class="verse v1813">
      <span title="Discours direct">Ainſi voit on que maint
         fol ſe decoit</span>
      </span>
   <span class="verse v1814">
      <span title="Discours direct">Qui riens ne 
         <span class="lem"></span>
         
         croit 
         <span class="lem">iuſqua</span>
         
         
          ce quil recoit.</span>
      </span>
   
   
   <hr data-img-id="f101">
   
   <p title="Numéro de folio" class="text-end"><i>33r</i></p>
   <span class="d-block fw-bold mb-3">La mort de Sigibert
      declairee a Chilperich par
      Fredegonde.</span>
   <span class="verse v1815"><span class="verse-number">1815</span><mark title="piedMouche">§</mark>Apꝛes la moꝛt du roy par
      tout loſt ſceue,</span>
   <span class="verse v1816">A gꝛand regꝛet et deſplaiſir receue,</span>
   <span class="verse v1817">Sourdirent plaingtz /.
      
      <span class="lem">foꝛce</span>
      
      
       exclamations,</span>
   <span class="verse v1818">Cris douloureux / et lamentations,</span>
   <span class="verse v1819">Deſtrange voix effrayee et tremblante,</span>
   <span class="verse v1820"><span class="verse-number">1820</span>Choſe dolente / et doubteuſe ſemblante.</span>
   <span class="verse v1821">Tumulte y eut ſi terrible, angoiſſeux,</span>
   <span class="verse v1822">Dur et diuers / que facilement /
      ceulx</span>
   <span class="verse v1823">
      <span class="lem">Faiſans</span>
      
       le guet a <mark title="placeName" instant="false" full="yes">Tournay</mark> entendirent</span>
   <span class="verse v1824">
      <span class="lem">Tous</span>
      
       eſtre 
      <span class="lem">eſmeuz</span>
      
       /. A ceſte cauſe dirent</span>
   <span class="verse v1825"><span class="verse-number">1825</span>A Chilperich et
      Fredegonde auſſi,</span>
   <span class="verse v1826">
      <span class="lem">Le</span>
      
       bꝛuyt de loſt /. dont il fut en ſoucy,</span>
   <span class="verse v1827">Et ſe doubta / la ville eſtre adiournee</span>
   <span class="verse v1828">Pour recepuoir laſſault ceſte iournee /.</span>
   <span class="verse v1829">Mais Fredegonde entendant 
      <span class="lem">ce</span>
      
       deſroy</span>
   <span class="verse v1830"><span class="verse-number">1830</span>Eſtre venu pour la moꝛt de leur roy,</span>
   <span class="verse v1831">Tout en riant / luy (
      <span class="lem">diſt</span>
      
      )
      <span title="Discours direct">Vrayement /
         
         <span class="lem"></span>
         
         beau ſire,</span></span>
   <span class="verse v1832">
      <span title="Discours direct">Iay ceſte nuict fait voſtre frere occire /.</span>
      </span>
   <span class="verse v1833">Luy non certain de ſon dire / aſſez toſt</span>
   <span class="verse v1834">Vindꝛent aulcuns gens darmes de ceſt oſt</span>
   <span class="verse v1835"><span class="verse-number">1835</span>Qui pour tout vray le roy moꝛt affermerent.</span>
   <span class="verse v1836">Par quoy ſoudain luy et les ſiens ſe 
      <span class="lem"></span>
      
      armerent</span>
   <span class="verse v1837">Et pꝛes de loſt ſe rengerent aux champs.</span>
   <span class="verse v1838">Loꝛs au deuant de luy furent marchantz</span>
   <span class="verse v1839">Ceulx de la part du feu roy /. non 
      <span class="lem"></span>
      
      
      <span class="lem">en</span>
      
       armes</span>
   
   
   <hr data-img-id="f102">
   
   <p title="Numéro de folio" class="text-end"><i>33v</i></p>
   <span class="d-block fw-bold mb-3">Sigibert inhume a
      <mark title="placeName" type="ville" instant="false" full="yes">Soiſſons</mark>.</span>
   <span class="verse v1840"><span class="verse-number">1840</span>Mais en doulceur toute confite en 
      <span class="lem">larmes</span>
      
      .</span>
   <span class="verse v1841">Meſmement 
      <span class="lem"></span>
      
      ceulx / dont lhonneur foꝛt blece</span>
   <span class="verse v1842">Lauoyent 
      <span class="lem">ainſi</span>
      
       au gꝛand beſoing laiſſe</span>
   <span class="verse v1843">Et pꝛomectans eſtre enuers luy fidelles,</span>
   <span class="verse v1844">Tous les receut en gꝛace et amour telles</span>
   <span class="verse v1845"><span class="verse-number">1845</span>Que auparauant /. Puys fit le coꝛps 
      <span class="lem">lauer</span>
      
      </span>
   <span class="verse v1846">De ſon feu frere / embaſmer et leuer,</span>
   <span class="verse v1847">Pour ſucceder au dꝛoit pꝛopꝛietaire</span>
   <span class="verse v1848">De ſepulture / a ſon pere Clotaire.</span>
   <span class="verse v1849">Le 
      <span class="lem">trezieſme</span>
      
       an 
      <span class="lem">de ſon</span>
      
       regne /
      A
      <mark title="placeName" instant="false" full="yes">Soiſſons</mark></span>
   
   <span class="lem">
      <span class="verse v1850"><span class="verse-number">1850</span>Fut inhume / A tant de luy ceſſons /.</span>
      </span>
   
   
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f96">
   <blockquote class="ms-2">
      
      <span class="verse v1697"><mark title="piedMouche">§</mark>Qui gros debatz
         regarde voluntiers</span>
      <span class="verse v1698">De trois roys, <span style="position: relative;"><span class="lem">voye</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">veoir<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ici dont deux se tordent</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">
                  10
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span class="verse v1699">Du droit sentier et <span style="position: relative;"><span class="lem">ensemble</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">assemblé<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
         <span style="position: relative;"><span class="lem">s’accordent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">se accorde<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
      <span class="verse v1700"><span class="verse-number">1700</span>À quelque paix pour deffaire le tiers.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre ix<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">Chapitre xme<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> x<sup>me</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> x<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappitre x<sup>e</sup><span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v1701">Quant ainsi fut ceste guerre appaisee</span>
   <span class="verse v1702">Aussi soudain qu’on peult sans reposee</span>
   <span class="verse v1703">Bender à coup une arbaleste <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">à<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      cric,</span>
   <span class="verse v1704">Fut <mark class="persName"><span style="position: relative;"><span class="lem">Sigibert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">Childebert<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> avecques <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v1705"><span class="verse-number">1705</span>Si bien bendé que ensemble conjurerent</span>
   <span class="verse v1706">La mort <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> leur tiers frere,, et jurerent</span>
   <span class="verse v1707">Ny espergner cueur, corps, puissance, avoir</span>
   <span class="verse v1708">Ne bien quelconcque. Or qui vouldroit sçavoir</span>
   <span class="verse v1709">L’occasïon <span style="position: relative;"><span class="lem">dont</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">d’où<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sourdit ceste hongne,</span>
   <span class="verse v1710"><span class="verse-number">1710</span>Ce fut pour tant que estoit roy de
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark></span>
   <span class="verse v1711">Celluy <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>, et d’<mark title="placeName" instant="false" full="yes">Orlëans</mark> aussi.</span>
   <span class="verse v1712">Tousjours envie allegue <span style="position: relative;"><span class="lem">k</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">ly<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">ler<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ou si,</span>
   
   <span class="verse v1713">Mais <span style="position: relative;"><span class="lem">assez</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">assé<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> peu fut l’emprise extimee</span>
   <span class="verse v1714">Veu sa legiere <span style="position: relative;"><span class="lem">issue</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">yseue<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,
      car l’armee</span>
   <span class="verse v1715"><span class="verse-number">1715</span>Tant d’un costé <span style="position: relative;"><span class="lem">comme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">que<span class="coll-source"> [BnFfr4965, BnFfr17274]</span></span></span></sup></span> d’autre marchant</span>
   
   
   <hr data-img-id="f97">
   
   <span class="curr-title fw-bold">Paix entre <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>,
      <mark class="persName">Goutran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> et <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>
      freres</span>
   <span class="verse v1716">Entre les <span style="position: relative;"><span class="lem">bourgz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">bour<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de <mark title="placeName" instant="false" full="yes">Viray</mark> et
      <mark title="placeName" instant="false" full="yes">Archant</mark>,</span>
   <span class="verse v1717">Ambassadeurs <span style="position: relative;">sus</span> l’affaire veillerent</span>
   <span class="verse v1718">Songneusement et tant y traveillerent</span>
   <span class="verse v1719">Qu’il fut conclud iceulx freres tous trois</span>
   <span class="verse v1720"><span class="verse-number">1720</span>À jour nommé eulx trouver dedans
      <mark title="placeName" instant="false" full="yes">Trois</mark></span>
   <span class="verse v1721">Qui de <mark title="placeName" instant="false" full="yes">Champaigne</mark> est ville
      capitalle.</span>
   <span class="verse v1722"><mark title="piedMouche">§</mark>Là
      confermee entre eulx la paix totalle</span>
   <span class="verse v1723">Par le moyen des articles admys,</span>
   <span class="verse v1724"><span style="position: relative;"><span class="lem">Sembla</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">Semble<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> les veoir departir bons amys.</span>
   <span class="verse v1725"><span class="verse-number">1725</span>Mais eslongnéz des accordz si tost furent</span>
   <span class="verse v1726">Que amour et foy de petite estoffe eurent,</span>
   <span class="verse v1727">Comme apparut <span style="position: relative;"><span class="lem">d’effect</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">de faict<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> cler et appert.</span>
   <span class="verse v1728">Advint ung jour que le roy <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark></span>
   <span class="verse v1729">Estoit aux champs par temps de forte pluye,</span>
   <span class="verse v1730"><span class="verse-number">1730</span>Puys le matin <span style="position: relative;"><span class="lem">jusques</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">jusque<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">prés</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">heure<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> de complie</span>
   <span class="verse v1731">Et avecq luy ses gens d’armes gaschéz,</span>
   <span class="verse v1732"><span style="position: relative;"><span class="lem">Mouilléz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">Mouléz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>, trempéz, ennuyéz et faschéz</span>
   <span class="verse v1733">De tant porter le harnois <span style="position: relative;">sus</span> l’eschigne.</span>
   <span class="verse v1734">Celluy n’y a qui <span style="position: relative;"><span class="lem">n’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">ne<span class="coll-source"> [BnFfr4964, Aix419, Cha515]</span></span></span></sup></span> gronde et rechigne</span>
   <span class="verse v1735"><span class="verse-number">1735</span>Et vont disant tousjours estre premiers</span>
   <span class="verse v1736">Aux coupz donner et aussi les derniers</span>
   <span class="verse v1737">À recevoir du roy aulcun salaire.</span>
   <span class="verse v1738">Et posé <span style="position: relative;"><span class="lem">or</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">ore<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> que la paix leur deust plaire</span>
   <span class="verse v1739">Faicte à <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>,
      chascun d’eulx <span style="position: relative;">hayne</span> avoit</span>
   <span class="verse v1740"><span class="verse-number">1740</span>À <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> pour ce que ainsi vivoit</span>
   
   
   <hr data-img-id="f98">
   
   <span class="curr-title fw-bold"><mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> chassa
      <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> jusques à
      <mark title="placeName" instant="false" full="yes">Tournay</mark></span>
   <span class="verse v1741">Lubricquement son <span style="position: relative;"><span class="lem">orde</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">ordure<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> et male vie.</span>
   <span class="verse v1742">À le hayr <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">le<span class="coll-source"> [Cha515]</span></span></span></sup></span> provocque et convie.</span>
   <span class="verse v1743"><mark title="piedMouche">§</mark>Lors <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> les voyant
      mutinéz</span>
   <span class="verse v1744">Et mal contentz, leurs vouloirs obstinéz</span>
   <span class="verse v1745"><span class="verse-number">1745</span>Fist adoulcir à force de pecune.</span>
   <span class="verse v1746">Meilleure chose avoir lieu <span style="position: relative;"><span class="lem">n’y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content">ne<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> peult que une,</span>
   <span class="verse v1747">C’est donner bruyt, louenge et bon loyer</span>
   <span class="verse v1748">À ceulx qui bien se veullent employer,</span>
   <span class="verse v1749">Car se la grace au donner est chestifve</span>
   <span class="verse v1750"><span class="verse-number">1750</span>Au monde n’est si bon qui <span style="position: relative;"><span class="lem">n’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">ne<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> restifve.</span>
   <span class="verse v1751"><mark title="piedMouche">§</mark>À tant voyant son frere
      desnué,</span>
   <span class="verse v1752">Si mal voulu et tant diminué,</span>
   <span class="verse v1753">De gentz,
      <span style="position: relative;"><span class="lem">argent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">argentz<span class="coll-source"> [Aix419]</span></span></span></sup></span> et tout le necessaire</span>
   <span class="verse v1754">Sur luy chargea en sorte de adversaire.</span>
   <span class="verse v1755"><span class="verse-number">1755</span>Dont <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> estonné, sans tenir</span>
   <span class="verse v1756">Ordre de guerre à tel faix soustenir,</span>
   <span class="verse v1757">Comme esbranlé <span style="position: relative;">d’esperee</span>
      <span style="position: relative;">asseurance</span></span>
   <span class="verse v1758">Et gecté hors d’asseuree esperance,</span>
   <span class="verse v1759">Luy, <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> et enfans esbahis</span>
   <span class="verse v1760"><span class="verse-number">1760</span>De eulx veoir ainsi chauldement envahis,</span>
   <span class="verse v1761">Remede au cas pour l’heure ne donnerent</span>
   <span class="verse v1762">Fors <span style="position: relative;"><span class="lem">qu’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content">que<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fuyant dedans <mark title="placeName" instant="false" full="yes">Tournay</mark>
      tournerent.</span>
   <span class="verse v1763">Mais la fortune <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">à<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> malheur adjouxta</span>
   <span class="verse v1764">Ung autre mal,
      car le couraige osta</span>
   <span class="verse v1765"><span class="verse-number">1765</span>Pour la plus part aux gentz de leur <span style="position: relative;">armee</span></span>
   
   
   <hr data-img-id="f99">
   
   <span class="curr-title fw-bold">La mort de <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>
      conceue par la royne <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v1766">Qui d’un accord et volunté fermee</span>
   <span class="verse v1767">Vers <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>, 
      ayant ja la cité</span>
   <span class="verse v1768">De <mark title="placeName" instant="false" full="yes">Tournay</mark> mise en grand necessité,</span>
   <span class="verse v1769">Allerent toussans <span style="position: relative;">que</span>
      <span style="position: relative;"><span class="lem">boucle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">bouche<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> dessoulde</span>
   <span class="verse v1770"><span class="verse-number">1770</span>Ne hardillon offrir <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content"><s>estre</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>d’estre à sa soulde.</span>
   <span class="verse v1771">Dont <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>
      oultraigee en son cueur</span>
   <span class="verse v1772">Voyant celluy vaincu qui fut vaincueur,</span>
   <span class="verse v1773">À deux <span style="position: relative;"><span class="lem">paillardz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content">paillas<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      truans afetardiz</span>
   <span class="verse v1774"><span style="position: relative;"><span class="lem">Promptz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">Pront<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> à mal faire et à beau faict <span style="position: relative;"><span class="lem">tardifz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content">tardictz<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v1775"><span class="verse-number">1775</span>Secretement les <span style="position: relative;"><span class="lem">tirant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56"><span class="collation-content">tire<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de coste elle,</span>
   <span class="verse v1776">Tant blasonna par subtile cautelle</span>
   <span class="verse v1777">Et tant y eut par elle <span style="position: relative;">avant</span> marché,</span>
   <span class="verse v1778">Que ces <span style="position: relative;"><span class="lem">pendardz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58"><span class="collation-content">paillardz<span class="coll-source"> [Aix419]</span></span></span></sup></span> conclurent le marché</span>
   <span class="verse v1779">D’aller meurdrir <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>
      en sa tente.</span>
   <span class="verse v1780"><span class="verse-number">1780</span>En quoy faisant esperans grosse actente</span>
   <span class="verse v1781">De biens mondains, leur jura et <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59"><span class="collation-content"><s>permist</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>promist</span>
   <span class="verse v1782">Foy de princesse,
      <span style="position: relative;"><span class="lem">où</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">au<span class="coll-source"> [Cha515]</span></span></span></sup></span> cas que <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> permist</span>
   <span class="verse v1783"><span style="position: relative;"><span class="lem">Qu’ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61"><span class="collation-content">Qu’il<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fussent là occis par malencontre</span>
   <span class="verse v1784">Faire pour eulx tant de biens à l’encontre</span>
   <span class="verse v1785"><span class="verse-number">1785</span>De ce beau faict, tant de fondatïons</span>
   <span style="position: relative;">
      <span class="verse v1786">Tant d’oraisons et tant d’oblatïons,</span>
      </span>
   <span class="verse v1787">Que vray pardon de l’utille homicide</span>
   <span class="verse v1788">Leur seroit faict moyennant tel
      subside.</span>
   <span class="verse v1789"><mark title="piedMouche">§</mark>Les malheureux follement
      abuséz</span>
   <span class="verse v1790"><span class="verse-number">1790</span>Par affestéz langaiges si ruséz</span>
   
   
   <hr data-img-id="f100">
   
   <span class="curr-title fw-bold"><mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> occis en
      son camp et ceulx qui l’occirent occis</span>
   <span class="verse v1791">De ceste faulse et male creature,</span>
   <span class="verse v1792">Se allerent mectre ainsi à l’adventure.</span>
   <span class="verse v1793">Tant sceurent <span style="position: relative;"><span class="lem">ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65"><span class="collation-content">il<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span>
      tournoyer, topïer</span>
   <span class="verse v1794"><span style="position: relative;"><span class="lem">Et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content">En<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> l’ost du roy <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>
      espïer,</span>
   <span class="verse v1795"><span class="verse-number">1795</span>Que entour mynuict <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">à<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> droit point que <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69"><span class="collation-content">le<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> somme</span>
   <span class="verse v1796">De plain <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70"><span class="collation-content"><s>des</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>repoz
      <span style="position: relative;"><span class="lem">l’homme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content">homme<span class="coll-source"> [Aix419]</span></span></span></sup></span> abat et <span style="position: relative;"><span class="lem">assomme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown72" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown72"><span class="collation-content">l’assomme<span class="coll-source"> [Aix419, BnFfr17274, Cha515]</span></span><span class="collation-content">l’asomme<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v1797">Comme aucteurs faulx du criminel delit</span>
   <span class="verse v1798"><span style="position: relative;"><span class="lem">Soudainement l’occirent en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown74" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown74"><span class="collation-content">Le tuerent dormant dedans<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> son lict.</span>
   <span class="verse v1799">Mais les meurdriers en <span style="position: relative;"><span class="lem">presse</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75"><span class="collation-content">presses<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      et grosses tourbes,</span>
   <span class="verse v1800"><span class="verse-number">1800</span><span style="position: relative;"><span class="lem">Cuydans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77"><span class="collation-content">Cuident<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fouyr coups y receurent <span style="position: relative;"><span class="lem">ourbes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown78" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown78"><span class="collation-content">fourbes<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>,</span>
   <span class="verse v1801">Et furent là detranchéz à pas telz</span>
   <span class="verse v1802">Aussi menu comme chair à pastéz.</span>
   <span class="verse v1803">C’est la raison : qui fiert de glayve certes</span>
   <span class="verse v1804">Requiert que glayve en paye les dessertes.</span>
   <span class="verse v1805"><span class="verse-number">1805</span><mark title="piedMouche">§</mark>Se <mark class="persName">Sigibert<span class="persName-info fw-normal on-right"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> le
      bon pasteur <mark class="persName">Germain<span class="persName-info fw-normal on-right"><b>Germain de Paris, saint</b> (496 — 28/05/576)<span class="hr-short">&nbsp;</span>Evêque de Paris</span></mark></span>
   <span class="verse v1806">Eust creu disant qu’il gardast mectre main</span>
   <span class="verse v1807">Au propre sang du frere sien espendre,</span>
   <span class="verse v1808">Lors ne fust mort.
      Mais il n’y <span style="position: relative;"><span class="lem">voult</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown80" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown80"><span class="collation-content">veult<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> entendre</span>
   <span class="verse v1809">Et si luy dist :
      <span title="Discours direct">«&nbsp;Se tu vas preparer&nbsp;»</span></span>
   <span class="verse v1810"><span class="verse-number">1810</span>
      <span title="Discours direct">«&nbsp;Fosse à ton frere, à luy desemparer&nbsp;»</span>
      </span>
   <span class="verse v1811">
      <span title="Discours direct">«&nbsp;Du corps la vie, entendz qu’on <span style="position: relative;"><span class="lem">te appareille</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown81" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown81"><span class="collation-content">ta pareille<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>&nbsp;»</span>
      </span>
   <span class="verse v1812">
      <span title="Discours direct">«&nbsp;De tel pain souppe et vïande pareille.&nbsp;»</span>
      </span>
   <span class="verse v1813">
      <span title="Discours direct">«&nbsp;Ainsi voit on que maint
         fol se deçoit&nbsp;»</span>
      </span>
   <span class="verse v1814">
      <span title="Discours direct">«&nbsp;Qui riens ne croit <span style="position: relative;"><span class="lem">jusqu’à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown83" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown83"><span class="collation-content">jusques à<span class="coll-source"> [Aix419]</span></span><span class="collation-content">jusque<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ce qu’il reçoit.&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f101">
   
   <span class="curr-title fw-bold">La mort de <mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark>
      declairee à <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> par
      <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v1815"><span class="verse-number">1815</span><mark title="piedMouche">§</mark>Aprés la mort du roy par
      tout l’ost sceue,</span>
   <span class="verse v1816">À grand regret et desplaisir receue,</span>
   <span class="verse v1817">Sourdirent plaingtz,
      <span style="position: relative;"><span class="lem">force</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown84" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown84"><span class="collation-content">et<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">forces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> exclamatïons,</span>
   <span class="verse v1818">Cris douloureux et lamentatïons,</span>
   <span class="verse v1819">D’estrange voix effrayee et tremblante,</span>
   <span class="verse v1820"><span class="verse-number">1820</span>Chose dolente et doubteuse semblante.</span>
   <span class="verse v1821">Tumulte y eut si terrible, angoisseux,</span>
   <span class="verse v1822">Dur et divers que facilement
      ceulx</span>
   <span class="verse v1823"><span style="position: relative;"><span class="lem">Faisans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown85" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown85"><span class="collation-content">Faisant<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> le guet à <mark title="placeName" instant="false" full="yes">Tournay</mark> entendirent</span>
   <span class="verse v1824"><span style="position: relative;"><span class="lem">Tous</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown86" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown86"><span class="collation-content">Tout<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span> estre <span style="position: relative;"><span class="lem">esmeuz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown87" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown87"><span class="collation-content">esmeu<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span>. À ceste cause dirent</span>
   <span class="verse v1825"><span class="verse-number">1825</span>À <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> et
      <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> aussi,</span>
   <span class="verse v1826"><span style="position: relative;">Le</span> bruyt de l’ost dont il fut en soucy,</span>
   <span class="verse v1827">Et se doubta la ville estre adjournee</span>
   <span class="verse v1828">Pour recepvoir l’assault ceste journee.</span>
   <span class="verse v1829">Mais <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> entendant <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown89" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown89"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> desroy</span>
   <span class="verse v1830"><span class="verse-number">1830</span>Estre venu pour la mort de leur roy,</span>
   <span class="verse v1831">Tout en rïant luy <span style="position: relative;">dist</span> :
      <span title="Discours direct">«&nbsp;Vrayement,
         beau sire,&nbsp;»</span></span>
   <span class="verse v1832">
      <span title="Discours direct">«&nbsp;J’ay ceste nuict fait vostre frere occire.&nbsp;»</span>
      </span>
   <span class="verse v1833">Luy non certain de son dire, assez tost</span>
   <span class="verse v1834">Vindrent aulcuns gens d’armes de cest ost</span>
   <span class="verse v1835"><span class="verse-number">1835</span>Qui pour tout vray le roy mort affermerent.</span>
   <span class="verse v1836">Par quoy soudain luy et les siens se armerent</span>
   <span class="verse v1837">Et près de l’ost se rengerent aux champs.</span>
   <span class="verse v1838">Lors au devant de luy furent marchantz</span>
   <span class="verse v1839">Ceulx de la part du feu roy, non <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown94" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown94"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> armes</span>
   
   
   <hr data-img-id="f102">
   
   <span class="curr-title fw-bold"><mark class="persName">Sigibert<span class="persName-info fw-normal on-left"><b>Sigebert Ier</b> (535 — 575)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (561-575)<br/></span></mark> inhumé à
      <mark title="placeName" type="ville" instant="false" full="yes">Soissons</mark></span>
   <span class="verse v1840"><span class="verse-number">1840</span>Mais en doulceur toute confite en <span style="position: relative;"><span class="lem">larmes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown95" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown95"><span class="collation-content">larme<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v1841">Mesmement ceulx dont l’honneur fort blecé</span>
   <span class="verse v1842">L’avoyent <span style="position: relative;"><span class="lem">ainsi</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown97" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown97"><span class="collation-content">lors<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> au grand besoing laissé</span>
   <span class="verse v1843">Et promectans estre envers luy fidelles,</span>
   <span class="verse v1844">Tous les receut en grace et amour telles</span>
   <span class="verse v1845"><span class="verse-number">1845</span>Que auparavant. Puys fit le corps <span style="position: relative;"><span class="lem">laver</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown98" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown98"><span class="collation-content">lever<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v1846">De son feu frere, embasmer et lever,</span>
   <span class="verse v1847">Pour succeder au droit proprietaire</span>
   <span class="verse v1848">De sepulture à son pere <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark>.</span>
   <span class="verse v1849">Le <span style="position: relative;">treziesme<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown99" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown99"><span class="collation-content">douze<sup>me</sup><span class="coll-source"> [Cha515]</span> ; douze me<span class="coll-source"> [BnFfr4964]</span></span></span></sup></span> an <span style="position: relative;"><span class="lem">de son</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown100" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown100"><span class="collation-content">du sien<span class="coll-source"> [BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span> regne
      à
      <mark title="placeName" instant="false" full="yes">Soissons</mark></span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v1850"><span class="verse-number">1850</span>Fut inhumé. À tant de luy cessons.</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown101" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown101"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1698);">v. 1698</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>veoir</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            10
            </span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1699);">v. 1699</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>assemblé</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1699);">v. 1699</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se accorde</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> x<sup>me</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> x<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre x<sup>e</sup></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1703);">v. 1703</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>à</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1704);">v. 1704</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Childebert</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1709);">v. 1709</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>d’où</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1712);">v. 1712</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>ly</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ler</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1713);">v. 1713</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>assé</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1714);">v. 1714</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>yseue</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1715);">v. 1715</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274 </span>que</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1716);">v. 1716</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>bour</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1724);">v. 1724</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>Semble</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1727);">v. 1727</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>de faict</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1730);">v. 1730</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>jusque</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1730);">v. 1730</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>heure</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1732);">v. 1732</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Mouléz</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1734);">v. 1734</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, Aix419, Cha515 </span>ne</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1738);">v. 1738</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ore</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1741);">v. 1741</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>ordure</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1742);">v. 1742</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>le</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1746);">v. 1746</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ne</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1750);">v. 1750</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ne</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1753);">v. 1753</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>argentz</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1762);">v. 1762</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1763);">v. 1763</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>à</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1769);">v. 1769</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>bouche</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1770);">v. 1770</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>estre</s></span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1773);">v. 1773</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>paillas</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1774);">v. 1774</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Pront</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1774);">v. 1774</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tardictz</span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1775);">v. 1775</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tire</span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1778);">v. 1778</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>paillardz</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1781);">v. 1781</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>permist</s>
            </span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1782);">v. 1782</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>au</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1783);">v. 1783</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Qu’il</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1793);">v. 1793</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>il</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1794);">v. 1794</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>En</span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1795);">v. 1795</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>à</span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1795);">v. 1795</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>le</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1796);">v. 1796</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>des</s>
            </span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1796);">v. 1796</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>homme</span></div>
      </div>
   <div class="collation row" id="coll72">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1796);">v. 1796</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, Cha515 </span>l’assomme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>l’asomme</span></div>
      </div>
   <div class="collation row" id="coll74">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1798);">v. 1798</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Le tuerent dormant dedans</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1799);">v. 1799</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>presses</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1800);">v. 1800</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Cuident</span></div>
      </div>
   <div class="collation row" id="coll78">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1800);">v. 1800</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>fourbes</span></div>
      </div>
   <div class="collation row" id="coll80">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1808);">v. 1808</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>veult</span></div>
      </div>
   <div class="collation row" id="coll81">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1811);">v. 1811</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ta pareille</span></div>
      </div>
   <div class="collation row" id="coll83">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1814);">v. 1814</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>jusques à</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>jusque</span></div>
      </div>
   <div class="collation row" id="coll84">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1817);">v. 1817</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>et</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>forces</span></div>
      </div>
   <div class="collation row" id="coll85">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1823);">v. 1823</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>Faisant</span></div>
      </div>
   <div class="collation row" id="coll86">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1824);">v. 1824</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515 </span>Tout</span></div>
      </div>
   <div class="collation row" id="coll87">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1824);">v. 1824</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515 </span>esmeu</span></div>
      </div>
   <div class="collation row" id="coll89">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1829);">v. 1829</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll94">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1839);">v. 1839</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll95">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1840);">v. 1840</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>larme</span></div>
      </div>
   <div class="collation row" id="coll97">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1842);">v. 1842</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>lors</span></div>
      </div>
   <div class="collation row" id="coll98">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1845);">v. 1845</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>lever</span></div>
      </div>
   <div class="collation row" id="coll99">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1849);">v. 1849</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>douze<sup>me</sup></span> ; <span><span class="coll-source">BnFfr4964 </span>douze me</span></div>
      </div>
   <div class="collation row" id="coll100">
      <div class="coll-verse col-2"><a href="javascript:versePointer(1849);">v. 1849</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146, Cha515 </span>du sien</span></div>
      </div>
   <div class="collation row" id="coll101">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
</div>
{% endmacro %}
