
{% macro chapterTitle() %}Chapitre 14{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('14_chap_13')"><i class="fa-solid fa-arrow-left"></i> Chapitre 13</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('16_chap_15')">Chapitre 15 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f131/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f131/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f131" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f132/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f132/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f132" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f133/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f133/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f133" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f134/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f134/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f134" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f135/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f135/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f135" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f136/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f136/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f136" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f137/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f137/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f137" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f131">
   <p title="Numéro de folio" class="text-end"><i>48r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2499"><mark title="piedMouche">§</mark>Suyuant au vray 
         <span class="lem">lhiſtoire</span>
         
          /. on pourra veoir</span>
      <span class="verse v2500"><span class="verse-number">2500</span>Le roy Gontran en ferme
         propos eſtre,</span>
      <span class="verse v2501">Tout reſeruer, regne / couronne / et ſceptre,</span>
      <span class="verse v2502">Pour ſon nepueu 
         <span class="lem">Childebert</span>
         
          en pouruoir.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xiiii<sup>e</sup></span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v2503">GOntran
      
      <span class="lem"></span>
      
      ayant leſperence perdue</span>
   <span class="verse v2504">De ſon actente et ioye pꝛetendue,</span>
   <span class="verse v2505"><span class="verse-number">2505</span>Quant a lignee auoir / qui poſſeder</span>
   <span class="verse v2506">Deuſt ſon royaulme / et a luy ſucceder,</span>
   <span class="verse v2507">Delibera faire de tout ſon 
      <span class="lem">regne</span>
      
      </span>
   <span class="verse v2508">
      <span class="lem"></span>
      
      Heritier ſeul /
      Childebert de
      <mark title="placeName" instant="false" full="yes">Loꝛraine</mark>.</span>
   <span class="verse v2509">Et 
      <span class="lem">ſus</span>
      
       ce point / ſans plus en enquerir,</span>
   <span class="verse v2510"><span class="verse-number">2510</span>Iuſques a <mark title="placeName" instant="false" full="yes">Metz</mark>
      
      <span class="lem">il</span>
      
      
      
      <span class="lem">lenuoya</span>
      
       querir /</span>
   
   
   <hr data-img-id="f132">
   
   <p title="Numéro de folio" class="text-end"><i>48v</i></p>
   <span class="d-block fw-bold mb-3">Gontran fait Childebert ſon heritieʀ.</span>
   <span class="verse v2511">Luy arriue et recueilly a chere</span>
   <span class="verse v2512">Toute gentille / amiable / et non chere,</span>
   <span class="verse v2513">Apꝛes ung peu auoir pꝛis de repos,</span>
   <span class="verse v2514">Luy 
      <span class="lem">entama</span>
      
       parolle a ce pꝛopos</span>
   <span class="verse v2515"><span class="verse-number">2515</span>Diſant ainſi /.
      <span title="Discours direct">Filz et 
         <span class="lem">nepueu</span>
         
          que 
         <span class="lem"></span>
         
         
         iayme</span></span>
   <span class="verse v2516">
      <span title="Discours direct">Trop plus que nul homme
         de mon 
         <span class="lem"></span>
         
         royaulme,</span>
      </span>
   <span class="verse v2517">
      <span title="Discours direct">Tant ſoit 
         <span class="lem"></span>
         
         il bien vers 
         <span class="lem">moy</span>
         
          recommande /.</span>
      </span>
   <span class="verse v2518">
      <span title="Discours direct">Se /
         quiers ſcauoir pour quoy ie tay mande.</span>
      </span>
   <span class="verse v2519">
      <span title="Discours direct">Ceſt /
         veu que ſuys / ſelon mes demerites</span>
      </span>
   <span class="verse v2520"><span class="verse-number">2520</span>
      <span title="Discours direct">Pꝛiue denfantz /
         Ie 
         <span class="lem"></span>
         
         vueil que tu herites</span>
      </span>
   <span class="verse v2521">
      <span title="Discours direct">Le mien royaulme
         / aux honneurs / biens /
         
         <span class="lem"></span>
         
         pꝛouffitz /</span>
      </span>
   <span class="verse v2522">
      <span title="Discours direct">Et dꝛoitz royaulx / comme mon pꝛopꝛe filz,</span>
      </span>
   <span class="verse v2523">
      <span title="Discours direct">
         <span class="lem"></span>
         
         Pourueu quen toy lhumilite 
         <span class="lem"></span>
         
         appere</span>
      </span>
   <span class="verse v2524">
      <span title="Discours direct">Telle que 
         <span class="lem"></span>
         
         doibt eſtre 
         <span class="lem">du</span>
         
          filz a pere,</span>
      </span>
   <span class="verse v2525"><span class="verse-number">2525</span>
      <span title="Discours direct">Ce que ie 
         <span class="lem">croy</span>
         
          /
         
         <span class="lem">qui</span>
         
          ſera / ſans doubter.</span>
      </span>
   <span class="verse v2526">
      <span title="Discours direct">Ainſi te vueil pour
         vray filz adopter</span>
      </span>
   <span class="verse v2527">
      <span title="Discours direct">Si que te voye a 
         <span class="lem">part</span>
         
          / de gentilleſſe,</span>
      </span>
   <span class="verse v2528">
      <span title="Discours direct">A laduenir
         / baſton de ma vieilleſſe,</span>
      </span>
   <span class="verse v2529">
      <span title="Discours direct">Nous entre aymans
         dune meſme bonte,</span>
      </span>
   <span class="verse v2530"><span class="verse-number">2530</span>
      <span title="Discours direct">Dune 
         <span class="lem"></span>
         
         ame / ung cueur / et une volunte /.</span>
      </span>
   <span class="verse v2531">
      <span title="Discours direct">A ma
         <span class="lem">pꝛoueſſe</span> adiouſteras vaillance,</span>
      </span>
   <span class="verse v2532">
      <span title="Discours direct">Mais que dun
         glayue / et dune meſme lance</span>
      </span>
   <span class="verse v2533">
      <span title="Discours direct">Nous
         deffendons / et que ſoyons uniz,</span>
      </span>
   <span class="verse v2534">
      <span title="Discours direct">En ferme foy
         / et loyaulte muniz /.</span>
      </span>
   <span class="verse v2535"><span class="verse-number">2535</span>
      <span title="Discours direct">Pꝛen doncques
         filz / et accepte 
         <span class="lem">ces</span>
         
          offres /</span>
      </span>
   
   
   <hr data-img-id="f133">
   
   <p title="Numéro de folio" class="text-end"><i>49r</i></p>
   <span class="d-block fw-bold mb-3">Ambaſſades enuoyez vers Chilperich / par Goutran et Childebert.</span>
   <span class="verse v2536">
      <span title="Discours direct">Si iouyꝛas du treſoꝛ
         de mes coffres</span>
      </span>
   <span class="verse v2537">
      <span title="Discours direct">Sans oꝛphenin textimer / veu que ouuert</span>
      </span>
   <span class="verse v2538">
      <span title="Discours direct">Teſt le 
         <span class="lem">moyen</span>
         
          / dont pere as recouuert.</span>
      </span>
   <span class="verse v2539">Le ieune enfant / encoꝛes de bas aage</span>
   <span class="verse v2540"><span class="verse-number">2540</span>Et non ayant la parolle et vſaige,</span>
   <span class="verse v2541">Pour luy reſpondꝛe / ung de ſes gouuerneurs</span>
   <span class="verse v2542">Gꝛaces rendit (au roy) des gꝛandz
      honneurs</span>
   <span class="verse v2543">Et biens offers / au ieune roy ſon maiſtre,</span>
   <span class="verse v2544">Lequel eſpere a traict de temps homme eſtre</span>
   <span class="verse v2545"><span class="verse-number">2545</span>Bien adextre aux armes / pour deuoir</span>
   <span class="verse v2546">Tiltre de loz / et riche nom auoir.</span>
   <span class="verse v2547"><mark title="piedMouche">§</mark>Adoncq
      (pꝛeſentz)
      
      <span class="lem">des</span>
      
       deux coſtez ſe offrirent,</span>
   <span class="verse v2548">Puys en conſeil les matieres ouurirent</span>
   <span class="verse v2549">Touchant les toꝛtz que Chilperich tenoit</span>
   <span class="verse v2550"><span class="verse-number">2550</span>A lun et lautre / et leur bien retenoit,</span>
   <span class="verse v2551">En quoy nauoit (ſaulue ſa reuerence)</span>
   <span class="verse v2552">Cauſe / raiſon / pꝛopos ny apparence.</span>
   <span class="verse v2553">Loꝛs en donnant 
      <span class="lem">oꝛdꝛe</span>
      
       ſelon 
      <span class="lem">les</span>
      
       cas,</span>
   <span class="verse v2554">Ambaſſadeurs commirent et legatz</span>
   <span class="verse v2555"><span class="verse-number">2555</span>Pour aduertir Chilperich
      de leur rendꝛe</span>
   <span class="verse v2556">Ce que ſus eulx auoit voullu empꝛendꝛe,</span>
   <span class="verse v2557">Et ſi le tout ne rendoit par doulceur</span>
   <span class="verse v2558">Luy annuncer deuoir eſtre tout 
      <span class="lem"></span>
      
      ſeur</span>
   <span class="verse v2559">Les veoir en barbe / et 
      <span class="lem">a pointes deſpees</span>
      
      </span>
   <span class="verse v2560"><span class="verse-number">2560</span>Reconqueſter 
      <span class="lem">leurs</span>
      
       terres vſurpees /.</span>
   
   
   <hr data-img-id="f134">
   
   <p title="Numéro de folio" class="text-end"><i>49v</i></p>
   <span class="d-block fw-bold mb-3">Chilperich ne tint <span class="choice"><span title="Abbréviation pour compte"><mark title="abbréviation">cōpte</mark></span></span> des ambaſſadeurs de Childebert et Gontran.</span>
   <span class="verse v2561">Quant deuers luy furent les deputez</span>
   <span class="verse v2562">Et 
      <span class="lem">que</span>
      
       eurent bien 
      <span class="lem">ces</span>
      
      
       pꝛopos diſputez,</span>
   <span class="verse v2563">En ſexcuſant par 
      <span class="lem">raiſons aſſez</span>
      
       maigꝛes,</span>
   <span class="verse v2564">Il les ſeruit de 
      <span class="lem">reſponſes</span>
      
      
      
      <span class="lem">foꝛt</span>
      
       aigꝛes,</span>
   <span class="verse v2565"><span class="verse-number">2565</span>Diſant tenir a bon tiltre et adueu</span>
   <span class="verse v2566">Ce quil auoit / ſans ſon frere et nepueu /.</span>
   <span class="verse v2567">
      <span title="Discours direct">Qui laura bon (leur dit il) ſi lenuie</span>
      </span>
   <span class="verse v2568">
      <span title="Discours direct">Car tout tiendꝛay /
         tant que au coꝛps auray vie.</span>
      </span>
   <span class="verse v2569"><mark title="piedMouche">§</mark>A ſa reſponſe
      / ung congie tel quel pꝛis,</span>
   <span class="verse v2570"><span class="verse-number">2570</span>Le 
      <span class="lem">congnoiſſans</span>
      
       de 
      <span class="lem">foꝛte</span>
      
       ire 
      <span class="lem"></span>
      
      entrepꝛis,</span>
   <span class="verse v2571">De plus parler a luy diſſimulerent /</span>
   <span class="verse v2572">Et tout ainſi mains vuydes / ſen allerent /.</span>
   <span class="verse v2573">Eulx departiz / et luy encouraige</span>
   <span class="verse v2574">Monſtrer les dentz comme ung chien enraige,</span>
   <span class="verse v2575"><span class="verse-number">2575</span>A ſes ditz 
      <span class="lem">frere</span>
      
       et nepueu / ſi 
      <span class="lem">par</span>
      
       guerre</span>
   <span class="verse v2576">
      <span class="lem">Faiſoient</span>
      
       ſemblant de ſes pays conquerre /.</span>
   <span class="verse v2577">Dueil 
      <span class="lem">ſus</span>
      
       ennuy 
      <span class="lem"></span>
      
       ou meſme inſtant receut</span>
   <span class="verse v2578">De fier couroux /. Car tout en lheure ſceut</span>
   <span class="verse v2579">Que vers <mark title="placeName" instant="false" full="yes">Bꝛetaigne</mark> /
      
      <span class="lem">es</span>
      
       places lymitrophes</span>
   <span class="verse v2580"><span class="verse-number">2580</span>Eſtoit fourny de mauuaiſes eſtoffes</span>
   <span class="verse v2581">Et quen ces lieux ung tas de ſotz
      <mark title="orgName" instant="false" full="yes">Bꝛetons</mark>,</span>
   <span class="verse v2582">Plus eſtourdiz que 
      <span class="lem">ieunes</span>
      
       hanetons,</span>
   <span class="verse v2583">
      <span class="lem">Dꝛoit la faiſoient</span>
      
       ſi foꝛte riblerie</span>
   <span class="verse v2584">Et tant de maulx que ceſtoit diablerie /.</span>
   <span class="verse v2585"><span class="verse-number">2585</span>De la nouuelle eut telle raige au cueur</span>
   
   
   <hr data-img-id="f135">
   
   <p title="Numéro de folio" class="text-end"><i>50r</i></p>
   <span class="d-block fw-bold mb-3">Chilperich fiſt
      piller le pays de <mark title="placeName" instant="false" full="yes">Bretaigne</mark>.</span>
   <span class="verse v2586">Que ire et deſpit ioignit auecq rigueur</span>
   <span class="verse v2587">Puys, pour 
      <span class="lem"></span>
      
      
      <span class="lem">bailler</span>
      
       foꝛce leuriers aux trouſſes</span>
   <span class="verse v2588">De ces <mark title="orgName" instant="false" full="yes">Bꝛetons</mark> faiſans telles
      deſtrouſſes,</span>
   <span class="verse v2589">
      <span class="lem">A</span>
      
       gꝛoſſe armee enuoya homme inſtruict</span>
   <span class="verse v2590"><span class="verse-number">2590</span>Qui les 
      <span class="lem">chaſſa</span>
      
       / et 
      <span class="lem">toſt</span>
      
       rendit deſtruict</span>
   <span class="verse v2591">Tout le pays / riflant iuſques a <mark title="placeName" instant="false" full="yes">Nantes</mark></span>
   <span class="verse v2592">Sans eſpergner pꝛez /
      
      <span class="lem">bledz</span>
      
       /
      
      <span class="lem">gꝛos</span>
      
       arbꝛes / ne entes /.</span>
   <span class="verse v2593">Quelque raiſon quon diſt 
      <span class="lem">et</span>
      
       alleguaſt /</span>
   <span class="verse v2594">En peu de iours 
      <span class="lem">fiſt</span>
      
       ung ſi gꝛand degaſt /</span>
   <span class="verse v2595"><span class="verse-number">2595</span>Et tant 
      <span class="lem">bꝛuſla</span>
      
       pays en la contree</span>
   <span class="verse v2596">Que de long temps ne fut bien racouſtree.</span>
   <span class="verse v2597">Ce non pourtant / ſi toſt que les <mark title="orgName" instant="false" full="yes">Bꝛetons</mark></span>
   <span class="verse v2598">Sceurent <mark title="orgName" instant="false" full="yes">Francois</mark> partiz / en
      pꝛopꝛes tons</span>
   <span class="verse v2599">Que parauant / chanterent ſur les nottes</span>
   <span class="verse v2600"><span class="verse-number">2600</span>De pillerie / ainſi quon demaine hoſtes.</span>
   <span class="verse v2601">Et a ce chant firent tant de meſchef</span>
   <span class="verse v2602">
      <span class="lem">Quil y</span>
      
       conuint 
      <span class="lem">enuoyer</span>
      
       de rechef /</span>
   <span class="verse v2603"><mark title="piedMouche">§</mark>En ces trauaulx et
      guerres perilleuſes,</span>
   <span class="verse v2604">Eut Chilperich foꝛtunes
      merueilleuſes.</span>
   <span class="verse v2605"><span class="verse-number">2605</span>Mais tout 
      <span class="lem">le</span>
      
       mal /
      
      <span class="lem"></span>
      
      deſplaiſir / et ennuy</span>
   <span class="verse v2606">Quil receuoit /. ne venoit 
      <span class="lem">que</span>
      
       par luy,</span>
   <span class="verse v2607">Car il neſtoit iamais bien a ſon aiſe</span>
   <span class="verse v2608">Si contre aulcun nauoit querelle 
      <span class="lem">ou</span>
      
       noyſe.</span>
   
   <span class="lem">
      <span class="verse v2609">Il fut remply de ſi cruelles meurs</span>
      </span>
   
   
   
   <span class="lem">
      <span class="verse v2611">Que par le monde en ſourdirent 
         <span class="lem"></span>
         
         rumeurs /.</span>
      </span>
   
   
   
   
   <hr data-img-id="f136">
   
   <p title="Numéro de folio" class="text-end"><i>50v</i></p>
   <span class="d-block fw-bold mb-3">Des cruaultez de Chilperich.</span>
   
   <span class="lem">
      <span class="verse v2613">Si quon diſoit /
         Neron durant ſa vie</span>
      </span>
   
   
   
   <span class="lem">
      <span class="verse v2615"><span class="verse-number">2615</span>
         <span class="lem">Nauoir</span>
         
         
         
         <span class="lem"></span>
         
         iamais conceu 
         <span class="lem">plus</span>
         
          gꝛoſſe enuie</span>
      </span>
   
   
   
   <span class="lem">
      <span class="verse v2617">De cruaulte contre le ſang humain /.</span>
      </span>
   
   
   <span class="verse v2619">Bien ſe monſtra, tant 
      <span class="lem">au</span>
      
       cueur / que de main,</span>
   <span class="verse v2620"><span class="verse-number">2620</span>Eſtre cruel / et pour tel le renomme</span>
   <span class="verse v2621">Quant fit occire ung honneſte ieune homme</span>
   <span class="verse v2622">Nomme 
      <span class="lem">Dacus</span>
      
       / eſtant en ſa pꝛiſon,</span>
   <span class="verse v2623">Repꝛis de aſſez legiere meſpꝛiſon /.</span>
   <span class="verse v2624">Pour 
      <span class="lem">ce quempꝛiſt / ſans luy / oſer</span>
      
      
       permectre</span>
   <span class="verse v2625"><span class="verse-number">2625</span>En la pꝛiſon ung pꝛeſtre auecq 
      <span class="lem">ſoy</span>
      
       mectre</span>
   <span class="verse v2626">Auquel auoit confeſſe ſes pechez.</span>
   <span class="verse v2627"><mark title="piedMouche">§</mark>
      <span class="lem">Eſtoit ce</span>
      
       cauſe&nbsp;? Helas non /. Oꝛ ſachez</span>
   <span class="verse v2628">Se contre luy furent gꝛoſſes complainctes.</span>
   <span class="verse v2629">Raiſon y eut /.
      Car des cruaultes maintes</span>
   <span class="verse v2630"><span class="verse-number">2630</span>Fiſt en ſon temps /. Dauantaige ung edit</span>
   <span class="verse v2631">Miſt ſus /
      
      <span class="lem">duquel</span>
      
       / on la depuys mauldit.</span>
   <span class="verse v2632">Ce fut /. que ceulx qui vignes planteroient</span>
   <span class="verse v2633">Quarante 
      <span class="lem">et</span>
      
       huyt ſeptiers de vin rendꝛoient /.</span>
   <span class="verse v2634">Par annuel tribut /
      
      <span class="lem">en</span>
      
       ſes celliers.</span>
   <span class="verse v2635"><span class="verse-number">2635</span>Et receueurs commiſt particulliers</span>
   <span class="verse v2636">Pour conuertir 
      <span class="lem"></span>
      
      le dit vin / en certaine</span>
   
   <span class="lem"></span>
   
   
   <span class="verse v2637">Somme dargent /. dont vint quen <mark title="placeName" instant="false" full="yes">Acquitaine</mark></span>
   <span class="verse v2638">Ung nomme Marc /
      le cas executant</span>
   <span class="verse v2639">Et aſpꝛement peuple 
      <span class="lem">perſecutant</span>
      
       /</span>
   <span class="verse v2640"><span class="verse-number">2640</span>
      <span class="lem">Pour</span>
      
      
      
      <span class="lem">ce</span>
      
       tribut /. En lieu de bonne paye</span>
   
   
   <hr data-img-id="f137">
   
   <p title="Numéro de folio" class="text-end"><i>51r</i></p>
   <span class="d-block fw-bold mb-3">Des perilz qui procedent pour mectre impoſitions ſus
      peuple.</span>
   <span class="verse v2641">Des <mark title="orgName" instant="false" full="yes">Lymoſins</mark> receut moꝛtelle playe</span>
   <span class="verse v2642">Et par eulx fut ſi lourdement ſecoux</span>
   <span class="verse v2643">Que apꝛes ſa moꝛt / luy donnerent cent coups.</span>
   <span class="verse v2644"><mark title="piedMouche">§</mark>Oꝛ demandez ſi 
      <span class="lem">ce</span>
      
       tribut de vigne</span>
   <span class="verse v2645"><span class="verse-number">2645</span>Aux roys 
      <span class="lem">depuys venuz</span>
      
       de ligne en ligne</span>
   <span class="verse v2646">A point cauſe / mectre impoſition</span>
   <span class="verse v2647">Deſſus le vin /
      la pꝛopoſition</span>
   <span class="verse v2648">Ne 
      <span class="lem">ſouldꝛay</span>
      
       pas /
      mais ce mot ſans plus 
      <span class="lem"></span>
      
      
      <span class="lem">gecte</span>
      
      .</span>
   <span class="verse v2649">Qui bon le boit /. foꝛce eſt que bon laſchete.</span>
   <span class="verse v2650"><span class="verse-number">2650</span>Bons biberons nen buuront moins pourtant /</span>
   <span class="verse v2651">Mais du pꝛopos me puys bien taire a 
      <span class="lem">tant</span>
      
       /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f131">
   <blockquote class="ms-2">
      
      <span class="verse v2499"><mark title="piedMouche">§</mark>Suyvant au vray <span style="position: relative;"><span class="lem">l’histoire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">le texte<span class="coll-source"> [BnFfr4964, Cha515]</span></span></span></sup></span>, on pourra veoir</span>
      <span class="verse v2500"><span class="verse-number">2500</span>Le roy <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> en ferme
         propos estre,</span>
      <span class="verse v2501">Tout reserver, regne, couronne et sceptre,</span>
      <span class="verse v2502">Pour son nepveu <mark class="persName"><span style="position: relative;"><span class="lem">Childebert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">Chilperich<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
               l’Orléanais</span></mark> en pourvoir.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xiiii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">Chapitre xvme<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xv<sup>me</sup>.<span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xv<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappitre .xv<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v2503"><mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>
      ayant l’esperence perdue</span>
   <span class="verse v2504">De son actente et joye pretendue,</span>
   <span class="verse v2505"><span class="verse-number">2505</span>Quant à lignee avoir qui posseder</span>
   <span class="verse v2506">Deust son royaulme et à luy succeder,</span>
   <span class="verse v2507">Delibera faire de tout son <span style="position: relative;"><span class="lem">regne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">resne<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v2508"><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">L’<span class="coll-source"> [BnFfr4964, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span>Heritier seul
      <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> de
      <mark title="placeName" instant="false" full="yes">Lorraine</mark>.</span>
   <span class="verse v2509">Et <span style="position: relative;">sus</span> ce point sans plus en enquerir,</span>
   <span class="verse v2510"><span class="verse-number">2510</span>Jusques à <mark title="placeName" instant="false" full="yes">Metz</mark>
      <span style="position: relative;"><span class="lem">il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">l’envoya</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">envoia<span class="coll-source"> [BnFfr21316]</span></span></span></sup></span> querir.</span>
   
   
   <hr data-img-id="f132">
   
   <span class="curr-title fw-bold"><mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> fait <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> son heritier</span>
   <span class="verse v2511">Luy arrivé et recueilly à chere</span>
   <span class="verse v2512">Toute gentille, amïable et non chere,</span>
   <span class="verse v2513">Aprés ung peu avoir pris de repos,</span>
   <span class="verse v2514">Luy <span style="position: relative;"><span class="lem">entama</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">entame<span class="coll-source"> [Aix419]</span></span></span></sup></span> parolle à ce propos</span>
   <span class="verse v2515"><span class="verse-number">2515</span>Disant ainsi :
      <span title="Discours direct">«&nbsp;Filz et <span style="position: relative;">nepveu</span> que j’ayme&nbsp;»</span></span>
   <span class="verse v2516">
      <span title="Discours direct">«&nbsp;Trop plus que nul homme
         de mon royaulme,&nbsp;»</span>
      </span>
   <span class="verse v2517">
      <span title="Discours direct">«&nbsp;Tant soit il bien vers <span style="position: relative;"><span class="lem">moy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">mo<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> recommandé,&nbsp;»</span>
      </span>
   <span class="verse v2518">
      <span title="Discours direct">«&nbsp;Se
         quiers sçavoir pour quoy je t’ay mandé.&nbsp;»</span>
      </span>
   <span class="verse v2519">
      <span title="Discours direct">«&nbsp;C’est
         veu que suys selon mes demerites&nbsp;»</span>
      </span>
   <span class="verse v2520"><span class="verse-number">2520</span>
      <span title="Discours direct">«&nbsp;Privé d’enfantz,
         je vueil que tu herites&nbsp;»</span>
      </span>
   <span class="verse v2521">
      <span title="Discours direct">«&nbsp;Le mien royaulme aux honneurs, biens,
         prouffitz&nbsp;»</span>
      </span>
   <span class="verse v2522">
      <span title="Discours direct">«&nbsp;Et droitz royaulx, comme mon propre filz,&nbsp;»</span>
      </span>
   <span class="verse v2523">
      <span title="Discours direct">«&nbsp;Pourveu qu’en toy l’humilité appere&nbsp;»</span>
      </span>
   <span class="verse v2524">
      <span title="Discours direct">«&nbsp;Telle que doibt estre <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">de<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> filz à pere,&nbsp;»</span>
      </span>
   <span class="verse v2525"><span class="verse-number">2525</span>
      <span title="Discours direct">«&nbsp;Ce que je <span style="position: relative;">croy</span>
         <span style="position: relative;"><span class="lem">qui</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">que<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sera sans doubter.&nbsp;»</span>
      </span>
   <span class="verse v2526">
      <span title="Discours direct">«&nbsp;Ainsi te vueil pour
         vray filz adopter&nbsp;»</span>
      </span>
   <span class="verse v2527">
      <span title="Discours direct">«&nbsp;Si que te voye à <span style="position: relative;"><span class="lem">part</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">port<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span> de gentillesse,&nbsp;»</span>
      </span>
   <span class="verse v2528">
      <span title="Discours direct">«&nbsp;À l’advenir baston de ma vieillesse,&nbsp;»</span>
      </span>
   <span class="verse v2529">
      <span title="Discours direct">«&nbsp;Nous entre aymans
         d’une mesme bonté,&nbsp;»</span>
      </span>
   <span class="verse v2530"><span class="verse-number">2530</span>
      <span title="Discours direct">«&nbsp;D’une ame, ung cueur et une volunté.&nbsp;»</span>
      </span>
   <span class="verse v2531">
      <span title="Discours direct">«&nbsp;À ma
         <span style="position: relative;"><span class="lem">prouesse</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">promesse<span class="coll-source"> [Cha515]</span></span></span></sup></span> adjousteras vaillance,&nbsp;»</span>
      </span>
   <span class="verse v2532">
      <span title="Discours direct">«&nbsp;Mais que d’un
         glayve et d’une mesme lance&nbsp;»</span>
      </span>
   <span class="verse v2533">
      <span title="Discours direct">«&nbsp;Nous
         deffendons et que soyons uniz,&nbsp;»</span>
      </span>
   <span class="verse v2534">
      <span title="Discours direct">«&nbsp;En ferme foy et loyaulté muniz&nbsp;»</span>
      </span>
   <span class="verse v2535"><span class="verse-number">2535</span>
      <span title="Discours direct">«&nbsp;Pren doncques
         filz et accepte <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">ses<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> offres,&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f133">
   
   <span class="curr-title fw-bold">Ambassades envoyéz vers <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> par <mark class="persName">Goutran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> et <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark></span>
   <span class="verse v2536">
      <span title="Discours direct">«&nbsp;Si jouyras du tresor
         de mes coffres&nbsp;»</span>
      </span>
   <span class="verse v2537">
      <span title="Discours direct">«&nbsp;Sans orphenin t’extimer, veu que ouvert&nbsp;»</span>
      </span>
   <span class="verse v2538">
      <span title="Discours direct">«&nbsp;T’est le <span style="position: relative;">moyen</span> dont pere as recouvert.&nbsp;»</span>
      </span>
   <span class="verse v2539">Le jeune enfant encores de bas aage</span>
   <span class="verse v2540"><span class="verse-number">2540</span>Et non ayant la parolle et usaige,</span>
   <span class="verse v2541">Pour luy respondre ung de ses gouverneurs</span>
   <span class="verse v2542">Graces rendit au roy des grandz
      honneurs</span>
   <span class="verse v2543">Et biens offers au jeune roy son maistre,</span>
   <span class="verse v2544">Lequel espere à traict de temps homme estre</span>
   <span class="verse v2545"><span class="verse-number">2545</span>Bien adextre aux armes pour devoir</span>
   <span class="verse v2546">Tiltre de loz et riche nom avoir.</span>
   <span class="verse v2547"><mark title="piedMouche">§</mark>Adoncq
      presentz
      <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">de<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> deux costéz se offrirent,</span>
   <span class="verse v2548">Puys en conseil les matieres ouvrirent</span>
   <span class="verse v2549">Touchant les tortz que <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> tenoit</span>
   <span class="verse v2550"><span class="verse-number">2550</span>À l’un et l’autre et leur bien retenoit,</span>
   <span class="verse v2551">En quoy n’avoit saulvé sa reverence,</span>
   <span class="verse v2552">Cause, raison, propos ny apparence.</span>
   <span class="verse v2553">Lors en donnant <span style="position: relative;"><span class="lem">ordre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content">l’ordre<span class="coll-source"> [Aix419]</span></span></span></sup></span> selon <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">le<span class="coll-source"> [Aix419]</span></span></span></sup></span> cas,</span>
   <span class="verse v2554">Ambassadeurs commirent et legatz</span>
   <span class="verse v2555"><span class="verse-number">2555</span>Pour advertir <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      de leur rendre</span>
   <span class="verse v2556">Ce que sus eulx avoit voullu emprendre,</span>
   <span class="verse v2557">Et si le tout ne rendoit par doulceur</span>
   <span class="verse v2558">Luy annuncer devoir estre tout seur</span>
   <span class="verse v2559">Les veoir en barbe et <span style="position: relative;"><span class="lem">à pointes d’espees</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">en poincte d’espee<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v2560"><span class="verse-number">2560</span>Reconquester <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> terres usurpees.</span>
   
   
   <hr data-img-id="f134">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> ne tint <span class="choice"><span title="Abbrégé en cōpte"><mark title="abbréviation">compte</mark></span></span> des ambassadeurs de <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> et <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v2561">Quant devers luy furent les deputéz</span>
   <span class="verse v2562">Et <span style="position: relative;"><span class="lem">que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">quant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> eurent bien <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">ce<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">ses<span class="coll-source"> [Aix419, BnFfr23146]</span></span></span></sup></span> propos disputéz,</span>
   <span class="verse v2563">En s’excusant par <span style="position: relative;"><span class="lem">raisons assez</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">assez raisons<span class="coll-source"> [Aix419]</span></span></span></sup></span> maigres,</span>
   <span class="verse v2564">Il les servit de <span style="position: relative;"><span class="lem">responses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">responce<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">fort</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content">assez<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> aigres,</span>
   <span class="verse v2565"><span class="verse-number">2565</span>Disant tenir à bon tiltre et adveu</span>
   <span class="verse v2566">Ce qu’il avoit sans son frere et nepveu.</span>
   <span class="verse v2567">
      <span title="Discours direct">«&nbsp;Qui l’aura bon, leur dit il, si l’envie&nbsp;»</span>
      </span>
   <span class="verse v2568">
      <span title="Discours direct">«&nbsp;Car tout tiendray
         tant que au corps auray vie.&nbsp;»</span>
      </span>
   <span class="verse v2569"><mark title="piedMouche">§</mark>À sa response ung congié tel quel pris,</span>
   <span class="verse v2570"><span class="verse-number">2570</span>Le <span style="position: relative;"><span class="lem">congnoissans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content">congnoissant<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> de <span style="position: relative;"><span class="lem">forte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">sorte<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ire entrepris,</span>
   <span class="verse v2571">De plus parler à luy dissimulerent</span>
   <span class="verse v2572">Et tout ainsi mains vuydes s’en allerent.</span>
   <span class="verse v2573">Eulx departiz et luy encouraigé</span>
   <span class="verse v2574">Monstrer les dentz comme ung chien enraigé,</span>
   <span class="verse v2575"><span class="verse-number">2575</span>À ses ditz <span style="position: relative;">frere</span> et nepveu si <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">per<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> guerre</span>
   <span class="verse v2576"><span style="position: relative;"><span class="lem">Faisoient</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content">Monstrent<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> semblant de ses pays conquerre,</span>
   <span class="verse v2577">Dueil <span style="position: relative;">sus</span> ennuy <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content"><s>cau</s>
                  <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span> ou mesme instant receut</span>
   <span class="verse v2578">De fier couroux. Car tout en l’heure sceut</span>
   <span class="verse v2579">Que vers <mark title="placeName" instant="false" full="yes">Bretaigne</mark>
      <span style="position: relative;"><span class="lem">es</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48"><span class="collation-content">at<span class="coll-source"> [BnFfr4964]</span></span></span></sup></span> places lymitrophes</span>
   <span class="verse v2580"><span class="verse-number">2580</span>Estoit fourny de mauvaises estoffes</span>
   <span class="verse v2581">Et qu’en ces lieux ung tas de sotz
      <mark title="orgName" instant="false" full="yes">Bretons</mark>,</span>
   <span class="verse v2582">Plus estourdiz que <span style="position: relative;"><span class="lem">jeunes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">volantz<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> hanetons,</span>
   <span class="verse v2583"><span style="position: relative;"><span class="lem">Droit là faisoient</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content">Faisoient là<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> si forte riblerie</span>
   <span class="verse v2584">Et tant de maulx que c’estoit diablerie.</span>
   <span class="verse v2585"><span class="verse-number">2585</span>De la nouvelle eut telle raige au cueur</span>
   
   
   <hr data-img-id="f135">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> fist
      piller le pays de <mark title="placeName" instant="false" full="yes">Bretaigne</mark></span>
   <span class="verse v2586">Que ire et despit joignit avecq rigueur</span>
   <span class="verse v2587">Puys, pour <span style="position: relative;"><span class="lem">bailler</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content">baille<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> force levriers aux trousses</span>
   <span class="verse v2588">De ces <mark title="orgName" instant="false" full="yes">Bretons</mark> faisans telles
      destrousses,</span>
   <span class="verse v2589"><span style="position: relative;"><span class="lem">À</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content">De<span class="coll-source"> [Aix419]</span></span></span></sup></span> grosse armee envoya homme instruict</span>
   <span class="verse v2590"><span class="verse-number">2590</span>Qui les <span style="position: relative;">chassa</span>, et <span style="position: relative;"><span class="lem">tost</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content">l’ost<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> rendit destruict</span>
   <span class="verse v2591">Tout le pays, riflant jusques à <mark title="placeName" instant="false" full="yes">Nantes</mark></span>
   <span class="verse v2592">Sans espergner préz,
      <span style="position: relative;"><span class="lem">bledz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span>,
      <span style="position: relative;"><span class="lem">gros</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content">fruictz<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> arbres ne entes.</span>
   <span class="verse v2593">Quelque raison qu’on dist <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58"><span class="collation-content">ou<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> alleguast,</span>
   <span class="verse v2594">En peu de jours <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59"><span class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ung si grand degast</span>
   <span class="verse v2595"><span class="verse-number">2595</span>Et tant <span style="position: relative;"><span class="lem">brusla</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">brusle<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pays en la contree</span>
   <span class="verse v2596">Que de long temps ne fut bien racoustree.</span>
   <span class="verse v2597">Ce non pourtant, si tost que les <mark title="orgName" instant="false" full="yes">Bretons</mark></span>
   <span class="verse v2598">Sceurent <mark title="orgName" instant="false" full="yes">François</mark> partiz en
      propres tons</span>
   <span class="verse v2599">Que paravant, chanterent sur les nottes</span>
   <span class="verse v2600"><span class="verse-number">2600</span>De pillerie, ainsi qu’on demaine hostes.</span>
   <span class="verse v2601">Et à ce chant firent tant de meschef</span>
   <span class="verse v2602"><span style="position: relative;"><span class="lem">Qu’il y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61"><span class="collation-content">Qui luy<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> convint <span style="position: relative;"><span class="lem">envoyer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">envoie<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de rechef.</span>
   <span class="verse v2603"><mark title="piedMouche">§</mark>En ces travaulx et
      guerres perilleuses,</span>
   <span class="verse v2604">Eut <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> fortunes
      merveilleuses.</span>
   <span class="verse v2605"><span class="verse-number">2605</span>Mais tout <span style="position: relative;"><span class="lem">le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> mal,
      desplaisir et ennuy</span>
   <span class="verse v2606">Qu’il recevoit, ne venoit <span style="position: relative;"><span class="lem">que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65"><span class="collation-content"><span class="choice">que</span><span class="coll-source"> [Aix419]</span></span></span></sup></span> par luy,</span>
   <span class="verse v2607">Car il n’estoit jamais bien à son aise</span>
   <span class="verse v2608">Si contre aulcun n’avoit querelle <span style="position: relative;"><span class="lem">ou</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66"><span class="collation-content">et<span class="coll-source"> [BnFfr17274, Cha515]</span></span></span></sup></span> noyse.</span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v2609">Il fut remply de si cruelles meurs</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content">
               
               Il fut remply de si cruelles meurs
               
               <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v2611">Que par le monde en sourdirent rumeurs,</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">
               
               Que par le monde en sourdirent rumeurs
               
               <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>
   
   
   <hr data-img-id="f136">
   
   <span class="curr-title fw-bold">Des cruaultéz de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v2613">Si qu’on disoit
            <mark class="persName">Neron<span class="persName-info fw-normal on-right"><b>Néron</b> (13/12/37 — 07/06/68)<span class="hr-short">&nbsp;</span>Cinquième empereur romain de 54 à 68</span></mark> durant sa vie</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70"><span class="collation-content">
               
               Si qu’on disoit Neron durant sa vie
               
               <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v2615"><span class="verse-number">2615</span><span style="position: relative;"><span class="lem">N’avoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown72" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown72"><span class="collation-content">N’avoit<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
            jamais conceu <span style="position: relative;">plus</span> grosse envie</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content">
               
               N’avoir jamais conceu plus grosse envie
               
               <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v2617">De cruaulté contre le sang humain.</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75"><span class="collation-content">
               
               De cruaulté contre le sang humain
               
               <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>
   <span class="verse v2619">Bien se monstra, tant <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> cueur que de main,</span>
   <span class="verse v2620"><span class="verse-number">2620</span>Estre cruel et pour tel le renomme</span>
   <span class="verse v2621">Quant fit occire ung honneste jeune homme</span>
   <span class="verse v2622">Nommé <mark class="persName"><span style="position: relative;"><span class="lem">Dacus</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77"><span class="collation-content">Daces<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Dacus</b><span class="hr-short">&nbsp;</span>Personnage de l'antiquité romaine</span></mark> estant en sa prison,</span>
   <span class="verse v2623">Repris de assez legiere mesprison</span>
   <span class="verse v2624">Pour <span style="position: relative;"><span class="lem">ce qu’emprist, sans luy, oser</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown78" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown78"><span class="collation-content">la raison, sans plus, que oza<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">ce que empleist sans luy ozer<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> permectre</span>
   <span class="verse v2625"><span class="verse-number">2625</span>En la prison ung prestre avecq <span style="position: relative;"><span class="lem">soy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown79" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown79"><span class="collation-content">luy<span class="coll-source"> [BnFfr4964, BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span> mectre</span>
   <span class="verse v2626">Auquel avoit confessé ses pechéz.</span>
   <span class="verse v2627"><mark title="piedMouche">§</mark><span style="position: relative;"><span class="lem">Estoit ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown80" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown80"><span class="collation-content">Estoisse<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> cause&nbsp;? Helas non. Or sachez</span>
   <span class="verse v2628">Se contre luy furent grosses complainctes.</span>
   <span class="verse v2629">Raison y eut
      car des cruaultés maintes</span>
   <span class="verse v2630"><span class="verse-number">2630</span>Fist en son temps. Davantaige ung edit</span>
   <span class="verse v2631">Mist sus,
      <span style="position: relative;"><span class="lem">duquel</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown81" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown81"><span class="collation-content">de quoy<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> on l’a depuys mauldit.</span>
   <span class="verse v2632">Ce fut que ceulx qui vignes planteroient</span>
   <span class="verse v2633">Quarante <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown82" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown82"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span> huyt septiers de vin rendroient</span>
   <span class="verse v2634">Par annuel tribut
      <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown83" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown83"><span class="collation-content">à<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ses celliers.</span>
   <span class="verse v2635"><span class="verse-number">2635</span>Et receveurs commist particulliers</span>
   <span class="verse v2636">Pour convertir le dit vin en certaine</span>
   
   <span class="verse v2637">Somme d’argent, dont vint qu’en <mark title="placeName" instant="false" full="yes">Acquitaine</mark></span>
   <span class="verse v2638">Ung nommé <mark class="persName">Marc<span class="persName-info fw-normal on-right"><b>Marc</b></span></mark>
      le cas executant</span>
   <span class="verse v2639">Et asprement peuple <span style="position: relative;"><span class="lem">persecutant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown86" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown86"><span class="collation-content">executant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v2640"><span class="verse-number">2640</span><span style="position: relative;">Pour</span>
      <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown88" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown88"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> tribut. En lieu de bonne paye</span>
   
   
   <hr data-img-id="f137">
   
   <span class="curr-title fw-bold">Des perilz qui procedent pour mectre impositions sus
      peuple</span>
   <span class="verse v2641">Des <mark title="orgName" instant="false" full="yes">Lymosins</mark> receut mortelle playe</span>
   <span class="verse v2642">Et par eulx fut si lourdement secoux</span>
   <span class="verse v2643">Que aprés sa mort luy donnerent cent coups.</span>
   <span class="verse v2644"><mark title="piedMouche">§</mark>Or demandez si <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown89" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown89"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> tribut de vigne</span>
   <span class="verse v2645"><span class="verse-number">2645</span>Aux roys <span style="position: relative;"><span class="lem">depuys venuz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown90" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown90"><span class="collation-content">venus depuis<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de ligne en ligne</span>
   <span class="verse v2646">À point causé mectre impositïon</span>
   <span class="verse v2647">Dessus le vin.
      La propositïon</span>
   <span class="verse v2648">Ne <span style="position: relative;"><span class="lem">souldray</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown91" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown91"><span class="collation-content">fauldray<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pas.
      Mais ce mot sans plus <span style="position: relative;"><span class="lem">gecte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown93" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown93"><span class="collation-content">gecter<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v2649">Qui bon le boit force est que bon l’aschete.</span>
   <span class="verse v2650"><span class="verse-number">2650</span>Bons biberons n’en buvront moins pourtant</span>
   <span class="verse v2651">Mais du propos me puys bien taire à <span style="position: relative;"><span class="lem">tant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown94" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown94"><span class="collation-content">temps<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2499);">v. 2499</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, Cha515 </span>le texte</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2502);">v. 2502</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Chilperich</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xvme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xv<sup>me</sup>.</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xv<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre .xv<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2507);">v. 2507</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>resne</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2508);">v. 2508</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr17274, BnFfr23146, Cha515 </span>L’</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2510);">v. 2510</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2510);">v. 2510</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr21316 </span>envoia</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2514);">v. 2514</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>entame</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2517);">v. 2517</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>mo</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2524);">v. 2524</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2525);">v. 2525</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2527);">v. 2527</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515 </span>port</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2531);">v. 2531</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>promesse</span></div>
   </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2535);">v. 2535</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2547);">v. 2547</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>de</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2553);">v. 2553</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>l’ordre</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2553);">v. 2553</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>le</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2559);">v. 2559</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en poincte d’espee</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2560);">v. 2560</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2562);">v. 2562</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>quant</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2562);">v. 2562</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>ce</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr23146 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2563);">v. 2563</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>assez raisons</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2564);">v. 2564</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>responce</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2564);">v. 2564</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>assez</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2570);">v. 2570</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>congnoissant</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2570);">v. 2570</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sorte</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2575);">v. 2575</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>per</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2576);">v. 2576</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Monstrent</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2577);">v. 2577</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><s>cau</s>
            </span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2579);">v. 2579</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>at</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2582);">v. 2582</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>volantz</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2583);">v. 2583</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Faisoient là</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2587);">v. 2587</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>baille</span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2589);">v. 2589</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>De</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2590);">v. 2590</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>l’ost</span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2592);">v. 2592</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2592);">v. 2592</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>fruictz</span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2593);">v. 2593</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>ou</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2594);">v. 2594</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2595);">v. 2595</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>brusle</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2602);">v. 2602</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Qui luy</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2602);">v. 2602</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>envoie</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2605);">v. 2605</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2606);">v. 2606</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">que</span></span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2608);">v. 2608</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Cha515 </span>et</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>
            
            Il fut remply de si cruelles meurs
            
            </span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>
            
            Que par le monde en sourdirent rumeurs
            
            </span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>
            
            Si qu’on disoit Neron durant sa vie
            
            </span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>
            
            N’avoir jamais conceu plus grosse envie
            
            </span></div>
      </div>
   <div class="collation row" id="coll72">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2615);">v. 2615</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>N’avoit</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>
            
            De cruaulté contre le sang humain
            
            </span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2619);">v. 2619</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2622);">v. 2622</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Daces</span></div>
      </div>
   <div class="collation row" id="coll78">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2624);">v. 2624</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>la raison, sans plus, que oza</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ce que empleist sans luy ozer</span></div>
      </div>
   <div class="collation row" id="coll79">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2625);">v. 2625</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, BnFfr17274, BnFfr23146 </span>luy</span></div>
      </div>
   <div class="collation row" id="coll80">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2627);">v. 2627</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Estoisse</span></div>
      </div>
   <div class="collation row" id="coll81">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2631);">v. 2631</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de quoy</span></div>
      </div>
   <div class="collation row" id="coll82">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2633);">v. 2633</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll83">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2634);">v. 2634</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>à</span></div>
      </div>
   <div class="collation row" id="coll86">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2639);">v. 2639</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>executant</span></div>
      </div>
   <div class="collation row" id="coll88">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2640);">v. 2640</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll89">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2644);">v. 2644</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll90">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2645);">v. 2645</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>venus depuis</span></div>
      </div>
   <div class="collation row" id="coll91">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2648);">v. 2648</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fauldray</span></div>
      </div>
   <div class="collation row" id="coll93">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2648);">v. 2648</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gecter</span></div>
      </div>
   <div class="collation row" id="coll94">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2651);">v. 2651</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>temps</span></div>
      </div>
</div>
{% endmacro %}
