
{% macro chapterTitle() %}Chapitre 16{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('16_chap_15')"><i class="fa-solid fa-arrow-left"></i> Chapitre 15</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('18_chap_17')">Chapitre 17 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f143/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f143/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f143" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f144/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f144/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f144" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f145/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f145/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f145" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f146/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f146/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f146" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f147/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f147/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f147" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f148/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f148/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f148" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f149/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f149/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f149" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f143">
   <p title="Numéro de folio" class="text-end"><i>54r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2758"><mark title="piedMouche">§</mark>Ainſi ſaiſie
         / et nauree a oultrance,</span>
      <span class="verse v2759">Conficte en dueil / le cueur preſque tranſy,</span>
      <span class="verse v2760"><span class="verse-number">2760</span>Ne peult durer  (Fredegonde) eſtre ainſi</span>
      <span class="verse v2761">Que au roy ne face aulcune remonſtrance.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche"></mark>
      
      <span class="lem">Chapitre.&nbsp;xui<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v2762">SOvuenteſfois voit on euidamment</span>
   <span class="verse v2763">Vexation / donner entendement</span>
   <span class="verse v2764">A 
      <span class="lem">pluſieurs</span>
      
       gentz / que foꝛtune execute</span>
   <span class="verse v2765"><span class="verse-number">2765</span>Et de 
      <span class="lem"></span>
      
      diuers gꝛandz aſſaultz 
      <span class="lem">perſecute</span>
      
      .</span>
   <span class="verse v2766">Leſquelz 
      <span class="lem">eſtantz</span>
      
       en plaine auctoꝛite</span>
   <span class="verse v2767">Comme aueuglez dheur et pꝛoſperite,</span>
   <span class="verse v2768">Sans euiter vice 
      <span class="lem"></span>
      
      dingꝛatitude</span>
   <span class="verse v2769">Ne pꝛeignent ſoing, cure / et ſolicitude</span>
   <span class="verse v2770"><span class="verse-number">2770</span>De mener vie a equitable dꝛoit /</span>
   <span class="verse v2771">Coꝛreſpondante / ainſi 
      <span class="lem"></span>
      
      quen ceſt endꝛoit /</span>
   <span class="verse v2772">On le peult 
      <span class="lem">veoir</span>
      
       en 
      <span class="lem"></span>
      
      ces deux perſonnaiges</span>
   <span class="verse v2773">Qui ſans 
      <span class="lem">garder</span>
      
       de 
      <span class="lem">nulle</span>
      
       perſonne aages,</span>
   <span class="verse v2774">
      <span class="lem">Eulx</span>
      
       pꝛoſperans, firent maulx infiniz.</span>
   <span class="verse v2775"><span class="verse-number">2775</span>Tant que celluy qui touſiours rend pugniz</span>
   <span class="verse v2776">Gentz vicieux, ſouillez de 
      <span class="lem">vie</span>
      
       immunde</span>
   <span class="verse v2777">Au cours pꝛeſent /.
      
      <span class="lem">ou</span>
      
       bien en lautre monde</span>
   
   
   <hr data-img-id="f144">
   
   <p title="Numéro de folio" class="text-end"><i>54v</i></p>
   <span class="d-block fw-bold mb-3">Bonnes remonſtrances par Fredegonde. a Chilperich.</span>
   <span class="verse v2778">Leur enuoyaſt / dures 
      <span class="lem">aduerſitez</span>
      
      </span>
   <span class="verse v2779">Pour les 
      <span class="lem">attraire</span>
      
       / ains eſtre a vers citez.</span>
   <span class="verse v2780"><span class="verse-number">2780</span>Et a raiſon de ce / leur faict 
      <span class="lem"></span>
      
      congneuſſent /</span>
   <span class="verse v2781">Si que du dard moꝛtel / le dur coup neuſſent /.</span>
   <span class="verse v2782"><mark title="piedMouche">§</mark>Loꝛs Fredegonde /
      Ainſi queſt dit deuant /</span>
   <span class="verse v2783">Vers Chilperich
      /
      
      <span class="lem">mect</span>
      
      
      
       pꝛopos en auant</span>
   <span class="verse v2784">Diſant 
      <span class="lem">ces motz</span>
      
       /.
      <span title="Discours direct"><span class="choice"><span title="Abbréviation pour Monsieur"><mark title="abbréviation">Monẜꝛ</mark></span></span>, voyez les ſommes</span></span>
   <span class="verse v2785"><span class="verse-number">2785</span>
      <span title="Discours direct">De diuers maulx
         / dont oꝛes chargez ſommes.</span>
      </span>
   <span class="verse v2786">
      <span title="Discours direct">Voyez les 
         <span class="lem">maulx</span>
         
          / les tribulations,</span>
      </span>
   <span class="verse v2787">
      <span title="Discours direct">Les durs trauaulx / les deſolations</span>
      </span>
   <span class="verse v2788">
      <span title="Discours direct">Et 
         <span class="lem"></span>
         
         
         <span class="lem">gꝛandz</span>
         
          ennuyz / ou foꝛtune 
         <span class="lem">fatigue</span>
         
         </span>
      </span>
   <span class="verse v2789">
      <span title="Discours direct">Noz triſtes cueurs /. Si ung temps fut pꝛodigue</span>
      </span>
   <span class="verse v2790"><span class="verse-number">2790</span>
      <span title="Discours direct">A nous donner 
         <span class="lem">richeſſe</span>
         
          et gꝛand honneur /.</span>
      </span>
   <span class="verse v2791">
      <span title="Discours direct">Elle tolliſt oꝛes
         noſtre bonheur.</span>
      </span>
   <span class="verse v2792">
      <span title="Discours direct">Penſez comment en
         temps doulx et pꝛoſpere,</span>
      </span>
   <span class="verse v2793">
      <span title="Discours direct">Tres mal auons 
         <span class="lem">ſeruy</span>
         
         
         Dieu noſtre pere</span>
      </span>
   <span class="verse v2794">
      <span title="Discours direct">Et Createur /. Combles /
         
         <span class="lem">riches</span>
         
          / et gꝛas,</span>
      </span>
   <span class="verse v2795"><span class="verse-number">2795</span>
      <span title="Discours direct">Sommes trouuez de
         ſes bienſfaitz ingꝛatz.</span>
      </span>
   <span class="verse v2796">
      <span title="Discours direct">Tant que le vent
         nous 
         <span class="lem"></span>
         
         
         <span class="lem">fut</span>
         
          bien agꝛeable,</span>
      </span>
   <span class="verse v2797">
      <span title="Discours direct">Touſiours auons par
         exces 
         <span class="lem">increable</span>
         
         </span>
      </span>
   <span class="verse v2798">
      <span title="Discours direct">Les biens daultruy
         rauiz et empoꝛtez /</span>
      </span>
   <span class="verse v2799">
      <span title="Discours direct">Le vent doꝛgueil 
         <span class="lem">a</span>
         
          noz cueurs 
         <span class="lem">tranſpoꝛtez</span>
         
         </span>
      </span>
   <span class="verse v2800"><span class="verse-number">2800</span>
      <span title="Discours direct">Et enflammez du
         tiſon dauarice,</span>
      </span>
   <span class="verse v2801">
      <span title="Discours direct">Qui de tous maulx
         eſt la mere nourrice./</span>
      </span>
   <span class="verse v2802">
      <span title="Discours direct">
         <span class="lem">Au</span>
         
          vil peche de luxure inuitez,</span>
      </span>
   
   
   <hr data-img-id="f145">
   
   <p title="Numéro de folio" class="text-end"><i>55r</i></p>
   <span class="d-block fw-bold mb-3">Admonition de Fredegonde a Chilperich.</span>
   <span class="verse v2803">
      <span title="Discours direct">Nauons fouy
         <span class="lem">molles</span> laſciuitez /</span>
      </span>
   <span class="verse v2804">
      <span title="Discours direct">En la fureur ardante 
         <span class="lem">du</span>
         
          feu de ire,</span>
      </span>
   <span class="verse v2805"><span class="verse-number">2805</span>
      <span title="Discours direct">Sommes eſpꝛis ſi
         foꝛt /
         
         <span class="lem">quon</span>
         
          ſcauroit dire.</span>
      </span>
   <span class="verse v2806">
      <span title="Discours direct">Par glotonnie
         / auons fait 
         <span class="lem">lourdz exces</span>
         
         ,</span>
      </span>
   <span class="verse v2807">
      <span title="Discours direct">Peche denuie a vers
         nous trop dacces</span>
      </span>
   <span class="verse v2808">
      <span title="Discours direct">Et tant nous
         tient / le 
         <span class="lem">vice</span>
         
          de pareſſe,</span>
      </span>
   <span class="verse v2809">
      <span title="Discours direct">Que 
         <span class="lem"></span>
         
         maintenant 
         <span class="lem">ſus nous fault que</span>
         
         
         
          appareſſe</span>
      </span>
   <span class="verse v2810"><span class="verse-number">2810</span>
      <span title="Discours direct">Lire de Dieu / pꝛouocquee ainſi foꝛt /</span>
      </span>
   <span class="verse v2811">
      <span title="Discours direct">Par le meſfait de ſi
         cruel effoꝛt</span>
      </span>
   <span class="verse v2812">
      <span title="Discours direct">Que auons commis,
         faiſans laidures dures</span>
      </span>
   <span class="verse v2813">
      <span title="Discours direct">
         <span class="lem">Et</span>
         
          gꝛandz trauaulx a maintes creatures.</span>
      </span>
   <span class="verse v2814">
      <span title="Discours direct">Tant et ſi foꝛt
         auons eſte touchez</span>
      </span>
   <span class="verse v2815"><span class="verse-number">2815</span>
      <span title="Discours direct">Par maladie / a fin de tous pechez</span>
      </span>
   <span class="verse v2816">
      <span title="Discours direct">Nous 
         <span class="lem">abſtenir</span>
         
          / et 
         <span class="lem"></span>
         
         auoir repentence,</span>
      </span>
   <span class="verse v2817">
      <span title="Discours direct">De ce que oſtons&nbsp;a
         ceulx / vie et ſubſtance</span>
      </span>
   <span class="verse v2818">
      <span title="Discours direct">Que nous deurions
         garder de maulx diuers,</span>
      </span>
   <span class="verse v2819">
      <span title="Discours direct">Encontre tous / Et comme faulx peruers,</span>
      </span>
   <span class="verse v2820"><span class="verse-number">2820</span>
      <span title="Discours direct">Gentz obſtinez / ſans nous vouloir diſtraire</span>
      </span>
   <span class="verse v2821">
      <span title="Discours direct">De 
         <span class="lem">telz</span>
         
          exces / faiſons tout le contraire,</span>
      </span>
   <span class="verse v2822">
      <span title="Discours direct">Continuans 
         <span class="lem">ſus</span>
         
          eulx tranſactions</span>
      </span>
   <span class="verse v2823">
      <span title="Discours direct">De gꝛiefz
         impoſtz / et 
         <span class="lem"></span>
         
         faix dexactions /</span>
      </span>
   <span class="verse v2824">
      <span title="Discours direct">Par 
         <span class="lem">les</span>
         
          foꝛfaitz de foles entrepꝛiſes,</span>
      </span>
   <span class="verse v2825"><span class="verse-number">2825</span>
      <span title="Discours direct">Oppꝛeſſions / ſubuentions mal pꝛiſes,</span>
      </span>
   <span class="verse v2826">
      <span title="Discours direct">Crimes / delitz /
         
         <span class="lem"></span>
         
         faulſes deſloyaultez,</span>
      </span>
   <span class="verse v2827">
      <span title="Discours direct">Peines / tourmentz / et gꝛandes cruaultez.</span>
      </span>
   
   
   <hr data-img-id="f146">
   
   <p title="Numéro de folio" class="text-end"><i>55v</i></p>
   <span class="d-block fw-bold mb-3">Remonſtrances de Fredegonde a Chilperich</span>
   <span class="verse v2828">
      <span title="Discours direct">
         <span class="lem">Sus</span>
         
         
         
         <span class="lem"></span>
         
         oꝛphenins et poures femmes veufues</span>
      </span>
   <span class="verse v2829">
      <span title="Discours direct">
         <span class="lem">Faiſons</span>
         
         
          cauſer ſourſes 
         <span class="lem">de</span>
         
          larmes neufues,</span>
      </span>
   <span class="verse v2830"><span class="verse-number">2830</span>
      <span title="Discours direct">Dont les ſouſpirs / regꝛetz / cris / et clameurs</span>
      </span>
   <span class="verse v2831">
      <span title="Discours direct">Iuſques au ciel font
         contre nous rumeurs,</span>
      </span>
   <span class="verse v2832">
      <span title="Discours direct">Crians vengence a
         dieu
         / de telz oultraiges.</span>
      </span>
   <span class="verse v2833">
      <span title="Discours direct">Helas, <span class="choice"><span title="Abbréviation pour Monsieur"><mark title="abbréviation">Monẜꝛ</mark></span></span>, retraignons 
         <span class="lem"></span>
         
         noz couraiges</span>
      </span>
   <span class="verse v2834">
      <span title="Discours direct">De trauailler ſi
         foꝛt les poures gentz</span>
      </span>
   <span class="verse v2835"><span class="verse-number">2835</span>
      <span title="Discours direct">Si oultraigez
         / et par nous indigentz.</span>
      </span>
   <span class="verse v2836">
      <span title="Discours direct">Tant les auons
         chargez de gꝛoſſes tailles</span>
      </span>
   <span class="verse v2837">
      <span title="Discours direct">Quilz ſont 
         <span class="lem"></span>
         
         
         <span class="lem">contrainctz</span>
         
          geſir 
         <span class="lem">tous</span>
         
         
         
         <span class="lem">
            <span class="lem">ſus</span>
            
             les pailles</span>
         
         
          /.</span>
      </span>
   <span class="verse v2838">
      <span title="Discours direct">Tant les auons 
         <span class="lem">vexez</span>
         
          de gꝛandz impoſtz</span>
      </span>
   <span class="verse v2839">
      <span title="Discours direct">
         <span class="lem">Quilz</span>
         
          nont 
         <span class="lem"></span>
         
         plus lictz /
         
         <span class="lem">couches</span>
         
         , plateaux ny potz /.</span>
      </span>
   <span class="verse v2840"><span class="verse-number">2840</span>
      <span title="Discours direct">Par nous ainſi
         foꝛtune les demaine /.</span>
      </span>
   <span class="verse v2841">
      <span title="Discours direct">Souffiroit pas aſſez 
         <span class="lem">noſtre</span>
         
          dommaine</span>
      </span>
   <span class="verse v2842">
      <span title="Discours direct">Pour noſtre 
         <span class="lem"></span>
         
         eſtat /. ſans tant leuer
         deniers&nbsp;?</span>
      </span>
   
   <span class="verse v2843">
      <span title="Discours direct">Vins en celiers / bledz 
         <span class="lem">a</span>
         
         
          combles 
         <span class="lem"></span>
         
         gꝛeniers,</span>
      </span>
   <span class="verse v2844">
      <span title="Discours direct">Coffres 
         <span class="lem">pleins</span>
         
          doꝛ / de 
         <span class="lem">vaiſſelles</span>
         
          et 
         <span class="lem"></span>
         
         bagues /.</span>
      </span>
   <span class="verse v2845"><span class="verse-number">2845</span>
      <span title="Discours direct">Que vault cela
         / quant oꝛes ſommes vagues</span>
      </span>
   <span class="verse v2846">
      <span title="Discours direct">De tout plaiſir / ſans ſcauoir les raiſons</span>
      </span>
   <span class="verse v2847">
      <span title="Discours direct">Bien aſſigner
         / pour qui theſauriſons /.</span>
      </span>
   <span class="verse v2848">
      <span title="Discours direct">
         <span class="lem"></span>
         
         Nous amaſſons lautruy 
         <span class="lem">bien</span>
         
          et cheuance,</span>
      </span>
   <span class="verse v2849">
      <span title="Discours direct">Sans regarder que
         moꝛt ainſi ſe auance /.</span>
      </span>
   <span class="verse v2850"><span class="verse-number">2850</span>
      <span title="Discours direct">De noz treſoꝛs
         / tous les plus triumphans,</span>
      </span>
   <span class="verse v2851">
      <span title="Discours direct">Auons perduz./ Las, 
         <span class="lem">ce</span>
         
          ſont noz enfans,</span>
      </span>
   <span class="verse v2852">
      <span title="Discours direct">Que 
         <span class="lem">eſtre</span>
         
          eſperions dꝛoitz 
         <span class="lem">pilliers</span>
         
          de nobleſſe,</span>
      </span>
   
   
   <hr data-img-id="f147">
   
   <p title="Numéro de folio" class="text-end"><i>56r</i></p>
   <span class="d-block fw-bold mb-3">Chilperich
      conuerty a clemence par Fredegonde</span>
   <span class="verse v2853">
      <span title="Discours direct">Et ſeurs appuys de
         la noſtre 
         <span class="lem"></span>
         
         vieilleſſe.</span>
      </span>
   <span class="verse v2854">
      <span title="Discours direct">A ioinctes mains,
         pꝛoſternee 
         <span class="lem"></span>
         
         a genoulz,</span>
      </span>
   <span class="verse v2855"><span class="verse-number">2855</span>
      <span title="Discours direct">Ie vous ſupply, <span class="choice"><span title="Abbréviation pour Monsieur"><mark title="abbréviation">Monẜꝛ</mark></span></span>, 
         <span class="lem"></span>
         
         amandons nous,</span>
      </span>
   <span class="verse v2856">
      <span title="Discours direct">Amandons nous
         / et donnons repoſee</span>
      </span>
   <span class="verse v2857">
      <span title="Discours direct">A noz ſubiectz
         /
         
         <span class="lem">ſus</span>
         
          la taille impoſee.</span>
      </span>
   <span class="verse v2858">
      <span title="Discours direct">Ayons 
         <span class="lem"></span>
         
         pitie deulx et autres /
         Affin</span>
      </span>
   <span class="verse v2859">
      <span title="Discours direct">Que ayt dieu
         mercy de noz ames en 
         <span class="lem"></span>
         
         fin /.</span>
      </span>
   <span class="verse v2860"><span class="verse-number">2860</span><mark title="piedMouche">§</mark>Ceſte parolle et doulce
      remonſtrance</span>
   <span class="verse v2861">Saiſit le cuer Chilperich comme en trance</span>
   <span class="verse v2862">Et par ſemblant / donna pꝛeſumption</span>
   <span class="verse v2863">
      <span class="lem">Sus</span>
      
       lheure auoir gꝛande conpuntion,</span>
   <span class="verse v2864">Voyant ſa femme / en la face arrouzee</span>
   <span class="verse v2865"><span class="verse-number">2865</span>De larme clere / ainſi quon voit rouzee</span>
   <span class="verse v2866">Au moys de may 
      <span class="lem">ſus</span>
      
       herbes et rainſeaux</span>
   <span class="verse v2867">Faire bꝛanſler perlettes a monceaux /.</span>
   <span class="verse v2868">Larme tant 
      <span class="lem">ſiet</span>
      
      
      
      <span class="lem">ſus</span>
      
       vermeillette 
      <span class="lem"></span>
      
      face,</span>
   <span class="verse v2869">Que au coup donner / il neſt 
      <span class="lem">rien</span>
      
       quon ne face</span>
   <span class="verse v2870"><span class="verse-number">2870</span>Et de la vient / quant a gꝛace imploꝛer</span>
   <span class="verse v2871"><span class="lem">Que</span> hommes ſont
      pꝛis / voyans femmes ploꝛer.</span>
   <span class="verse v2872"><mark title="piedMouche">§</mark>Luy 
      <span class="lem">doncq</span>
      
       eſmeu /
      
      <span class="lem"></span>
      
      enuoya ſes miniſtres</span>
   <span class="verse v2873">
      <span class="lem">Querir</span>
      
       papiers / cartulaires / regiſtres /</span>
   <span class="verse v2874">
      <span class="lem">Rolles</span>
      
       / cenſiers / chartres / reſcriptions,</span>
   <span class="verse v2875"><span class="verse-number">2875</span>Tous mandementz / et impoſitions</span>
   <span class="verse v2876">Miſes par luy / touchant le faict des aydes,</span>
   <span class="verse v2877">Tributz / empꝛuns / et ſemblables ſubſides,</span>
   
   
   <hr data-img-id="f148">
   
   <p title="Numéro de folio" class="text-end"><i>56v</i></p>
   <span class="d-block fw-bold mb-3">Des clemences et benignitez de Chilperich.</span>
   <span class="verse v2878">Quil commanda caſſer / rompꝛe / adnuller</span>
   <span class="verse v2879">Et deuant luy ſoudainement 
      <span class="lem">bꝛuſler</span>
      
       /.</span>
   <span class="verse v2880"><span class="verse-number">2880</span>
      <span class="lem">Aux receueurs</span>
      
       enioignit 
      <span class="lem">toutes ceſtes</span>
      
      </span>
   <span class="verse v2881">Exactions / oſter de 
      <span class="lem">leurs</span>
      
       receptes,</span>
   <span class="verse v2882">Soy demonſtrant aux ſiens / et autres tous</span>
   <span class="verse v2883">Plus gꝛacieux / benign / courtois et doulx /</span>
   <span class="verse v2884">Il enrichit maintes belles egliſes</span>
   <span class="verse v2885"><span class="verse-number">2885</span>Tant de aoꝛnemens / que 
      <span class="lem">de</span>
      
       rentes acquiſes /.</span>
   <span class="verse v2886">Il demonſtra ſes 
      <span class="lem">liberalitez</span>
      
      </span>
   <span class="verse v2887">A ſouffreteux vieilz et 
      <span class="lem">debilitez</span>
      
       /.</span>
   <span class="verse v2888">Son filz Clouis / que auoit eu de la royne</span>
   <span class="verse v2889">Pꝛemiere eſpouſe / empꝛiſonne a <mark title="placeName" instant="false" full="yes">Bꝛeſne</mark></span>
   <span class="verse v2890"><span class="verse-number">2890</span>Et detenu a gꝛande pourete,</span>
   <span class="verse v2891">Fiſt deliurer et mectre en liberte.</span>
   <span class="verse v2892"><mark title="piedMouche">§</mark>Ainſi appert
      / eſtre 
      <span class="lem">moult</span>
      
       neceſſaire</span>
   <span class="verse v2893">A pluſieurs gentz / que foꝛtune aduerſaire,</span>
   <span class="verse v2894">Par laiguillon de pongnante rigueur,</span>
   <span class="verse v2895"><span class="verse-number">2895</span>Radꝛeſſe et tire (a 
      <span class="lem">bonnes</span>
      
       meurs)
      
      <span class="lem"><span class="choice"><span title="Abbréviation pour leur"><mark title="abbréviation">leꝛ</mark></span></span></span>
      
       cueur /.</span>
   <span class="verse v2896">Aduerſite donnant crainte ſeruile</span>
   <span class="verse v2897">Cauſe ſouuent faulte (delaiſſer)
      vile</span>
   <span class="verse v2898">Et quelque foys / de ceſte craincte aduient</span>
   <span class="verse v2899">Soudain / que amour filiale 
      <span class="lem"></span>
      
      ſuruient /</span>
   <span class="verse v2900"><span class="verse-number">2900</span>Mais Chilperich ayant
      ſeruile 
      <span class="lem">craincte</span>
      
      </span>
   <span class="verse v2901">Ne 
      <span class="lem">fiſt</span>
      
       ſinon penitence contraincte,</span>
   <span class="verse v2902">Par quoy amour de ſon cueur deſtourna</span>
   
   
   <hr data-img-id="f149">
   
   <p title="Numéro de folio" class="text-end"><i>57r</i></p>
   <span class="d-block fw-bold mb-3">Auſtrigilde femme du roy Gontran frappee de peſte.</span>
   <span class="verse v2903">Car en ſes maulx 
      <span class="lem">delaiſſez</span>
      
       retourna</span>
   <span class="verse v2904">Sans garder loy de foy ferme et entiere</span>
   <span class="verse v2905"><span class="verse-number">2905</span>Comme dirons en pourſuyuant matiere.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f143">
   <blockquote class="ms-2">
      
      <span class="verse v2758"><mark title="piedMouche">§</mark>Ainsi saisie et navree à oultrance,</span>
      <span class="verse v2759">Conficte en dueil, le cueur presque transy,</span>
      <span class="verse v2760"><span class="verse-number">2760</span>Ne peult durer <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> estre ainsi</span>
      <span class="verse v2761">Que au roy ne face aulcune remonstrance.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche"></mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xvi<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">Chapitre xvii me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xvii<sup>e</sup>.<span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xvii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappittre .xvii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v2762">Souventesfois voit on evidamment</span>
   <span class="verse v2763">Vexatïon donner entendement</span>
   <span class="verse v2764">À <span style="position: relative;">plusieurs<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">maintes<span class="coll-source"> [BnFfr4964, BnFfr4965, Cha515]</span> ; mainctes<span class="coll-source"> [Aix419, BnFfr23146]</span> ; maintez<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> gentz que fortune execute</span>
   <span class="verse v2765"><span class="verse-number">2765</span>Et de divers grandz assaultz <span style="position: relative;">persecute</span>.</span>
   <span class="verse v2766">Lesquelz <span style="position: relative;"><span class="lem">estantz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">estant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> en plaine auctorité</span>
   <span class="verse v2767">Comme aveugléz d’heur et prosperité,</span>
   <span class="verse v2768">Sans eviter vice d’ingratitude</span>
   <span class="verse v2769">Ne preignent soing, cure et solicitude</span>
   <span class="verse v2770"><span class="verse-number">2770</span>De mener vie à equitable droit,</span>
   <span class="verse v2771">Correspondante, ainsi qu’en cest endroit</span>
   <span class="verse v2772">On le peult <span style="position: relative;"><span class="lem">veoir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">veoit<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> en ces deux personnaiges</span>
   <span class="verse v2773">Qui sans <span style="position: relative;"><span class="lem">garder</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">garderder<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de <span style="position: relative;"><span class="lem">nulle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">aucune<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> personne aages,</span>
   <span class="verse v2774"><span style="position: relative;">Eulx</span> prosperans, firent maulx infiniz.</span>
   <span class="verse v2775"><span class="verse-number">2775</span>Tant que celluy qui tousjours rend pugniz</span>
   <span class="verse v2776">Gentz vicïeux, souilléz de <span style="position: relative;"><span class="lem">vie</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">vice<span class="coll-source"> [Aix419]</span></span></span></sup></span> immunde</span>
   <span class="verse v2777">Au cours present
      <span style="position: relative;"><span class="lem">ou</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">ont<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> bien en l’autre monde</span>
   
   
   <hr data-img-id="f144">
   
   <span class="curr-title fw-bold">Bonnes remonstrances par <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> à <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v2778">Leur envoyast dures <span style="position: relative;">adversitéz</span></span>
   <span class="verse v2779">Pour les <span style="position: relative;"><span class="lem">attraire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">actraires<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ains estre à vers citéz.</span>
   <span class="verse v2780"><span class="verse-number">2780</span>Et à raison de ce, leur faict congneussent</span>
   <span class="verse v2781">Si que du dard mortel le dur coup n’eussent.</span>
   <span class="verse v2782"><mark title="piedMouche">§</mark>Lors <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>,
      ainsi qu’est dit devant,</span>
   <span class="verse v2783">Vers <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      <span style="position: relative;"><span class="lem">mect</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">myct<span class="coll-source"> [Aix419, Cha515]</span></span><span class="collation-content">mist<span class="coll-source"> [BnFfr17274, BnFfr4964]</span></span><span class="collation-content">mic<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> propos en avant</span>
   <span class="verse v2784">Disant <span style="position: relative;"><span class="lem">ces motz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> :
      <span title="Discours direct">«&nbsp;<span class="choice"><span title="Abbrégé en Monẜꝛ"><mark title="abbréviation">Monsieur</mark></span></span>, voyez les sommes&nbsp;»</span></span>
   <span class="verse v2785"><span class="verse-number">2785</span>
      <span title="Discours direct">«&nbsp;De divers maulx dont ores chargéz sommes.&nbsp;»</span>
      </span>
   <span class="verse v2786">
      <span title="Discours direct">«&nbsp;Voyez les <span style="position: relative;"><span class="lem">maulx</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">griefz<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>, les tribulatïons,&nbsp;»</span>
      </span>
   <span class="verse v2787">
      <span title="Discours direct">«&nbsp;Les durs travaulx, les desolatïons&nbsp;»</span>
      </span>
   <span class="verse v2788">
      <span title="Discours direct">«&nbsp;Et <span style="position: relative;"><span class="lem">grandz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">gros<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ennuyz où fortune <span style="position: relative;"><span class="lem">fatigue</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">satinne<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>&nbsp;»</span>
      </span>
   <span class="verse v2789">
      <span title="Discours direct">«&nbsp;Noz tristes cueurs. Si ung temps fut prodigue&nbsp;»</span>
      </span>
   <span class="verse v2790"><span class="verse-number">2790</span>
      <span title="Discours direct">«&nbsp;À nous donner <span style="position: relative;">richesse</span> et grand honneur,&nbsp;»</span>
      </span>
   <span class="verse v2791">
      <span title="Discours direct">«&nbsp;Elle tollist ores
         nostre bonheur.&nbsp;»</span>
      </span>
   <span class="verse v2792">
      <span title="Discours direct">«&nbsp;Pensez comment en
         temps doulx et prospere,&nbsp;»</span>
      </span>
   <span class="verse v2793">
      <span title="Discours direct">«&nbsp;Trés mal avons <span style="position: relative;"><span class="lem">servy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25"><span class="collation-content">servir<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
         <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> nostre pere&nbsp;»</span>
      </span>
   <span class="verse v2794">
      <span title="Discours direct">«&nbsp;Et <mark class="persName">Createur<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>. Comblés,
         <span style="position: relative;">riches</span> et gras,&nbsp;»</span>
      </span>
   <span class="verse v2795"><span class="verse-number">2795</span>
      <span title="Discours direct">«&nbsp;Sommes trouvéz de
         ses biensfaitz ingratz.&nbsp;»</span>
      </span>
   <span class="verse v2796">
      <span title="Discours direct">«&nbsp;Tant que le vent
         nous <span style="position: relative;"><span class="lem">fut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">fait<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> bien agreable,&nbsp;»</span>
      </span>
   <span class="verse v2797">
      <span title="Discours direct">«&nbsp;Tousjours avons par
         excés <span style="position: relative;"><span class="lem">increable</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">increables<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>&nbsp;»</span>
      </span>
   <span class="verse v2798">
      <span title="Discours direct">«&nbsp;Les biens d’aultruy
         raviz et emportéz.&nbsp;»</span>
      </span>
   <span class="verse v2799">
      <span title="Discours direct">«&nbsp;Le vent d’orgueil <span style="position: relative;"><span class="lem">a</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> noz cueurs <span style="position: relative;">transportéz</span>&nbsp;»</span>
      </span>
   <span class="verse v2800"><span class="verse-number">2800</span>
      <span title="Discours direct">«&nbsp;Et enflamméz du
         tison d’avarice,&nbsp;»</span>
      </span>
   <span class="verse v2801">
      <span title="Discours direct">«&nbsp;Qui de tous maulx
         est la mere nourrice.&nbsp;»</span>
      </span>
   <span class="verse v2802">
      <span title="Discours direct">«&nbsp;<span style="position: relative;"><span class="lem">Au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content">Du<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> vil peché de luxure invitéz,&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f145">
   
   <span class="curr-title fw-bold">Admonition de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> à <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v2803">
      <span title="Discours direct">«&nbsp;N’avons fouy
         <span style="position: relative;"><span class="lem">molles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">folles<span class="coll-source"> [Cha515]</span></span></span></sup></span> lascivitéz.&nbsp;»</span>
      </span>
   <span class="verse v2804">
      <span title="Discours direct">«&nbsp;En la fureur ardante <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">de<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> feu de ire,&nbsp;»</span>
      </span>
   <span class="verse v2805"><span class="verse-number">2805</span>
      <span title="Discours direct">«&nbsp;Sommes espris si
         fort
         <span style="position: relative;">qu’on</span> sçauroit dire.&nbsp;»</span>
      </span>
   <span class="verse v2806">
      <span title="Discours direct">«&nbsp;Par glotonnie avons fait <span style="position: relative;"><span class="lem">lourdz excés</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">lous exés<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,&nbsp;»</span>
      </span>
   <span class="verse v2807">
      <span title="Discours direct">«&nbsp;Peché d’envie à vers
         nous trop d’accés&nbsp;»</span>
      </span>
   <span class="verse v2808">
      <span title="Discours direct">«&nbsp;Et tant nous
         tient le <span style="position: relative;"><span class="lem">vice</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">peché<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> de paresse,&nbsp;»</span>
      </span>
   <span class="verse v2809">
      <span title="Discours direct">«&nbsp;Que maintenant <span style="position: relative;"><span class="lem">sus nous fault que</span></span> apparesse&nbsp;»</span>
      </span>
   <span class="verse v2810"><span class="verse-number">2810</span>
      <span title="Discours direct">«&nbsp;L’ire de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>, provocquee ainsi fort&nbsp;»</span>
      </span>
   <span class="verse v2811">
      <span title="Discours direct">«&nbsp;Par le mesfait de si
         cruel effort&nbsp;»</span>
      </span>
   <span class="verse v2812">
      <span title="Discours direct">«&nbsp;Que avons commis,
         faisans laidures dures&nbsp;»</span>
      </span>
   <span class="verse v2813">
      <span title="Discours direct">«&nbsp;<span style="position: relative;"><span class="lem">Et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content">À<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> grandz travaulx à maintes creatures.&nbsp;»</span>
      </span>
   <span class="verse v2814">
      <span title="Discours direct">«&nbsp;Tant et si fort
         avons esté touchéz&nbsp;»</span>
      </span>
   <span class="verse v2815"><span class="verse-number">2815</span>
      <span title="Discours direct">«&nbsp;Par maladie, à fin de tous pechéz&nbsp;»</span>
      </span>
   <span class="verse v2816">
      <span title="Discours direct">«&nbsp;Nous <span style="position: relative;"><span class="lem">abstenir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">optenir<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> et avoir repentence,&nbsp;»</span>
      </span>
   <span class="verse v2817">
      <span title="Discours direct">«&nbsp;De ce que ostons&nbsp;à
         ceulx vie et substance&nbsp;»</span>
      </span>
   <span class="verse v2818">
      <span title="Discours direct">«&nbsp;Que nous devrions
         garder de maulx divers,&nbsp;»</span>
      </span>
   <span class="verse v2819">
      <span title="Discours direct">«&nbsp;Encontre tous. Et comme faulx pervers,&nbsp;»</span>
      </span>
   <span class="verse v2820"><span class="verse-number">2820</span>
      <span title="Discours direct">«&nbsp;Gentz obstinéz, sans nous vouloir distraire&nbsp;»</span>
      </span>
   <span class="verse v2821">
      <span title="Discours direct">«&nbsp;De <span style="position: relative;"><span class="lem">telz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">tous<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> excés, faisons tout le contraire,&nbsp;»</span>
      </span>
   <span class="verse v2822">
      <span title="Discours direct">«&nbsp;Continuans <span style="position: relative;">sus</span> eulx transactïons&nbsp;»</span>
      </span>
   <span class="verse v2823">
      <span title="Discours direct">«&nbsp;De griefz
         impostz et faix d’exactïons&nbsp;»</span>
      </span>
   <span class="verse v2824">
      <span title="Discours direct">«&nbsp;Par <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">ses<span class="coll-source"> [Aix419]</span></span></span></sup></span> forfaitz de foles entreprises,&nbsp;»</span>
      </span>
   <span class="verse v2825"><span class="verse-number">2825</span>
      <span title="Discours direct">«&nbsp;Oppressïons, subventïons mal prises,&nbsp;»</span>
      </span>
   <span class="verse v2826">
      <span title="Discours direct">«&nbsp;Crimes, delitz,
         faulses desloyaultéz,&nbsp;»</span>
      </span>
   <span class="verse v2827">
      <span title="Discours direct">«&nbsp;Peines, tourmentz et grandes cruaultéz.&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f146">
   
   <span class="curr-title fw-bold">Remonstrances de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> à <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v2828">
      <span title="Discours direct">«&nbsp;<span style="position: relative;">Sus</span>
         orphenins et povres femmes veufves&nbsp;»</span>
      </span>
   <span class="verse v2829">
      <span title="Discours direct">«&nbsp;<span style="position: relative;"><span class="lem">Faisons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content">Faisantz<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">Faisant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> causer sourses <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">des<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> larmes neufves,&nbsp;»</span>
      </span>
   <span class="verse v2830"><span class="verse-number">2830</span>
      <span title="Discours direct">«&nbsp;Dont les souspirs, regretz, cris et clameurs&nbsp;»</span>
      </span>
   <span class="verse v2831">
      <span title="Discours direct">«&nbsp;Jusques au ciel font
         contre nous rumeurs,&nbsp;»</span>
      </span>
   <span class="verse v2832">
      <span title="Discours direct">«&nbsp;Crians vengence à
         <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> de telz oultraiges.&nbsp;»</span>
      </span>
   <span class="verse v2833">
      <span title="Discours direct">«&nbsp;Helas, <span class="choice"><span title="Abbrégé en Monẜꝛ"><mark title="abbréviation">Monsieur</mark></span></span>, retraignons noz couraiges&nbsp;»</span>
      </span>
   <span class="verse v2834">
      <span title="Discours direct">«&nbsp;De travailler si
         fort les povres gentz&nbsp;»</span>
      </span>
   <span class="verse v2835"><span class="verse-number">2835</span>
      <span title="Discours direct">«&nbsp;Si oultraigéz et par nous indigentz.&nbsp;»</span>
      </span>
   <span class="verse v2836">
      <span title="Discours direct">«&nbsp;Tant les avons
         chargéz de grosses tailles&nbsp;»</span>
      </span>
   <span class="verse v2837">
      <span title="Discours direct">«&nbsp;Qu’ilz sont <span style="position: relative;">contrainctz</span> gesir <span style="position: relative;">tous</span>
         <span style="position: relative;"><span class="lem"><span style="position: relative;">sus</span> les pailles</span></span> !&nbsp;»</span>
      </span>
   <span class="verse v2838">
      <span title="Discours direct">«&nbsp;Tant les avons <span style="position: relative;">vexéz</span> de grandz impostz&nbsp;»</span>
      </span>
   <span class="verse v2839">
      <span title="Discours direct">«&nbsp;<span style="position: relative;"><span class="lem">Qu’ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59"><span class="collation-content">Qu’il<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> n’ont plus lictz,
         <span style="position: relative;"><span class="lem">couches</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61"><span class="collation-content">oncle<span>s</span><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>, plateaux ny potz !&nbsp;»</span>
      </span>
   <span class="verse v2840"><span class="verse-number">2840</span>
      <span title="Discours direct">«&nbsp;Par nous ainsi
         fortune les demaine.&nbsp;»</span>
      </span>
   <span class="verse v2841">
      <span title="Discours direct">«&nbsp;Souffiroit pas assez <span style="position: relative;"><span class="lem">nostre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">le seul<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> dommaine&nbsp;»</span>
      </span>
   <span class="verse v2842">
      <span title="Discours direct">«&nbsp;Pour nostre estat sans tant lever
         deniers&nbsp;?&nbsp;»</span>
      </span>
   
   <span class="verse v2843">
      <span title="Discours direct">«&nbsp;Vins en celiers, bledz <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown64" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown64"><span class="collation-content"><s>en</s> à<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content"><span>à</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> combles greniers,&nbsp;»</span>
      </span>
   <span class="verse v2844">
      <span title="Discours direct">«&nbsp;Coffres <span style="position: relative;"><span class="lem">pleins</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66"><span class="collation-content">plein<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> d’or, de <span style="position: relative;"><span class="lem">vaisselles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content">veisselle<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> et bagues,&nbsp;»</span>
      </span>
   <span class="verse v2845"><span class="verse-number">2845</span>
      <span title="Discours direct">«&nbsp;Que vault cela quant ores sommes vagues&nbsp;»</span>
      </span>
   <span class="verse v2846">
      <span title="Discours direct">«&nbsp;De tout plaisir, sans sçavoir les raisons&nbsp;»</span>
      </span>
   <span class="verse v2847">
      <span title="Discours direct">«&nbsp;Bien assigner pour qui thesaurisons ?&nbsp;»</span>
      </span>
   <span class="verse v2848">
      <span title="Discours direct">«&nbsp;Nous amassons l’autruy <span style="position: relative;"><span class="lem">bien</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown70" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown70"><span class="collation-content">biens<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> et chevance,&nbsp;»</span>
      </span>
   <span class="verse v2849">
      <span title="Discours direct">«&nbsp;Sans regarder que
         mort ainsi se avance.&nbsp;»</span>
      </span>
   <span class="verse v2850"><span class="verse-number">2850</span>
      <span title="Discours direct">«&nbsp;De noz tresors tous les plus triumphans,&nbsp;»</span>
      </span>
   <span class="verse v2851">
      <span title="Discours direct">«&nbsp;Avons perduz. Las, <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sont noz enfans,&nbsp;»</span>
      </span>
   <span class="verse v2852">
      <span title="Discours direct">«&nbsp;Que <span style="position: relative;">estre</span> esperions droitz <span style="position: relative;"><span class="lem">pilliers</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73"><span class="collation-content">pillés<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de noblesse,&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f147">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      converty à clemence par <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v2853">
      <span title="Discours direct">«&nbsp;Et seurs appuys de
         la nostre vieillesse.&nbsp;»</span>
      </span>
   <span class="verse v2854">
      <span title="Discours direct">«&nbsp;À joinctes mains,
         prosternee à genoulz,&nbsp;»</span>
      </span>
   <span class="verse v2855"><span class="verse-number">2855</span>
      <span title="Discours direct">«&nbsp;Je vous supply, <span class="choice"><span title="Abbrégé en Monẜꝛ"><mark title="abbréviation">Monsieur</mark></span></span>, amandons nous,&nbsp;»</span>
      </span>
   <span class="verse v2856">
      <span title="Discours direct">«&nbsp;Amandons nous et donnons reposee&nbsp;»</span>
      </span>
   <span class="verse v2857">
      <span title="Discours direct">«&nbsp;À noz subjectz
         <span style="position: relative;">sus</span> la taille imposee.&nbsp;»</span>
      </span>
   <span class="verse v2858">
      <span title="Discours direct">«&nbsp;Ayons pitié d’eulx et autres
         affin&nbsp;»</span>
      </span>
   <span class="verse v2859">
      <span title="Discours direct">«&nbsp;Que ayt <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>
         mercy de noz ames en fin.&nbsp;»</span>
      </span>
   <span class="verse v2860"><span class="verse-number">2860</span><mark title="piedMouche">§</mark>Ceste parolle et doulce
      remonstrance</span>
   <span class="verse v2861">Saisit le cuer <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> comme en trance</span>
   <span class="verse v2862">Et par semblant donna presumptïon</span>
   <span class="verse v2863"><span style="position: relative;">Sus</span> l’heure avoir grande conpuntïon,</span>
   <span class="verse v2864">Voyant sa femme en la face arrouzee</span>
   <span class="verse v2865"><span class="verse-number">2865</span>De larme clere, ainsi qu’on voit rouzee</span>
   <span class="verse v2866">Au moys de may <span style="position: relative;">sus</span> herbes et rainseaux</span>
   <span class="verse v2867">Faire bransler perlettes à monceaux.</span>
   <span class="verse v2868">Larme tant <span style="position: relative;"><span class="lem">siet</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown82" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown82"><span class="collation-content">si et<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span style="position: relative;">sus</span> vermeillette face,</span>
   <span class="verse v2869">Que au coup donner il n’est <span style="position: relative;"><span class="lem">rien</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown85" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown85"><span class="collation-content">riens<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146]</span></span></span></sup></span> qu’on ne face</span>
   <span class="verse v2870"><span class="verse-number">2870</span>Et de là vient quant à grace implorer</span>
   <span class="verse v2871"><span style="position: relative;"><span class="lem">Que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown86" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown86"><span class="collation-content"><i>om.</i><span class="coll-source"> [Cha515]</span></span></span></sup></span> hommes sont
      pris voyans femmes plorer.</span>
   <span class="verse v2872"><mark title="piedMouche">§</mark>Luy <span style="position: relative;"><span class="lem">doncq</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown87" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown87"><span class="collation-content">doncques<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> esmeu
      envoya ses ministres</span>
   <span class="verse v2873"><span style="position: relative;">Querir</span> papiers, cartulaires, registres,</span>
   <span class="verse v2874"><span style="position: relative;"><span class="lem">Rolles</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown90" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown90"><span class="collation-content">Rolle<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>, censiers, chartres, rescriptïons,</span>
   <span class="verse v2875"><span class="verse-number">2875</span>Tous mandementz et impositïons</span>
   <span class="verse v2876">Mises par luy touchant le faict des aydes,</span>
   <span class="verse v2877">Tributz, empruns et semblables subsides,</span>
   
   
   <hr data-img-id="f148">
   
   <span class="curr-title fw-bold">Des clemences et benignitéz de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v2878">Qu’il commanda casser, rompre, adnuller</span>
   <span class="verse v2879">Et devant luy soudainement <span style="position: relative;"><span class="lem">brusler</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown91" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown91"><span class="collation-content">bruslé<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v2880"><span class="verse-number">2880</span><span style="position: relative;">Aux receveurs</span> enjoignit <span style="position: relative;"><span class="lem">toutes cestes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown93" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown93"><span class="collation-content">toute ceste<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v2881">Exactïons oster de <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown94" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown94"><span class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> receptes,</span>
   <span class="verse v2882">Soy demonstrant aux siens et autres tous</span>
   <span class="verse v2883">Plus gracïeux, benign, courtois et doulx.</span>
   <span class="verse v2884">Il enrichit maintes belles eglises</span>
   <span class="verse v2885"><span class="verse-number">2885</span>Tant de aornemens que <span style="position: relative;">de</span> rentes acquises.</span>
   <span class="verse v2886">Il demonstra ses <span style="position: relative;">liberalitéz</span></span>
   <span class="verse v2887">À souffreteux vieilz et <span style="position: relative;">debilitéz</span>.</span>
   <span class="verse v2888">Son filz <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark> que avoit eu de la royne</span>
   <span class="verse v2889">Premiere espouse, emprisonné à <mark title="placeName" instant="false" full="yes">Bresne</mark></span>
   <span class="verse v2890"><span class="verse-number">2890</span>Et detenu à grande povreté,</span>
   <span class="verse v2891">Fist delivrer et mectre en liberté.</span>
   <span class="verse v2892"><mark title="piedMouche">§</mark>Ainsi appert estre <span style="position: relative;">moult</span> necessaire</span>
   <span class="verse v2893">À plusieurs gentz que fortune adversaire,</span>
   <span class="verse v2894">Par l’aiguillon de pongnante rigueur,</span>
   <span class="verse v2895"><span class="verse-number">2895</span>Radresse et tireà <span style="position: relative;"><span class="lem">bonnes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown99" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown99"><span class="collation-content"><span class="choice">bonne</span><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> meurs
      <span style="position: relative;"><span class="lem"><span class="choice"><span title="Abbrégé en leꝛ"><mark title="abbréviation">leur</mark></span></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown100" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown100"><span class="collation-content">le<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> cueur.</span>
   <span class="verse v2896">Adversité donnant crainte servile</span>
   <span class="verse v2897">Cause souvent faultedelaisser
      vile</span>
   <span class="verse v2898">Et quelque foys de ceste craincte advient</span>
   <span class="verse v2899">Soudain que amour filïale <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown101" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown101"><span class="collation-content"><s>ad</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>survient.</span>
   <span class="verse v2900"><span class="verse-number">2900</span>Mais <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> ayant
      servile <span style="position: relative;">craincte</span></span>
   <span class="verse v2901">Ne <span style="position: relative;"><span class="lem">fist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown103" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown103"><span class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sinon penitence contraincte,</span>
   <span class="verse v2902">Par quoy amour de son cueur destourna</span>
   
   
   <hr data-img-id="f149">
   
   <span class="curr-title fw-bold"><mark class="persName">Austrigilde<span class="persName-info fw-normal on-left"><b>Austregilde</b> (VIe siècle — ?)<span class="hr-100">&nbsp;</span>Reine des Francs de Bourgogne (565-580)<br/><span class="hr-short">&nbsp;</span>Femme de Gontran, roi des Francs</span></mark> femme du roy <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> frappee de peste</span>
   <span class="verse v2903">Car en ses maulx <span style="position: relative;"><span class="lem">delaisséz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown104" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown104"><span class="collation-content">delaissé<span class="coll-source"> [Aix419]</span></span></span></sup></span> retourna</span>
   <span class="verse v2904">Sans garder loy de foy ferme et entiere</span>
   <span class="verse v2905"><span class="verse-number">2905</span>Comme dirons en poursuyvant matiere.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xvii me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xvii<sup>e</sup>.</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xvii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xvii<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2764);">v. 2764</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Cha515 </span>maintes</span> ; <span><span class="coll-source">Aix419, BnFfr23146 </span>mainctes</span> ; <span><span class="coll-source">BnFfr17274 </span>maintez</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2766);">v. 2766</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>estant</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2772);">v. 2772</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>veoit</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2773);">v. 2773</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>garderder</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2773);">v. 2773</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>aucune</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2776);">v. 2776</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>vice</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2777);">v. 2777</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ont</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2779);">v. 2779</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>actraires</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2783);">v. 2783</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span>myct</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr4964 </span>mist</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>mic</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2784);">v. 2784</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2786);">v. 2786</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>griefz</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2788);">v. 2788</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gros</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2788);">v. 2788</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>satinne</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2793);">v. 2793</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>servir</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2796);">v. 2796</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fait</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2797);">v. 2797</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>increables</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2799);">v. 2799</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2802);">v. 2802</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>Du</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2803);">v. 2803</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>folles</span></div>
   </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2804);">v. 2804</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2806);">v. 2806</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>lous exés</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2808);">v. 2808</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>peché</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2813);">v. 2813</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>À</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2816);">v. 2816</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>optenir</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2821);">v. 2821</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>tous</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2824);">v. 2824</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2829);">v. 2829</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Faisantz</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Faisant</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2829);">v. 2829</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>des</span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2839);">v. 2839</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Qu’il</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2839);">v. 2839</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>oncle<span>s</span></span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2841);">v. 2841</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>le seul</span></div>
      </div>
   <div class="collation row" id="coll64">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2843);">v. 2843</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>en</s> à</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span>à</span></span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2844);">v. 2844</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>plein</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2844);">v. 2844</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>veisselle</span></div>
      </div>
   <div class="collation row" id="coll70">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2848);">v. 2848</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>biens</span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2851);">v. 2851</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2852);">v. 2852</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>pillés</span></div>
      </div>
   <div class="collation row" id="coll82">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2868);">v. 2868</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>si et</span></div>
      </div>
   <div class="collation row" id="coll85">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2869);">v. 2869</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146 </span>riens</span></div>
      </div>
   <div class="collation row" id="coll86">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2871);">v. 2871</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span><i>om.</i></span></div>
   </div>
   <div class="collation row" id="coll87">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2872);">v. 2872</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>doncques</span></div>
      </div>
   <div class="collation row" id="coll90">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2874);">v. 2874</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Rolle</span></div>
      </div>
   <div class="collation row" id="coll91">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2879);">v. 2879</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>bruslé</span></div>
      </div>
   <div class="collation row" id="coll93">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2880);">v. 2880</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>toute ceste</span></div>
      </div>
   <div class="collation row" id="coll94">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2881);">v. 2881</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll99">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2895);">v. 2895</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">bonne</span></span></div>
      </div>
   <div class="collation row" id="coll100">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2895);">v. 2895</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>le</span></div>
      </div>
   <div class="collation row" id="coll101">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2899);">v. 2899</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>ad</s>
            </span></div>
      </div>
   <div class="collation row" id="coll103">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2901);">v. 2901</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
   <div class="collation row" id="coll104">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2903);">v. 2903</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>delaissé</span></div>
      </div>
</div>
{% endmacro %}
