
{% macro chapterTitle() %}Chapitre 18{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('18_chap_17')"><i class="fa-solid fa-arrow-left"></i> Chapitre 17</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('20_chap_19')">Chapitre 19 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f151/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f151/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f151" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f152/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f152/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f152" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f153/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f153/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f153" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f154/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f154/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f154" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f151">
   <p title="Numéro de folio" class="text-end"><i>58r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v2964"><mark title="piedMouche">§</mark>Le cas
         pourſuyt. que Maurice empereur</span>
      <span class="verse v2965"><span class="verse-number">2965</span>A Chilperich grand
         ſomme dor enuoye</span>
      <span class="verse v2966">Pour le ſien oſt /
         
         <span class="lem">ſus</span>
         
         
         
         <mark title="orgName" instant="false" full="yes">Lombardz</mark> mectre 
         <span class="lem">en voye</span>
         
         ,</span>
      <span class="verse v2967">Terre occuppans en armes de fureur.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xuiii<sup>e.</sup></span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v2968">GUerre qui fait vuyder coffres et bourſes,</span>
   <span class="verse v2969">Qui mect en train 
      <span class="lem"></span>
      
      malheuretez rebourſes,</span>
   <span class="verse v2970"><span class="verse-number">2970</span>Qui 
      <span class="lem">lourdz</span>
      
       exces tourne de mal en pis,</span>
   <span class="verse v2971">Qui fiers courroux aſſemble 
      <span class="lem">ſus</span>
      
       deſpitz</span>
   <span class="verse v2972">Et dueil ( aux cueurs 
      <span class="lem">contriſtez) toſt</span>
      
       alie</span>
   <span class="verse v2973">Fiſt en ce temps, es marches
      d<mark title="placeName" instant="false" full="yes">Italie</mark>,</span>
   
   
   <hr data-img-id="f152">
   
   <p title="Numéro de folio" class="text-end"><i>58v</i></p>
   <span class="d-block fw-bold mb-3">Lempereur enuoye a Chilperich force argent pour guerroyer les <mark title="orgName" instant="false" full="yes"><span class="choice"><span title="Abbréviation pour Lombardz"><mark title="abbréviation">Lōbardz</mark></span></span></mark>.</span>
   <span class="verse v2974">Maulx 
      <span class="lem">pulluler</span>
      
       / et croiſtre en maintes partz</span>
   <span class="verse v2975"><span class="verse-number">2975</span>Par le 
      <span class="lem">deſroy</span>
      
       des gens darmes <mark title="orgName" instant="false" full="yes">lombardz</mark></span>
   <span class="verse v2976">Foꝛt oultraigeux /. Loꝛs lempereur Maurice,</span>
   <span class="verse v2977">Bien aduerty de la foꝛte 
      <span class="lem">auarice</span>
      
      </span>
   <span class="verse v2978">Dont Chilperich auoit le
      cueur feru,</span>
   <span class="verse v2979">Luy enuoya / pour eſtre ſecouru</span>
   <span class="verse v2980"><span class="verse-number">2980</span>Ambaſſadeurs / auecq 
      <span class="lem">gꝛande cheuance</span>
      
      ,</span>
   <span class="verse v2981">
      <span class="lem">Luy</span>
      
       depꝛiant / que ſon armee auance</span>
   <span class="verse v2982">En ſa faueur /. et <mark title="orgName" instant="false" full="yes">Lombardz</mark> oꝛgueilleux</span>
   <span class="verse v2983">Debelle et chace hoꝛs 
      <span class="lem">les</span>
      
       places et lieux</span>
   <span class="verse v2984">Dont 
      <span class="lem">par</span>
      
       puiſſance et a pointe deſpee</span>
   <span class="verse v2985"><span class="verse-number">2985</span>Ont contre luy 
      <span class="lem">mainte place</span>
      
       vſurpee.</span>
   <span class="verse v2986"><mark title="piedMouche">§</mark>Receue a gꝛe ceſte
      legation</span>
   <span class="verse v2987">Du differant et altercation,</span>
   <span class="verse v2988">Na 
      <span class="lem"></span>
      
       fait queſtion 
      <span class="lem"></span>
      
      aulcune,</span>
   <span class="verse v2989">Mais bien 
      <span class="lem">pꝛomect</span>
      
       / en receuant pecune</span>
   <span class="verse v2990"><span class="verse-number">2990</span>Que lempereur de bon cueur ſeruira.</span>
   <span class="verse v2991">Reſte ſcauoir comme il ſen cheuira /</span>
   <span class="verse v2992"><mark title="piedMouche">§</mark>Larriere ban publie / ſe appareille</span>
   <span class="verse v2993">Armee / ou 
      <span class="lem">neut</span>
      
       / foꝛce / pieca pareille,</span>
   <span class="verse v2994">Et ſembloit bien quon deuſt au batailler</span>
   <span class="verse v2995"><span class="verse-number">2995</span>Tous ces <mark title="orgName" instant="false" full="yes">Lombardz</mark> / tant hault
      que bas tailler /.</span>
   <span class="verse v2996">Comme la chair en une boucherie.</span>
   <span class="verse v2997">Mais 
      <span class="lem">ce</span>
      
       ne fut en fin que faſcherie</span>
   <span class="verse v2998">Car toſt apꝛes auoir 
      <span class="lem">paſſe</span>
      
      
       les montz,</span>
   
   
   <hr data-img-id="f153">
   
   <p title="Numéro de folio" class="text-end"><i>59r</i></p>
   <span class="d-block fw-bold mb-3">Chilperich en
      <mark title="placeName" instant="false" full="yes">Italie</mark> contre les <mark title="orgName" instant="false" full="yes">Lombardz</mark>
      pour lempereur.</span>
   <span class="verse v2999">Comme 
      <span class="lem">cheuaulx</span>
      
       reſtiuent aux lymons,</span>
   <span class="verse v3000"><span class="verse-number">3000</span><mark title="orgName" instant="false" full="yes">Lombardz</mark> ſaichans 
      <span class="lem"></span>
      
      <mark title="orgName" instant="false" full="yes">Francois</mark>
      
      <span class="lem"></span>
      
      tenir 
      <span class="lem">ceſte</span>
      
       oꝛdꝛe,</span>
   <span class="verse v3001">Doubterent foꝛt / de beaucoup 
      <span class="lem"></span>
      
      <span class="lem">trop</span> ſe toꝛdꝛe</span>
   <span class="verse v3002">Combatre a eulx /. Par quoy ſans 
      <span class="lem">nulz</span>
      
       effoꝛs,</span>
   <span class="verse v3003">Se mirent tous en leurs places et foꝛtz,</span>
   <span class="verse v3004">Tenans le train de guerre guerroyable.</span>
   <span class="verse v3005"><span class="verse-number">3005</span>Ce que ne fut aux <mark title="orgName" instant="false" full="yes">francois</mark> agꝛeable,</span>
   <span class="verse v3006">Car gentz de 
      <span class="lem">guerre eſtans</span>
      
      
      
      <span class="lem">ſus</span>
      
      
      <span class="choice"><span title="Abbréviation pour leurs"><mark title="abbréviation">leꝛs</mark></span></span> fumiers,</span>
   <span class="verse v3007">Qui du / meſtier ſont foꝛt bons couſtumiers,</span>
   <span class="verse v3008">Ruzes et tours 
      <span class="lem">dembuſches</span>
      
       ſcauent faire</span>
   <span class="verse v3009">Pour eſtrangiers enuahir et deffaire.</span>
   <span class="verse v3010"><span class="verse-number">3010</span>Et meſmement / quant ſcauent les deſtours</span>
   <span class="verse v3011">Deulx retirer 
      <span class="lem">en</span>
      
       foꝛtreſſes et tours.</span>
   <span class="verse v3012"><mark title="piedMouche">§</mark><mark title="orgName" instant="false" full="yes">Francois</mark> font raige 
      <span class="lem">a</span>
      
       la pꝛemiere poincte,</span>
   <span class="verse v3013">Mais ſi le choc de plain 
      <span class="lem">vol</span>
      
       ne ſe appoincte</span>
   <span class="verse v3014">Et au donner ample deuoir ne font,</span>
   <span class="verse v3015"><span class="verse-number">3015</span>Ny cherchez cueur qui vaille
      /. on ſe y moꝛfond /.</span>
   <span class="verse v3016">Qui bien ne charge et donne 
      <span class="lem">dune</span>
      
       traicte,</span>
   <span class="verse v3017">Ceſt temps perdu /.
      Il fault ſonner rectraicte.</span>
   <span class="verse v3018"><mark title="piedMouche">§</mark>Les chefz et ducz des
      <mark title="orgName" instant="false" full="yes">Lombardz</mark> /
      
      <span class="lem">pꝛeuoyans</span>
      
      </span>
   <span class="verse v3019">
      <span class="lem">Leur</span>
      
       cas de loing / et de bien pꝛes voyans</span>
   <span class="verse v3020"><span class="verse-number">3020</span>Que Chilperich ne
      queroit foꝛs 
      <span class="lem">ſembatre</span>
      
      </span>
   <span class="verse v3021">A les tirer en plains champs pour combatre,</span>
   <span class="verse v3022">Non aſſeurez de foꝛtune / et ſes ſoꝛtz,</span>
   <span class="verse v3023">Pꝛindꝛent aduis luy deſployer treſoꝛs</span>
   
   
   <hr data-img-id="f154">
   
   <p title="Numéro de folio" class="text-end"><i>59v</i></p>
   <span class="d-block fw-bold mb-3">Chilperich
      corrumpu des <mark title="orgName" instant="false" full="yes">Lombardz</mark> par argent.</span>
   <span class="verse v3024">Et de ducatz 
      <span class="lem">gꝛandz ſommes</span>
      
       firent offres,</span>
   <span class="verse v3025"><span class="verse-number">3025</span>Que a gꝛe receut / et fiſt mectre en ſes coffres /.</span>
   <span class="verse v3026">Par tel moyen tantoſt ſe conuertit</span>
   <span class="verse v3027">Que ſon armee hoꝛs 
      <span class="lem">ces lieux</span>
      
       diuertit /.</span>
   <span class="verse v3028"><mark title="piedMouche">§</mark>Loꝛs lempereur aduerty
      de la choſe,</span>
   <span class="verse v3029">Seſmerueillant 
      <span class="lem">comme</span>
      
       ſon cueur laſche oſe</span>
   <span class="verse v3030"><span class="verse-number">3030</span>Diceulx <mark title="orgName" instant="false" full="yes">Lombardz</mark> tel argent recepuoir,</span>
   <span class="verse v3031">Pour le vouloir faulſement deceuoir,</span>
   <span class="verse v3032">Le fiſt ſommer rendꝛe la ſomme pꝛiſe</span>
   <span class="verse v3033">Ou mectre 
      <span class="lem">a</span>
      
       fin lœuure de ſon 
      <span class="lem"></span>
      
      empꝛiſe.</span>
   <span class="verse v3034">Ceſt / quil chaſſaſt iceulx 
      <span class="lem">ſes</span>
      
       ennemys</span>
   <span class="verse v3035"><span class="verse-number">3035</span>Hoꝛs d<mark title="placeName" instant="false" full="yes">Italie</mark> /
      Ainſi que auoit pꝛomys /.</span>
   <span class="verse v3036">Touchant cela /
      
      <span class="lem">ſe</span>
      
       trouua 
      <span class="lem"></span>
      
      lourd meſconte,</span>
   <span class="verse v3037">Car 
      <span class="lem"></span>
      
      de reſpondꝛe il ne fiſt pas gꝛand conte.</span>
   <span class="verse v3038">A toutes gentz ainſi en faiſoit il,</span>
   <span class="verse v3039">Leſpꝛit auoit malicieux, ſubtil</span>
   <span class="verse v3040"><span class="verse-number">3040</span>Et cauteleux, pꝛompt et legier a pꝛendꝛe,</span>
   <span class="verse v3041">Mais 
      <span class="lem"></span>
      
      moult tardif / laſche et peſant a rendꝛe.</span>
   <span class="verse v3042">Si eut depuys matiere de ſoucy</span>
   <span class="verse v3043">(Comme 
      <span class="lem">dirons</span>
      
      ) pour bien eſtre adoulcy.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f151">
   <blockquote class="ms-2">
      
      <span class="verse v2964"><mark title="piedMouche">§</mark>Le cas
         poursuyt que <mark class="persName">Maurice<span class="persName-info fw-normal on-right"><b>Maurice</b> (539 — 30/11/602)<span class="hr-short">&nbsp;</span>Empereur romain d'Orient de 582 à 602</span></mark> empereur</span>
      <span class="verse v2965"><span class="verse-number">2965</span>À <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> grand
         somme d’or envoye</span>
      <span class="verse v2966">Pour le sien ost
         <span style="position: relative;"><span class="lem">sus</span></span>
         <mark title="orgName" instant="false" full="yes">Lombardz</mark> mectre <span style="position: relative;"><span class="lem">en voye</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">envoie<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
      <span class="verse v2967">Terre occuppans en armes de fureur.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xviii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">Chapitre xix me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xviiii<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xie<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappittre .xix<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v2968">Guerre qui fait vuyder coffres et bourses,</span>
   <span class="verse v2969">Qui mect en train malheuretéz rebourses,</span>
   <span class="verse v2970"><span class="verse-number">2970</span>Qui <span style="position: relative;"><span class="lem">lourdz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">lourd<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> excés tourne de mal en pis,</span>
   <span class="verse v2971">Qui fiers courroux assemble <span style="position: relative;">sus</span> despitz</span>
   <span class="verse v2972">Et dueil aux cueurs <span style="position: relative;"><span class="lem">contristéz tost</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content">contristé le<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> alie</span>
   <span class="verse v2973">Fist en ce temps, es marches
      d’<mark title="placeName" instant="false" full="yes">Italie</mark>,</span>
   
   
   <hr data-img-id="f152">
   
   <span class="curr-title fw-bold">L’empereur envoye à <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> force argent pour guerroyer les <mark title="orgName" instant="false" full="yes"><span class="choice"><span title="Abbrégé en Lōbardz"><mark title="abbréviation">Lombardz</mark></span></span></mark></span>
   <span class="verse v2974">Maulx <span style="position: relative;"><span class="lem">pulluler</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">publïer<span class="coll-source"> [Aix419, BnFfr23146]</span></span></span></sup></span> et croistre en maintes partz</span>
   <span class="verse v2975"><span class="verse-number">2975</span>Par le <span style="position: relative;"><span class="lem">desroy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">desir<span class="coll-source"> [BnFfr4964, Cha515]</span></span></span></sup></span> des gens d’armes <mark title="orgName" instant="false" full="yes">lombardz</mark></span>
   <span class="verse v2976">Fort oultraigeux. Lors l’empereur <mark class="persName">Maurice<span class="persName-info fw-normal on-right"><b>Maurice</b> (539 — 30/11/602)<span class="hr-short">&nbsp;</span>Empereur romain d'Orient de 582 à 602</span></mark>,</span>
   <span class="verse v2977">Bien adverty de la forte <span style="position: relative;">avarice</span></span>
   <span class="verse v2978">Dont <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> avoit le
      cueur feru,</span>
   <span class="verse v2979">Luy envoya pour estre secouru</span>
   <span class="verse v2980"><span class="verse-number">2980</span>Ambassadeurs avecq <span style="position: relative;"><span class="lem">grande chevance</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">grandes <span class="choice">chevances</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v2981"><span style="position: relative;"><span class="lem">Luy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">Le<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4964, BnFfr4965]</span></span></span></sup></span> depriant que son armee avance</span>
   <span class="verse v2982">En sa faveur, et <mark title="orgName" instant="false" full="yes">Lombardz</mark> orgueilleux</span>
   <span class="verse v2983">Debelle et chace hors <span style="position: relative;"><span class="lem">les</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">le<span class="coll-source"> [Aix419]</span></span></span></sup></span> places et lieux</span>
   <span class="verse v2984">Dont <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">à<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> puissance et à pointe d’espee</span>
   <span class="verse v2985"><span class="verse-number">2985</span>Ont contre luy <span style="position: relative;"><span class="lem">mainte place</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">maintes places<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> usurpee.</span>
   <span class="verse v2986"><mark title="piedMouche">§</mark>Receue à gré ceste
      legatïon</span>
   <span class="verse v2987">Du differant et altercatïon,</span>
   <span class="verse v2988">N’a <mark class="persName"><span style="position: relative;"><span class="lem"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">Chilperich<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4965, BnFfr4964]</span></span></span></sup></span><sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup><span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> fait questïon aulcune,</span>
   <span class="verse v2989">Mais bien <span style="position: relative;"><span class="lem">promect</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">permect<span class="coll-source"> [Aix419]</span></span></span></sup></span> en recevant pecune</span>
   <span class="verse v2990"><span class="verse-number">2990</span>Que l’empereur de bon cueur servira.</span>
   <span class="verse v2991">Reste sçavoir comme il s’en chevira.</span>
   <span class="verse v2992"><mark title="piedMouche">§</mark>L’arriere ban publié, se appareille</span>
   <span class="verse v2993">Armee où <span style="position: relative;"><span class="lem">n’eut</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">eut<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> force pieça pareille,</span>
   <span class="verse v2994">Et sembloit bien qu’on deust au batailler</span>
   <span class="verse v2995"><span class="verse-number">2995</span>Tous ces <mark title="orgName" instant="false" full="yes">Lombardz</mark> tant hault
      que bas tailler</span>
   <span class="verse v2996">Comme la chair en une boucherie.</span>
   <span class="verse v2997">Mais <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ne fut en fin que fascherie</span>
   <span class="verse v2998">Car tost aprés avoir <span style="position: relative;"><span class="lem">passé</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">passéz<span class="coll-source"> [Aix419, BnFfr17274, Cha515]</span></span><span class="collation-content">passer<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> les montz,</span>
   
   
   <hr data-img-id="f153">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> en
      <mark title="placeName" instant="false" full="yes">Italie</mark> contre les <mark title="orgName" instant="false" full="yes">Lombardz</mark>
      pour l’empereur</span>
   <span class="verse v2999">Comme <span style="position: relative;">chevaulx</span> restivent aux lymons,</span>
   <span class="verse v3000"><span class="verse-number">3000</span><mark title="orgName" instant="false" full="yes">Lombardz</mark> saichans <mark title="orgName" instant="false" full="yes">François</mark>
      tenir <span style="position: relative;"><span class="lem">ceste</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25"><span class="collation-content">cest<span class="coll-source"> [Aix419]</span></span></span></sup></span> ordre,</span>
   <span class="verse v3001">Doubterent fort de beaucoup <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content"><s>for</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span><span style="position: relative;">trop</span> se tordre</span>
   <span class="verse v3002">Combatre à eulx. Par quoy sans <span style="position: relative;">nulz</span> effors,</span>
   <span class="verse v3003">Se mirent tous en leurs places et fortz,</span>
   <span class="verse v3004">Tenans le train de guerre guerroyable.</span>
   <span class="verse v3005"><span class="verse-number">3005</span>Ce que ne fut aux <mark title="orgName" instant="false" full="yes">François</mark> agreable,</span>
   <span class="verse v3006">Car gentz de <span style="position: relative;"><span class="lem">guerre estans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">guerres estant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;">sus</span>
      <span class="choice"><span title="Abbrégé en leꝛs"><mark title="abbréviation">leurs</mark></span></span> fumiers,</span>
   <span class="verse v3007">Qui du mestier sont fort bons coustumiers,</span>
   <span class="verse v3008">Ruzes et tours <span style="position: relative;"><span class="lem">d’embusches</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">d’embuche<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sçavent faire</span>
   <span class="verse v3009">Pour estrangiers envahir et deffaire,</span>
   <span class="verse v3010"><span class="verse-number">3010</span>Et mesmement quant sçavent les destours</span>
   <span class="verse v3011">D’eulx retirer <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content">es<span class="coll-source"> [Aix419]</span></span></span></sup></span> fortresses et tours.</span>
   <span class="verse v3012"><mark title="piedMouche">§</mark><mark title="orgName" instant="false" full="yes">François</mark> font raige <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">en<span class="coll-source"> [Aix419]</span></span></span></sup></span> la premiere poincte,</span>
   <span class="verse v3013">Mais si le choc de plain <span style="position: relative;"><span class="lem">vol</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">veil<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ne se appoincte</span>
   <span class="verse v3014">Et au donner ample devoir ne font,</span>
   <span class="verse v3015"><span class="verse-number">3015</span>N’y cherchez cueur qui vaille, on se y morfond :</span>
   <span class="verse v3016">Qui bien ne charge et donne <span style="position: relative;">d’une</span> traicte,</span>
   <span class="verse v3017">C’est temps perdu
      il fault sonner rectraicte.</span>
   <span class="verse v3018"><mark title="piedMouche">§</mark>Les chefz et ducz des
      <mark title="orgName" instant="false" full="yes">Lombardz</mark>
      <span style="position: relative;"><span class="lem">prevoyans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content"><span class="choice">prevoiant</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v3019"><span style="position: relative;"><span class="lem">Leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">Leurs<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> cas de loing, et de bien près voyans</span>
   <span class="verse v3020"><span class="verse-number">3020</span>Que <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> ne
      queroit fors <span style="position: relative;"><span class="lem">s’embatre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">sans battre<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v3021">À les tirer en plains champs pour combatre,</span>
   <span class="verse v3022">Non asseuréz de fortune et ses sortz,</span>
   <span class="verse v3023">Prindrent advis luy desployer tresors</span>
   
   
   <hr data-img-id="f154">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      corrumpu des <mark title="orgName" instant="false" full="yes">Lombardz</mark> par argent</span>
   <span class="verse v3024">Et de ducatz <span style="position: relative;"><span class="lem">grandz sommes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content">grand summe<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> firent offres,</span>
   <span class="verse v3025"><span class="verse-number">3025</span>Que à gré receut et fist mectre en ses coffres.</span>
   <span class="verse v3026">Par tel moyen tantost se convertit</span>
   <span class="verse v3027">Que son armee hors <span style="position: relative;">ces lieux</span> divertit.</span>
   <span class="verse v3028"><mark title="piedMouche">§</mark>Lors l’empereur adverty
      de la chose,</span>
   <span class="verse v3029">S’esmerveillant <span style="position: relative;"><span class="lem">comme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">comment<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> son cueur lasche ose</span>
   <span class="verse v3030"><span class="verse-number">3030</span>D’iceulx <mark title="orgName" instant="false" full="yes">Lombardz</mark> tel argent recepvoir,</span>
   <span class="verse v3031">Pour le vouloir faulsement decevoir,</span>
   <span class="verse v3032">Le fist sommer rendre la somme prise</span>
   <span class="verse v3033">Ou mectre <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fin l’œuvre de son emprise.</span>
   <span class="verse v3034">C’est qu’il chassast iceulx <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ennemys</span>
   <span class="verse v3035"><span class="verse-number">3035</span>Hors d’<mark title="placeName" instant="false" full="yes">Italie</mark>,
      ainsi que avoit promys.</span>
   <span class="verse v3036">Touchant cela
      <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content">ce<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> trouva lourd mesconte,</span>
   <span class="verse v3037">Car de respondre il ne fist pas grand conte.</span>
   <span class="verse v3038">À toutes gentz ainsi en faisoit il,</span>
   <span class="verse v3039">L’esprit avoit malicïeux, subtil</span>
   <span class="verse v3040"><span class="verse-number">3040</span>Et cauteleux, prompt et legier à prendre,</span>
   <span class="verse v3041">Mais moult tardif, lasche et pesant à rendre.</span>
   <span class="verse v3042">Si eut depuys matiere de soucy</span>
   <span class="verse v3043">Comme <span style="position: relative;"><span class="lem">dirons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">verrons<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pour bien estre adoulcy.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1">Note n°1</h4>
   <div class="modal-text" modal-text="noteModal1">Nous corrigeons "Childerich" en
      "Chilperich", en nous appuyant sur les leçons des autres
      manuscrits, parce que le BnF fr. 2818 est de toute évidence
      fautif.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2966);">v. 2966</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>envoie</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xix me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xviiii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xie<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xix<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2970);">v. 2970</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>lourd</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2972);">v. 2972</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>contristé le</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2974);">v. 2974</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr23146 </span>publïer</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2975);">v. 2975</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, Cha515 </span>desir</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2980);">v. 2980</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>grandes <span class="choice">chevances</span></span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2981);">v. 2981</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4964, BnFfr4965 </span>Le</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2983);">v. 2983</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>le</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2984);">v. 2984</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>à</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2985);">v. 2985</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>maintes places</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2988);">v. 2988</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4965, BnFfr4964 </span>Chilperich</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2989);">v. 2989</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>permect</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2993);">v. 2993</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>eut</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2997);">v. 2997</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(2998);">v. 2998</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, Cha515 </span>passéz</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>passer</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3000);">v. 3000</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>cest</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3001);">v. 3001</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>for</s>
            </span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3006);">v. 3006</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>guerres estant</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3008);">v. 3008</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>d’embuche</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3011);">v. 3011</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>es</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3012);">v. 3012</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>en</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3013);">v. 3013</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>veil</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3018);">v. 3018</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">prevoiant</span></span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3019);">v. 3019</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Leurs</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3020);">v. 3020</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sans battre</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3024);">v. 3024</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>grand summe</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3029);">v. 3029</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>comment</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3033);">v. 3033</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3034);">v. 3034</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3036);">v. 3036</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ce</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3043);">v. 3043</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>verrons</span></div>
      </div>
</div>
{% endmacro %}
