
{% macro chapterTitle() %}Chapitre 20{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('20_chap_19')"><i class="fa-solid fa-arrow-left"></i> Chapitre 19</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('22_chap_21')">Chapitre 21 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f161/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f161/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f161" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f162/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f162/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f162" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f163/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f163/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f163" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f164/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f164/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f164" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f165/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f165/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f165" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f166/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f166/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f166" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f161">
   <p title="Numéro de folio" class="text-end"><i>63r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v3192"><mark title="piedMouche">§</mark>Sans tourner
         lœil /
         Verrons deſloyaulte</span>
      <span class="verse v3193">En Chilperich. charge de griefues ſommes,</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v3194">Qui non content faire la guerre aux hommes</span>
      <span class="verse v3195"><span class="verse-number">3195</span>Encontre dieu monſtra ſa cruaulte.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xx.
         <sup>e</sup></span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f162">
   
   <p title="Numéro de folio" class="text-end"><i>63v</i></p>
   
   
   <hr data-img-id="f163">
   
   <p title="Numéro de folio" class="text-end"><i>64r</i></p>
   <span class="d-block fw-bold mb-3">De lerreur que eut Chilperich</span>
   <span class="verse v3196">
      <span class="lem">Se</span>
      
      
      Chilperich par ſa fraude et
      cautelle</span>
   <span class="verse v3197">Eut renommee enuers le monde telle</span>
   <span class="verse v3198">Quon lextimaſt /
      
      <span class="lem">en</span>
      
       cueur plus oultraigeux</span>
   <span class="verse v3199">Quil naduenoit a noble couraigeux,</span>
   <span class="verse v3200"><span class="verse-number">3200</span>Encoꝛ fiſt 
      <span class="lem">pis</span>
      
       /. Car il tint erronee</span>
   <span class="verse v3201">Oppinion peruerſe et obſtinee,</span>
   <span class="verse v3202">Et demonſtra par 
      <span class="lem"></span>
      
      incredulite</span>
   <span class="verse v3203">Encontre dieu
      fiere crudelite,</span>
   <span class="verse v3204">Quant il empꝛiſt ſemer <span class="lem">la</span> punaiſie</span>
   <span class="verse v3205"><span class="verse-number">3205</span>De loꝛde / faulſe / et mauuaiſe hereſie.</span>
   <span class="verse v3206">Dont il vouloit pꝛouuer et maintenir</span>
   <span class="verse v3207">La trinite tres ſaincte / ne tenir</span>
   <span class="verse v3208">Conioinctement trois perſonnes diſtinctes,</span>
   <span class="verse v3209">Mais une ſeulle /.
      
      <span class="lem">Et</span>
      
       par raiſons ſuccinctes,</span>
   <span class="verse v3210"><span class="verse-number">3210</span>Ceſte hereſie a pluſieurs diuulgant,</span>
   <span class="verse v3211">Saincte eſcripture 
      <span class="lem">alloit ſus ce</span>
      
      
      
       alleguant</span>
   <span class="verse v3212">Diſant par elle eſtre pꝛeuue aſſignee</span>
   <span class="verse v3213">Telle union ternaire 
      <span class="lem">deſignee</span>
      
      </span>
   <span class="verse v3214">Aulcunes fois a 
      <span class="lem">iours et temps</span>
      
       pꝛefix</span>
   <span class="verse v3215"><span class="verse-number">3215</span>Au nom du pere /.
      Apꝛes au nom du 
      <span class="lem"></span>
      
      filz,</span>
   <span class="verse v3216">Et puys 
      <span class="lem">au</span>
      
       nom du sainct eſpꝛit /. Laquelle</span>
   <span class="verse v3217">Oppinion ſouſtenoit /.
      
      <span class="lem"></span>
      
      Pour ce quelle</span>
   <span class="verse v3218">
      <span class="lem">Eſtoit de Grec</span>
      
      
       tranſlatee en latin</span>
   <span class="verse v3219">Par les docteurs Hilaire et Auguſtin,</span>
   <span class="verse v3220"><span class="verse-number">3220</span>Qui a raiſon dauctoꝛite pꝛouuee</span>
   
   
   <hr data-img-id="f164">
   
   <p title="Numéro de folio" class="text-end"><i>64v</i></p>
   <span class="d-block fw-bold mb-3">Chilperich eſcript
      ſon erreur a Gregoire
      archeueſque de <mark title="placeName" instant="false" full="yes">Tours</mark>.</span>
   <span class="verse v3221">
      <span class="lem">Lauoient ainſi</span>
      
      
      
       veritable, appꝛouuee.</span>
   <span class="verse v3222"><mark title="piedMouche">§</mark>De ſon erreur ne ſe
      trouua content</span>
   <span class="verse v3223">Se deuant lœil du pape ne lextend,</span>
   <span class="verse v3224">Et luy eſcript pluſieurs lectres miſſiues</span>
   <span class="verse v3225"><span class="verse-number">3225</span>Ou par raiſons doulces et ſuaſifues,</span>
   <span class="verse v3226">Comme 
      <span class="lem">ſcauant</span>
      
      
      
      <span class="lem">que</span>
      
       eſtoit / et entendu,</span>
   <span class="verse v3227">Taſchoit venir a ſon poinct pꝛetendu /.</span>
   <span class="verse v3228">De luy /. aulcuns hiſtoꝛiens 
      <span class="lem">noz</span>
      
       maiſtres</span>
   <span class="verse v3229">Tiennent / quil miſt / et adiouſta
      trois lectres</span>
   <span class="verse v3230"><span class="verse-number">3230</span>En lalphabet /. Par ce luy 
      <span class="lem">donnent</span>
      
       bꝛuit</span>
   <span class="verse v3231">
      <span class="lem">Quen</span>
      
      
      
      <span class="lem">latin fut / et gꝛec</span>
      
       aſſez inſtruict.</span>
   <span class="verse v3232"><mark title="piedMouche">§</mark>Ce meſme temps
      / ſoubz ladueu de ce tiltre</span>
   <span class="verse v3233">Sedicieux /. tranſmiſt 
      <span class="lem"></span>
      
      certaine 
      <span class="lem"></span>
      
      epiſtre</span>
   <span class="verse v3234">Au bon Gꝛegoire / archeueſque de
      <mark title="placeName" instant="false" full="yes">Tours</mark>,</span>
   <span class="verse v3235"><span class="verse-number">3235</span>
      <span class="lem">Qui</span>
      
       ne 
      <span class="lem"></span>
      
      faillit luy rendꝛe 
      <span class="lem">ſes</span>
      
       retours</span>
   <span class="verse v3236">Car homme eſtoit de ſainctete parfaicte.</span>
   <span class="verse v3237">Foꝛt le blaſma de lhereſie infecte</span>
   <span class="verse v3238">Dont pꝛetendoit / contre dieu
      attempter</span>
   <span class="verse v3239">Et ſimple peuple a ce moyen tempter.</span>
   <span class="verse v3240"><span class="verse-number">3240</span>Par ceſte 
      <span class="lem">voye</span>
      
       inicque et ſcandaleuſe /.</span>
   <span class="verse v3241">Ainſi (diſt il) que une bꝛebiz galeuſe,</span>
   <span class="verse v3242">Infecte 
      <span class="lem">et</span>
      
       perd le 
      <span class="lem">beſtail</span>
      
       / ou elle eſt /.</span>
   <span class="verse v3243">En cas pareil doibt 
      <span class="lem"></span>
      
      deſplaire et deſplaiſt</span>
   <span class="verse v3244">Telle ſemence / a 
      <span class="lem">la</span>
      
       ſaincte 
      <span class="lem"></span>
      
      
      
      creſtienne</span>
   <span class="verse v3245"><span class="verse-number">3245</span>Religion /. dont 
      <span class="lem"></span>
      
      naffiert quentretienne</span>
   
   
   <hr data-img-id="f165">
   
   <p title="Numéro de folio" class="text-end"><i>65r</i></p>
   <span class="d-block fw-bold mb-3">Chilperich
      ſefforce de ſouſtenir ſon erreur.</span>
   <span class="verse v3246">Ce ſot pꝛopos / Et quant aux ſainctz docteurs</span>
   <span class="verse v3247">Quil maintenoit / auoir eſte aucteurs</span>
   <span class="verse v3248">De ceſte choſe / et dont faiſoit baniere,</span>
   <span class="verse v3249">A ce reſpond /
      
      <span class="lem">quen</span>
      
      
      
      <span class="lem">toute</span>
      
       autre maniere</span>
   <span class="verse v3250"><span class="verse-number">3250</span>Et beaucoup loing de ſon interpꝛeter,</span>
   <span class="verse v3251">Sceurent iadis la matiere traicter.</span>
   <span class="verse v3252">Par quoy /
      <span class="choice"><span title="Abbréviation pour son"><mark title="abbréviation">sō</mark></span></span> dire et faict diabolicque</span>
   <span class="verse v3253">Voit mal ſentir / de la foy 
      <span class="lem"></span>
      
      catholicque.</span>
   <span class="verse v3254"><mark title="piedMouche">§</mark>Telle reſponſe
      / au <span class="lem">fondz</span>
      du ſien gꝛos cueur</span>
   <span class="verse v3255"><span class="verse-number">3255</span>Loꝛs <span class="lem">engendꝛa</span> fournaiſe 
      <span class="lem">de</span>
      
       rancueur /.</span>
   <span class="verse v3256">Raige en fureur de legiere inconſtance</span>
   <span class="verse v3257">Tant lenflamma / que a foꝛte et fiere inſtance</span>
   <span class="verse v3258">Se 
      <span class="lem">perfoꝛca</span>
      
      
       lerreur magnifeſter,</span>
   <span class="verse v3259">Voulant par voye ennuyeuſe infeſter</span>
   <span class="verse v3260"><span class="verse-number">3260</span>Aulcuns 
      <span class="lem">des</span>
      
       ſiens pꝛiuez et domeſticques,</span>
   <span class="verse v3261">Luy accoꝛder 
      <span class="lem"></span>
      
      ſes raiſons fantaſticques /.</span>
   <span class="verse v3262">Entre leſquelz ung eueſque d<mark title="placeName" instant="false" full="yes">Alby</mark></span>
   <span class="verse v3263">Dit Saluius /.
      
      <span class="lem">par</span>
      
       ſecret aliby,</span>
   <span class="verse v3264">Penſa 
      <span class="lem"></span>
      
      gaigner / luy ſouflant en louye</span>
   <span class="verse v3265"><span class="verse-number">3265</span>Ceſte hereſie eſtrange / et 
      <span class="lem"></span>
      
      non ouye.</span>
   <span class="verse v3266">Et poſe oꝛ / que leueſque retint</span>
   <span class="verse v3267">Tout en ſon cueur / plaine maniere tint</span>
   <span class="verse v3268">Nauoir le cas (tant ſoit peu)
      agꝛeable.</span>
   <span class="verse v3269">Par quoy le roy (Comme eſt aſſez creable)</span>
   <span class="verse v3270"><span class="verse-number">3270</span>De ce confus /. laffaire / atant
      cela</span>
   
   
   <hr data-img-id="f166">
   
   <p title="Numéro de folio" class="text-end"><i>65v</i></p>
   <span class="d-block fw-bold mb-3">Du maltalent de Fredegonde vers Clouis.</span>
   <span class="verse v3271">Et ne fiſt plus 
      <span class="lem">foꝛt</span>
      
       gꝛand cas de cela.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f161">
   <blockquote class="ms-2">
      
      <span class="verse v3192"><mark title="piedMouche">§</mark>Sans tourner
         l’œil
         , verrons desloyaulté</span>
      <span class="verse v3193">En <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, chargé de griefves sommes,</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">
                  21
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span class="verse v3194">Qui non content faire la guerre aux hommes</span>
      <span class="verse v3195"><span class="verse-number">3195</span>Encontre <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> monstra sa cruaulté.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xx
            <sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">Chapitre xxi me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxi<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxi<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappittre .xxi<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f162">
   
   
   
   <hr data-img-id="f163">
   
   <span class="curr-title fw-bold">De l’erreur que eut <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v3196"><span style="position: relative;"><span class="lem">Se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">Ce<span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>
      <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> par sa fraude et
      cautelle</span>
   <span class="verse v3197">Eut renommee envers le monde telle</span>
   <span class="verse v3198">Qu’on l’extimast
      <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">au<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> cueur plus oultraigeux</span>
   <span class="verse v3199">Qu’il n’advenoit à noble couraigeux,</span>
   <span class="verse v3200"><span class="verse-number">3200</span>Encor fist <span style="position: relative;">pis</span>. Car il tint erronee</span>
   <span class="verse v3201">Oppinïon perverse et obstinee,</span>
   <span class="verse v3202">Et demonstra par <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content"><s>credulité</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>incredulité</span>
   <span class="verse v3203">Encontre <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>
      fiere crudelité,</span>
   <span class="verse v3204">Quant il emprist semer <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content">par<span class="coll-source"> [Cha515]</span></span></span></sup></span> punaisie</span>
   <span class="verse v3205"><span class="verse-number">3205</span>De l’orde faulse et mauvaise heresie,</span>
   <span class="verse v3206">Dont il vouloit prouver et maintenir</span>
   <span class="verse v3207">La trinité trés saincte ne tenir</span>
   <span class="verse v3208">Conjoinctement trois personnes distinctes,</span>
   <span class="verse v3209">Mais une seulle.
      <span style="position: relative;">Et</span> par raisons succinctes,</span>
   <span class="verse v3210"><span class="verse-number">3210</span>Ceste heresie à plusieurs divulgant,</span>
   <span class="verse v3211">Saincte escripture <span style="position: relative;"><span class="lem">alloit sus ce</span></span> alleguant</span>
   <span class="verse v3212">Disant par elle estre preuve assignee</span>
   <span class="verse v3213">Telle unïon ternaire <span style="position: relative;"><span class="lem">designee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">et desinee<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v3214">Aulcunes fois à <span style="position: relative;"><span class="lem">jours et temps</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">temps et jours<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> prefix</span>
   <span class="verse v3215"><span class="verse-number">3215</span>Au nom du <mark class="persName">Pere<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>
      aprés au nom du <mark class="persName">Filz<span class="persName-info fw-normal on-right"><b>Jésus-Christ</b><span class="hr-short">&nbsp;</span>Messie et fils unique de Dieu pour les chrétiens</span></mark>,</span>
   <span class="verse v3216">Et puys <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">à<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> nom du <mark class="persName">Sainct Esprit<span class="persName-info fw-normal on-right"><b>Saint-Esprit</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans de nombreuses religions</span></mark>. Laquelle</span>
   <span class="verse v3217">Oppinïon soustenoit
      pour ce qu’elle</span>
   <span class="verse v3218"><span style="position: relative;"><span class="lem">Estoit de grec</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">De grec estoit<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">Estoyt du grec<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> translatee en latin</span>
   <span class="verse v3219">Par les docteurs <mark class="persName">Hilaire<span class="persName-info fw-normal on-right"><b>Hilaire de Poitiers, saint</b> (315 — 367)<span class="hr-short">&nbsp;</span>Saint catholique et orthodoxe</span></mark> et <mark class="persName">Augustin<span class="persName-info fw-normal on-right"><b>Augustin d’Hippone</b> (354 — 29/08/430)<span class="hr-short">&nbsp;</span>Théologien et philosophe chrétien d’Afrique du Nord</span></mark>,</span>
   <span class="verse v3220"><span class="verse-number">3220</span>Qui à raison d’auctorité prouvee</span>
   
   
   <hr data-img-id="f164">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> escript
      son erreur à <mark class="persName">Gregoire<span class="persName-info fw-normal on-left"><b>Grégoire de Tours, saint</b> (02/12/538 — ?)<span class="hr-short">&nbsp;</span>Saint chrétien, historien, homme d’église du haut Moyen Âge</span></mark>
      archevesque de <mark title="placeName" instant="false" full="yes">Tours</mark></span>
   <span class="verse v3221"><span style="position: relative;"><span class="lem">L’avoient ainsi</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">Tiennent qu’elle est<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content"><span class="choice">Tiennent</span> qu’elle est<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content"><span class="choice">Tienent</span> qu’elle est<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> veritable, approuvee.</span>
   <span class="verse v3222"><mark title="piedMouche">§</mark>De son erreur ne se
      trouva content</span>
   <span class="verse v3223">Se devant l’œil du pape ne l’extend,</span>
   <span class="verse v3224">Et luy escript plusieurs lectres missives</span>
   <span class="verse v3225"><span class="verse-number">3225</span>Où par raisons doulces et suasifves,</span>
   <span class="verse v3226">Comme <span style="position: relative;"><span class="lem">sçavant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">scant<span class="coll-source"> [Aix419]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">comme<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> estoit et entendu,</span>
   <span class="verse v3227">Taschoit venir à son poinct pretendu.</span>
   <span class="verse v3228">De luy aulcuns historïens <span style="position: relative;"><span class="lem">noz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content"><span class="choice">non</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> maistres</span>
   <span class="verse v3229">Tiennent qu’il mist et adjousta
      trois lectres</span>
   <span class="verse v3230"><span class="verse-number">3230</span>En l’alphabet. Par ce luy <span style="position: relative;"><span class="lem">donnent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content"><span class="choice">donnant</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> bruit</span>
   <span class="verse v3231"><span style="position: relative;"><span class="lem">Qu’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">Que<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">latin fut et grec</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">latin et grec fut<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> assez instruict.</span>
   <span class="verse v3232"><mark title="piedMouche">§</mark>Ce mesme temps soubz l’adveu de ce tiltre</span>
   <span class="verse v3233">Sedicïeux, transmist <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content"><s>une</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>certaine epistre</span>
   <span class="verse v3234">Au bon <mark class="persName">Gregoire<span class="persName-info fw-normal on-right"><b>Grégoire de Tours, saint</b> (02/12/538 — ?)<span class="hr-short">&nbsp;</span>Saint chrétien, historien, homme d’église du haut Moyen Âge</span></mark> archevesque de
      <mark title="placeName" instant="false" full="yes">Tours</mark>,</span>
   <span class="verse v3235"><span class="verse-number">3235</span><span style="position: relative;"><span class="lem">Qui</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25"><span class="collation-content">Que<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ne faillit luy rendre <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> retours</span>
   <span class="verse v3236">Car homme estoit de saincteté parfaicte.</span>
   <span class="verse v3237">Fort le blasma de l’heresie infecte</span>
   <span class="verse v3238">Dont pretendoit contre <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>
      attempter</span>
   <span class="verse v3239">Et simple peuple à ce moyen tempter.</span>
   <span class="verse v3240"><span class="verse-number">3240</span>Par ceste <span style="position: relative;">voye</span> inicque et scandaleuse</span>
   <span class="verse v3241">Ainsi, dist il, que une brebiz galeuse,</span>
   <span class="verse v3242">Infecte <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> perd le <span style="position: relative;">bestail</span> où elle est,</span>
   <span class="verse v3243">En cas pareil doibt desplaire et desplaist</span>
   <span class="verse v3244">Telle semence à <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span> saincte <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content"><s>et</s>
                  <span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">et <s></s><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">et<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>crestïenne</span>
   <span class="verse v3245"><span class="verse-number">3245</span>Religïon, dont n’affiert qu’entretienne</span>
   
   
   <hr data-img-id="f165">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      s’efforce de soustenir son erreur</span>
   <span class="verse v3246">Ce sot propos. Et quant aux sainctz docteurs</span>
   <span class="verse v3247">Qu’il maintenoit avoir esté aucteurs</span>
   <span class="verse v3248">De ceste chose et dont faisoit baniere,</span>
   <span class="verse v3249">À ce respond
      <span style="position: relative;"><span class="lem">qu’en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">que<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">toute</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">tout<span class="coll-source"> [Aix419]</span></span></span></sup></span> autre maniere</span>
   <span class="verse v3250"><span class="verse-number">3250</span>Et beaucoup loing de son interpreter,</span>
   <span class="verse v3251">Sceurent jadis la matiere traicter.</span>
   <span class="verse v3252">Par quoy
      <span class="choice"><span title="Abbrégé en sō"><mark title="abbréviation">son</mark></span></span> dire et faict diabolicque</span>
   <span class="verse v3253">Voit mal sentir de la foy catholicque.</span>
   <span class="verse v3254"><mark title="piedMouche">§</mark>Telle response au <span style="position: relative;"><span class="lem">fondz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">fons<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      du sien gros cueur</span>
   <span class="verse v3255"><span class="verse-number">3255</span>Lors <span style="position: relative;"><span class="lem">engendra</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content">endura<span class="coll-source"> [Cha515]</span></span></span></sup></span> fournaise <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content">et<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> rancueur.</span>
   <span class="verse v3256">Raige en fureur de legiere inconstance</span>
   <span class="verse v3257">Tant l’enflamma, que à forte et fiere instance</span>
   <span class="verse v3258">Se <span style="position: relative;"><span class="lem">perforça</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">par force<span class="coll-source"> [BnFfr23146]</span></span><span class="collation-content">parforça<span class="coll-source"> [Cha515]</span></span></span></sup></span> l’erreur magnifester,</span>
   <span class="verse v3259">Voulant par voye ennuyeuse infester</span>
   <span class="verse v3260"><span class="verse-number">3260</span>Aulcuns <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">de<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> siens privéz et domesticques,</span>
   <span class="verse v3261">Luy accorder <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">à <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>ses raisons fantasticques.</span>
   <span class="verse v3262">Entre lesquelz ung evesque d’<mark title="placeName" instant="false" full="yes">Alby</mark></span>
   <span class="verse v3263">Dit <mark class="persName">Salvïus<span class="persName-info fw-normal on-right"><b>Salve d’Albi, saint</b> (VIe siècle — 12/09/584)<span class="hr-short">&nbsp;</span>Évêque du VIe siècle</span></mark>,
      <span style="position: relative;"><span class="lem">par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">en<span class="coll-source"> [BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span> secret aliby,</span>
   <span class="verse v3264">Pensa gaigner luy souflant en l’ouye</span>
   <span class="verse v3265"><span class="verse-number">3265</span>Ceste heresie estrange et non ouye.</span>
   <span class="verse v3266">Et pose or que l’evesque retint</span>
   <span class="verse v3267">Tout en son cueur, plaine maniere tint</span>
   <span class="verse v3268">N’avoir le castant soit peu
      agreable.</span>
   <span class="verse v3269">Par quoy le roycomme est assez creable</span>
   <span class="verse v3270"><span class="verse-number">3270</span>De ce confus l’affaire atant
      cela</span>
   
   
   <hr data-img-id="f166">
   
   <span class="curr-title fw-bold">Du maltalent de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> vers <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v3271">Et ne fist plus <span style="position: relative;"><span class="lem">fort</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown47" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown47"><span class="collation-content">trop<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> grand cas de cela.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            21
            </span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxi me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxi<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxi<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xxi<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3196);">v. 3196</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Ce</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3198);">v. 3198</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>au</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3202);">v. 3202</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>credulité</s>
            </span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3204);">v. 3204</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>par</span></div>
   </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3213);">v. 3213</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et desinee</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3214);">v. 3214</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>temps et jours</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3216);">v. 3216</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>à</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3218);">v. 3218</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>De grec estoit</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Estoyt du grec</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3221);">v. 3221</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Tiennent qu’elle est</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Tiennent</span> qu’elle est</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">Tienent</span> qu’elle est</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3226);">v. 3226</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>scant</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3226);">v. 3226</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>comme</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3228);">v. 3228</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">non</span></span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3230);">v. 3230</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">donnant</span></span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3231);">v. 3231</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Que</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3231);">v. 3231</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>latin et grec fut</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3233);">v. 3233</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>une</s>
            </span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3235);">v. 3235</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Que</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3235);">v. 3235</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3242);">v. 3242</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3244);">v. 3244</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146, Cha515 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3244);">v. 3244</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>et</s>
            </span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>et <s></s></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3249);">v. 3249</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3249);">v. 3249</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>tout</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3254);">v. 3254</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>fons</span></div>
   </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3255);">v. 3255</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>endura</span></div>
   </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3255);">v. 3255</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et</span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3258);">v. 3258</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>par force</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>parforça</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3260);">v. 3260</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>de</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3261);">v. 3261</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>à </span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3263);">v. 3263</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146, Cha515 </span>en</span></div>
      </div>
   <div class="collation row" id="coll47">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3271);">v. 3271</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>trop</span></div>
      </div>
</div>
{% endmacro %}
