
{% macro chapterTitle() %}Chapitre 21{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('21_chap_20')"><i class="fa-solid fa-arrow-left"></i> Chapitre 20</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('23_chap_22')">Chapitre 22 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f166/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f166/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f166" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f167/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f167/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f167" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f168/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f168/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f168" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f169/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f169/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f169" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f170/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f170/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f170" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f171/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f171/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f171" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f172/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f172/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f172" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f166">
   <p title="Numéro de folio" class="text-end"><i>65v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v3272"><mark title="piedMouche">§</mark>Cy reprendrons la
         vie aquariaſtre</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v3273">De Fredegonde
         / et ſes diuers enuis,</span>
      <span class="verse v3274">Qui pourſuyuant faire mourir Clouis,</span>
      <span class="verse v3275"><span class="verse-number">3275</span>Se monſtra laſche / et mauuaiſe
         marraſtre.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xxi<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v3276">FAcilement ſe tient le 
      <span class="lem"></span>
      
      vice en ply</span>
   <span class="verse v3277">Qui par couſtume humain <span class="choice"><span title="Abbréviation pour cueur"><mark title="abbréviation">cueꝛ</mark></span></span> rend emply</span>
   <span class="verse v3278">Et de 
      <span class="lem">tant</span>
      
       plus a perdꝛe eſt difficile</span>
   <span class="verse v3279">Que plus long temps y 
      <span class="lem">a</span>
      
       pꝛis domicile.</span>
   <span class="verse v3280"><span class="verse-number">3280</span>Peche / au cueur ioinct et enracine,</span>
   <span class="verse v3281">Par habitude y pꝛend cours aſſigne /.</span>
   <span class="verse v3282">Ceſt a pꝛopos de celle Fredegonde</span>
   <span class="verse v3283">Qui par ſemblant dhumble et doulce faconde</span>
   <span class="verse v3284">Faignit auoir / apꝛes 
      <span class="lem">ſes</span>
      
       enfans moꝛtz</span>
   <span class="verse v3285"><span class="verse-number">3285</span>De ſon peche / tres angoiſſeux remoꝛs.</span>
   <span class="verse v3286">Et touteſuoyes ſoubz couleur foꝛt crue elle</span>
   <span class="verse v3287">Continua ſa maniere cruelle,</span>
   <span class="verse v3288">Meſmes enuers et contre ce Clouis</span>
   <span class="verse v3289">Duquel auons tenu 
      <span class="lem">quelques</span>
      
      
       deuis /.</span>
   <span class="verse v3290"><span class="verse-number">3290</span>Elle voyant eſtre deſtituee</span>
   <span class="verse v3291">De 
      <span class="lem">ſes</span>
      
       enfans /.
      En lardeur ſituee</span>
   <span class="verse v3292">
      <span class="lem">Dun</span>
      
       deſirer bouillant et 
      <span class="lem"></span>
      
      colericq,</span>
   
   
   <hr data-img-id="f167">
   
   <p title="Numéro de folio" class="text-end"><i>66r</i></p>
   <span class="d-block fw-bold mb-3"><span class="choice"><span title="Abbréviation pour Fredegonde"><mark title="abbréviation">Fredegōde</mark></span></span> fiſt en ung&nbsp;pau mourir la concubine de
      Clouis.</span>
   <span class="verse v3293">Doubta Clouis
      au regne Chilperich</span>
   <span class="verse v3294">Veoir ſucceder / comme filz legitime.</span>
   <span class="verse v3295"><span class="verse-number">3295</span><mark title="piedMouche">§</mark>A ces raiſons fiſt de ce
      gꝛos extime</span>
   <span class="verse v3296">Et pꝛacticqua moyens de le trahir</span>
   <span class="verse v3297">En inclinant ſon pere / a le hayꝛ /.</span>
   <span class="verse v3298">Oꝛ ce Clouis / certaine Pꝛoſerpine</span>
   <span class="verse v3299">En ſon hoſtel tenoit pour 
      <span class="lem"></span>
      
      concubine,</span>
   <span class="verse v3300"><span class="verse-number">3300</span>Et la vilaine / auſſi ſa mere auoit,</span>
   <span class="verse v3301">Qui ſoubz 
      <span class="lem">ceſte</span>
      
       vmbꝛe en la maiſon viuoit.</span>
   <span class="verse v3302">Mais de tel heur / aſſez toſt recuſees,</span>
   <span class="verse v3303">Furent ung iour vers 
      <span class="lem"></span>
      
      
      <span class="lem">la royne</span>
      
       accuſees&nbsp;:</span>
   <span class="verse v3304">La fille a cauſe et pour raiſon des toꝛtz</span>
   <span class="verse v3305"><span class="verse-number">3305</span>
      <span class="lem">Qui</span>
      
       a pluſieurs gentz tenoit par ſes rappoꝛtz,</span>
   <span class="verse v3306">Et 
      <span class="lem">a</span>
      
      
       la mere auſſi le crime on dꝛeſſe</span>
   <span class="verse v3307">Deſtre ſoꝛciere / et foꝛte enchantereſſe,</span>
   <span class="verse v3308">Si quon diſoit par ſon art vil / et oꝛd</span>
   <span class="verse v3309">Que a 
      <span class="lem">lappetit</span>
      
       ſeul <span class="lem">pꝛouchatz</span> / et ennoꝛt</span>
   <span class="verse v3310"><span class="verse-number">3310</span>Dudit Clouis /. elle auoit pꝛis enuie</span>
   <span class="verse v3311">Faire aux enfans du roy perdꝛe la vie.</span>
   <span class="verse v3312"><mark title="piedMouche">§</mark>Loꝛs Fredegonde (ayant le cueur
      confit</span>
   <span class="verse v3313">A ſang eſpendꝛe)
      Empꝛiſonner les fit /.</span>
   <span class="verse v3314">Et oultre / afin que Clouis euſt triſteſſe,</span>
   <span class="verse v3315"><span class="verse-number">3315</span>La fille veoir mourir 
      <span class="lem">a</span>
      
       gꝛand deſtreſſe,</span>
   <span class="verse v3316">Deuant ſa poꝛte eſtablit afficher</span>
   <span class="verse v3317">Ung gꝛand pau darbꝛe aigu /.
      
      <span class="lem">et la</span>
      
      
      
      <span class="lem">ficher</span>
      
      </span>
   
   
   <hr data-img-id="f168">
   
   <p title="Numéro de folio" class="text-end"><i>66v</i></p>
   <span class="d-block fw-bold mb-3">Les plaingz de la mere a la concubine de Clouis.</span>
   <span class="verse v3318">
      <span class="lem"></span>
      
      Fiſt ceſte poure afflicte et malheureuſe,</span>
   <span class="verse v3319">La receut moꝛt /. ceſt ſa fin douloureuſe.</span>
   <span class="verse v3320"><span class="verse-number">3320</span><mark title="piedMouche">§</mark>La mere /
      apꝛes pluſieurs maulx endurer,</span>
   <span class="verse v3321">Soubz <span class="choice"><span title="Abbréviation pour lesquelz"><mark title="abbréviation">lesq̄lz</mark></span></span> neſt / poſſible au long durer,</span>
   <span class="verse v3322">Apꝛes exces de diuerſes 
      <span class="lem"></span>
      
      toꝛtures,</span>
   <span class="verse v3323">Cruelz trauaulx / et 
      <span class="lem"></span>
      
      calamitez dures,</span>
   <span class="verse v3324">Son cheſtif coꝛps / charpente / martire,</span>
   <span class="verse v3325"><span class="verse-number">3325</span>Froiſſe / rompu /
      
      <span class="lem">courbatu</span>
      
       / et tire,</span>
   <span class="verse v3326">Le cueur 
      <span class="lem">ſerre</span>
      
       entre frayeur et craincte,</span>
   
   <span class="lem">
      <span class="verse v3327">La poure 
         <span class="lem">femme</span>
         
          a foꝛce et par contraincte,</span>
      </span>
   
   
   <span class="verse v3328">Tout confeſſa / ce crime et vil foꝛfait</span>
   <span class="verse v3329">Nauoir eſte que par ſon effoꝛt faict /</span>
   <span class="verse v3330"><span class="verse-number">3330</span>Ioinct que Clouis / a ce lauoit induyte</span>
   <span class="verse v3331">Et par pꝛeſentz de 
      <span class="lem">pecunes</span>
      
       ſeduicte /.</span>
   <span class="verse v3332">Son pꝛoces fait /.
      
      <span class="lem"></span>
      
      larreſt par iuge lay</span>
   <span class="verse v3333">Toſt pꝛonumce /
      sans 
      <span class="lem">pꝛendꝛe</span>
      
       autre delay,</span>
   <span class="verse v3334">Entre les mains 
      <span class="lem">du bourreau</span>
      
       fut baillee</span>
   <span class="verse v3335"><span class="verse-number">3335</span>Pour /
      
      <span class="lem">des</span>
      
       ce iour /
      
      <span class="lem"></span>
      
      eſtre vifue bꝛuſlee /</span>
   <span class="verse v3336"><mark title="piedMouche">§</mark>Auant mourir
      / tres foꝛt ſe lamentoit /</span>
   <span class="verse v3337">En declairant que de cela mentoit /</span>
   <span class="verse v3338">Quant accuſa Clouis eſtre coulpable</span>
   <span class="verse v3339">Du cas mys ſus non commys 
      <span class="lem"></span>
      
      ne pꝛobable,</span>
   <span class="verse v3340"><span class="verse-number">3340</span>Diſant 
      <span class="lem">auoir par foꝛce</span>
      
       confeſſe</span>
   <span class="verse v3341">
      <span class="lem">Ce</span>
      
      
      
      <span class="lem">quoncq</span>
      
       ne ſceut eſtre fait ou penſe.</span>
   <span class="verse v3342">Et plus euſt dit 
      <span class="lem">ſus</span>
      
       la choſe alleguee</span>
   <span class="verse v3343">Se plus auant ſe veiſt interroguee,</span>
   <span class="verse v3344">Car en tel cas /
      Il ny a ſi conſtant /</span>
   
   
   <hr data-img-id="f169">
   
   <p title="Numéro de folio" class="text-end"><i>67r</i></p>
   <span class="d-block fw-bold mb-3">Le maltalent de Fredegonde contre Clouis
      </span>
   <span class="verse v3345"><span class="verse-number">3345</span>Qui par <span class="lem">gehiner</span> / nen diſt trois foys autant /.</span>
   <span class="verse v3346">Mais pour ſon dire / et 
      <span class="lem"></span>
      
      plainctes 
      <span class="lem">ſi</span>
      
       terribles,</span>
   <span class="verse v3347">Gemiſſemens / regꝛetz / et cris hoꝛribles,</span>
   <span class="verse v3348">Aſſez 
      <span class="lem">et</span>
      
       trop 
      <span class="lem"></span>
      
      
      <span class="lem">ſuffiſans</span>
      
       pour mouuoir</span>
   <span class="verse v3349">Cueurs gꝛos et durs / pitie <span class="choice"><span title="Abbréviation pour grande"><mark title="abbréviation">gꝛāde</mark></span></span> en auoir,</span>
   <span class="verse v3350"><span class="verse-number">3350</span>Si ne voulut le roy ſe condeſcendꝛe</span>
   <span class="verse v3351">Luy pardonner / que ne fuſt miſe en cendꝛe /.</span>
   <span class="verse v3352"><mark title="piedMouche">§</mark>Le maltalent
      / auſſi ne ſe changea</span>
   <span class="verse v3353">
      <span class="lem"></span>
      
      Contre Clouis / quelle a plain deſchargea,</span>
   <span class="verse v3354">Car Fredegonde auoit mys
      en reſerue</span>
   <span class="verse v3355"><span class="verse-number">3355</span>
      <span class="lem">Sus</span>
      
       ſa penſee / une amere conſerue,</span>
   <span class="verse v3356">Poꝛtant remoꝛs de fier gouſt eſuente</span>
   <span class="verse v3357">Pour ce que ia il 
      <span class="lem">ſeſtoit</span>
      
      
      
      <span class="lem"></span>
      
      foꝛt vante</span>
   <span class="verse v3358">Que incontinent apꝛes la moꝛt du pere,</span>
   <span class="verse v3359">Luy peruenu en ſon regne pꝛoſpere,</span>
   <span class="verse v3360"><span class="verse-number">3360</span>A elle et tous ſes 
      <span class="lem"></span>
      
      moꝛtelz ennemys</span>
   <span class="verse v3361">Bien monſtreroit que 
      <span class="lem"></span>
      
      eulx eſtre en peine mys,</span>
   <span class="verse v3362">Tant le gꝛeuer / ſeroit moult repꝛouchable,</span>
   <span class="verse v3363">Foꝛt ſcandaleux / et beaucoup 
      <span class="lem"></span>
      
      dommaigeable /.</span>
   <span class="verse v3364">Cela eſmeut / la royne a luy donner</span>
   <span class="verse v3365"><span class="verse-number">3365</span>Cruel aſſault /. et a moꝛt le mener /</span>
   <span class="verse v3366">Car des le iour / que luy fut rappoꝛtee</span>
   <span class="verse v3367">Ceſte parolle /. en fureur tranſpoꝛtee,</span>
   <span class="verse v3368">Oncques depuys neut repos deſperit</span>
   <span class="verse v3369">Iuſques au iour que par 
      <span class="lem">glayue</span>
      
      
      
      <span class="lem">perit</span>
      
       /</span>
   
   
   <hr data-img-id="f170">
   
   <p title="Numéro de folio" class="text-end"><i>67v</i></p>
   <span class="d-block fw-bold mb-3">La cruaulte de Chilperich en ſon filz Clouis.</span>
   <span class="verse v3370"><span class="verse-number">3370</span>Tant blaſonna la faulſe becquerelle</span>
   <span class="verse v3371">Enuers le roy / que a 
      <span class="lem">cueur pꝛiſt</span>
      
       ſa querelle /.</span>
   <span class="verse v3372">Tant ſceut le cas vifuement pourchaſſer</span>
   <span class="verse v3373">Que ung iour allant / en ſes foꝛeſtz chaſſer,</span>
   <span class="verse v3374">Celluy Clouis
      ſon filz commanda eſtre</span>
   <span class="verse v3375"><span class="verse-number">3375</span>Ioignant de luy / et pꝛouchain de ſa dextre,</span>
   <span class="verse v3376">Non pour luy faire en 
      <span class="lem">cela</span>
      
       / gꝛace /
      
      <span class="lem"></span>
      
      honneur</span>
   <span class="verse v3377">Ny amytie /.
      Mais de vie 
      <span class="lem"></span>
      
      
      <span class="lem">et</span>
      
       ſon heur</span>
   <span class="verse v3378">Deſhereder / Et 
      <span class="lem">en</span>
      
      
      
      <span class="lem"></span>
      
      tirant arriere</span>
   <span class="verse v3379">De laſſemblee /
      Av fons dune carriere</span>
   <span class="verse v3380"><span class="verse-number">3380</span>Le fiſt mener / garrotter / et lier,</span>
   <span class="verse v3381">Et ſon habit / (pour plus 
      <span class="lem">lhumilier</span>
      
      </span>
   <span class="verse v3382">
      <span class="lem">Mys</span>
      
      
       ius (
      <span class="lem"></span>
      
      veſtit / par foꝛce) la deſpouille</span>
   <span class="verse v3383">Dun oꝛd marauld / poꝛtant gꝛaine de pouille.</span>
   <span class="verse v3384">Et tout ainſi / par gentz a ce commys</span>
   <span class="verse v3385"><span class="verse-number">3385</span>En poſte fut vers la royne 
      <span class="lem"></span>
      
      tranſmys,</span>
   <span class="verse v3386">Qui le voyant arriue deuant elle</span>
   <span class="verse v3387">Linterroga : pour quoy il faiſoit telle</span>
   <span class="verse v3388">Commotion / et machination</span>
   <span class="verse v3389">Contre le roy /. Quelle ſuſpiction</span>
   <span class="verse v3390"><span class="verse-number">3390</span>
      <span class="lem">Sus</span>
      
       elle auoit /. Auſſi 
      <span class="lem">quelz</span>
      
       perſonnaiges</span>
   <span class="verse v3391">
      <span class="lem">Fauoꝛiſoient</span>
      
      
      
      
      <span class="lem">ſes</span>
      
       pꝛopos ſi lunaiges.</span>
   <span class="verse v3392">Quelz gentz tenoit alliez / pour deuoir</span>
   <span class="verse v3393">
      
      <span class="lem">Nyer le vray et filial deuoir</span>
      
      
      </span>
   <span class="verse v3394">Enuers ſon pere /. Autres queſtions belles</span>
   
   
   <hr data-img-id="f171">
   
   <p title="Numéro de folio" class="text-end"><i>68r</i></p>
   <span class="d-block fw-bold mb-3">Fredegonde fiſt
      empriſonner et occire Clouis.</span>
   <span class="verse v3395"><span class="verse-number">3395</span>
      <span class="lem">Sus</span>
      
       quoy pourroye eſcripꝛe longs libelles /</span>
   <span class="verse v3396">Luy fiſt tout plain. dont ſceut bien ſexcuſer</span>
   <span class="verse v3397">Et 
      <span class="lem">de</span>
      
       langaige aſſez honneſte vſer.</span>
   <span class="verse v3398">Mais neantmoins / pour la tenir en craincte,</span>
   <span class="verse v3399">Il luy donna dure et ſauuaige eſtraincte</span>
   <span class="verse v3400"><span class="verse-number">3400</span>En alleguant aulcuns miloꝛdz de court</span>
   <span class="verse v3401">De ſon party /.Ce
      pꝛopos trenche court,</span>
   <span class="verse v3402">Loꝛs commanda Fredegonde /
      
      <span class="lem">aux</span>
      
       ſatrappes</span>
   <span class="verse v3403">Lempꝛiſonner ſoubz les plus baſſes trappes,</span>
   <span class="verse v3404">Puys 
      <span class="lem">commanda</span>
      
       aux pires garnemens</span>
   <span class="verse v3405"><span class="verse-number">3405</span>Que apꝛes gꝛiefz maulx / et exceſſifs
      tourmentz,</span>
   <span class="verse v3406">Luy fuſt fourre ung couteau ſoubz la coſte,</span>
   <span class="verse v3407">Laiſſant le 
      <span class="lem">glayue</span>
      
       / en la 
      <span class="lem">playe</span>
      
       / ou de coſte,</span>
   <span class="verse v3408">Affin quon diſt / luy 
      <span class="lem">meſmes</span>
      
       / par tel faict</span>
   <span class="verse v3409">De deſeſpoir ſeſtre occis et deffait /</span>
   <span class="verse v3410"><span class="verse-number">3410</span><mark title="piedMouche">§</mark>
      <span class="lem">Ce</span>
      
       vil / enoꝛme / et cruel vitupere</span>
   <span class="verse v3411">Soudain vola aux aureilles du 
      <span class="lem"></span>
      
      pere,</span>
   <span class="verse v3412">Qui tout autant / dextime 
      <span class="lem">en</span>
      
       fiſt et tint</span>
   <span class="verse v3413">Que ſi 
      <span class="lem">en</span>
      
       riens 
      <span class="lem">lappꝛouchaſt</span>
      
       ou attint.</span>
   <span class="verse v3414">Mais pour monſtrer ſemblant den faire compte</span>
   <span class="verse v3415"><span class="verse-number">3415</span>Et <span class="lem">recouurer</span> quelque peu 
      <span class="lem">ceſte</span>
      
       honte,</span>
   <span class="verse v3416">Il commanda le coꝛps mectre au ſercueil</span>
   <span class="verse v3417">De ſa feu mere /. Et 
      <span class="lem">neſt</span>
      
      
      
      <span class="lem">nouuelle</span>
      
       que oeil</span>
   <span class="verse v3418">Onq en gectaſt larme ſeulle ne goutte.</span>
   <span class="verse v3419">Ceſt peu pꝛiſe ioyau qui ſi cher couſte.</span>
   
   
   <hr data-img-id="f172">
   
   <p title="Numéro de folio" class="text-end"><i>68v</i></p>
   <span class="d-block fw-bold mb-3">Linhumanite de Fredegonde.
      </span>
   <span class="verse v3420"><span class="verse-number">3420</span>O cueur cruel / trop plus dur que aymant /</span>
   <span class="verse v3421">Eſt il beliſtre (au monde)
      
      <span class="lem">et</span>
      
      
       caymant</span>
   
   <span class="verse v3422">Qui de ſon ſang (Selon deu de nature)</span>
   <span class="verse v3423">Ne pꝛiſt pitie / ? Mais eſt il creature</span>
   <span class="verse v3424">De bon aduis / voyant meurdꝛir 
      <span class="lem"></span>
      
      ſa chair</span>
   <span class="verse v3425"><span class="verse-number">3425</span>Qui ne ſe fiſt lame du coꝛps 
      <span class="lem">ſacher</span>
      
      ,</span>
   <span class="verse v3426">Ains quendurer faictz ſi abhominables / ?</span>
   <span class="verse v3427">Ne voyons 
      <span class="lem">nous</span>
      
      
      
      <span class="lem"></span>
      
      beſtes irraiſonnables</span>
   <span class="verse v3428">
      <span class="lem">Leurs</span>
      
       faons garder / par naturel 
      <span class="lem"></span>
      
      inſtinct / ?</span>
   <span class="verse v3429">En congnoiſt on / qui foꝛt pꝛes ne ſe tint</span>
   <span class="verse v3430"><span class="verse-number">3430</span>Pour ſa poꝛtee a ſon pouoir deffendꝛe / ?</span>
   <span class="verse v3431">Ie croy que non /. Humain cueur deuroit fendꝛe</span>
   <span class="verse v3432">Quant il congnoiſt / ſon ſang pꝛopꝛe 
      <span class="lem"></span>
      
      aſſeruy</span>
   <span class="verse v3433">A ſouffrir mal 
      <span class="lem">quil</span>
      
       na pas deſſeruy /.</span>
   <span class="verse v3434">
      <span class="lem">Celluy</span>
      
       eſt doncq pire que beſte 
      <span class="lem"></span>
      
      bꝛutte</span>
   <span class="verse v3435"><span class="verse-number">3435</span>Et plus cruel / qui damour ſe 
      <span class="lem"></span>
      
      rebutte,</span>
   <span class="verse v3436">Iuſque a laiſſer ſon enfant 
      <span class="lem">au</span>
      
       dangier</span>
   <span class="verse v3437">De cueur ſi chault / a ſe vouloir vengier,</span>
   <span class="verse v3438">Ainſi que fiſt ceſte faulſe deableſſe</span>
   <span class="verse v3439">Contraire a loy / et oꝛdꝛe de nobleſſe /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f166">
   <blockquote class="ms-2">
      
      <span class="verse v3272"><mark title="piedMouche">§</mark>Cy reprendrons la
         vie aquarïastre</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">
                  22
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span class="verse v3273">De <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> et ses divers envis,</span>
      <span class="verse v3274">Qui poursuyvant faire mourir <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>,</span>
      <span class="verse v3275"><span class="verse-number">3275</span>Se monstra lasche et mauvaise
         marrastre.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxi<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">Chapitre xxii me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxii<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappittre .xxii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v3276">Facilement se tient le vice en ply</span>
   <span class="verse v3277">Qui par coustume humain <span class="choice"><span title="Abbrégé en cueꝛ"><mark title="abbréviation">cueur</mark></span></span> rend emply</span>
   <span class="verse v3278">Et de <span style="position: relative;"><span class="lem">tant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">tout<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> plus à perdre est difficile</span>
   <span class="verse v3279">Que plus long temps y <span style="position: relative;">a</span> pris domicile.</span>
   <span class="verse v3280"><span class="verse-number">3280</span>Peché au cueur joinct et enraciné,</span>
   <span class="verse v3281">Par habitude y prend cours assigné.</span>
   <span class="verse v3282">C’est à propos de celle <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v3283">Qui par semblant d’humble et doulce faconde</span>
   <span class="verse v3284">Faignit avoir aprés <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> enfans mortz</span>
   <span class="verse v3285"><span class="verse-number">3285</span>De son peché trés angoisseux remors.</span>
   <span class="verse v3286">Et toutesvoyes soubz couleur fort crue elle</span>
   <span class="verse v3287">Continua sa maniere cruelle,</span>
   <span class="verse v3288">Mesmes envers et contre ce <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v3289">Duquel avons tenu <span style="position: relative;"><span class="lem">quelques</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content"><span class="choice">quelque</span><span class="coll-source"> [Aix419]</span></span><span class="collation-content">quelque<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> devis.</span>
   <span class="verse v3290"><span class="verse-number">3290</span>Elle voyant estre destituee</span>
   <span class="verse v3291">De <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> enfans,
      en l’ardeur situee</span>
   <span class="verse v3292"><span style="position: relative;"><span class="lem">D’un</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">du<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> desirer bouillant et <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content"><s>choleric</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>colericq,</span>
   
   
   <hr data-img-id="f167">
   
   <span class="curr-title fw-bold"><mark class="persName"><span class="choice"><span title="Abbrégé en Fredegōde"><mark title="abbréviation">Fredegonde</mark></span></span><span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> fist en ung&nbsp;pau mourir la concubine de
      <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v3293">Doubta <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>
      au regne <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark></span>
   <span class="verse v3294">Veoir succeder comme filz legitime.</span>
   <span class="verse v3295"><span class="verse-number">3295</span><mark title="piedMouche">§</mark>À ces raisons fist de ce
      gros extime</span>
   <span class="verse v3296">Et practicqua moyens de le trahir</span>
   <span class="verse v3297">En inclinant son pere à le hayr.</span>
   <span class="verse v3298">Or ce <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark> certaine <mark class="persName">Proserpine<span class="persName-info fw-normal on-right"><b>Proserpine</b><span class="hr-short">&nbsp;</span>Divinité de la mythologie romaine, reine des Enfers</span></mark></span>
   <span class="verse v3299">En son hostel tenoit pour concubine,</span>
   <span class="verse v3300"><span class="verse-number">3300</span>Et la vilaine aussi sa mere avoit,</span>
   <span class="verse v3301">Qui soubz <span style="position: relative;"><span class="lem">ceste</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">cest<span class="coll-source"> [Aix419, BnFfr23146]</span></span></span></sup></span> umbre en la maison vivoit.</span>
   <span class="verse v3302">Mais de tel heur assez tost recusees,</span>
   <span class="verse v3303">Furent ung jour vers <span style="position: relative;"><span class="lem">la royne</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">le roy<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> accusees&nbsp;:</span>
   <span class="verse v3304">La fille à cause et pour raison des tortz</span>
   <span class="verse v3305"><span class="verse-number">3305</span><span style="position: relative;"><span class="lem">Qui</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">Que<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> à plusieurs gentz tenoit par ses rapportz,</span>
   <span class="verse v3306">Et <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419, BnFfr23146]</span></span><span class="collation-content">à<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> la mere aussi le crime on dresse</span>
   <span class="verse v3307">D’estre sorciere et forte enchanteresse,</span>
   <span class="verse v3308">Si qu’on disoit par son art vil et ord</span>
   <span class="verse v3309">Que à <span style="position: relative;"><span class="lem">l’appetit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">la petif<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> seul <span style="position: relative;"><span class="lem">prouchatz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">pourchaz<span class="coll-source"> [Cha515]</span></span></span></sup></span> et ennort</span>
   <span class="verse v3310"><span class="verse-number">3310</span>Dudit <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark> elle avoit pris envie</span>
   <span class="verse v3311">Faire aux enfans du roy perdre la vie.</span>
   <span class="verse v3312"><mark title="piedMouche">§</mark>Lors <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>ayant le cueur
      confit</span>
   <span class="verse v3313">À sang espendre,
      emprisonner les fit</span>
   <span class="verse v3314">Et oultre afin que <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark> eust tristesse,</span>
   <span class="verse v3315"><span class="verse-number">3315</span>La fille veoir mourir <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> grand destresse,</span>
   <span class="verse v3316">Devant sa porte establit afficher</span>
   <span class="verse v3317">Ung grand pau d’arbre aigu.
      <span style="position: relative;"><span class="lem">Et là</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">alla<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">ficher</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">fiché<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   
   
   <hr data-img-id="f168">
   
   <span class="curr-title fw-bold">Les plaingz de la mere à la concubine de <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v3318">Fist ceste povre afflicte et malheureuse,</span>
   <span class="verse v3319">Là receut mort, c’est sa fin douloureuse.</span>
   <span class="verse v3320"><span class="verse-number">3320</span><mark title="piedMouche">§</mark>La mere
      aprés plusieurs maulx endurer,</span>
   <span class="verse v3321">Soubz <span class="choice"><span title="Abbrégé en lesq̄lz"><mark title="abbréviation">lesquelz</mark></span></span> n’est possible au long durer,</span>
   <span class="verse v3322">Aprés excés de diverses tortures,</span>
   <span class="verse v3323">Cruelz travaulx et calamitéz dures,</span>
   <span class="verse v3324">Son chestif corps charpenté, martiré,</span>
   <span class="verse v3325"><span class="verse-number">3325</span>Froissé, rompu,
      <span style="position: relative;"><span class="lem">courbatu</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25"><span class="collation-content">combactu<span class="coll-source"> [Aix419]</span></span></span></sup></span> et tiré,</span>
   <span class="verse v3326">Le cueur <span style="position: relative;"><span class="lem">serré</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">serra<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> entre frayeur et craincte,</span>
   <span style="position: relative;"><span class="lem">
         <span class="verse v3327">La povre <span style="position: relative;"><span class="lem">femme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content"><span class="unclear" instant="false">felme</span><span class="coll-source"> [BnDfr4964]</span></span></span></sup></span> à force et par contraincte,</span>
         </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
   <span class="verse v3328">Tout confessa ce crime et vil forfait</span>
   <span class="verse v3329">N’avoir esté que par son effort faict.</span>
   <span class="verse v3330"><span class="verse-number">3330</span>Joinct que <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark> à ce l’avoit induyte</span>
   <span class="verse v3331">Et par presentz de <span style="position: relative;"><span class="lem">pecunes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">pecune<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> seduicte,</span>
   <span class="verse v3332">Son procés fait,
      l’arrest par juge lay</span>
   <span class="verse v3333">Tost pronumce.
      Sans <span style="position: relative;"><span class="lem">prendre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content">faire<span class="coll-source"> [Aix419]</span></span></span></sup></span> autre delay,</span>
   <span class="verse v3334">Entre les mains <span style="position: relative;"><span class="lem">du bourreau</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown32" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown32"><span class="collation-content">des bourreaux<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fut baillee</span>
   <span class="verse v3335"><span class="verse-number">3335</span>Pour
      <span style="position: relative;"><span class="lem">dès</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">de<span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span></span></sup></span> ce jour
      estre vifve bruslee.</span>
   <span class="verse v3336"><mark title="piedMouche">§</mark>Avant mourir trés fort se lamentoit</span>
   <span class="verse v3337">En declairant que de cela mentoit,</span>
   <span class="verse v3338">Quant accusa <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark> estre coulpable</span>
   <span class="verse v3339">Du cas mys sus non commys ne probable,</span>
   <span class="verse v3340"><span class="verse-number">3340</span>Disant <span style="position: relative;"><span class="lem">avoir par force</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">par force avoir<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> confessé</span>
   <span class="verse v3341"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">Se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;">qu’oncq</span> ne sceut estre fait ou pensé.</span>
   <span class="verse v3342">Et plus eust dit <span style="position: relative;">sus</span> la chose alleguee</span>
   <span class="verse v3343">Se plus avant se veist interroguee,</span>
   <span class="verse v3344">Car en tel cas
      il n’y a si constant</span>
   
   
   <hr data-img-id="f169">
   
   <span class="curr-title fw-bold">Le maltalent de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> contre <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>
      </span>
   <span class="verse v3345"><span class="verse-number">3345</span>Qui par <span style="position: relative;"><span class="lem">gehiner</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content">gehenner<span class="coll-source"> [Cha515]</span></span></span></sup></span> n’en dist trois foys autant.</span>
   <span class="verse v3346">Mais pour son dire et <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">ses <span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>plainctes <span style="position: relative;"><span class="lem">si</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> terribles,</span>
   <span class="verse v3347">Gemissemens, regretz et cris horribles,</span>
   <span class="verse v3348">Assez <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">ou<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> trop <span style="position: relative;"><span class="lem">suffisans</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content"><span class="choice">suffisemmant</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pour mouvoir</span>
   <span class="verse v3349">Cueurs gros et durs pitié <span class="choice"><span title="Abbrégé en grāde"><mark title="abbréviation">grande</mark></span></span> en avoir,</span>
   <span class="verse v3350"><span class="verse-number">3350</span>Si ne voulut le roy se condescendre</span>
   <span class="verse v3351">Luy pardonner que ne fust mise en cendre.</span>
   <span class="verse v3352"><mark title="piedMouche">§</mark>Le maltalent aussi ne se changea</span>
   <span class="verse v3353">Contre <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>, qu’elle à plain deschargea,</span>
   <span class="verse v3354">Car <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> avoit mys
      en reserve</span>
   <span class="verse v3355"><span class="verse-number">3355</span><span style="position: relative;">Sus</span> sa pensee une amere conserve,</span>
   <span class="verse v3356">Portant remors de fier goust esventé</span>
   <span class="verse v3357">Pour ce que ja il <span style="position: relative;"><span class="lem">s’estoit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48"><span class="collation-content">c’estoit<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      fort vanté</span>
   <span class="verse v3358">Que incontinent aprés la mort du pere,</span>
   <span class="verse v3359">Luy pervenu en son regne prospere,</span>
   <span class="verse v3360"><span class="verse-number">3360</span>À elle et tous ses <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content"><s>ennemys</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>mortelz ennemys</span>
   <span class="verse v3361">Bien monstreroit que <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">que <span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>eulx estre en peine mys,</span>
   <span class="verse v3362">Tant le grever seroit moult reprouchable,</span>
   <span class="verse v3363">Fort scandaleux et beaucoup dommaigeable.</span>
   <span class="verse v3364">Cela esmeut la royne à luy donner</span>
   <span class="verse v3365"><span class="verse-number">3365</span>Cruel assault et à mort le mener,</span>
   <span class="verse v3366">Car dès le jour que luy fut rapportee</span>
   <span class="verse v3367">Ceste parolle en fureur transportee,</span>
   <span class="verse v3368">Oncques depuys n’eut repos d’esperit</span>
   <span class="verse v3369">Jusques au jour que par <span style="position: relative;"><span class="lem">glayve</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content">glayves<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">perit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">verit<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   
   
   <hr data-img-id="f170">
   
   <span class="curr-title fw-bold">La cruaulté de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> en son filz <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v3370"><span class="verse-number">3370</span>Tant blasonna la faulse becquerelle</span>
   <span class="verse v3371">Envers le roy que à <span style="position: relative;"><span class="lem">cueur prist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content">cueurs prant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sa querelle.</span>
   <span class="verse v3372">Tant sceut le cas vifvement pourchasser</span>
   <span class="verse v3373">Que ung jour allant en ses forestz chasser,</span>
   <span class="verse v3374">Celluy <mark class="persName">Clovis<span class="persName-info fw-normal on-right"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark>
      son filz commanda estre</span>
   <span class="verse v3375"><span class="verse-number">3375</span>Joignant de luy et prouchain de sa dextre,</span>
   <span class="verse v3376">Non pour luy faire en <span style="position: relative;"><span class="lem">cela</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56"><span class="collation-content">ce<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> grace,
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content">et <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>honneur</span>
   <span class="verse v3377">Ny amytié,
      mais de vie <span style="position: relative;">et</span> son heur</span>
   <span class="verse v3378">Deshereder. Et <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">le<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span>
      tirant arriere</span>
   <span class="verse v3379">De l’assemblee,
      au fons d’une carriere</span>
   <span class="verse v3380"><span class="verse-number">3380</span>Le fist mener, garrotter et lïer,</span>
   <span class="verse v3381">Et son habitpour plus <span style="position: relative;"><span class="lem">l’humilïer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">humilïer<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span></span>
   <span class="verse v3382"><span style="position: relative;"><span class="lem">Mys</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63"><span class="collation-content">My<span>st</span><span class="coll-source"> [Aix419]</span></span><span class="collation-content">Mist<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> jus, vestit par force la despouille</span>
   <span class="verse v3383">D’un ord marauld portant graine de pouille.</span>
   <span class="verse v3384">Et tout ainsi par gentz à ce commys</span>
   <span class="verse v3385"><span class="verse-number">3385</span>En poste fut vers la royne transmys,</span>
   <span class="verse v3386">Qui le voyant arrivé devant elle</span>
   <span class="verse v3387">L’interroga pour quoy il faisoit telle</span>
   <span class="verse v3388">Commotïon et machinatïon</span>
   <span class="verse v3389">Contre le roy. Quelle suspictïon</span>
   <span class="verse v3390"><span class="verse-number">3390</span><span style="position: relative;">Sus</span> elle avoit ? Aussi <span style="position: relative;"><span class="lem">quelz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown67" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown67"><span class="collation-content">des<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> personnaiges</span>
   <span class="verse v3391"><span style="position: relative;"><span class="lem">Favorisoient</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">Favorysans<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Favorisant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69"><span class="collation-content">ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> propos si lunaiges ?</span>
   <span class="verse v3392">Quelz gentz tenoit allïéz pour devoir</span>
   <span class="verse v3393">
      <span style="position: relative;">Nÿer le vray et filial devoir</span>
      </span>
   <span class="verse v3394">Envers son pere ? Autres questïons belles</span>
   
   
   <hr data-img-id="f171">
   
   <span class="curr-title fw-bold"><mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> fist
      emprisonner et occire <mark class="persName">Clovis<span class="persName-info fw-normal on-left"><b>Clovis</b> (VIe siècle — 580)<span class="hr-100">&nbsp;</span>Prince franc (?-580)<br/><span class="hr-short">&nbsp;</span>Prince franc, fils de Childéric Ier</span></mark></span>
   <span class="verse v3395"><span class="verse-number">3395</span><span style="position: relative;">Sus</span> quoy pourroye escripre longs libelles</span>
   <span class="verse v3396">Luy fist tout plain, dont sceut bien s’excuser</span>
   <span class="verse v3397">Et <span style="position: relative;">de</span> langaige assez honneste user.</span>
   <span class="verse v3398">Mais neantmoins pour la tenir en craincte,</span>
   <span class="verse v3399">Il luy donna dure et sauvaige estraincte</span>
   <span class="verse v3400"><span class="verse-number">3400</span>En alleguant aulcuns milordz de court</span>
   <span class="verse v3401">De son party. Ce
      propos trenché court,</span>
   <span class="verse v3402">Lors commanda <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>
      <span style="position: relative;"><span class="lem">aux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73"><span class="collation-content">à ses<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> satrappes</span>
   <span class="verse v3403">L’emprisonner soubz les plus basses trappes,</span>
   <span class="verse v3404">Puys <span style="position: relative;"><span class="lem">commanda</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown74" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown74"><span class="collation-content">ordonna<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span> aux pires garnemens</span>
   <span class="verse v3405"><span class="verse-number">3405</span>Que aprés griefz maulx et excessifs
      tourmentz,</span>
   <span class="verse v3406">Luy fust fourré ung couteau soubz la coste,</span>
   <span class="verse v3407">Laissant le <span style="position: relative;"><span class="lem">glayve</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75"><span class="collation-content">gresve<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> en la <span style="position: relative;"><span class="lem">playe</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76"><span class="collation-content">place<span class="coll-source"> [BnFfr4964, BnFfr4965, Cha515]</span></span></span></sup></span> ou de coste,</span>
   <span class="verse v3408">Affin qu’on dist luy <span style="position: relative;"><span class="lem">mesmes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77"><span class="collation-content">mesme<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> par tel faict</span>
   <span class="verse v3409">De desespoir s’estre occis et deffait.</span>
   <span class="verse v3410"><span class="verse-number">3410</span><mark title="piedMouche">§</mark><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown78" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown78"><span class="collation-content">Car<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> vil enorme et cruel vitupere</span>
   <span class="verse v3411">Soudain vola aux aureilles du pere,</span>
   <span class="verse v3412">Qui tout autant d’extime <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown80" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown80"><span class="collation-content">et<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fist et tint</span>
   <span class="verse v3413">Que si <span style="position: relative;">en</span> riens <span style="position: relative;"><span class="lem">l’approuchast</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown82" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown82"><span class="collation-content">ne luy touchast<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> ou attint.</span>
   <span class="verse v3414">Mais pour monstrer semblant d’en faire compte</span>
   <span class="verse v3415"><span class="verse-number">3415</span>Et <span style="position: relative;"><span class="lem">recouvrer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown83" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown83"><span class="collation-content">recouvrir<span class="coll-source"> [Cha515]</span></span></span></sup></span> quelque peu <span style="position: relative;">ceste</span> honte,</span>
   <span class="verse v3416">Il commanda le corps mectre au sercueil</span>
   <span class="verse v3417">De sa feu mere. Et <span style="position: relative;"><span class="lem">n’est</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown85" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown85"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">nouvelle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown86" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown86"><span class="collation-content">nouvelles<span class="coll-source"> [Aix419]</span></span></span></sup></span> que oeil</span>
   <span class="verse v3418">Onq en gectast larme seulle ne goutte.</span>
   <span class="verse v3419">C’est peu prisé joyau qui si cher couste.</span>
   
   
   <hr data-img-id="f172">
   
   <span class="curr-title fw-bold">L’inhumanité de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>
      </span>
   <span class="verse v3420"><span class="verse-number">3420</span>O cueur cruel trop plus dur que aymant,</span>
   <span class="verse v3421">Est il belistreau monde
      <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown87" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown87"><span class="collation-content">ou<span class="coll-source"> [BnFfr17274, Cha515, BnFfr4964, BnFfr4965]</span></span><span class="collation-content">ne<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> caÿmant</span>
   
   <span class="verse v3422">Qui de son sangselon deu de nature</span>
   <span class="verse v3423">Ne prist pitié ? Mais est il creature</span>
   <span class="verse v3424">De bon advis voyant meurdrir sa chair</span>
   <span class="verse v3425"><span class="verse-number">3425</span>Qui ne se fist lame du corps <span style="position: relative;"><span class="lem">sacher</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown89" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown89"><span class="collation-content">chaser<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v3426">Ains qu’endurer faictz si abhominables ?</span>
   <span class="verse v3427">Ne voyons <span style="position: relative;">nous</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown91" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown91"><span class="collation-content"><span class="choice">que</span>
                  <span class="coll-source"> [Aix419]</span></span></span></sup></span>bestes irraisonnables</span>
   <span class="verse v3428"><span style="position: relative;"><span class="lem">Leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown92" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown92"><span class="collation-content">Leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> faons garder par naturel instinct ?</span>
   <span class="verse v3429">En congnoist on qui fort près ne se tint</span>
   <span class="verse v3430"><span class="verse-number">3430</span>Pour sa portee à son pouoir deffendre ?</span>
   <span class="verse v3431">Je croy que non. Humain cueur devroit fendre</span>
   <span class="verse v3432">Quant il congnoist son sang propre asservy</span>
   <span class="verse v3433">À souffrir mal <span style="position: relative;"><span class="lem">qu’il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown95" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown95"><span class="collation-content">qui<span class="coll-source"> [BnFfr4964, BnFfr17274]</span></span></span></sup></span> n’a pas desservy.</span>
   <span class="verse v3434"><span style="position: relative;"><span class="lem">Celluy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown96" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown96"><span class="collation-content">Cestuy<span class="coll-source"> [Aix419]</span></span></span></sup></span> est doncq pire que beste brutte</span>
   <span class="verse v3435"><span class="verse-number">3435</span>Et plus cruel qui d’amour se rebutte,</span>
   <span class="verse v3436">Jusque à laisser son enfant <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown99" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown99"><span class="collation-content">en<span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span></span></sup></span> dangier</span>
   <span class="verse v3437">De cueur si chault à se vouloir vengier,</span>
   <span class="verse v3438">Ainsi que fist ceste faulse deablesse</span>
   <span class="verse v3439">Contraire à loy et ordre de noblesse.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            22
            </span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxii me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xxii<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3278);">v. 3278</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>tout</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3284);">v. 3284</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3289);">v. 3289</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">quelque</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>quelque</span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3291);">v. 3291</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3292);">v. 3292</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>du</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3292);">v. 3292</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>choleric</s>
            </span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3301);">v. 3301</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr23146 </span>cest</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3303);">v. 3303</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>le roy</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3305);">v. 3305</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>Que</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3306);">v. 3306</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>à</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3309);">v. 3309</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>la petif</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3309);">v. 3309</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>pourchaz</span></div>
   </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3315);">v. 3315</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3317);">v. 3317</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>alla</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3317);">v. 3317</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fiché</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3325);">v. 3325</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>combactu</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3326);">v. 3326</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>serra</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3327);">v. 3327</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnDfr4964 </span><span class="unclear" instant="false">felme</span></span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3331);">v. 3331</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>pecune</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3333);">v. 3333</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>faire</span></div>
      </div>
   <div class="collation row" id="coll32">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3334);">v. 3334</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>des bourreaux</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3335);">v. 3335</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3340);">v. 3340</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>par force avoir</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3341);">v. 3341</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Se</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3345);">v. 3345</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>gehenner</span></div>
   </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3346);">v. 3346</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ses </span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3346);">v. 3346</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3348);">v. 3348</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ou</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3348);">v. 3348</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">suffisemmant</span></span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3357);">v. 3357</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>c’estoit</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3360);">v. 3360</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>ennemys</s>
            </span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3361);">v. 3361</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>que </span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3369);">v. 3369</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>glayves</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3369);">v. 3369</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>verit</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3371);">v. 3371</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>cueurs prant</span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3376);">v. 3376</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>ce</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3376);">v. 3376</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>et </span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3378);">v. 3378</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>le</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3381);">v. 3381</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>humilïer</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3382);">v. 3382</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>My<span>st</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Mist</span></div>
      </div>
   <div class="collation row" id="coll67">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3390);">v. 3390</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>des</span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3391);">v. 3391</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Favorysans</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Favorisant</span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3391);">v. 3391</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ces</span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3402);">v. 3402</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>à ses</span></div>
      </div>
   <div class="collation row" id="coll74">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3404);">v. 3404</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515 </span>ordonna</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3407);">v. 3407</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gresve</span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3407);">v. 3407</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Cha515 </span>place</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3408);">v. 3408</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>mesme</span></div>
      </div>
   <div class="collation row" id="coll78">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3410);">v. 3410</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Car</span></div>
      </div>
   <div class="collation row" id="coll80">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3412);">v. 3412</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et</span></div>
      </div>
   <div class="collation row" id="coll82">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3413);">v. 3413</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>ne luy touchast</span></div>
      </div>
   <div class="collation row" id="coll83">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3415);">v. 3415</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>recouvrir</span></div>
   </div>
   <div class="collation row" id="coll85">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3417);">v. 3417</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll86">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3417);">v. 3417</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>nouvelles</span></div>
      </div>
   <div class="collation row" id="coll87">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3421);">v. 3421</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, Cha515, BnFfr4964, BnFfr4965 </span>ou</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ne</span></div>
      </div>
   <div class="collation row" id="coll89">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3425);">v. 3425</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>chaser</span></div>
      </div>
   <div class="collation row" id="coll91">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3427);">v. 3427</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">que</span>
            </span></div>
      </div>
   <div class="collation row" id="coll92">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3428);">v. 3428</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Leur</span></div>
      </div>
   <div class="collation row" id="coll95">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3433);">v. 3433</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr17274 </span>qui</span></div>
      </div>
   <div class="collation row" id="coll96">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3434);">v. 3434</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Cestuy</span></div>
      </div>
   <div class="collation row" id="coll99">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3436);">v. 3436</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span>en</span></div>
      </div>
</div>
{% endmacro %}
