
{% macro chapterTitle() %}Chapitre 24{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('24_chap_23')"><i class="fa-solid fa-arrow-left"></i> Chapitre 23</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('26_chap_25')">Chapitre 25 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f184/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f184/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f184" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f185/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f185/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f185" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f186/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f186/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f186" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f187/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f187/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f187" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f184">
   <p title="Numéro de folio" class="text-end"><i>74v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v3694"><mark title="piedMouche">§</mark>De ceſtuy roy
         nentend le propos taire</span>
      <span class="verse v3695"><span class="verse-number">3695</span>Que apres 
         <span class="lem">moult</span>
         
          eſtre a deſpit inuite,</span>
      <span class="verse v3696">Fort ſeſiouyt 
         <span class="lem">en</span>
         
          la natiuite</span>
      <span class="verse v3697">Dun filz receu. quil fiſt 
         <span class="lem">nommer</span>
         
         
         Clotaire.</span>
      
      <span class="lem"></span>
      
      
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xxiiii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v3698">APres trauail / qui ſcet 
      <span class="lem">les cueurs</span>
      
      
       touche
      <span class="lem">r</span>
      
      
      </span>
   <span class="verse v3699">De femme enſeincte 
      <span class="lem">au</span>
      
       terme daccou
      <span class="lem">cher</span>
      
      
      ,</span>
   <span class="verse v3700"><span class="verse-number">3700</span>Dont la douleur (ainſi quon dit) excede</span>
   <span class="verse v3701">Tout autre mal / qui coꝛps humain poſſede,</span>
   <span class="verse v3702">Suruient plaiſir de paiſible repos</span>
   <span class="verse v3703">Comme leſcript teſmongne a ce pꝛopos</span>
   <span class="verse v3704">Que a 
      <span class="lem">lenfanter</span>
      
       / femme a triſte moꝛſure</span>
   <span class="verse v3705"><span class="verse-number">3705</span>
      <span class="lem"></span>
      
      Mais toſt apꝛes / de la peine et pꝛeſſure</span>
   <span class="verse v3706">Ne luy ſouuient / quant 
      <span class="lem">heur</span>
      
      
       luy eſt donne</span>
   <span class="verse v3707">Soy deliurer denfant au monde ne /.</span>
   <span class="verse v3708">En cas pareil / la royne Fredegonde</span>
   <span class="verse v3709">(A conceuoir bien fertile et 
      <span class="lem">fecunde</span>
      
      )</span>
   <span class="verse v3710"><span class="verse-number">3710</span>Gꝛoſſe denfant /
      Apꝛes le gꝛand dueil fait</span>
   <span class="verse v3711">Du dernier filz / par moꝛt / ainſi deffait /</span>
   <span class="verse v3712">Et apꝛes maulx que eut a poꝛter en elle</span>
   
   
   <hr data-img-id="f185">
   
   <p title="Numéro de folio" class="text-end"><i>75r</i></p>
   <span class="d-block fw-bold mb-3">Ioyes / pour le daulphin Clotaire que Fredegonde enfanta.</span>
   <span class="verse v3713">A ſon trauail /
      La douleur maternelle</span>
   <span class="verse v3714">
      <span class="lem">Tout</span>
      
       eſtaignit / et rendit deſconfitz</span>
   <span class="verse v3715"><span class="verse-number">3715</span>Pleurs et regꝛetz / voyant ung ſi beau filz</span>
   <span class="verse v3716">Quelle enfanta /.
      Chilperich au ſemblable</span>
   <span class="verse v3717">Eut en ſon cueur plaiſir inextimable,</span>
   <span class="verse v3718">Duquel chaſſa tous deſpitz ennuyeux,</span>
   <span class="verse v3719">Car en ce monde / il ne demandoit mieulx</span>
   <span class="verse v3720"><span class="verse-number">3720</span>Et bien penſa luy eſtre voye ouuerte</span>
   <span class="verse v3721">Dauoir la ſienne attente recouuerte /.</span>
   <span class="verse v3722">Veu lenfant ne / quil pouoit 
      <span class="lem"></span>
      
      eſperer</span>
   <span class="verse v3723">En ſon royaulme / apꝛes luy 
      <span class="lem"></span>
      
      pꝛoſperer /.</span>
   <span class="verse v3724">Loꝛs gentz deſtat haultement ſe parerent,</span>
   <span class="verse v3725"><span class="verse-number">3725</span>Les feuz de ioye / et banquetz pꝛeparerent</span>
   <span class="verse v3726">A tous venans /
      
      <span class="lem">crians</span>
      
      
      <span title="Discours direct">Viue le roy.</span></span>
   <span class="verse v3727"><span title="Discours direct">Royne et daulphin /</span>, qui de peſant charroy</span>
   <span class="verse v3728">
      <span class="lem">Soulaigeront</span>
      
      
       le peuple tributaire /.</span>
   <span class="verse v3729">Pour 
      <span class="lem">celluy</span>
      
       filz (
      <span class="lem">ſus</span>
      
       fontz nomme)
      Clotaire,</span>
   <span class="verse v3730"><span class="verse-number">3730</span>Voulut le roy tous criminelz delictz</span>
   <span class="verse v3731">
      <span class="lem">Des</span>
      
       malfaicteurs / eſtre en lheure aboliz,</span>
   <span class="verse v3732">Et commanda ouurir pꝛiſons / pour mectre</span>
   <span class="verse v3733">Hoꝛs pꝛiſonniers /
      
      <span class="lem"></span>
      
      quoy que euſſent ſceu commectre.</span>
   <span class="verse v3734">Ce que fut fait /. Mais apꝛes ce plaiſir,</span>
   <span class="verse v3735"><span class="verse-number">3735</span>Ainſi que va le cueur des gentz ſaiſir</span>
   <span class="verse v3736">Aigꝛe douleur / qui 
      <span class="lem">ſe</span>
      
      
       meſle en colicque</span>
   <span class="verse v3737">Et lhomme rend triſte /
      
      <span class="lem"></span>
      
      melencolicque</span>
   
   
   <hr data-img-id="f186">
   
   <p title="Numéro de folio" class="text-end"><i>75v</i></p>
   <span class="d-block fw-bold mb-3">De la craincte qui entreuint au cueur de Chilperich.
      </span>
   <span class="verse v3738">Et foꝛt faſche / du
      iour au landemain,</span>
   <span class="verse v3739">Eut dueil pour ioye /. apꝛes 
      <span class="lem">ſoulas</span>
      
       humain</span>
   <span class="verse v3740"><span class="verse-number">3740</span>Receut deſpit /. Damour / hayne contraincte,</span>
   <span class="verse v3741">Daiſe / trauail /. et
      daſſeurance / craincte /.</span>
   <span class="verse v3742">Tant ſe laiſſa de craincte tranſpoꝛter,</span>
   <span class="verse v3743">Quil commanda tous ſes treſoꝛs poꝛter</span>
   <span class="verse v3744">Dedans <mark title="placeName" instant="false" full="yes">Cambꝛay</mark> /. Ceſtoit ſignifiance</span>
   <span class="verse v3745"><span class="verse-number">3745</span>Que aux ſiens nauoit bonne et 
      <span class="lem">ſaine</span>
      
       fiance /.</span>
   <span class="verse v3746">Foꝛt redoubta laliance 
      <span class="lem"></span>
      
      des ſiens</span>
   <span class="verse v3747">Frere et nepueu / que a cauſe 
      <span class="lem">des</span>
      
       anciens</span>
   <span class="verse v3748">Si oultraigeux 
      <span class="lem">degaſtz faictz</span>
      
      
      
      <span class="lem">ſus</span>
      
       leurs terres,</span>
   <span class="verse v3749">
      <span class="lem"></span>
      
      Encontre luy ſoudain cueilliſſent 
      <span class="lem"></span>
      
      erres</span>
   <span class="verse v3750"><span class="verse-number">3750</span>De durs effoꝛtz / pour 
      <span class="lem">eulx</span>
      
       vouloir venger /.</span>
   <span class="verse v3751">A ce moyen / ſouuent ſe alla loger</span>
   <span class="verse v3752">En 
      <span class="lem"></span>
      
      beaulx plains champs / ou 
      <span class="lem">fiſt dꝛeſſer</span>
      
      
      
      
      
       ſes tentes</span>
   <span class="verse v3753">Auecq ſon oſt /. Et
      pour ſeures actentes,</span>
   <span class="verse v3754">Miſt gentz au guet (doubtant eſtre ſurpꝛis)</span>
   <span class="verse v3755"><span class="verse-number">3755</span><mark title="piedMouche">§</mark>En tel 
      <span class="lem">eſtat vit</span>
      
      
      
      <span class="lem">homme</span>
      
      
       ayant meſpꝛis /.</span>
   <span class="verse v3756">Touſiours ainſi / conſcience cheſtifue</span>
   <span class="verse v3757">Demeure en ſoy ſcrupuleuſe et craintifue,</span>
   <span class="verse v3758">Comme teſmoing du criminel peche</span>
   <span class="verse v3759">Dont 
      <span class="lem">elle</span>
      
       ſent / ſon dur cueur empeſche.</span>
   <span class="verse v3760"><span class="verse-number">3760</span><mark title="piedMouche">§</mark>Oꝛ pour gecter fantaiſie
      ennuyeuſe</span>
   <span class="verse v3761">Et diuertir celle doubte hayneuſe</span>
   <span class="verse v3762">Delibera Chilperich /
      <span class="date" dur="P1D" instant="false">quelque</span> iour</span>
   
   
   <hr data-img-id="f187">
   
   <p title="Numéro de folio" class="text-end"><i>76r</i></p>
   <span class="d-block fw-bold mb-3">Chilperich ſe alla
      tenir a <mark title="placeName" instant="false" full="yes">Chelles</mark>.</span>
   <span class="verse v3763">Faire / a ung bourg nomme /
      <mark title="placeName" instant="false" full="yes">Chelles</mark> ſeiour</span>
   <span class="verse v3764">Car il vouloit ſon paſſe temps reduyꝛe</span>
   <span class="verse v3765"><span class="verse-number">3765</span>En venerie /.
      
      <span class="lem"></span>
      
      et du tout ſe y deduyꝛe.</span>
   <span class="verse v3766">Mais mieulx luy fuſt en maiſon repoſer</span>
   <span class="verse v3767">Que aux champs / ung pied deuant lautre 
      <span class="lem"></span>
      
      poſer,</span>
   <span class="verse v3768">Veu le haſard de piteuſe aduenture</span>
   <span class="verse v3769">Qui luy ſuruint / ( comme dit leſcripture.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f184">
   <blockquote class="ms-2">
      
      <span class="verse v3694"><mark title="piedMouche">§</mark>De cestuy roy
         n’entend le propos taire</span>
      <span class="verse v3695"><span class="verse-number">3695</span>Que aprés <span style="position: relative;"><span class="lem">moult</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">mal<span class="coll-source"> [BnFfr4965, BnFfr17274]</span></span></span></sup></span> estre à despit invité,</span>
      <span class="verse v3696">Fort s’esjouyt <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">à<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> la nativité</span>
      <span class="verse v3697">D’un filz receu qu’il fist <span style="position: relative;"><span class="lem">nommer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content"><span class="choice">nommé</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
         <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
               Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark>.</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">
                  25
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxiiii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">Chapitre xxv me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxv<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxv<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappittre .xxv<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v3698">Aprés travail qui scet <span style="position: relative;"><span class="lem">les cueurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">le <span class="choice">cueur</span><span class="coll-source"> [Aix419]</span></span><span class="collation-content">le cueur<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> touche<span style="position: relative;"><span class="lem">r</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr24136]</span></span></span></sup></span></span>
   <span class="verse v3699">De femme enseincte <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">en<span class="coll-source"> [BnFfr24136]</span></span></span></sup></span> terme d’accou<span style="position: relative;"><span class="lem">cher</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content">che<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v3700"><span class="verse-number">3700</span>Dont la douleur, ainsi qu’on dit, excede</span>
   <span class="verse v3701">Tout autre mal qui corps humain possede,</span>
   <span class="verse v3702">Survient plaisir de paisible repos</span>
   <span class="verse v3703">Comme l’escript tesmongne à ce propos</span>
   <span class="verse v3704">Que à <span style="position: relative;"><span class="lem">l’enfanter</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">l’enfente<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> femme a triste morsure</span>
   <span class="verse v3705"><span class="verse-number">3705</span>Mais tost aprés de la peine et pressure</span>
   <span class="verse v3706">Ne luy souvient, quant <span style="position: relative;"><span class="lem">heur</span></span> luy est donné</span>
   <span class="verse v3707">Soy delivrer d’enfant au monde né.</span>
   <span class="verse v3708">En cas pareil la royne <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v3709">À concevoir bien fertile et <span style="position: relative;"><span class="lem">fecunde</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">faconde<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>,</span>
   <span class="verse v3710"><span class="verse-number">3710</span>Grosse d’enfant
      aprés le grand dueil fait</span>
   <span class="verse v3711">Du dernier filz par mort ainsi deffait,</span>
   <span class="verse v3712">Et aprés maulx que eut à porter en elle</span>
   
   
   <hr data-img-id="f185">
   
   <span class="curr-title fw-bold">Joyes pour le daulphin <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark> que <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> enfanta</span>
   <span class="verse v3713">À son travail
      la douleur maternelle</span>
   <span class="verse v3714"><span style="position: relative;"><span class="lem">Tout</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">Toute<span class="coll-source"> [Aix419, BnFfr23146, Cha515]</span></span></span></sup></span> estaignit et rendit desconfitz</span>
   <span class="verse v3715"><span class="verse-number">3715</span>Pleurs et regretz, voyant ung si beau filz</span>
   <span class="verse v3716">Qu’elle enfanta.
      <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> au semblable</span>
   <span class="verse v3717">Eut en son cueur plaisir inextimable,</span>
   <span class="verse v3718">Duquel chassa tous despitz ennuyeux,</span>
   <span class="verse v3719">Car en ce monde il ne demandoit mieulx</span>
   <span class="verse v3720"><span class="verse-number">3720</span>Et bien pensa luy estre voye ouverte</span>
   <span class="verse v3721">D’avoir la sienne attente recouverte,</span>
   <span class="verse v3722">Veu l’enfant né qu’il pouoit esperer</span>
   <span class="verse v3723">En son royaulme aprés luy <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content"><s>lu</s>
                  <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>prosperer.</span>
   <span class="verse v3724">Lors gentz d’estat haultement se parerent,</span>
   <span class="verse v3725"><span class="verse-number">3725</span>Les feuz de joye et banquetz preparerent</span>
   <span class="verse v3726">À tous venans
      <span style="position: relative;"><span class="lem">crians</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">chians<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span title="Discours direct">«&nbsp;Vive le roy,&nbsp;»</span></span>
   <span class="verse v3727"><span title="Discours direct">«&nbsp;Royne et daulphin !&nbsp;»</span>, qui de pesant charroy</span>
   <span class="verse v3728"><span style="position: relative;"><span class="lem">Soulaigeront</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">Soullagerent<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content"><span class="choice">soulaigerent</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> le peuple tributaire.</span>
   <span class="verse v3729">Pour <span style="position: relative;"><span class="lem">celluy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">cestuy<span class="coll-source"> [Aix419]</span></span></span></sup></span> filz<span style="position: relative;">sus</span> fontz nommé
      <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark>,</span>
   <span class="verse v3730"><span class="verse-number">3730</span>Voulut le roy tous criminelz delictz</span>
   <span class="verse v3731"><span style="position: relative;"><span class="lem">Des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">De<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> malfaicteurs estre en l’heure aboliz,</span>
   <span class="verse v3732">Et commanda ouvrir prisons pour mectre</span>
   <span class="verse v3733">Hors prisonniers
      quoy que eussent sceu commectre.</span>
   <span class="verse v3734">Ce que fut fait. Mais aprés ce plaisir,</span>
   <span class="verse v3735"><span class="verse-number">3735</span>Ainsi que va le cueur des gentz saisir</span>
   <span class="verse v3736">Aigre douleur qui <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">tost<span class="coll-source"> [BnFfr4965, BnFfr17274]</span></span><span class="collation-content">tout<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> mesle en colicque</span>
   <span class="verse v3737">Et l’homme rend triste,
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">et <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>melencolicque</span>
   
   
   <hr data-img-id="f186">
   
   <span class="curr-title fw-bold">De la craincte qui entrevint au cueur de <mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      </span>
   <span class="verse v3738">Et fort fasché, du
      jour au landemain,</span>
   <span class="verse v3739">Eut dueil pour joye, aprés <span style="position: relative;">soulas</span> humain</span>
   <span class="verse v3740"><span class="verse-number">3740</span>Receut despit. D’amour, hayne contraincte,</span>
   <span class="verse v3741">D’aise, travail, et
      d’asseurance, craincte,</span>
   <span class="verse v3742">Tant se laissa de craincte transporter,</span>
   <span class="verse v3743">Qu’il commanda tous ses tresors porter</span>
   <span class="verse v3744">Dedans <mark title="placeName" instant="false" full="yes">Cambray</mark>. C’estoit signifïance</span>
   <span class="verse v3745"><span class="verse-number">3745</span>Que aux siens n’avoit bonne et <span style="position: relative;"><span class="lem">saine</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">sceure<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fïance.</span>
   <span class="verse v3746">Fort redoubta l’alïance des siens</span>
   <span class="verse v3747">Frere et nepveu, que à cause <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">de<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> anciens</span>
   <span class="verse v3748">Si oultraigeux <span style="position: relative;"><span class="lem">degastz faictz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">degast feit<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;">sus</span> leurs terres,</span>
   <span class="verse v3749">Encontre luy soudain cueillissent erres</span>
   <span class="verse v3750"><span class="verse-number">3750</span>De durs effortz pour <span style="position: relative;"><span class="lem">eulx</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> vouloir venger.</span>
   <span class="verse v3751">À ce moyen souvent se alla loger</span>
   <span class="verse v3752">En beaulx plains champs où <span style="position: relative;"><span class="lem">fist dresser</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">dresser fit<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content">dresser feit<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">dresser feyt<span class="coll-source"> [Aix419, Cha515]</span></span><span class="collation-content">dresser feist<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">dresser fais<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ses tentes</span>
   <span class="verse v3753">Avecq son ost. Et
      pour seures actentes,</span>
   <span class="verse v3754">Mist gentz au guetdoubtant estre surpris.</span>
   <span class="verse v3755"><span class="verse-number">3755</span><mark title="piedMouche">§</mark>En tel <span style="position: relative;">estat vit</span>
      <span style="position: relative;"><span class="lem">homme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">l’homme<span class="coll-source"> [Aix419, Cha515, BnFfr4965]</span></span><span class="collation-content"><span class="choice">l’homme</span><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ayant mespris.</span>
   <span class="verse v3756">Tousjours ainsi conscïence chestifve</span>
   <span class="verse v3757">Demeure en soy scrupuleuse et craintifve,</span>
   <span class="verse v3758">Comme tesmoing du criminel peché</span>
   <span class="verse v3759">Dont <span style="position: relative;"><span class="lem">elle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span> sent son dur cueur empesché.</span>
   <span class="verse v3760"><span class="verse-number">3760</span><mark title="piedMouche">§</mark>Or pour gecter fantaisie
      ennuyeuse</span>
   <span class="verse v3761">Et divertir celle doubte hayneuse</span>
   <span class="verse v3762">Delibera <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      <span class="date" dur="P1D" instant="false">quelque</span> jour</span>
   
   
   <hr data-img-id="f187">
   
   <span class="curr-title fw-bold"><mark class="persName">Chilperich<span class="persName-info fw-normal on-left"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> se alla
      tenir à <mark title="placeName" instant="false" full="yes">Chelles</mark></span>
   <span class="verse v3763">Faire à ung bourg nommé
      <mark title="placeName" instant="false" full="yes">Chelles</mark> sejour</span>
   <span class="verse v3764">Car il vouloit son passe temps reduyre</span>
   <span class="verse v3765"><span class="verse-number">3765</span>En venerie
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content">en venerie <span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>et du tout se y deduyre.</span>
   <span class="verse v3766">Mais mieulx luy fust en maison reposer</span>
   <span class="verse v3767">Que aux champs ung pied devant l’autre poser,</span>
   <span class="verse v3768">Veu le hasard de piteuse adventure</span>
   <span class="verse v3769">Qui luy survint, comme dit l’escripture.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3695);">v. 3695</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274 </span>mal</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3696);">v. 3696</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>à</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3697);">v. 3697</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">nommé</span></span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            25
            </span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxv me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxv<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxv<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappittre .xxv<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3698);">v. 3698</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>le <span class="choice">cueur</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>le cueur</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3698);">v. 3698</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr24136 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3699);">v. 3699</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr24136 </span>en</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3699);">v. 3699</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>che</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3704);">v. 3704</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>l’enfente</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3709);">v. 3709</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>faconde</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3714);">v. 3714</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr23146, Cha515 </span>Toute</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3723);">v. 3723</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><s>lu</s>
            </span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3726);">v. 3726</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>chians</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3728);">v. 3728</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Soullagerent</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span class="choice">soulaigerent</span></span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3729);">v. 3729</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>cestuy</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3731);">v. 3731</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>De</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3736);">v. 3736</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274 </span>tost</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tout</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3737);">v. 3737</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>et </span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3745);">v. 3745</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sceure</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3747);">v. 3747</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>de</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3748);">v. 3748</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>degast feit</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3750);">v. 3750</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3752);">v. 3752</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>dresser fit</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>dresser feit</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span>dresser feyt</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>dresser feist</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>dresser fais</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3755);">v. 3755</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515, BnFfr4965 </span>l’homme</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">l’homme</span></span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3759);">v. 3759</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(3765);">v. 3765</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en venerie </span></div>
      </div>
</div>
{% endmacro %}
