
{% macro chapterTitle() %}Chapitre 27{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('27_chap_26')"><i class="fa-solid fa-arrow-left"></i> Chapitre 26</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('29_chap_28')">Chapitre 28 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f207/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f207/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f207" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f208/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f208/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f208" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f209/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f209/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f209" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f210/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f210/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f210" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f211/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f211/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f211" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f212/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f212/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f212" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f213/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f213/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f213" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f214/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f214/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f214" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f207">
   <p title="Numéro de folio" class="text-end"><i>86r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v4200"><span class="verse-number">4200</span><mark title="piedMouche">§</mark>La plume
         / icy / ſauf le droit de notaire,</span>
      <span class="verse v4201">Dit /
         Gondouault eſtre 
         <span class="lem">brouilleur</span>
         
         
          expert,</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v4202">Taſchant greuer Gontran
         et Childebert</span>
      <span class="verse v4203">Par ſe nommer filz du premier Clotaire /.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xxuii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f208">
   
   <p title="Numéro de folio" class="text-end"><i>86v</i></p>
   
   
   <hr data-img-id="f209">
   
   <p title="Numéro de folio" class="text-end"><i>87r</i></p>
   <span class="d-block fw-bold mb-3">Gondouault baſtard
      de Clotaire ſe faict ſon filz
      legitime.</span>
   <span class="verse v4204">
      <span class="lem">CE</span>
      
      
      Gondouault (pour 
      <span class="lem">le</span>
      
       cas reciter)</span>
   <span class="verse v4205"><span class="verse-number">4205</span>En ieunes ans 
      <span class="lem"><span class="choice"><span title="Abbréviation pour voulant"><mark title="abbréviation">voulāt</mark></span></span></span>
      
       ſexerciter</span>
   <span class="verse v4206">Et applicquer aux armes /. fiſt 
      <span class="lem"></span>
      
      extime</span>
   <span class="verse v4207">De ſe vanter eſtre filz 
      <span class="lem"></span>
      
      legitime</span>
   <span class="verse v4208">Du roy Clotaire /. eſperant toſt ou tard</span>
   <span class="verse v4209">Luy ſucceder /. Oꝛ ceſtoit 
      <span class="lem">ſon</span>
      
       baſtard</span>
   <span class="verse v4210"><span class="verse-number">4210</span>Et auoit toꝛt quereller aduantaige,</span>
   <span class="verse v4211">
      <span class="lem"></span>
      
      Gaing et pꝛouffit ſur 
      <span class="lem">royal</span>
      
       heritaige.</span>
   <span class="verse v4212">
      <span class="lem">Ce</span>
      
       nonobſtant, gaigna par traict de 
      <span class="lem"></span>
      
      temps</span>
   <span class="verse v4213">Quelques ſeigneurs de
      <mark title="placeName" instant="false" full="yes">france</mark>
      mal contentz,</span>
   <span class="verse v4214">Auſquelz ayans ſecrette intelligence,</span>
   <span class="verse v4215"><span class="verse-number">4215</span>Se perfoꝛca dextreme diligence</span>
   <span class="verse v4216">Bꝛuyt acquerir /
      Affin de perceuoir</span>
   <span class="verse v4217">Lamour de tous /. et gꝛace receuoir /.</span>
   <span class="verse v4218">
      <span class="lem">Loꝛs</span>
      
       aſſembla 
      <span class="lem"></span>
      
      gensdarmes a puiſſance,</span>
   <span class="verse v4219">Publicquement donnant la congnoiſſance</span>
   <span class="verse v4220"><span class="verse-number">4220</span>Se deuoir /
      <span title="Discours direct">filz royal</span> dire et nommer,</span>
   <span class="verse v4221">Dont 
      <span class="lem">ſe</span>
      
       fiſt craindꝛe et par tout renommer.</span>
   <span class="verse v4222">Et ſoubz le ſoꝛt de foꝛtune 
      <span class="lem"></span>
      
      incertaine,</span>
   <span class="verse v4223">Pluſieurs citez / au pays d<mark title="placeName" type="territoire" instant="false" full="yes">acquitaine</mark></span>
   <span class="verse v4224">Miſt en ſa main /. Puys 
      <span class="lem">a</span>
      
       peu de diſcoꝛd,</span>
   <span class="verse v4225"><span class="verse-number">4225</span>Concquiſt <mark title="placeName" instant="false" full="yes">Boꝛdeaulx</mark> /.
      <mark title="placeName" instant="false" full="yes">Thouloſe</mark> / et
      <mark title="placeName" instant="false" full="yes">perigoꝛt</mark> /.</span>
   <span class="verse v4226"><mark title="piedMouche">§</mark>La moꝛt du roy Chilperich / par luy
      ſceue,</span>
   <span class="verse v4227">Non ſaigement conſiderant liſſue</span>
   <span class="verse v4228">De ſon affaire /. une reſcription</span>
   
   
   <hr data-img-id="f210">
   
   <p title="Numéro de folio" class="text-end"><i>87v</i></p>
   <span class="d-block fw-bold mb-3">Le ſecret de Gondouault deſcouuert vers Gontran.</span>
   <span class="verse v4229">Poꝛtant en 
      <span class="lem">foy</span>
      
       / male deſcription</span>
   <span class="verse v4230"><span class="verse-number">4230</span>
      <span class="lem">Sus</span>
      
       cire vert en tablettes gꝛauee</span>
   <span class="verse v4231">Ausditz 
      <span class="lem"></span>
      
      ſeigneurs tranſmiſt / et fut trouuee</span>
   <span class="verse v4232">Entre les mains de deux pꝛeſtres /.
      
      <span class="lem">Leſquelz</span>
      
      </span>
   <span class="verse v4233">Tres aſpꝛement de verges fuſtiguez</span>
   <span class="verse v4234">Tout le ſecret de Gondouault ouurirent</span>
   <span class="verse v4235"><span class="verse-number">4235</span>Et ſa furtifue embuſche deſcouurirent</span>
   <span class="verse v4236">Dont, veuz les motz es lectres contenuz</span>
   <span class="verse v4237">Furent long temps en pꝛiſon detenuz /.</span>
   <span class="verse v4238"><mark title="piedMouche">§</mark>Non aduerty Gondouault de 
      <span class="lem">leur</span>
      
       pꝛiſe,</span>
   <span class="verse v4239">En pourſuyuant ſa deſiree empꝛiſe,</span>
   <span class="verse v4240"><span class="verse-number">4240</span>Ambaſſadeurs 
      <span class="lem">deſpeſcha</span>
      
      
       / pour aller</span>
   <span class="verse v4241">Deuers Gontran /. Et affin de parler</span>
   <span class="verse v4242">Plus toſt a luy. a chaſcun deulx aſſigne</span>
   <span class="verse v4243">Rameaux poꝛter de verde oliue /. en ſigne</span>
   <span class="verse v4244">Deſtre extimez /
      
      <span class="lem"></span>
      
      entre feaulx pꝛiuez</span>
   <span class="verse v4245"><span class="verse-number">4245</span>Aucteurs de paix /. Eulx en court arriuez,</span>
   <span class="verse v4246">Deuant le roy / pꝛomptement pꝛopoſerent
      /</span>
   <span class="verse v4247">Et tous les 
      <span class="lem"></span>
      
      poinctz de 
      <span class="lem">leur charge</span>
      
       expoſerent /</span>
   <span class="verse v4248">Mais ſans garder bonne pꝛopoꝛtion,</span>
   <span class="verse v4249">
      <span class="lem">Tindꝛent</span>
      
       / deuoir certaine poꝛtion</span>
   <span class="verse v4250"><span class="verse-number">4250</span>Appartenir 
      <span class="lem"></span>
      
      du royaume / a leur maiſtre,</span>
   <span class="verse v4251">Et par 
      <span class="lem">menace</span>
      
       allerent auant mectre</span>
   <span class="verse v4252">Que ſi 
      <span class="lem"></span>
      
      par bon 
      <span class="lem">et</span>
      
       amoureux accoꝛd</span>
   <span class="verse v4253">Ne luy faiſoit iuſtice /.
      A ſon gꝛand toꝛt /</span>
   
   
   <hr data-img-id="f211">
   
   <p title="Numéro de folio" class="text-end"><i>88r</i></p>
   <span class="d-block fw-bold mb-3">Liniure par Gontran
      faicte aux ambaſſades de Gondouault.</span>
   <span class="verse v4254">Luy donneroit aſſault de foꝛte guerre</span>
   <span class="verse v4255"><span class="verse-number">4255</span>A feu / et ſang pour le ſien 
      <span class="lem"></span>
      
      dꝛoit conquerre /.</span>
   <span class="verse v4256"><mark title="piedMouche">§</mark>De tel parler
      / eſtrange / rude / et fier,</span>
   <span class="verse v4257">En quoy Gontran ſe ſentit
      deffier,</span>
   <span class="verse v4258">Fut ſi eſmeu /. que ſans raiſon entendꝛe,</span>
   <span class="verse v4259">Commanda ceulx ambaſſadeurs eſtendꝛe,</span>
   <span class="verse v4260"><span class="verse-number">4260</span>Batre / et lier 
      <span class="lem">tous</span>
      
       nudz par tel effoꝛt</span>
   <span class="verse v4261">Que 
      <span class="lem">ſus</span>
      
      
      
      <span class="lem">leurs</span>
      
       coꝛps 
      <span class="lem">couloit</span>
      
       le ſang tres foꝛt /.</span>
   <span class="verse v4262">Et qui plus eſt / detenuz longue eſpace</span>
   <span class="verse v4263">(Chaſcun a part) furent en 
      <span class="lem">foſſe baſſe</span>
      
       /.</span>
   <span class="verse v4264"><mark title="piedMouche">§</mark>Ce ne fut pas tour 
      <span class="lem">de</span>
      
       roy, mais ung 
      <span class="lem"></span>
      
      faict</span>
   <span class="verse v4265"><span class="verse-number">4265</span>Laſche / meſchant / et de vilain effect,</span>
   <span class="verse v4266">Qui bien ne ſiet /
      
      <span class="lem">a rappoꝛt</span>
      
       dhomme ſaige /.</span>
   <span class="verse v4267">Car tout legat / en rappoꝛtant meſſaige</span>
   <span class="verse v4268">Se doibt tenir vers 
      <span class="lem"></span>
      
      pꝛince auſſi aſſeur</span>
   <span class="verse v4269">Que eſtre deuroit / le frere auecq ſa ſeur.</span>
   <span class="verse v4270"><span class="verse-number">4270</span>Meſmes voit on / quentre les gentz ignares,</span>
   <span class="verse v4271"><mark title="orgName" instant="false" full="yes">Turcz</mark> / meſcreans / eſtranges / et barbares,</span>
   <span class="verse v4272">Eſt pꝛeſerue de perilleux dangier</span>
   <span class="verse v4273">En coꝛps et biens / ung chaſcun meſſaigier /.</span>
   <span class="verse v4274">Ceſt doncq pitie / quant fault que au monde on
      voye</span>
   <span class="verse v4275"><span class="verse-number">4275</span>
      <span class="lem">Homme</span>
      
      
      <mark title="orgName" instant="false" full="yes">
         <span class="lem">creſtien</span>
         
         </mark> / qui ainſi ſe deſuoye.</span>
   <span class="verse v4276"><mark title="piedMouche">§</mark>Durant ce temps
      / fut conclud / / ieu party,</span>
   <span class="verse v4277">Gentz aſſembler / dun et autre party,</span>
   <span class="verse v4278">Pour eſſayer quelque iournee aſſiſe</span>
   
   
   <hr data-img-id="f212">
   
   <p title="Numéro de folio" class="text-end"><i>88v</i></p>
   <span class="d-block fw-bold mb-3">Gontran mect ſon
      royaume es mains de Childebert /.</span>
   <span class="verse v4279">
      <span class="lem">De</span>
      
       mectre 
      <span class="lem">a fin</span>
      
       la matiere indeciſe</span>
   <span class="verse v4280"><span class="verse-number">4280</span>Entre les roys Gontran et
      Childebert /.</span>
   <span class="verse v4281">Eulx aſſemblez /.
      Gontran a œil appert</span>
   <span class="verse v4282">Manda querir ambaſſadeurs / pour faire</span>
   <span class="verse v4283">Tout declairer / a Childebert / laffaire</span>
   <span class="verse v4284">De Gondouault
      /.
      en quoy 
      <span class="lem"></span>
      
      nobmiſrent point /</span>
   <span class="verse v4285"><span class="verse-number">4285</span>Magnifeſter / le tout / de poinct en
      poinct.</span>
   <span class="verse v4286">Et oultre plus / a goꝛge deſployee,</span>
   <span class="verse v4287">Diſrent / que auoit Ragonde deſpouillee,</span>
   <span class="verse v4288">Fille du roy Chilperich /
      
      <span class="lem"></span>
      
      lenuoyant</span>
   <span class="verse v4289">Au roy d<mark title="placeName" instant="false" full="yes">Eſpaigne</mark>
      <span class="lem">eſpouſer</span> /. Oꝛ voyant</span>
   <span class="verse v4290"><span class="verse-number">4290</span>Gontran aulcuns
      / des gentz Childebert / neſtre</span>
   <span class="verse v4291">La comparuz /. bien ſe penſa 
      <span class="lem"></span>
      
      congnoiſtre</span>
   <span class="verse v4292">Le differer deulx /
      
      <span class="lem">y</span>
      
       oſer trouuer</span>
   <span class="verse v4293">Eſtre doubtans 
      <span class="lem">quon voulſiſt</span>
      
      
      
      <span class="lem"></span>
      
      eſpꝛouuer</span>
   <span class="verse v4294">La trahiſon de leur lectre 
      <span class="lem">miſſiue</span>
      
       /.</span>
   <span class="verse v4295"><span class="verse-number">4295</span><mark title="piedMouche">§</mark>Sa fantaiſie a cela foꝛt
      penſifue</span>
   <span class="verse v4296">
      <span class="lem"></span>
      
      Tint en ſon cueur /. et ne la deſcouurit /.</span>
   <span class="verse v4297">Loꝛs pꝛiſt ſa lance / et 
      <span class="lem">l</span>
      
      un des boutz ouffrit /</span>
   <span class="verse v4298">A Childebert /.
      Lvy diſant /.
      <span title="Discours direct">Par 
         <span class="lem">ce</span>
         
          ſigne, </span></span>
   <span class="verse v4299">
      <span title="Discours direct">Tres chier nepueu /.
         Mon royaume conſigne</span>
      </span>
   <span class="verse v4300"><span class="verse-number">4300</span>
      <span title="Discours direct">Entre tes mains /. Ie vueil ſoubz ton adueu</span>
      </span>
   <span class="verse v4301">
      <span title="Discours direct">Tout eſtre mys /. Toy et le mien nepueu</span>
      </span>
   <span class="verse v4302">
      <span title="Discours direct">Clothaire veoy / que 
         <span class="lem"></span>
         
         apꝛes moy 
         <span class="lem"></span>
         
         ſeulletz eſtes,</span>
      </span>
   <span class="verse v4303">
      <span title="Discours direct">A qui 
         <span class="lem">deuront</span>
         
          / et doyuent / toutes ceſtes</span>
      </span>
   
   
   <hr data-img-id="f213">
   
   <p title="Numéro de folio" class="text-end"><i>89r</i></p>
   <span class="d-block fw-bold mb-3">Gontran conſeille
      Childebert
      <span class="choice"><span title="Abbréviation pour comment"><mark title="abbréviation">cōment</mark></span></span> il ſe doibt gouuerneʀ.</span>
   <span class="verse v4304">
      <span title="Discours direct">Succeſſions / par dꝛoit appartenir /.</span>
      </span>
   <span class="verse v4305"><span class="verse-number">4305</span><mark title="piedMouche">§</mark>
      <span class="lem">Ces</span>
      
       motz finiz, voulant a part / tenir</span>
   <span class="verse v4306">Conſeil a luy / le pꝛiſt par ſa main dextre</span>
   <span class="verse v4307">Et en ſecret parlant / laduiſa deſtre</span>
   <span class="verse v4308">Taiſiblement /
      
      <span class="lem">gardant</span>
      
       les ſiens ſecretz /.</span>
   <span class="verse v4309">Quen ſon conſeil / euſt touſiours gentz
      diſcretz /.</span>
   <span class="verse v4310"><span class="verse-number">4310</span>A qui deuroit trouuer ſignifiance</span>
   <span class="verse v4311">De ſeurete loyalle /
      
      <span class="lem">ou</span>
      
       deffiance /.</span>
   <span class="verse v4312">A quelles gentz il deuroit regarder</span>
   <span class="verse v4313">Pour ſon ſalut / en ame et 
      <span class="lem"></span>
      
      coꝛps garder /.</span>
   <span class="verse v4314">Quil ſe gardaſt / de ſa mere /
      
      <span class="lem">ſus</span>
      
       toutes,</span>
   <span class="verse v4315"><span class="verse-number">4315</span>Ceſt aſſauoir Bꝛunechilde / pour doubtes</span>
   <span class="verse v4316">Gecter au loing 
      <span class="lem">des</span>
      
       exces pꝛimerains</span>
   <span class="verse v4317">Et de Gillon
      archeueſque de <mark title="placeName" type="ville" instant="false" full="yes">Reims</mark>.</span>
   <span class="verse v4318"><mark title="piedMouche">§</mark>Apꝛes auoir leur parolle
      arreſtee,</span>
   <span class="verse v4319">Fut au conſeil 
      <span class="lem">la</span>
      
       matiere traictee</span>
   <span class="verse v4320"><span class="verse-number">4320</span>Quant 
      <span class="lem">a leſtat</span>
      
       du royaume, oꝛdonner</span>
   <span class="verse v4321">Pꝛouiſion / et 
      <span class="lem">bon</span>
      
       oꝛdꝛe y donner.</span>
   <span class="verse v4322">Et 
      <span class="lem"></span>
      
      
      <span class="lem">loꝛs</span>
      
       apꝛes faire 
      <span class="lem">mainte replicque</span>
      
      ,</span>
   <span class="verse v4323">Touchant le faict de la choſe publicque,</span>
   <span class="verse v4324">On ſe partit / pour aller au conuy</span>
   <span class="verse v4325"><span class="verse-number">4325</span>Et demener vie / et chere a lenuy /.</span>
   <span class="verse v4326">En y eſtant.
      Gontran
      
      <span class="lem">ſus</span>
      
      
       piedz ſe dꝛeſſe</span>
   <span class="verse v4327">Et aux pꝛeſentz ceſte parolle addꝛeſſe /.</span>
   <span class="verse v4328">
      <span title="Discours direct">Hommes francois / quay
         touſiours apperceuz.</span>
      </span>
   
   
   <hr data-img-id="f214">
   
   <p title="Numéro de folio" class="text-end"><i>89v</i></p>
   <span class="d-block fw-bold mb-3">Gontran declaire a
      tous /
      Childebert ſon
      heritier.</span>
   <span class="verse v4329">
      <span title="Discours direct">Nobles en cueur et
         pꝛes de moy receuz,</span>
      </span>
   <span class="verse v4330"><span class="verse-number">4330</span>
      <span title="Discours direct">Voycy le mien nepueu
         que vous pꝛeſente</span>
      </span>
   <span class="verse v4331">
      <span title="Discours direct">Mon heritier
         /. pour tel ſe <span class="lem">repꝛeſente</span>.</span>
      </span>
   <span class="verse v4332">
      <span title="Discours direct">Ie vous ſupply
         lhonnoꝛer, 
         <span class="lem">bien</span>
         
          ſeruir,</span>
      </span>
   <span class="verse v4333">
      <span title="Discours direct">Et comme 
         <span class="lem">a moy</span>
         
          vers luy vous aſſeruir.</span>
      </span>
   <span class="verse v4334">
      <span title="Discours direct">Car certes 
         <span class="lem">iay</span>
         
          bonne 
         <span class="lem">et</span>
         
         
         
         <span class="lem">ferme</span>
         
         
         
         <span class="lem">eſperance</span>
         
         </span>
      </span>
   <span class="verse v4335"><span class="verse-number">4335</span>
      <span title="Discours direct">De ſa gꝛandeur /.
         Et me ſemble quen <mark title="placeName" instant="false" full="yes">France</mark></span>
      </span>
   <span class="verse v4336">
      <span title="Discours direct">Fera tel fruict /. que hoꝛs mys 
         <span class="lem"></span>
         
         tous contemptz,</span>
      </span>
   <span class="verse v4337">
      <span title="Discours direct">Dieu et le peuple / en ſeront bien
         contentz.</span>
      </span>
   <span class="verse v4338"><mark title="piedMouche">§</mark>Ce 
      <span class="lem">meſmes</span>
      
       iour / furent 
      <span class="lem"></span>
      
      
      reſtituees</span>
   <span class="verse v4339">Toutes citez que luy auoit oſtees</span>
   <span class="verse v4340"><span class="verse-number">4340</span>Feu Chilperich ſon oncle /. Et 
      <span class="lem">ſus</span>
      
       cela</span>
   <span class="verse v4341">Chaſcun ioyeux / et content ſen alla.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f207">
   <blockquote class="ms-2">
      
      <span class="verse v4200"><span class="verse-number">4200</span><mark title="piedMouche">§</mark>La plume icy, sauf le droit de notaire,</span>
      <span class="verse v4201">Dit
         <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> estre <span style="position: relative;"><span class="lem">brouilleur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">brou<span>il</span>leur<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">brulleur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> expert,</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">
                  28
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span class="verse v4202">Taschant grever <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>
         et <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
               l’Orléanais</span></mark></span>
      <span class="verse v4203">Par se nommer filz du premier <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark>.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxvii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">Chapitre xxviii me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxviii<sup>e</sup>.<span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxviii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappitre .xxviii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f208">
   
   
   
   <hr data-img-id="f209">
   
   <span class="curr-title fw-bold"><mark class="persName">Gondouault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> bastard
      de <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark> se faict son filz
      legitime</span>
   <span class="verse v4204"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">Se<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark>, pour <span style="position: relative;">le</span> cas reciter,</span>
   <span class="verse v4205"><span class="verse-number">4205</span>En jeunes ans <span style="position: relative;"><span class="lem"><span class="choice"><span title="Abbrégé en voulāt"><mark title="abbréviation">voulant</mark></span></span></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">voulut<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> s’exerciter</span>
   <span class="verse v4206">Et applicquer aux armes, fist extime</span>
   <span class="verse v4207">De se vanter estre filz legitime</span>
   <span class="verse v4208">Du roy <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark>, esperant tost ou tard</span>
   <span class="verse v4209">Luy succeder. Or c’estoit <span style="position: relative;">son</span> bastard</span>
   <span class="verse v4210"><span class="verse-number">4210</span>Et avoit tort quereller advantaige,</span>
   <span class="verse v4211">Gaing et prouffit sur <span style="position: relative;"><span class="lem">royal</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">rorial<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> heritaige.</span>
   <span class="verse v4212"><span style="position: relative;"><span class="lem">Ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">Et<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> nonobstant, gaigna par traict de temps</span>
   <span class="verse v4213">Quelques seigneurs de
      <mark title="placeName" instant="false" full="yes">France</mark>
      mal contentz,</span>
   <span class="verse v4214">Ausquelz ayans secrette intelligence,</span>
   <span class="verse v4215"><span class="verse-number">4215</span>Se perforça d’extreme diligence</span>
   <span class="verse v4216">Bruyt acquerir,
      affin de percevoir</span>
   <span class="verse v4217">L’amour de tous et grace recevoir.</span>
   <span class="verse v4218"><span style="position: relative;"><span class="lem">Lors</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">L’or<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> assembla gens d’armes à puissance,</span>
   <span class="verse v4219">Publicquement donnant la congnoissance</span>
   <span class="verse v4220"><span class="verse-number">4220</span>Se devoir
      <span title="Discours direct">«&nbsp;filz royal&nbsp;»</span> dire et nommer,</span>
   <span class="verse v4221">Dont <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">ce<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fist craindre et par tout renommer.</span>
   <span class="verse v4222">Et soubz le sort de fortune incertaine,</span>
   <span class="verse v4223">Plusieurs citéz au pays d’<mark title="placeName" type="territoire" instant="false" full="yes">Acquitaine</mark></span>
   <span class="verse v4224">Mist en sa main. Puys <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> peu de discord,</span>
   <span class="verse v4225"><span class="verse-number">4225</span>Concquist <mark title="placeName" instant="false" full="yes">Bordeaulx</mark>,
      <mark title="placeName" instant="false" full="yes">Thoulose</mark> et
      <mark title="placeName" instant="false" full="yes">Perigort</mark>.</span>
   <span class="verse v4226"><mark title="piedMouche">§</mark>La mort du roy <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> par luy
      sceue,</span>
   <span class="verse v4227">Non saigement considerant l’issue</span>
   <span class="verse v4228">De son affaire, une rescriptïon</span>
   
   
   <hr data-img-id="f210">
   
   <span class="curr-title fw-bold">Le secret de <mark class="persName">Gondouault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> descouvert vers <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v4229">Portant en <span style="position: relative;"><span class="lem">foy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">soy<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> male descriptïon</span>
   <span class="verse v4230"><span class="verse-number">4230</span><span style="position: relative;">Sus</span> cire vert en tablettes gravee</span>
   <span class="verse v4231">Aus ditz seigneurs transmist et fut trouvee</span>
   <span class="verse v4232">Entre les mains de deux prestres,
      <span style="position: relative;"><span class="lem">lesquelz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">lequelz<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v4233">Trés asprement de verges fustiguéz</span>
   <span class="verse v4234">Tout le secret de <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> ouvrirent</span>
   <span class="verse v4235"><span class="verse-number">4235</span>Et sa furtifve embusche descouvrirent</span>
   <span class="verse v4236">Dont, veuz les motz es lectres contenuz</span>
   <span class="verse v4237">Furent longtemps en prison detenuz.</span>
   <span class="verse v4238"><mark title="piedMouche">§</mark>Non adverty <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> de <span style="position: relative;"><span class="lem">leur</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">la<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> prise,</span>
   <span class="verse v4239">En poursuyvant sa desiree emprise,</span>
   <span class="verse v4240"><span class="verse-number">4240</span>Ambassadeurs <span style="position: relative;"><span class="lem">despescha</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">despeschés<span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">depesche<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pour aller</span>
   <span class="verse v4241">Devers <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>. Et affin de parler</span>
   <span class="verse v4242">Plus tost à luy, à chascun d’eulx assigne</span>
   <span class="verse v4243">Rameaux porter de verde olive en signe</span>
   <span class="verse v4244">D’estre extiméz
      entre feaulx privéz</span>
   <span class="verse v4245"><span class="verse-number">4245</span>Aucteurs de paix. Eulx en court arrivéz,</span>
   <span class="verse v4246">Devant le roy promptement proposerent</span>
   <span class="verse v4247">Et tous les poinctz de <span style="position: relative;"><span class="lem">leur charge</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content"><span class="choice">leurs</span> cherges<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> exposerent.</span>
   <span class="verse v4248">Mais sans garder bonne proportïon,</span>
   <span class="verse v4249"><span style="position: relative;"><span class="lem">Tindrent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">Tindre<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> devoir certaine portïon</span>
   <span class="verse v4250"><span class="verse-number">4250</span>Appartenir du royaume à leur maistre,</span>
   <span class="verse v4251">Et par <span style="position: relative;"><span class="lem">menace</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content">menasses<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> allerent avant mectre</span>
   <span class="verse v4252">Que si par bon <span style="position: relative;">et</span> amoureux accord</span>
   <span class="verse v4253">Ne luy faisoit justice,
      à son grand tort</span>
   
   
   <hr data-img-id="f211">
   
   <span class="curr-title fw-bold">L’injure par <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>
      faicte aux ambassades de <mark class="persName">Gondouault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark></span>
   <span class="verse v4254">Luy donneroit assault de forte guerre</span>
   <span class="verse v4255"><span class="verse-number">4255</span>À feu et sang pour le sien droit conquerre.</span>
   <span class="verse v4256"><mark title="piedMouche">§</mark>De tel parler estrange, rude et fier,</span>
   <span class="verse v4257">En quoy <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> se sentit
      deffïer,</span>
   <span class="verse v4258">Fut si esmeu que sans raison entendre,</span>
   <span class="verse v4259">Commanda ceulx ambassadeurs estendre,</span>
   <span class="verse v4260"><span class="verse-number">4260</span>Batre et lïer <span style="position: relative;"><span class="lem">tous</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">tout<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> nudz par tel effort</span>
   <span class="verse v4261">Que <span style="position: relative;">sus</span>
      <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> corps <span style="position: relative;"><span class="lem">couloit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">couroit<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> le sang trés fort.</span>
   <span class="verse v4262">Et qui plus est detenuz longue espace</span>
   <span class="verse v4263">Chascun à part furent en <span style="position: relative;"><span class="lem">fosse basse</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">fosses basses<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v4264"><mark title="piedMouche">§</mark>Ce ne fut pas tour <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content">du<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> roy, mais ung faict</span>
   <span class="verse v4265"><span class="verse-number">4265</span>Lasche, meschant et de vilain effect,</span>
   <span class="verse v4266">Qui bien ne siet
      <span style="position: relative;">à rapport</span> d’homme saige.</span>
   <span class="verse v4267">Car tout legat en rapportant messaige</span>
   <span class="verse v4268">Se doibt tenir vers <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">le <span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>prince aussi asseur</span>
   <span class="verse v4269">Que estre devroit le frere avecq sa seur.</span>
   <span class="verse v4270"><span class="verse-number">4270</span>Mesmes voit on qu’entre les gentz ignares,</span>
   <span class="verse v4271"><mark title="orgName" instant="false" full="yes">Turcz</mark>, mescreans, estranges et barbares,</span>
   <span class="verse v4272">Est preservé de perilleux dangier</span>
   <span class="verse v4273">En corps et biens ung chascun messaigier.</span>
   <span class="verse v4274">C’est doncq pitié quant fault que au monde on
      voye</span>
   <span class="verse v4275"><span class="verse-number">4275</span><span style="position: relative;"><span class="lem">Homme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">Ung<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span>
      <mark title="orgName" instant="false" full="yes"><span style="position: relative;"><span class="lem">crestïen</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">extimé<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span></mark> qui ainsi se desvoye.</span>
   <span class="verse v4276"><mark title="piedMouche">§</mark>Durant ce temps fut conclud, jeu party,</span>
   <span class="verse v4277">Gentz assembler d’un et autre party,</span>
   <span class="verse v4278">Pour essayer quelque journee assise</span>
   
   
   <hr data-img-id="f212">
   
   <span class="curr-title fw-bold"><mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> mect son
      royaume es mains de <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark></span>
   <span class="verse v4279"><span style="position: relative;">De</span> mectre <span style="position: relative;"><span class="lem">à fin</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">affin<span class="coll-source"> [BnFfr4964]</span></span></span></sup></span> la matiere indecise</span>
   <span class="verse v4280"><span class="verse-number">4280</span>Entre les roys <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> et
      <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark>.</span>
   <span class="verse v4281">Eulx assembléz,
      <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> à œil appert</span>
   <span class="verse v4282">Manda querir ambassadeurs pour faire</span>
   <span class="verse v4283">Tout declairer à <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> l’affaire</span>
   <span class="verse v4284">De <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark>
      En quoy n’obmisrent point</span>
   <span class="verse v4285"><span class="verse-number">4285</span>Magnifester le tout de poinct en
      poinct.</span>
   <span class="verse v4286">Et oultre plus à gorge desployee,</span>
   <span class="verse v4287">Disrent que avoit <mark class="persName">Ragonde<span class="persName-info fw-normal on-right"><b>Rigonde</b> (circa 569 — )<span class="hr-100">&nbsp;</span> (?-?)<br/><span class="hr-short">&nbsp;</span>Fille de Chilpéric</span></mark> despouillee,</span>
   <span class="verse v4288">Fille du roy <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>
      l’envoyant</span>
   <span class="verse v4289">Au roy d’<mark title="placeName" instant="false" full="yes">Espaigne</mark>
      <span style="position: relative;"><span class="lem">espouser</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">espouser<span class="coll-source"> [Cha515]</span></span></span></sup></span>. Or voyant</span>
   <span class="verse v4290"><span class="verse-number">4290</span><mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> aulcuns des gentz <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> n’estre</span>
   <span class="verse v4291">Là comparuz, bien se pensa <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content"><s>estre</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>congnoistre</span>
   <span class="verse v4292">Le differer d’eulx
      <span style="position: relative;"><span class="lem">y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">et<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> oser trouver</span>
   <span class="verse v4293">Estre doubtans <span style="position: relative;"><span class="lem">qu’on voulsist</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content">que voulest<span class="coll-source"> [Aix419]</span></span></span></sup></span>
      esprouver</span>
   <span class="verse v4294">La trahison de leur lectre <span style="position: relative;"><span class="lem">missive</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">messives<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v4295"><span class="verse-number">4295</span><mark title="piedMouche">§</mark>Sa fantaisie à cela fort
      pensifve</span>
   <span class="verse v4296"><span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content"><s>Se doibt</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>Tint en son cueur et ne la descouvrit.</span>
   <span class="verse v4297">Lors prist sa lance et <span style="position: relative;"><span class="lem">l’</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4964]</span></span></span></sup></span>un des boutz ouffrit</span>
   <span class="verse v4298">À <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark>,
      luy disant :
      <span title="Discours direct">«&nbsp;par <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> signe, &nbsp;»</span></span>
   <span class="verse v4299">
      <span title="Discours direct">«&nbsp;Trés chier nepveu,
         mon royaume consigne&nbsp;»</span>
      </span>
   <span class="verse v4300"><span class="verse-number">4300</span>
      <span title="Discours direct">«&nbsp;Entre tes mains. Je vueil soubz ton adveu&nbsp;»</span>
      </span>
   <span class="verse v4301">
      <span title="Discours direct">«&nbsp;Tout estre mys. Toy et le mien nepveu&nbsp;»</span>
      </span>
   <span class="verse v4302">
      <span title="Discours direct">«&nbsp;<mark class="persName">Clothaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
               Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark> veoy que aprés moy seulletz estes,&nbsp;»</span>
      </span>
   <span class="verse v4303">
      <span title="Discours direct">«&nbsp;À qui <span style="position: relative;"><span class="lem">devront</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">debveront<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> et doyvent toutes cestes&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f213">
   
   <span class="curr-title fw-bold"><mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> conseille
      <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark>
      <span class="choice"><span title="Abbrégé en cōment"><mark title="abbréviation">co<span class="btn-warning btn-sm" title="Élément non pris en charge par la XSLT.">am</span>ment</mark></span></span> il se doibt gouverner</span>
   <span class="verse v4304">
      <span title="Discours direct">«&nbsp;Successïons par droit appartenir.&nbsp;»</span>
      </span>
   <span class="verse v4305"><span class="verse-number">4305</span><mark title="piedMouche">§</mark><span style="position: relative;"><span class="lem">Ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown61" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown61"><span class="collation-content">Ses<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> motz finiz, voulant à part tenir</span>
   <span class="verse v4306">Conseil à luy, le prist par sa main dextre</span>
   <span class="verse v4307">Et en secret parlant, l’advisa d’estre</span>
   <span class="verse v4308">Taisiblement
      <span style="position: relative;"><span class="lem">gardant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">taisant<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> les siens secretz,</span>
   <span class="verse v4309">Qu’en son conseil eust tousjours gentz
      discretz</span>
   <span class="verse v4310"><span class="verse-number">4310</span>À qui devroit trouver signifïance</span>
   <span class="verse v4311">De seureté loyalle
      <span style="position: relative;"><span class="lem">ou</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown63" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown63"><span class="collation-content">et<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> deffïance,</span>
   <span class="verse v4312">À quelles gentz il devroit regarder</span>
   <span class="verse v4313">Pour son salut en ame et corps garder ;</span>
   <span class="verse v4314">Qu’il se gardast de sa mere
      <span style="position: relative;">sus</span> toutes,</span>
   <span class="verse v4315"><span class="verse-number">4315</span>C’est assavoir <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark> pour doubtes</span>
   <span class="verse v4316">Gecter au loing <span style="position: relative;"><span class="lem">des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown66" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown66"><span class="collation-content">de<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> excés primerains</span>
   <span class="verse v4317">Et de <mark class="persName">Gillon<span class="persName-info fw-normal on-right"><b>Gilles, saint</b> (640 — 710)<span class="hr-short">&nbsp;</span>Saint Égide</span></mark>
      archevesque de <mark title="placeName" type="ville" instant="false" full="yes">Reims</mark>.</span>
   <span class="verse v4318"><mark title="piedMouche">§</mark>Aprés avoir leur parolle
      arrestee,</span>
   <span class="verse v4319">Fut au conseil <span style="position: relative;">la</span> matiere traictee</span>
   <span class="verse v4320"><span class="verse-number">4320</span>Quant <span style="position: relative;"><span class="lem">à l’estat</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown68" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown68"><span class="collation-content">au regart<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> du royaume, ordonner</span>
   <span class="verse v4321">Provisïon et <span style="position: relative;"><span class="lem">bon</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown69" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown69"><span class="collation-content">bonne<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> ordre y donner.</span>
   <span class="verse v4322">Et <span style="position: relative;"><span class="lem">lors</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> aprés faire <span style="position: relative;"><span class="lem">mainte replicque</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown72" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown72"><span class="collation-content">maintes <s>maintes</s> repliques<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v4323">Touchant le faict de la chose publicque,</span>
   <span class="verse v4324">On se partit pour aller au convy</span>
   <span class="verse v4325"><span class="verse-number">4325</span>Et demener vie et chere à l’envy.</span>
   <span class="verse v4326">En y estant
      <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark>
      <span style="position: relative;">sus</span> piedz se dresse</span>
   <span class="verse v4327">Et aux presentz ceste parolle addresse :</span>
   <span class="verse v4328">
      <span title="Discours direct">«&nbsp;Hommes françois qu’ay
         tousjours apperceuz&nbsp;»</span>
      </span>
   
   
   <hr data-img-id="f214">
   
   <span class="curr-title fw-bold"><mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> declaire à
      tous
      <mark class="persName">Childebert<span class="persName-info fw-normal on-left"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> son
      heritier</span>
   <span class="verse v4329">
      <span title="Discours direct">«&nbsp;Nobles en cueur et
         prés de moy receuz,&nbsp;»</span>
      </span>
   <span class="verse v4330"><span class="verse-number">4330</span>
      <span title="Discours direct">«&nbsp;Voycy le mien nepveu
         que vous presente&nbsp;»</span>
      </span>
   <span class="verse v4331">
      <span title="Discours direct">«&nbsp;Mon heritier pour tel se <span style="position: relative;"><span class="lem">represente</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown74" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown74"><span class="collation-content">represente<span class="coll-source"> [Cha515]</span></span></span></sup></span>.&nbsp;»</span>
      </span>
   <span class="verse v4332">
      <span title="Discours direct">«&nbsp;Je vous supply
         l’honnorer, <span style="position: relative;"><span class="lem">bien</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75"><span class="collation-content">et<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span> servir,&nbsp;»</span>
      </span>
   <span class="verse v4333">
      <span title="Discours direct">«&nbsp;Et comme <span style="position: relative;"><span class="lem">à moy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76"><span class="collation-content">amy<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> vers luy vous asservir.&nbsp;»</span>
      </span>
   <span class="verse v4334">
      <span title="Discours direct">«&nbsp;Car certes <span style="position: relative;"><span class="lem">j’ay</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> bonne <span style="position: relative;">et</span>
         <span style="position: relative;"><span class="lem">ferme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown79" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown79"><span class="collation-content">grande<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, BnFfr4964, BnFfr4965, Cha515]</span></span></span></sup></span>
         <span style="position: relative;"><span class="lem">esperance</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown80" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown80"><span class="collation-content">asseurance<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>&nbsp;»</span>
      </span>
   <span class="verse v4335"><span class="verse-number">4335</span>
      <span title="Discours direct">«&nbsp;De sa grandeur,
         et me semble qu’en <mark title="placeName" instant="false" full="yes">France</mark>&nbsp;»</span>
      </span>
   <span class="verse v4336">
      <span title="Discours direct">«&nbsp;Fera tel fruict, que hors mys tous contemptz,&nbsp;»</span>
      </span>
   <span class="verse v4337">
      <span title="Discours direct">«&nbsp;<mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> et le peuple en seront bien
         contentz.&nbsp;»</span>
      </span>
   <span class="verse v4338"><mark title="piedMouche">§</mark>Ce <span style="position: relative;"><span class="lem">mesmes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown82" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown82"><span class="collation-content">mesme<span class="coll-source"> [BnFfr23146, Cha515, BnFfr4965, BnFfr4964]</span></span></span></sup></span> jour furent restituees</span>
   <span class="verse v4339">Toutes citéz que luy avoit ostees</span>
   <span class="verse v4340"><span class="verse-number">4340</span>Feu <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark> son oncle. Et <span style="position: relative;">sus</span> cela</span>
   <span class="verse v4341">Chascun joyeux et content s’en alla.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4201);">v. 4201</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>brou<span>il</span>leur</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>brulleur</span></div>
      </div>
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            28
            </span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxviii me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxviii<sup>e</sup>.</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxviii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre .xxviii<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4204);">v. 4204</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Se</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4205);">v. 4205</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>voulut</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4211);">v. 4211</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>rorial</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4212);">v. 4212</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Et</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4218);">v. 4218</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>L’or</span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4221);">v. 4221</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ce</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4224);">v. 4224</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4229);">v. 4229</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>soy</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4232);">v. 4232</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>lequelz</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4238);">v. 4238</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>la</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4240);">v. 4240</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>despeschés</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>depesche</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4247);">v. 4247</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">leurs</span> cherges</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4249);">v. 4249</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>Tindre</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4251);">v. 4251</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>menasses</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4260);">v. 4260</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>tout</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4261);">v. 4261</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4261);">v. 4261</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>couroit</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4263);">v. 4263</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fosses basses</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4264);">v. 4264</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>du</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4268);">v. 4268</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>le </span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4275);">v. 4275</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>Ung</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4275);">v. 4275</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>extimé</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4279);">v. 4279</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>affin</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4289);">v. 4289</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>espouser</span></div>
   </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4291);">v. 4291</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>estre</s>
            </span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4292);">v. 4292</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>et</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4293);">v. 4293</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>que voulest</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4294);">v. 4294</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>messives</span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4296);">v. 4296</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>Se doibt</s>
            </span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4297);">v. 4297</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4298);">v. 4298</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4303);">v. 4303</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>debveront</span></div>
      </div>
   <div class="collation row" id="coll61">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4305);">v. 4305</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Ses</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4308);">v. 4308</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>taisant</span></div>
      </div>
   <div class="collation row" id="coll63">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4311);">v. 4311</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et</span></div>
      </div>
   <div class="collation row" id="coll66">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4316);">v. 4316</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll68">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4320);">v. 4320</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>au regart</span></div>
      </div>
   <div class="collation row" id="coll69">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4321);">v. 4321</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>bonne</span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4322);">v. 4322</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll72">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4322);">v. 4322</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>maintes <s>maintes</s> repliques</span></div>
      </div>
   <div class="collation row" id="coll74">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4331);">v. 4331</a> </div>
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>represente</span></div>
   </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4332);">v. 4332</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>et</span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4333);">v. 4333</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>amy</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4334);">v. 4334</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll79">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4334);">v. 4334</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, BnFfr4964, BnFfr4965, Cha515 </span>grande</span></div>
      </div>
   <div class="collation row" id="coll80">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4334);">v. 4334</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>asseurance</span></div>
      </div>
   <div class="collation row" id="coll82">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4338);">v. 4338</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146, Cha515, BnFfr4965, BnFfr4964 </span>mesme</span></div>
      </div>
</div>
{% endmacro %}
