
{% macro chapterTitle() %}Chapitre 28{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('28_chap_27')"><i class="fa-solid fa-arrow-left"></i> Chapitre 27</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('30_chap_29')">Chapitre 29 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f214/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f214/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f214" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f215/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f215/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f215" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f216/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f216/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f216" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f217/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f217/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f217" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f218/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f218/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f218" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f219/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f219/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f219" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f214">
   <p title="Numéro de folio" class="text-end"><i>89v</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v4342"><mark title="piedMouche">§</mark>Sommairement ſera
         mention faicte</span>
      
      <span class="lem"></span>
      
      
      <span class="verse v4343">De Gondouault
         / touche icy deſſus,</span>
      <span class="verse v4344">Qui cauſe fut (comme gentz ſont 
         <span class="lem"></span>
         
         deceus)</span>
      <span class="verse v4345"><span class="verse-number">4345</span>
         <span class="lem">Par</span>
         
          ſon cuyder : de ſa briefue deffaicte.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xxuiii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f215">
   
   <p title="Numéro de folio" class="text-end"><i>90r</i></p>
   
   
   <hr data-img-id="f216">
   
   <p title="Numéro de folio" class="text-end"><i>90v</i></p>
   <span class="d-block fw-bold mb-3">Gondouault fortiffie
      en ung hault chaſteau.</span>
   <span class="verse v4346">LE conte en ſoy 
      <span class="lem">coucher</span>
      
       par le menu</span>
   <span class="verse v4347">Seroit faſcheux /.de pꝛopos comme nu</span>
   <span class="verse v4348">Neſt ia requis que la plume ſempeſche,</span>
   <span class="verse v4349">Non plus que affiert / mectre une naſſe en pes
      <span class="lem">che</span>
      
      </span>
   <span class="verse v4350"><span class="verse-number">4350</span>Ou na 
      <span class="lem"></span>
      
      poiſſon napparance de auoir /.</span>
   <span class="verse v4351">Il me ſouffiſt / en 
      <span class="lem">bꝛief faire</span>
      
       ſcauoir</span>
   <span class="verse v4352">Que 
      <span class="lem">Gondouault</span>
      
       / baſtard 
      <span class="lem">au</span>
      
       roy Clotaire</span>
   <span class="verse v4353">Pꝛemier du nom / ſe rendit tributaire</span>
   <span class="verse v4354">A gꝛief malheur /
      
      <span class="lem">demenant</span>
      
       tel ſabat</span>
   <span class="verse v4355"><span class="verse-number">4355</span>Comme celluy qui de ſon 
      <span class="lem">coup</span>
      
       ſe abat /.</span>
   <span class="verse v4356">Les 
      <span class="lem"></span>
      
      
      <span class="lem">roys</span>
      
      
      Gontran / et Childebert enſemble,</span>
   <span class="verse v4357">(Ainſi 
      <span class="lem"></span>
      
      que ung oſt de maintes partz 
      <span class="lem">ſaſſemble</span>
      
      )</span>
   <span class="verse v4358">Mirent 
      <span class="lem">ſouldardz aux champz</span>
      
       / pour Gondouault</span>
   <span class="verse v4359">Rendꝛe deffait / qui deſſus ung mont hault</span>
   <span class="verse v4360"><span class="verse-number">4360</span>Se alla gecter / en place conuenable,</span>
   <span class="verse v4361">Dicte <mark title="placeName" instant="false" full="yes">Conuoyne</mark> / extimee impꝛenable /.</span>
   <span class="verse v4362">Des habitans / et voyſins a lentour,</span>
   <span class="verse v4363">Fiſt appoꝛter les biens dedans la tour,</span>
   <span class="verse v4364">Puys les enhoꝛte / et 
      <span class="lem">aux</span>
      
       armes 
      <span class="lem">excite</span>
      
      </span>
   <span class="verse v4365"><span class="verse-number">4365</span>Se mectre aux champs encontre lexcercite</span>
   <span class="verse v4366">Des ennemys /. Mais eulx ſoꝛtiz dehoꝛs,</span>
   <span class="verse v4367">Les 
      <span class="lem">poꝛte</span>
      
      
      
      <span class="lem">ſerre</span>
      
      
      
       /
      
      <span class="lem"></span>
      
      et pꝛend 
      <span class="lem">leurs</span>
      
       biens /. Aloꝛs</span>
   <span class="verse v4368">Gontran ſaichant la munition
      telle</span>
   <span class="verse v4369">Eſtre leans / en vſant de cautelle</span>
   <span class="verse v4370"><span class="verse-number">4370</span>Commanda faire unes lectres / au nom</span>
   
   
   <hr data-img-id="f217">
   
   <p title="Numéro de folio" class="text-end"><i>91r</i></p>
   <span class="d-block fw-bold mb-3">Gondouault arriue a
      <mark title="placeName" instant="false" full="yes">Bordeaux</mark> / et ſes treſors par
      Gontran pris.</span>
   <span class="verse v4371">De Bꝛunechilde / ou ny auoit / ſinon</span>
   <span class="verse v4372">Que Gondouault admonneſte 
      <span class="lem"></span>
      
      et conuie</span>
   <span class="verse v4373">Dedans <mark title="placeName" instant="false" full="yes">Boꝛdeaux</mark> ſen aller /
      
      <span class="lem">ſus</span>
      
       ſa vie,</span>
   <span class="verse v4374">Et ſes treſoꝛs tous y faire arriuer,</span>
   <span class="verse v4375"><span class="verse-number">4375</span>Pour / la 
      <span class="lem">paſſer</span>
      
      
       ſeurement ſon yuer /.</span>
   <span class="verse v4376"><mark title="piedMouche">§</mark>Le poure ſot
      / de creance legiere</span>
   <span class="verse v4377">Adiouxtant foy 
      <span class="lem">a lectre</span>
      
       menſongiere,</span>
   <span class="verse v4378">Fiſt pacqueter pacquetz /
      
      <span class="lem">bagnes</span>
      
      
       / fardeaux /</span>
   <span class="verse v4379">Et tout charger / pour mener a
      <mark title="placeName" instant="false" full="yes">Boꝛdeaux</mark> /.</span>
   <span class="verse v4380"><span class="verse-number">4380</span>Luy en courant la poſte a voye ouuerte</span>
   <span class="verse v4381">Eut aſſez toſt la cite recouuerte,</span>
   <span class="verse v4382">Mais de ſes biens / entre mains trebuchez</span>
   <span class="verse v4383">Des gentz Gontran
      / au 
      <span class="lem">paſſaige</span>
      
       embuſchez</span>
   <span class="verse v4384">Fut diuiſe butin 
      <span class="lem">de</span>
      
       bonne pꝛoye.</span>
   <span class="verse v4385"><span class="verse-number">4385</span><mark title="piedMouche">§</mark>Quant mot a mot le
      demene mectroye,</span>
   <span class="verse v4386">Du cas en ſoy /
      A tout bien acomplir,</span>
   <span class="verse v4387">Fauldꝛoit longtemps / et gꝛand papier emplir,</span>
   <span class="verse v4388">Qui me 
      <span class="lem"></span>
      
      ſeroit 
      <span class="lem"></span>
      
      plus que aſſez difficile /</span>
   <span class="verse v4389">De reciter, comme 
      <span class="lem"></span>
      
      
      <span class="lem">Lendegeſille</span>
      
      </span>
   <span class="verse v4390"><span class="verse-number">4390</span>
      <span class="lem">Monſtra</span>
      
       ſon ſens eſtre 
      <span class="lem"></span>
      
      gꝛand 
      <span class="lem"></span>
      
      paſſaigier,</span>
   <span class="verse v4391">Veu 
      <span class="lem">ce</span>
      
       quil fiſt / pour 
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">Boꝛdeaux</mark> aſſieiger /.</span>
   <span class="verse v4392">De Mommolin
      
      <span class="lem">et</span>
      
      
      
      <span class="lem">autres</span>
      
       maintz gentz laſches,</span>
   <span class="verse v4393">Qui a trahir Gondouault
      pꝛindꝛent taſches /.</span>
   <span class="verse v4394">Comme par 
      <span class="lem">leurs</span>
      
       cautes ſuaſions,</span>
   <span class="verse v4395"><span class="verse-number">4395</span>Meſchancetez /
      
      <span class="lem">fraudes</span>
      
       /
      
      <span class="lem">abuſions</span>
      
      ,</span>
   
   
   <hr data-img-id="f218">
   
   <p title="Numéro de folio" class="text-end"><i>91v</i></p>
   <span class="d-block fw-bold mb-3">La mort de Gondouault /. et celle de Gontran ჻</span>
   <span class="verse v4396">Et faulx ſemblans / ſi laſchement ouurerent</span>
   <span class="verse v4397">Que aux ennemys / et a moꝛt le liurerent.</span>
   <span class="verse v4398"><mark title="piedMouche">§</mark>Comme daſſault fut
      pꝛiſe la cite,</span>
   <span class="verse v4399">Pillee et miſe a gꝛand perplexite,</span>
   <span class="verse v4400"><span class="verse-number">4400</span>
      <span class="lem">Comme</span>
      
       auſſi toſt / quil fut moꝛt / tous le traytres</span>
   <span class="verse v4401">Furent occis /. et comme ſoubz telz tiltres,</span>
   <span class="verse v4402">Tous leurs treſoꝛs 
      <span class="lem">aux</span>
      
       deux roys confiſquez</span>
   <span class="verse v4403">Furent a dꝛoit de butin applicquez /.</span>
   <span class="verse v4404"><mark title="piedMouche">§</mark>Qui 
      <span class="lem"></span>
      
      tout au long le vouldꝛa veoir / eſliſe</span>
   <span class="verse v4405"><span class="verse-number">4405</span>Temps a loyſir / et la cronicque liſe,</span>
   <span class="verse v4406">Sans 
      <span class="lem">ſus</span>
      
       leſcript / tel quil eſt /
      detracter.</span>
   <span class="verse v4407">Car ie nentendz foꝛs la choſe traicter</span>
   <span class="verse v4408">Sommairement /. Plumes nauroye 
      <span class="lem">entieres</span>
      
      </span>
   <span class="verse v4409">Se deſchiffraye amplement les matieres /.</span>
   <span class="verse v4410"><span class="verse-number">4410</span>Changeons pꝛopos / Les 
      <span class="lem">Aſtres</span>
      
       des lautre an,</span>
   <span class="verse v4411">Par ſignes 
      <span class="lem">gꝛandz</span>
      
       menacerent Gontran</span>
   <span class="verse v4412">De pꝛendꝛe fin /. La lune en ſon 
      <span class="lem"></span>
      
      arcure</span>
   <span class="verse v4413">Souffrit eſclipſe / et ſe monſtra obſcure</span>
   <span class="verse v4414">Plus que iamais nauoit accouſtume.</span>
   <span class="verse v4415"><span class="verse-number">4415</span>Apꝛes <span class="date" dur="P30Y" instant="false">trente</span> ans 
      <span class="lem">regner</span>
      
       / fut inhume</span>
   <span class="verse v4416">De lez <mark title="placeName" instant="false" full="yes">Chaalons</mark> en
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark> /.
      A miſtere</span>
   <span class="verse v4417">Foꝛt triumphant / et gꝛand /.
      Av monaſtere</span>
   <span class="verse v4418"><mark title="placeName" instant="false" full="yes">Sainct Marc</mark> / par luy
      / pieca ediffie</span>
   <span class="verse v4419">Et de pluſieurs gꝛandz biens ampliffie.</span>
   <span class="verse v4420"><span class="verse-number">4420</span><mark title="piedMouche">§</mark>Si de 
      <span class="lem">ce</span>
      
       roy 
      <span class="lem">ſont</span>
      
       bien 
      <span class="lem">conſiderees</span>
      
      </span>
   
   
   <hr data-img-id="f219">
   
   <p title="Numéro de folio" class="text-end"><i>92r</i></p>
   <span class="d-block fw-bold mb-3">Des bonnes meurs du roy Gontran.</span>
   <span class="verse v4421">Les bonnes meurs / et facons moderees,</span>
   <span class="verse v4422">On le tiendꝛa digne (comme ie croy)</span>
   <span class="verse v4423">De 
      <span class="lem">y</span>
      
       meriter 
      <span class="lem">loz</span>
      
       / et tiltre de roy</span>
   <span class="verse v4424">Bien renomme /. Il fut 
      <span class="lem">moult</span>
      
      
       charitable</span>
   <span class="verse v4425"><span class="verse-number">4425</span>Aux poures gentz / begnin / doulx / et traictable,</span>
   <span class="verse v4426">Vers gentz degliſe / et miniſtres de dieu.</span>
   <span class="verse v4427">Terre a le coꝛps /
      Lame aux ſainctz <mark title="placeName" instant="false" full="yes">cieulx</mark> ayt
      lieu.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f214">
   <blockquote class="ms-2">
      
      <span class="verse v4342"><mark title="piedMouche">§</mark>Sommairement sera
         mentïon faicte</span>
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown1"><span class="collation-content">
                  
                  <span class="unclear" instant="false">29</span>
                  
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span class="verse v4343">De <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> touché icy dessus,</span>
      <span class="verse v4344">Qui cause fut, comme gentz sont deceus</span>
      <span class="verse v4345"><span class="verse-number">4345</span><span style="position: relative;"><span class="lem">Par</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">Pour<span class="coll-source"> [Aix419]</span></span></span></sup></span> son cuyder, de sa briefve deffaicte.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxviii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">Chapitre xxix me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxix<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxix<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappitre .xxix<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f215">
   
   
   
   <hr data-img-id="f216">
   
   <span class="curr-title fw-bold"><mark class="persName">Gondouault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> fortiffié
      en ung hault chasteau</span>
   <span class="verse v4346">Le conte en soy <span style="position: relative;"><span class="lem">coucher</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">couché<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> par le menu</span>
   <span class="verse v4347">Seroit fascheux, de propos comme nu</span>
   <span class="verse v4348">N’est ja requis que la plume s’empesche,</span>
   <span class="verse v4349">Non plus que affiert mectre une nasse en pes<span style="position: relative;"><span class="lem">che</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span></span>
   <span class="verse v4350"><span class="verse-number">4350</span>Où n’a poisson n’apparance de avoir.</span>
   <span class="verse v4351">Il me souffist en <span style="position: relative;"><span class="lem">brief faire</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown8" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown8"><span class="collation-content">breef fair<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> sçavoir</span>
   <span class="verse v4352">Que <mark class="persName"><span style="position: relative;"><span class="lem">Gondouault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">Gondoult<span class="coll-source"> [Aix419]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> bastard <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">du<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> roy <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire Ier</b> (circa 498 — entre 29/11/561 et 31/12/561)<span class="hr-100">&nbsp;</span>Roi des Francs (558-561)<br/>Roi des Francs de Soissons (511-558)<br/>Roi des Francs d'Orléans (524-558)<br/>Roi des Francs d'Austrasie (555-558)<br/></span></mark></span>
   <span class="verse v4353">Premier du nom, se rendit tributaire</span>
   <span class="verse v4354">À grief malheur,
      <span style="position: relative;"><span class="lem">demenant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">demeurant<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> tel sabat</span>
   <span class="verse v4355"><span class="verse-number">4355</span>Comme celluy qui de son <span style="position: relative;"><span class="lem">coup</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content"><span class="choice">cueur</span><span class="coll-source"> [Aix419]</span></span></span></sup></span> se abat.</span>
   <span class="verse v4356">Les <span style="position: relative;"><span class="lem">roys</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> et <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark> ensemble,</span>
   <span class="verse v4357">Ainsi <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content"><s>u</s><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>que ung ost de maintes partz <span style="position: relative;">s’assemble</span>,</span>
   <span class="verse v4358">Mirent <span style="position: relative;"><span class="lem">souldardz aux champz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">aux champs soudars<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pour <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark></span>
   <span class="verse v4359">Rendre deffait, qui dessus ung mont hault</span>
   <span class="verse v4360"><span class="verse-number">4360</span>Se alla gecter en place convenable,</span>
   <span class="verse v4361">Dicte <mark title="placeName" instant="false" full="yes">Convoyne</mark>, extimee imprenable.</span>
   <span class="verse v4362">Des habitans et voysins à l’entour,</span>
   <span class="verse v4363">Fist apporter les biens dedans la tour,</span>
   <span class="verse v4364">Puys les enhorte et <span style="position: relative;">aux</span> armes <span style="position: relative;">excite</span></span>
   <span class="verse v4365"><span class="verse-number">4365</span>Se mectre aux champs encontre l’excercite</span>
   <span class="verse v4366">Des ennemys. Mais eulx sortiz dehors,</span>
   <span class="verse v4367">Les <span style="position: relative;"><span class="lem">porte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown20" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown20"><span class="collation-content">portes<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515]</span></span></span></sup></span>,
      <span style="position: relative;"><span class="lem">serre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">serres<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">serre<s>s</s><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">serre<s>s</s><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      et prend <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> biens. Alors</span>
   <span class="verse v4368"><mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> saichant la munitïon
      telle</span>
   <span class="verse v4369">Estre lëans, en usant de cautelle</span>
   <span class="verse v4370"><span class="verse-number">4370</span>Commanda faire unes lectres au nom</span>
   
   
   <hr data-img-id="f217">
   
   <span class="curr-title fw-bold"><mark class="persName">Gondouault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> arrive à
      <mark title="placeName" instant="false" full="yes">Bordeaux</mark> et ses tresors par
      <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> pris</span>
   <span class="verse v4371">De <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark>, où n’y avoit sinon</span>
   <span class="verse v4372">Que <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> admonneste et convie</span>
   <span class="verse v4373">Dedans <mark title="placeName" instant="false" full="yes">Bordeaux</mark> s’en aller
      <span style="position: relative;">sus</span> sa vie,</span>
   <span class="verse v4374">Et ses tresors tous y faire arriver,</span>
   <span class="verse v4375"><span class="verse-number">4375</span>Pour là <span style="position: relative;"><span class="lem">passer</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown26" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown26"><span class="collation-content">passeur<span class="coll-source"> [Aix419]</span></span><span class="collation-content">passé<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> seurement son yver.</span>
   <span class="verse v4376"><mark title="piedMouche">§</mark>Le povre sot de crëance legiere</span>
   <span class="verse v4377">Adjouxtant foy <span style="position: relative;"><span class="lem">à lectre</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">aux lectres<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> mensongiere,</span>
   <span class="verse v4378">Fist pacqueter pacquetz,
      <span style="position: relative;"><span class="lem">bagnes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">balles<span class="coll-source"> [BnFfr4964, BnFfr4965, Aix419, BnFfr23146, Cha515]</span></span><span class="collation-content">ballez<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>, fardeaux,</span>
   <span class="verse v4379">Et tout charger pour mener à
      <mark title="placeName" instant="false" full="yes">Bordeaux</mark>.</span>
   <span class="verse v4380"><span class="verse-number">4380</span>Luy en courant la poste à voye ouverte</span>
   <span class="verse v4381">Eut assez tost la cité recouverte,</span>
   <span class="verse v4382">Mais de ses biens entre mains trebuchéz</span>
   <span class="verse v4383">Des gentz <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark> au <span style="position: relative;"><span class="lem">passaige</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">passaiges<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> embuschéz</span>
   <span class="verse v4384">Fut divisé butin <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown30" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown30"><span class="collation-content">et<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> bonne proye.</span>
   <span class="verse v4385"><span class="verse-number">4385</span><mark title="piedMouche">§</mark>Quant mot à mot le
      demene mectroye,</span>
   <span class="verse v4386">Du cas en soy,
      à tout bien acomplir,</span>
   <span class="verse v4387">Fauldroit longtemps et grand papier emplir,</span>
   <span class="verse v4388">Qui me <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown31" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown31"><span class="collation-content"><s>ferer</s>
                  <span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>seroit plus que assez difficile</span>
   <span class="verse v4389">De reciter, comme <mark class="persName"><span style="position: relative;"><span class="lem">Lendegesille</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content">lende <s>gesilde</s> gesille<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Lendegesille</b> ( — )</span></mark></span>
   <span class="verse v4390"><span class="verse-number">4390</span><span style="position: relative;"><span class="lem">Monstra</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">Monstre<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> son sens estre grand passaigier,</span>
   <span class="verse v4391">Veu <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> qu’il fist pour <mark title="placeName" instant="false" full="yes">Bordeaux</mark> assieiger ;</span>
   <span class="verse v4392">De <mark class="persName">Mommolin<span class="persName-info fw-normal on-right"><b>Mummolus</b> (VIe siècle — 585)<span class="hr-short">&nbsp;</span>Roi de Bourgogne</span></mark>
      <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">autres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">autre<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> maintz gentz lasches,</span>
   <span class="verse v4393">Qui à trahir <mark class="persName">Gondouault<span class="persName-info fw-normal on-right"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark>
      prindrent tasches ;</span>
   <span class="verse v4394">Comme par <span style="position: relative;"><span class="lem">leurs</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">leur<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> cautes suasïons,</span>
   <span class="verse v4395"><span class="verse-number">4395</span>Meschancetéz,
      <span style="position: relative;"><span class="lem">fraudes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">faulses<span class="coll-source"> [Aix419]</span></span></span></sup></span>,
      <span style="position: relative;"><span class="lem">abusïons</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">suasions<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   
   
   <hr data-img-id="f218">
   
   <span class="curr-title fw-bold">La mort de <mark class="persName">Gondouault<span class="persName-info fw-normal on-left"><b>Gondovald</b> (VIe siècle — ?)<span class="hr-short">&nbsp;</span>Roi français</span></mark> et celle de <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v4396">Et faulx semblans si laschement ouvrerent</span>
   <span class="verse v4397">Que aux ennemys et à mort le livrerent.</span>
   <span class="verse v4398"><mark title="piedMouche">§</mark>Comme d’assault fut
      prise la cité,</span>
   <span class="verse v4399">Pillee et mise à grand perplexité,</span>
   <span class="verse v4400"><span class="verse-number">4400</span><span style="position: relative;"><span class="lem">Comme</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown45" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown45"><span class="collation-content">Tout<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> aussi tost qu’il fut mort, tous le traytres</span>
   <span class="verse v4401">Furent occis, et comme soubz telz tiltres,</span>
   <span class="verse v4402">Tous leurs tresors <span style="position: relative;"><span class="lem">aux</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown46" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown46"><span class="collation-content">au<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> deux roys confisquéz</span>
   <span class="verse v4403">Furent à droit de butin applicquéz.</span>
   <span class="verse v4404"><mark title="piedMouche">§</mark>Qui tout au long le vouldra veoir, eslise</span>
   <span class="verse v4405"><span class="verse-number">4405</span>Temps à loysir et la cronicque lise,</span>
   <span class="verse v4406">Sans <span style="position: relative;">sus</span> l’escript tel qu’il est
      detracter.</span>
   <span class="verse v4407">Car je n’entendz fors la chose traicter</span>
   <span class="verse v4408">Sommairement. Plumes n’auroye <span style="position: relative;"><span class="lem">entieres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">entiere<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v4409">Se deschiffraye amplement les matieres.</span>
   <span class="verse v4410"><span class="verse-number">4410</span>Changeons propos. Les <span style="position: relative;">astres</span> dès l’autre an,</span>
   <span class="verse v4411">Par signes <span style="position: relative;"><span class="lem">grandz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">gros<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> menacerent <mark class="persName">Gontran<span class="persName-info fw-normal on-right"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v4412">De prendre fin. La lune en son arcure</span>
   <span class="verse v4413">Souffrit esclipse et se monstra obscure</span>
   <span class="verse v4414">Plus que jamais n’avoit accoustumé.</span>
   <span class="verse v4415"><span class="verse-number">4415</span>Aprés <span class="date" dur="P30Y" instant="false">trente</span> ans <span style="position: relative;"><span class="lem">regner</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content">avoir regné<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>, fut inhumé</span>
   <span class="verse v4416">De léz <mark title="placeName" instant="false" full="yes">Chaalons</mark> en
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark>,
      à mistere</span>
   <span class="verse v4417">Fort triumphant et grand,
      au monastere</span>
   <span class="verse v4418"><mark title="placeName" instant="false" full="yes">Sainct Marc</mark> par luy pieça ediffïé</span>
   <span class="verse v4419">Et de plusieurs grandz biens ampliffïé.</span>
   <span class="verse v4420"><span class="verse-number">4420</span><mark title="piedMouche">§</mark>Si de <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">se<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> roy <span style="position: relative;">sont</span> bien <span style="position: relative;"><span class="lem">considerees</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56"><span class="collation-content">considerés<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   
   
   <hr data-img-id="f219">
   
   <span class="curr-title fw-bold">Des bonnes meurs du roy <mark class="persName">Gontran<span class="persName-info fw-normal on-left"><b>Gontran</b> (532 — 30/03/593)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (561-593)<br/><span class="hr-short">&nbsp;</span>Saint catholique, roi franc de Bourgogne</span></mark></span>
   <span class="verse v4421">Les bonnes meurs et façons moderees,</span>
   <span class="verse v4422">On le tiendra digne, comme je croy,</span>
   <span class="verse v4423">De <span style="position: relative;"><span class="lem">y</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content"><i>om.</i><span class="coll-source"> [Aix419, Cha515]</span></span></span></sup></span> meriter <span style="position: relative;">loz</span> et tiltre de roy</span>
   <span class="verse v4424">Bien renommé. Il fut <span style="position: relative;"><span class="lem">moult</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown59" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown59"><span class="collation-content">fort<span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">bien<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> charitable</span>
   <span class="verse v4425"><span class="verse-number">4425</span>Aux povres gentz, begnin, doulx et traictable,</span>
   <span class="verse v4426">Vers gentz d’eglise et ministres de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>.</span>
   <span class="verse v4427">Terre a le corps,
      l’ame aux sainctz <mark title="placeName" instant="false" full="yes">cieulx</mark> ayt
      lieu.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll1">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>
            
            <span class="unclear" instant="false">29</span>
            
            </span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4345);">v. 4345</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Pour</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxix me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxix<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxix<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre .xxix<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4346);">v. 4346</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>couché</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4349);">v. 4349</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll8">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4351);">v. 4351</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>breef fair</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4352);">v. 4352</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Gondoult</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4352);">v. 4352</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>du</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4354);">v. 4354</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>demeurant</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4355);">v. 4355</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">cueur</span></span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4356);">v. 4356</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4357);">v. 4357</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><s>u</s></span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4358);">v. 4358</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>aux champs soudars</span></div>
      </div>
   <div class="collation row" id="coll20">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4367);">v. 4367</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419, BnFfr17274, BnFfr23146, Cha515 </span>portes</span></div>
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4367);">v. 4367</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>serres</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>serre<s>s</s></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>serre<s>s</s></span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4367);">v. 4367</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll26">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4375);">v. 4375</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>passeur</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>passé</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4377);">v. 4377</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>aux lectres</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4378);">v. 4378</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, Aix419, BnFfr23146, Cha515 </span>balles</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>ballez</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4383);">v. 4383</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>passaiges</span></div>
      </div>
   <div class="collation row" id="coll30">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4384);">v. 4384</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>et</span></div>
      </div>
   <div class="collation row" id="coll31">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4388);">v. 4388</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><s>ferer</s>
            </span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4389);">v. 4389</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>lende <s>gesilde</s> gesille</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4390);">v. 4390</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Monstre</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4391);">v. 4391</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4392);">v. 4392</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4392);">v. 4392</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>autre</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4394);">v. 4394</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leur</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4395);">v. 4395</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>faulses</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4395);">v. 4395</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>suasions</span></div>
      </div>
   <div class="collation row" id="coll45">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4400);">v. 4400</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Tout</span></div>
      </div>
   <div class="collation row" id="coll46">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4402);">v. 4402</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>au</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4408);">v. 4408</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>entiere</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4411);">v. 4411</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gros</span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4415);">v. 4415</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>avoir regné</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4420);">v. 4420</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4420);">v. 4420</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>considerés</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4423);">v. 4423</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, Cha515 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll59">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4424);">v. 4424</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>fort</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>bien</span></div>
      </div>
</div>
{% endmacro %}
