
{% macro chapterTitle() %}Chapitre 30{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('30_chap_29')"><i class="fa-solid fa-arrow-left"></i> Chapitre 29</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('32_chap_31')">Chapitre 31 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f229/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f229/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f229" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f230/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f230/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f230" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f231/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f231/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f231" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f232/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f232/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f232" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f233/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f233/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f233" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f234/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f234/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f234" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   <hr data-img-id="f229">
   <p title="Numéro de folio" class="text-end"><i>97r</i></p>
   <blockquote class="ms-2">
      
      <span class="verse v4644"><mark title="piedMouche"></mark>Propos ſe 
         <span class="lem">tient</span>
         
          de deux filz ſuccedans</span>
      <span class="verse v4645"><span class="verse-number">4645</span>En paternel et royal heritaige,</span>
      <span class="verse v4646">Leſquelz enſemble accorderent partaige</span>
      <span class="verse v4647">
         <span class="lem">Des</span>
         
          regions que furent poſſedans.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche"></mark>
      
      <span class="lem">Chapitre.&nbsp;xxx.<sup>e</sup></span>
      
      
      
      
      
      
      </blockquote>
   
   
   
   <hr data-img-id="f230">
   
   <p title="Numéro de folio" class="text-end"><i>97v</i></p>
   
   
   <hr data-img-id="f231">
   
   <p title="Numéro de folio" class="text-end"><i>98r</i></p>
   <span class="d-block fw-bold mb-3">Fredegonde eſmeult
      ſon filz Clotaire contre
      Theodorich et Theodebert /.</span>
   <span class="verse v4648">CE
      Childebert / dit le Ieune en ſon tiltre,</span>
   <span class="verse v4649">Laiſſa deux filz /. Leſquelz (<span class="choice"><span title="Abbréviation pour comme"><mark title="abbréviation">cōme</mark></span></span>
      
      <span class="lem">on</span>
      
       ſe attiſtre</span>
   <span class="verse v4650"><span class="verse-number">4650</span>
      <span class="lem">Succeſſion</span>
      
      , diuiſer)
      En appert</span>
   <span class="verse v4651">Firent leurs lotz /. Dont 
      <span class="lem"></span>
      
      laiſne /.
      Theodebert</span>
   <span class="verse v4652"><mark title="placeName" instant="false" full="yes">Auſtraſie</mark> eut /.
      Ceſt la haulte <mark title="placeName" instant="false" full="yes">Champaigne</mark></span>
   <span class="verse v4653">Loꝛs eſtendue aux mettes d<mark title="placeName" instant="false" full="yes">Alemaigne</mark>.</span>
   <span class="verse v4654">Et Theodoꝛich lautre des
      filz / puiſne,</span>
   <span class="verse v4655"><span class="verse-number">4655</span>Obtint <mark title="placeName" instant="false" full="yes">Bourgongne</mark> /. et fut
      roy couronne /.</span>
   <span class="verse v4656"><mark title="piedMouche">§</mark>De ces deux 
      <span class="lem"></span>
      
      roys /
      Fredegonde ennemye,</span>
   <span class="verse v4657">Sans ſeiourner 
      <span class="lem">iour</span>
      
       / heure ny demye,</span>
   <span class="verse v4658">Le cueur eſmeut de Clotaire ſon filz,</span>
   <span class="verse v4659">Pour toſt les veoir par armes deſconfitz.</span>
   <span class="verse v4660"><span class="verse-number">4660</span>Si que a ces fins elle fuſt dominante</span>
   <span class="verse v4661">
      <span class="lem">Sus</span>
      
      
      Bꝛunechilde ayeule et
      gouuernante</span>
   <span class="verse v4662">Diceulx enfans /
      Leſquelz non paraſſeux,</span>
   <span class="verse v4663">Bien aduertis (comme 
      <span class="lem"></span>
      
      
      <span class="lem">dappareilz</span>
      
      ) ceulx</span>
   <span class="verse v4664">Qui guerroyer deſirent / ſappareillent /</span>
   <span class="verse v4665"><span class="verse-number">4665</span>Et en quel point aduerſaires reueillent</span>
   <span class="verse v4666">Leurs bons ſubiectz / furent foꝛt diligentz</span>
   <span class="verse v4667">Ban publier / et faire 
      <span class="lem">amaſtz</span>
      
       de gentz /.</span>
   <span class="verse v4668">Loꝛs Fredegonde /
      Ayant a cueur Clotaire</span>
   <span class="verse v4669">Veoir triumpher endꝛoit 
      <span class="lem">lart</span>
      
       militaire,</span>
   <span class="verse v4670"><span class="verse-number">4670</span>Commiſt Landꝛy pꝛincipal
      conducteur</span>
   <span class="verse v4671">En ceſt affaire /.
      Et comme executeur</span>
   <span class="verse v4672">De faictz haultains / et ſumptueux alarmes.</span>
   
   
   <hr data-img-id="f232">
   
   <p title="Numéro de folio" class="text-end"><i>98v</i></p>
   <span class="d-block fw-bold mb-3">Victoire de Clotaire contre Theodebert et Theodorich.</span>
   <span class="verse v4673">Incontinent 
      <span class="lem">fiſt marcher ſes</span>
      
       gensdarmes</span>
   <span class="verse v4674">Par oꝛdꝛe deue / en bataille / vers
      <mark title="placeName" instant="false" full="yes">Sens</mark>.</span>
   <span class="verse v4675"><span class="verse-number">4675</span><mark title="piedMouche">§</mark>Adoncq les roys 
      <span class="lem">ieunes</span>
      
       de ans et de ſens,</span>
   <span class="verse v4676">Trop plus fourniz dardant cuer / que 
      <span class="lem"></span>
      
      conduicte,</span>
   <span class="verse v4677">Plus de challeur / que de maniere duicte,</span>
   <span class="verse v4678">Sans 
      <span class="lem">riens</span>
      
       doubter barbe dhomme viuant /</span>
   <span class="verse v4679">A gꝛoſſe flotte allerent au deuant</span>
   <span class="verse v4680"><span class="verse-number">4680</span>De 
      <span class="lem">lauant garde</span>
      
      
      
      <span class="lem">a</span>
      
      
      Clotaire / Et luy 
      <span class="lem"></span>
      
      contre</span>
   <span class="verse v4681">Chargea 
      <span class="lem">ſus</span>
      
       eulx / ſi bien / que a la rencontre</span>
   <span class="verse v4682">
      <span class="lem"></span>
      
      Furent 
      <span class="lem">de bꝛaz</span>
      
       et teſtes 
      <span class="lem">fait</span>
      
       chappliz,</span>
   <span class="verse v4683">Dont / de coꝛps moꝛtz / on veit les
      champs 
      <span class="lem">empliz</span>
      
       /.</span>
   <span class="verse v4684">Tant dune part que dautre /
      
      <span class="lem"></span>
      
      debuoir firent</span>
   <span class="verse v4685"><span class="verse-number">4685</span>
      <span class="lem">Et ne 
         <span class="lem">ſcet</span>
         
         
         </span>
      
       on leſquelz plus en deffirent.</span>
   <span class="verse v4686">Mais a la fin /
      Landꝛy / comme ung
      routtier</span>
   <span class="verse v4687">Qui ruzes ſcet maintes / quant au meſtier</span>
   <span class="verse v4688">De vieille guerre, une charge en trauerſe</span>
   <span class="verse v4689">Alla donner / ſi terrible et diuerſe</span>
   <span class="verse v4690"><span class="verse-number">4690</span>Que aux ieunes roys conuint place changer,</span>
   <span class="verse v4691">Car tous leurs gentz furent au deſcharger</span>
   <span class="verse v4692">Si tres rompuz /. quen fuyant ſeſcarterent
      /</span>
   <span class="verse v4693">Comme perdꝛiaux / et maintz coupz empoꝛterent.</span>
   <span class="verse v4694"><mark title="piedMouche">§</mark>Quant Fredegonde eut de 
      <span class="lem">Clotaire</span>
      
       ſceu</span>
   <span class="verse v4695"><span class="verse-number">4695</span>Telle victoire /. a ioye fut receu</span>
   <span class="verse v4696">Gloire et triumphe /. Oꝛ elle conſommee
      <span class="lem"></span>
      
      </span>
   <span class="verse v4697">De ans et 
      <span class="lem"></span>
      
      vieilz 
      <span class="lem"></span>
      
      iours / pꝛes 
      <span class="lem">du</span>
      
       ſompne aſſommee,</span>
   
   
   <hr data-img-id="f233">
   
   <p title="Numéro de folio" class="text-end"><i>99r</i></p>
   <span class="d-block fw-bold mb-3">La mort / enſepulture / et vices de Fredegonde.</span>
   <span class="verse v4698">Dont coꝛps humains ne ſe 
      <span class="lem">reueillent</span>
      
       pas,</span>
   <span class="verse v4699">Moꝛt luy clouyt (
      <span class="lem"></span>
      
      du dernier iour) le pas.</span>
   <span class="verse v4700"><span class="verse-number">4700</span>Et au cercueil 
      <span class="lem">fait</span>
      
      
       danticque ſculpture,</span>
   <span class="verse v4701">Pꝛes ſon mary Chilperich / ſepulture</span>
   <span class="verse v4702">Eut lez <mark title="placeName" instant="false" full="yes">Paris</mark> / a 
      <span class="lem"></span>
      
      <mark title="placeName" instant="false" full="yes">
         <span class="lem">Sainct</span>
         
          Germain des prez</mark>.</span>
   <span class="verse v4703"><mark title="piedMouche">§</mark>Se leurs coꝛps ſont falerez / diapꝛez</span>
   <span class="verse v4704">Et pꝛeſeruez de caducques moleſtes,</span>
   <span class="verse v4705"><span class="verse-number">4705</span>Et 
      <span class="lem">ames</span>
      
       ſont aux royaumes <mark title="placeName" instant="false" full="yes">celeſtes</mark>,</span>
   <span class="verse v4706">Ceſt ung gꝛand cas /.
      Dieu eſt miſericoꝛs,</span>
   <span class="verse v4707">Mais veuz les maulx par eulx mys en recoꝛdz,</span>
   <span class="verse v4708">Ie ſuys 
      <span class="lem"></span>
      
      dauis / quil eſt bien difficile</span>
   <span class="verse v4709">Quen leur ſalut noſtre eſpoir ne vaxile.</span>
   <span class="verse v4710"><span class="verse-number">4710</span><mark title="piedMouche">§</mark>De ceſte femme on
      eſcript tant dexces</span>
   <span class="verse v4711">
      <span class="lem">Quilz font</span>
      
       doubter / lame apꝛes ſon deces</span>
   <span class="verse v4712">Auoir ſouffert gꝛand peine en
      <mark title="placeName" instant="false" full="yes">purgatoire</mark></span>
   <span class="verse v4713">Se pis ny a /. Peu 
      <span class="lem">dœuure</span>
      
       meritoire</span>
   <span class="verse v4714">Et beaucoup vice en ſa vie a commys /.</span>
   <span class="verse v4715"><span class="verse-number">4715</span>Son cueur cruel / ne ſouffrit homme mys</span>
   <span class="verse v4716">Et loing 
      <span class="lem">gecte</span>
      
       / hoꝛs la faincte amour delle</span>
   <span class="verse v4717">Quil nen receuſt playe afflicte et 
      <span class="lem">moꝛtelle</span>
      
       /.</span>
   <span class="verse v4718">Cꝛvelle en 
      <span class="lem"></span>
      
      ire /.
      Ireuſe en cruaulte,</span>
   <span class="verse v4719">Traytreſſe en 
      <span class="lem"></span>
      
      dol /.
      Double en deſloyaulte,</span>
   <span class="verse v4720"><span class="verse-number">4720</span>Tant eſtoit /. quoncq / ne fut
      raſſaſiee</span>
   <span class="verse v4721">Deſpendꝛe ſang /. Elle fantaiſiee</span>
   <span class="verse v4722">Peuples et gentz innocens tourmentoit /</span>
   
   
   <hr data-img-id="f234">
   
   <p title="Numéro de folio" class="text-end"><i>99v</i></p>
   <span class="d-block fw-bold mb-3">Des vices de Fredegonde.</span>
   <span class="verse v4723">Et lourd trauail /
      
      <span class="lem">ſus</span>
      
       leur mal augmentoit.</span>
   <span class="verse v4724">Ung cas commiſt que gꝛandement deteſte,</span>
   <span class="verse v4725"><span class="verse-number">4725</span>Quant fiſt naurer larcheueſque pretexte</span>
   <span class="verse v4726">Diſant la meſſe au ſainct temple de dieu.</span>
   <span class="verse v4727">Loꝛs que dexil fut 
      <span class="lem">remys</span>
      
       en ſon lieu /.</span>
   <span class="verse v4728">Moꝛt en receut /. dont le 
      <span class="lem">tiens</span>
      
       mys 
      <span class="lem">au</span>
      
      
      
      <span class="lem"></span>
      
      rolle</span>
   <span class="verse v4729">Des ſainctz martirs meritans 
      <span class="lem">laureolle</span>
      
       /.</span>
   <span class="verse v4730"><span class="verse-number">4730</span>
      <span class="lem">Maintz</span>
      
      
      
      <span class="lem">autres</span>
      
       maulx fiſt elle /.
      Et ne ſcay pas</span>
   <span class="verse v4731">Si bien en fut contricte a ſon treſpas /.</span>
   <span class="verse v4732">Celluy Seigneur qui de tous 
      <span class="lem">faictz</span>
      
       diſpoſe</span>
   <span class="verse v4733">Le vueille ainſi /. affin que au ciel repoſe.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   <hr data-img-id="f229">
   <blockquote class="ms-2">
      
      <span class="verse v4644"><mark title="piedMouche"></mark>Propos se <span style="position: relative;">tient</span> de deux filz succedans</span>
      <span class="verse v4645"><span class="verse-number">4645</span>En paternel et royal heritaige,</span>
      <span class="verse v4646">Lesquelz ensemble accorderent partaige</span>
      <span class="verse v4647"><span style="position: relative;"><span class="lem">Des</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">De<span class="coll-source"> [Aix419]</span></span></span></sup></span> regïons que furent possedans.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche"></mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxx<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown3"><span class="collation-content">Chapitre xxxi me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxxi<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxxi<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappitre .xxxi<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   
   
   <hr data-img-id="f230">
   
   
   
   <hr data-img-id="f231">
   
   <span class="curr-title fw-bold"><mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> esmeult
      son filz <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark> contre
      <mark class="persName">Theodorich<span class="persName-info fw-normal on-left"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> et <mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark></span>
   <span class="verse v4648">Ce
      <mark class="persName">Childebert<span class="persName-info fw-normal on-right"><b>Childebert II </b> (08/04/570 — ?)<span class="hr-100">&nbsp;</span>Roi des Francs de Paris (592-596)<br/>Roi des Frans d'Austrasie (575-596)<br/>Roi des Francs de Bourgogne (593-596)<br/><span class="hr-short">&nbsp;</span>Roi d’Austrasie de 575 à 596, et, à partir de 592, roi de la Bourgogne et de
            l’Orléanais</span></mark>, dit le Jeune en son tiltre,</span>
   <span class="verse v4649">Laissa deux filz. Lesquelz, <span class="choice"><span title="Abbrégé en cōme"><mark title="abbréviation">comme</mark></span></span>
      <span style="position: relative;"><span class="lem">on</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown4"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> se attistre</span>
   <span class="verse v4650"><span class="verse-number">4650</span><span style="position: relative;"><span class="lem">Successïon</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content">Successïons<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146]</span></span></span></sup></span>, diviser
      en appert</span>
   <span class="verse v4651">Firent leurs lotz. Dont l’aisné
      <mark class="persName">Theodebert<span class="persName-info fw-normal on-right"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark></span>
   <span class="verse v4652"><mark title="placeName" instant="false" full="yes">Austrasie</mark> eut :
      c’est la haulte <mark title="placeName" instant="false" full="yes">Champaigne</mark></span>
   <span class="verse v4653">Lors estendue aux mettes d’<mark title="placeName" instant="false" full="yes">Alemaigne</mark>.</span>
   <span class="verse v4654">Et <mark class="persName">Theodorich<span class="persName-info fw-normal on-right"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> l’autre des
      filz puisné,</span>
   <span class="verse v4655"><span class="verse-number">4655</span>Obtint <mark title="placeName" instant="false" full="yes">Bourgongne</mark> et fut
      roy couronné.</span>
   <span class="verse v4656"><mark title="piedMouche">§</mark>De ces deux roys
      <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> ennemye,</span>
   <span class="verse v4657">Sans sejourner <span style="position: relative;">jour</span> heure ny demye,</span>
   <span class="verse v4658">Le cueur esmeut de <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark> son filz,</span>
   <span class="verse v4659">Pour tost les veoir par armes desconfitz.</span>
   <span class="verse v4660"><span class="verse-number">4660</span>Si que à ces fins elle fust dominante</span>
   <span class="verse v4661"><span style="position: relative;">Sus</span>
      <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark> ayeule et
      gouvernante</span>
   <span class="verse v4662">D’iceulx enfans,
      lesquelz non parasseux,</span>
   <span class="verse v4663">Bien advertiscomme <span style="position: relative;"><span class="lem">d’appareilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content">d’aparel<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> ceulx</span>
   <span class="verse v4664">Qui guerroyer desirent s’appareillent,</span>
   <span class="verse v4665"><span class="verse-number">4665</span>Et en quel point adversaires reveillent</span>
   <span class="verse v4666">Leurs bons subjectz, furent fort diligentz</span>
   <span class="verse v4667">Ban publier et faire <span style="position: relative;"><span class="lem">amastz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">amast<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> de gentz.</span>
   <span class="verse v4668">Lors <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark>,
      ayant à cueur <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark></span>
   <span class="verse v4669">Veoir triumpher endroit <span style="position: relative;"><span class="lem">l’art</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">art<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> militaire,</span>
   <span class="verse v4670"><span class="verse-number">4670</span>Commist <mark class="persName">Landry<span class="persName-info fw-normal on-right"><b>Landry</b> ( — )</span></mark> principal
      conducteur</span>
   <span class="verse v4671">En cest affaire
      et comme executeur</span>
   <span class="verse v4672">De faictz haultains et sumptueux alarmes.</span>
   
   
   <hr data-img-id="f232">
   
   <span class="curr-title fw-bold">Victoire de <mark class="persName">Clotaire<span class="persName-info fw-normal on-left"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark> contre <mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark> et <mark class="persName">Theodorich<span class="persName-info fw-normal on-left"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark></span>
   <span class="verse v4673">Incontinent <span style="position: relative;"><span class="lem">fist marcher ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown14" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown14"><span class="collation-content">fait marche ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> gens d’armes</span>
   <span class="verse v4674">Par ordre deue en bataille vers
      <mark title="placeName" instant="false" full="yes">Sens</mark>.</span>
   <span class="verse v4675"><span class="verse-number">4675</span><mark title="piedMouche">§</mark>Adoncq les roys <span style="position: relative;"><span class="lem">jeunes</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">jeune<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> de ans et de sens,</span>
   <span class="verse v4676">Trop plus fourniz d’ardant cuer que conduicte,</span>
   <span class="verse v4677">Plus de challeur que de maniere duicte,</span>
   <span class="verse v4678">Sans <span style="position: relative;"><span class="lem">riens</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content">rien<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> doubter barbe d’homme vivant,</span>
   <span class="verse v4679">À grosse flotte allerent au devant</span>
   <span class="verse v4680"><span class="verse-number">4680</span>De <span style="position: relative;"><span class="lem">l’avant garde</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">la vengarde<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;">à</span>
      <mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
            Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark>. Et luy contre</span>
   <span class="verse v4681">Chargea <span style="position: relative;">sus</span> eulx si bien que à la rencontre</span>
   <span class="verse v4682">Furent <span style="position: relative;"><span class="lem">de braz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown23" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown23"><span class="collation-content">abraz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> et testes <span style="position: relative;"><span class="lem">fait</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">faictz<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> chappliz,</span>
   <span class="verse v4683">Dont de corps mortz on veit les
      champs <span style="position: relative;"><span class="lem">empliz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown25" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown25"><span class="collation-content">ranplis<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v4684">Tant d’une part que d’autre
      debvoir firent</span>
   <span class="verse v4685"><span class="verse-number">4685</span><span style="position: relative;"><span class="lem">Et ne <span style="position: relative;"><span class="lem">scet</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">sceut<span class="coll-source"> [BnFfr4964, BnFfr17274]</span></span></span></sup></span>
            </span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content"><span>Et ne sceut</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> on lesquelz plus en deffirent.</span>
   <span class="verse v4686">Mais à la fin
      <mark class="persName">Landry<span class="persName-info fw-normal on-right"><b>Landry</b> ( — )</span></mark> comme ung
      routtier</span>
   <span class="verse v4687">Qui ruzes scet maintes quant au mestier</span>
   <span class="verse v4688">De vieille guerre, une charge en traverse</span>
   <span class="verse v4689">Alla donner, si terrible et diverse</span>
   <span class="verse v4690"><span class="verse-number">4690</span>Que aux jeunes roys convint place changer,</span>
   <span class="verse v4691">Car tous leurs gentz furent au descharger</span>
   <span class="verse v4692">Si trés rompuz qu’en fuyant s’escarterent</span>
   <span class="verse v4693">Comme perdriaux et maintz coupz emporterent.</span>
   <span class="verse v4694"><mark title="piedMouche">§</mark>Quant <mark class="persName">Fredegonde<span class="persName-info fw-normal on-right"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark> eut de <span style="position: relative;"><span class="lem"><mark class="persName">Clotaire<span class="persName-info fw-normal on-right"><b>Clotaire II</b> (584 — 21/10/629)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (584-613)<br/>Roi des Francs de Paris (595-613)<br/>Roi des Francs d'Austrasie et de
                  Bourgogne (613-629)<br/>Roi des Francs (613-629)<br/></span></mark></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content"><s></s> certain<span class="coll-source"> [Aix410]</span></span></span></sup></span> sceu</span>
   <span class="verse v4695"><span class="verse-number">4695</span>Telle victoire, à joye fut receu</span>
   <span class="verse v4696">Gloire et triumphe. Or elle consommee</span>
   <span class="verse v4697">De ans et vieilz jours près <span style="position: relative;"><span class="lem">du</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">de<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> sompne assommee,</span>
   
   
   <hr data-img-id="f233">
   
   <span class="curr-title fw-bold">La mort, ensepulture et vices de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v4698">Dont corps humains ne se <span style="position: relative;"><span class="lem">reveillent</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown34" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown34"><span class="collation-content"><s><span class="choice">reveillent</span></s>
                  <span class="choice">retenent</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> pas,</span>
   <span class="verse v4699">Mort luy clouytdu dernier jour le pas.</span>
   <span class="verse v4700"><span class="verse-number">4700</span>Et au cercueil <span style="position: relative;"><span class="lem">fait</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">feist<span class="coll-source"> [BnFfr23146]</span></span><span class="collation-content">fut<span class="coll-source"> [Cha515]</span></span></span></sup></span> d’anticque sculpture,</span>
   <span class="verse v4701">Près son mary <mark class="persName">Chilperich<span class="persName-info fw-normal on-right"><b>Chilpéric Ier</b> (537 — 29/09/584)<span class="hr-100">&nbsp;</span>Roi des Francs de Neustrie (561-584)<br/></span></mark>, sepulture</span>
   <span class="verse v4702">Eut lez <mark title="placeName" instant="false" full="yes">Paris</mark> à <mark title="placeName" instant="false" full="yes"><span style="position: relative;">Sainct</span> Germain des Préz</mark>.</span>
   <span class="verse v4703"><mark title="piedMouche">§</mark>Se leurs corps sont faleréz, dïapréz</span>
   <span class="verse v4704">Et preservéz de caducques molestes,</span>
   <span class="verse v4705"><span class="verse-number">4705</span>Et <span style="position: relative;"><span class="lem">ames</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content"><span>aymez</span><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> sont aux royaumes <mark title="placeName" instant="false" full="yes">celestes</mark>,</span>
   <span class="verse v4706">C’est ung grand cas.
      <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> est misericors,</span>
   <span class="verse v4707">Mais veuz les maulx par eulx mys en recordz,</span>
   <span class="verse v4708">Je suys d’avis qu’il est bien difficile</span>
   <span class="verse v4709">Qu’en leur salut nostre espoir ne vaxile.</span>
   <span class="verse v4710"><span class="verse-number">4710</span><mark title="piedMouche">§</mark>De ceste femme on
      escript tant d’excés</span>
   <span class="verse v4711"><span style="position: relative;"><span class="lem">Qu’ilz font</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">Qu’il fault<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> doubter l’ame aprés son decés</span>
   <span class="verse v4712">Avoir souffert grand peine en
      <mark title="placeName" instant="false" full="yes">purgatoire</mark></span>
   <span class="verse v4713">Se pis n’y a. Peu <span style="position: relative;">d’œuvre</span> meritoire</span>
   <span class="verse v4714">Et beaucoup vice en sa vie a commys.</span>
   <span class="verse v4715"><span class="verse-number">4715</span>Son cueur cruel ne souffrit homme mys</span>
   <span class="verse v4716">Et loing <span style="position: relative;"><span class="lem">gecté</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">gecter<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> hors la faincte amour d’elle</span>
   <span class="verse v4717">Qu’il n’en receust playe afflicte et <span style="position: relative;"><span class="lem">mortelle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">motelle<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v4718">Cruelle<sup class="modal-call note-call" aria-hidden="true" id="noteCall1" data-modal-id="noteModal1">1</sup> en ire
      ireuse en cruaulté,</span>
   <span class="verse v4719">Traytresse en dol
      double en desloyaulté,</span>
   <span class="verse v4720"><span class="verse-number">4720</span>Tant estoit qu’oncq ne fut
      rassasïee</span>
   <span class="verse v4721">D’espendre sang. Elle fantaisïee</span>
   <span class="verse v4722">Peuples et gentz innocens tourmentoit</span>
   
   
   <hr data-img-id="f234">
   
   <span class="curr-title fw-bold">Des vices de <mark class="persName">Fredegonde<span class="persName-info fw-normal on-left"><b>Frédégonde</b> (entre 543 et 545 — 10/12/597)<span class="hr-100">&nbsp;</span>Reine des Francs de Neustrie (568-584)<br/></span></mark></span>
   <span class="verse v4723">Et lourd travail
      <span style="position: relative;">sus</span> leur mal augmentoit.</span>
   <span class="verse v4724">Ung cas commist que grandement deteste,</span>
   <span class="verse v4725"><span class="verse-number">4725</span>Quant fist navrer l’archevesque <mark class="persName">Pretexte<span class="persName-info fw-normal on-right"><b>Prétextat</b> (Ve siècle — entre 25/02/586 et 16/04/586)<span class="hr-short">&nbsp;</span>Evêque de Rouen</span></mark></span>
   <span class="verse v4726">Disant la messe au sainct temple de <mark class="persName">Dieu<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark>.</span>
   <span class="verse v4727">Lors que d’exil fut <span style="position: relative;">remys</span> en son lieu,</span>
   <span class="verse v4728">Mort en receut dont le <span style="position: relative;"><span class="lem">tiens</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">temps<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> mys <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      rolle</span>
   <span class="verse v4729">Des sainctz martirs meritans <span style="position: relative;"><span class="lem">l’aureolle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content">l’aureola<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v4730"><span class="verse-number">4730</span><span style="position: relative;"><span class="lem">Maintz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content">Maictz<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">autres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown54" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown54"><span class="collation-content">aut<span>re</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> maulx fist elle
      et ne sçay pas</span>
   <span class="verse v4731">Si bien en fut contricte à son trespas.</span>
   <span class="verse v4732">Celluy <mark class="persName">Seigneur<span class="persName-info fw-normal on-right"><b>Dieu</b><span class="hr-short">&nbsp;</span>Concept de Dieu dans le christianisme</span></mark> qui de tous <span style="position: relative;"><span class="lem">faictz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown55" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown55"><span class="collation-content">faict<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> dispose</span>
   <span class="verse v4733">Le vueille ainsi, affin que au ciel repose.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}true{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab">
   <h4 class="modal-title" modal-title="noteModal1">Note n°1</h4>
   <div class="modal-text" modal-text="noteModal1">Usage inhabituel du r rond après un C.</div>
</div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4647);">v. 4647</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>De</span></div>
      </div>
   <div class="collation row" id="coll3">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxxi me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxxi<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxxi<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre .xxxi<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll4">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4649);">v. 4649</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4650);">v. 4650</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146 </span>Successïons</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4663);">v. 4663</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>d’aparel</span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4667);">v. 4667</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>amast</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4669);">v. 4669</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>art</span></div>
      </div>
   <div class="collation row" id="coll14">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4673);">v. 4673</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>fait marche ces</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4675);">v. 4675</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>jeune</span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4678);">v. 4678</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>rien</span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4680);">v. 4680</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>la vengarde</span></div>
      </div>
   <div class="collation row" id="coll23">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4682);">v. 4682</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>abraz</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4682);">v. 4682</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>faictz</span></div>
      </div>
   <div class="collation row" id="coll25">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4683);">v. 4683</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ranplis</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4685);">v. 4685</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><span>Et ne sceut</span></span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4685);">v. 4685</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr17274 </span>sceut</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4694);">v. 4694</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix410 </span><s></s> certain</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4697);">v. 4697</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>de</span></div>
      </div>
   <div class="collation row" id="coll34">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4698);">v. 4698</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span><s><span class="choice">reveillent</span></s>
            <span class="choice">retenent</span></span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4700);">v. 4700</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>feist</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>fut</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4705);">v. 4705</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span>aymez</span></span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4711);">v. 4711</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Qu’il fault</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4716);">v. 4716</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>gecter</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4717);">v. 4717</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>motelle</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4728);">v. 4728</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>temps</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4728);">v. 4728</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4729);">v. 4729</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>l’aureola</span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4730);">v. 4730</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Maictz</span></div>
      </div>
   <div class="collation row" id="coll54">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4730);">v. 4730</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>aut<span>re</span></span></div>
      </div>
   <div class="collation row" id="coll55">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4732);">v. 4732</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>faict</span></div>
      </div>
</div>
{% endmacro %}
