
{% macro chapterTitle() %}Chapitre 32{% endmacro %}

{% macro prev() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="prevChap('32_chap_31')"><i class="fa-solid fa-arrow-left"></i> Chapitre 31</button>{% endmacro %}

{% macro next() %}<button xmlns="http://www.w3.org/1999/xhtml" type="button" class="btn btn-link" onclick="nextChap('34_chap_33')">Chapitre 33 <i class="fa-solid fa-arrow-right"></i></button>{% endmacro %}

{% macro img(pos) %}
<div xmlns="http://www.w3.org/1999/xhtml" class="osd-pane tab-pane fade" role="tabpanel" tabindex="0" id="image-{{pos}}" aria-labelledby="image-{{pos}}-tab">
   <div class="osd-pane-content" id="osd-pane-content-{{pos}}">
      <div class="img-thumbnails"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f242/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f242/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f242" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f243/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f243/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f243" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f244/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f244/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f244" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f245/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f245/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f245" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f246/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f246/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f246" data-pos="{{pos}}"><img class="img-thumbnail" src="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f247/full/,80/0/color.jpg" data-img="https://gallica.bnf.fr/iiif/ark:/12148/btv1b10523278x/f247/full/1600,/0/color.jpg" data-credit="Source : BnF / Gallica" id="image-{{pos}}-f247" data-pos="{{pos}}"></div>
      <div class="osd-btn text-center"><span id="osd-zoom-in-{{pos}}"><i class="fa fa-search-plus"></i></span><span id="osd-zoom-out-{{pos}}"><i class="fa fa-search-minus"></i></span><span id="osd-home-{{pos}}"><i class="fa fa-home"></i></span><span id="osd-full-page-{{pos}}"><i class="fa fa-arrows-alt"></i></span><span id="osd-left-{{pos}}"><i class="fa fa-undo"></i></span><span id="osd-right-{{pos}}"><i class="fa fa-redo-alt"></i></span></div>
      <div class="openseadragon" id="openseadragon-{{pos}}"></div>
   </div>
</div>
{% endmacro %}

{% macro diplo(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="diplo tab-pane fade" role="tabpanel" tabindex="0" id="diplo-{{pos}}" aria-labelledby="diplo-{{pos}}-tab">
   
   
   <hr data-img-id="f242">
   
   <p title="Numéro de folio" class="text-end"><i>103v</i></p>
   
   
   <hr data-img-id="f243">
   
   <p title="Numéro de folio" class="text-end"><i>104r</i></p>
   <span class="d-block fw-bold mb-3">De Prothadius fait
      gouuerneur de Theodorich.</span>
   
   <blockquote class="ms-2">
      
      <span class="verse v4888"><mark title="piedMouche">§</mark>En ceſt endroit le
         conte nous recorde</span>
      <span class="verse v4889">Que forte 
         <span class="lem"></span>
         
         guerre entre freres ſeſmeut,</span>
      <span class="verse v4890"><span class="verse-number">4890</span>Et comme lors Brunechilde / ung homme eut</span>
      <span class="verse v4891">Amy de noyſe / et hayneux de
         concorde.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      
      <span class="lem">Chapitre.&nbsp;xxxii<sup>e</sup>.</span>
      
      
      
      
      
      
      </blockquote>
   
   <span class="verse v4892">L<mark title="orgName" instant="false" full="yes">Italien</mark> cault homme renomme,</span>
   <span class="verse v4893">Pꝛothadius / ia 
      <span class="lem">cy</span>
      
       deſſus nomme,</span>
   <span class="verse v4894">Par ſa fineſſe et mondaine 
      <span class="lem"></span>
      
      pꝛudence</span>
   <span class="verse v4895"><span class="verse-number">4895</span>Vers Theodoꝛich receut
      plaine euidence</span>
   <span class="verse v4896">De gꝛand credit /
      lvy foꝛt ambicieux.</span>
   <span class="verse v4897">De vains honneurs tant auaricieux,</span>
   <span class="verse v4898">Fut au pꝛouffit du roy / et le ſien faire</span>
   <span class="verse v4899">Quil ne doubta contre honneur 
      <span class="lem">ſe</span>
      
      
       foꝛfaire /.</span>
   <span class="verse v4900"><span class="verse-number">4900</span>Craincte nauoit dexactions leuer</span>
   <span class="verse v4901">Pour gentz degliſe / et 
      <span class="lem">peuples</span>
      
       foꝛt gꝛeuer /.</span>
   <span class="verse v4902">Tant fut haultain / que ſans honte et vergongne</span>
   <span class="verse v4903">Moult moleſta les plus gꝛandz de
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark> /.</span>
   <span class="verse v4904">En 
      <span class="lem">telle</span>
      
       amour le pꝛiſt ce roy / et tint</span>
   <span class="verse v4905"><span class="verse-number">4905</span>Que le credit de gouuerneur obtint</span>
   <span class="verse v4906">Et 
      <span class="lem">ſus</span>
      
       le faict de 
      <span class="lem">la</span>
      
       gendarmerie</span>
   <span class="verse v4907">Fut maiſtre et chief de 
      <span class="lem">la</span>
      
       cheualerie /.</span>
   <span class="verse v4908">Ce fut celluy (comme chaſcun tenoit)</span>
   <span class="verse v4909">Qui Bꝛunechilde
      / en 
      <span class="lem">l</span>
      
      amour maintenoit /</span>
   
   
   <hr data-img-id="f244">
   
   <p title="Numéro de folio" class="text-end"><i>104v</i></p>
   <span class="d-block fw-bold mb-3">Brunechilde
      conſeille Theodorich de guerroyer
      Theodebert.</span>
   <span class="verse v4910"><span class="verse-number">4910</span>Dont 
      <span class="lem">gentz</span>
      
      
      
      <span class="lem">charnelz</span>
      
       ſe 
      <span class="lem"></span>
      
      
      <span class="lem">affublent</span>
      
       et affollent</span>
   <span class="verse v4911">En telz delitz /
      
      <span class="lem"></span>
      
      qui par 
      <span class="lem">mal</span>
      
      
      
      <span class="lem">renom</span>
      
       vollent,</span>
   <span class="verse v4912">Nayans egard que leurs faictz ſcandaleux</span>
   <span class="verse v4913">Non ſeullement 
      <span class="lem">poꝛte</span>
      
      
       ſcandale a eulx</span>
   <span class="verse v4914">Mais 
      <span class="lem">cauſes</span>
      
      
       ſont que playes renouuellent</span>
   <span class="verse v4915"><span class="verse-number">4915</span>Aux eſcoutans /. et ceulx qui les reuellent /</span>
   <span class="verse v4916">Et de tant plus 
      <span class="lem">quilz</span>
      
       ſont 
      <span class="lem">hault</span>
      
       collocquez</span>
   <span class="verse v4917">En gꝛandz eſtatz /. de tant plus ſont mocquez /.</span>
   <span class="verse v4918">Il me ſuffiſt / que 
      <span class="lem">ſus</span>
      
       ce vice on notte</span>
   <span class="verse v4919">Quen fin il 
      <span class="lem">renge</span>
      
       et paye 
      <span class="lem"></span>
      
      a dꝛoit ſon hoſte.</span>
   <span class="verse v4920"><span class="verse-number">4920</span><mark title="piedMouche">§</mark>Oꝛ 
      <span class="lem"></span>
      
      Bꝛunechilde ayant remoꝛs 
      <span class="lem">au</span>
      
       cueur</span>
   <span class="verse v4921">Que Theodebert ſon
      nepueu / par rigueur</span>
   <span class="verse v4922">Lauoit ainſi de ſa maiſon gectee,</span>
   <span class="verse v4923">Ne ceſſa tant / que eut facon pourgectee</span>
   <span class="verse v4924">De ſen venger /.
      
      <span class="lem">Si</span>
      
       miſt au feu les fers,</span>
   <span class="verse v4925"><span class="verse-number">4925</span>Pour labiſmer iuſques 
      <span class="lem">au</span>
      
       bas enfers /.</span>
   <span class="verse v4926">Loꝛs conſeilla Theodoꝛich / la vipere</span>
   <span class="verse v4927">De quereller 
      <span class="lem"></span>
      
      les treſoꝛs de ſon pere</span>
   <span class="verse v4928">Que il ſon hayneux auoit pꝛis et 
      <span class="lem"></span>
      
      rauiz.</span>
   <span class="verse v4929">Et 
      <span class="lem"></span>
      
      qui 
      <span class="lem">plus</span>
      
       eſt /.
      Elle luy tint deuis</span>
   <span class="verse v4930"><span class="verse-number">4930</span>
      <span class="lem">Que</span>
      
       repeter deuoit tout lheritaige</span>
   <span class="verse v4931">Par luy receu en faiſant 
      <span class="lem">le</span>
      
      
      
      
      
      <span class="lem">partaige</span>
      
      ,</span>
   <span class="verse v4932">Pour la raiſon 
      <span class="lem">quil</span>
      
       ne pouoit nyer</span>
   <span class="verse v4933">Eſtre baſtard / et filz dun iardinier.</span>
   <span class="verse v4934"><mark title="piedMouche">§</mark>Loꝛs Theodoꝛich / floꝛiſſant en 
      <span class="lem">ieune aaige</span>
      
      ,</span>
   
   
   <hr data-img-id="f245">
   
   <p title="Numéro de folio" class="text-end"><i>105r</i></p>
   <span class="d-block fw-bold mb-3">Bataille preſte entre les deux freres Theodorich et Theodebert.</span>
   <span class="verse v4935"><span class="verse-number">4935</span>Monſtrant que 
      <span class="lem"></span>
      
      cueur de nobleſſe 
      <span class="lem">en</span>
      
      
      
      <span class="lem">ieu naige</span>
      
      ,</span>
   <span class="verse v4936">
      <span class="lem">Hoꝛs</span>
      
      
      
      <span class="lem">ſeiournee</span>
      
       /
      
      <span class="lem">et</span>
      
       vaine oyſiuete,</span>
   <span class="verse v4937">Non tollerant folle laſciuite,</span>
   <span class="verse v4938">A ſon pꝛouffit 
      <span class="lem"></span>
      
      pꝛint (des 
      <span class="lem">motz</span>
      
      ) la ſubſtance,</span>
   <span class="verse v4939">Et bien oza diuulguer / par 
      <span class="lem"></span>
      
      iactance</span>
   <span class="verse v4940"><span class="verse-number">4940</span>Que 
      <span class="lem">Theodebert</span>
      
       du regne gecteroit</span>
   <span class="verse v4941">Et <mark title="placeName" instant="false" full="yes">Auſtraſie</mark>
      
      <span class="lem">a</span>
      
      
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark> ioindꝛoit /.</span>
   <span class="verse v4942"><mark title="piedMouche">§</mark>
      <span class="lem">Le</span>
      
       conſeil pꝛis /
      Armes ſe pꝛeparerent</span>
   <span class="verse v4943">Et du ſeiour / les oſtz deſamparerent /.</span>
   <span class="verse v4944">
      <span class="lem">Tant</span>
      
      
      
      <span class="lem">couſtiller</span>
      
      
       / gendarme / comme archier</span>
   <span class="verse v4945"><span class="verse-number">4945</span>Fut 
      <span class="lem">ung</span>
      
       chaſcun contrainct a coup marcher /.</span>
   <span class="verse v4946"><mark title="piedMouche">§</mark>Eſtant ainſi 
      <span class="lem">ſus</span>
      
       les champs / ceſte armee</span>
   <span class="verse v4947">Ia pꝛes de <mark title="placeName" instant="false" full="yes">Metz</mark> /. commune renommee</span>
   <span class="verse v4948">Qui de voller ne ſe peult 
      <span class="lem"></span>
      
      
      diuertir,</span>
   <span class="verse v4949">Tantoſt alla Theodebert
      
      <span class="lem">aduertir</span>
      
      .</span>
   <span class="verse v4950"><span class="verse-number">4950</span>Lequel ſaichant ceſte deſconuenue,</span>
   <span class="verse v4951">Pour receuoir le frere a ſa venue,</span>
   <span class="verse v4952">Luy qui auoit 
      <span class="lem">ſes</span>
      
       gens darmes tous pꝛeſtz,</span>
   <span class="verse v4953">Se miſt aux champs / voulant le iour de apꝛes</span>
   <span class="verse v4954">Liurer bataille / au dangier quil y meure</span>
   <span class="verse v4955"><span class="verse-number">4955</span>Et ſoit vaincu /. ou que vaincueur demeure.</span>
   <span class="verse v4956"><mark title="piedMouche">§</mark>Conſiderans
      / les barons et ſeigneurs</span>
   <span class="verse v4957">De Theodoꝛich /. quelz perilz / deſhonneurs</span>
   <span class="verse v4958">Et maulx 
      <span class="lem">ce</span>
      
       ſont /
      
      <span class="lem"></span>
      
      deux 
      <span class="lem">freres</span>
      
       veoir combatre,</span>
   <span class="verse v4959">Lun contre lautre /.
      Aduiſerent de abatre</span>
   
   
   <hr data-img-id="f246">
   
   <p title="Numéro de folio" class="text-end"><i>105v</i></p>
   <span class="d-block fw-bold mb-3">Prothadius
      <span class="choice"><span title="Abbréviation pour contredisant"><mark title="abbréviation">cōtrediſant</mark></span></span> faire paix entre les deux freres roys</span>
   <span class="verse v4960"><span class="verse-number">4960</span>Leur maltalent /. Si parlerent au roy,</span>
   <span class="verse v4961">Luy 
      <span class="lem">ſupplians</span>
      
       / ce moꝛtel deſarroy</span>
   <span class="verse v4962">
      <span class="lem">Vouloir</span>
      
       muer en pitie fraternelle,</span>
   <span class="verse v4963">Si quamour vraye on 
      <span class="lem"></span>
      
      congneuſt eſtre 
      <span class="lem"></span>
      
      en elle</span>
   <span class="verse v4964">Et oultreplus / que pour lindempnite,</span>
   <span class="verse v4965"><span class="verse-number">4965</span>Choſe ne fiſt / en 
      <span class="lem">quoy</span>
      
       la dignite,</span>
   <span class="verse v4966">Foꝛtune / et heur de ſes pꝛopꝛes empires</span>
   <span class="verse v4967">Par ſon deffault / ſe 
      <span class="lem"></span>
      
      demonſtraſſent pires.</span>
   <span class="verse v4968"><mark title="piedMouche">§</mark>
      <span class="lem">Sus</span>
      
       le verſet de ce 
      <span class="lem">beau reſpons</span>
      
       dit /</span>
   <span class="verse v4969">Pꝛothadius /
      
      <span class="lem"></span>
      
      la eſtant / reſpondit</span>
   <span class="verse v4970"><span class="verse-number">4970</span>Que pour raiſon doccaſion peu chere,</span>
   <span class="verse v4971">On 
      <span class="lem"></span>
      
      ne deuoit traicter paix / ſi legiere</span>
   <span class="verse v4972">Sans pꝛemier veoir /
      
      <span class="lem">peſer / et</span>
      
       compaſſer</span>
   <span class="verse v4973">Si on 
      <span class="lem">vouldꝛoit</span>
      
       les articles paſſer,</span>
   <span class="verse v4974">
      <span class="lem">Telz que</span>
      
       le roy / par conſeil feroit mectre</span>
   <span class="verse v4975"><span class="verse-number">4975</span>Dont nentendoit ung ſeul 
      <span class="lem"></span>
      
      laiſſer obmectre.</span>
   <span class="verse v4976">Et ſil faiſoit contre ſes 
      <span class="lem">appetitz</span>
      
      </span>
   <span class="verse v4977">Le tiendꝛoit beſte / et les ſiens abeſtiz /.</span>
   <span class="verse v4978">Doncq le 
      <span class="lem">voyant</span>
      
       /
      
      <span class="lem">ces</span>
      
       ſeigneurs foꝛt contraire</span>
   <span class="verse v4979">Au bien de paix / et le 
      <span class="lem"></span>
      
      traicte diſtraire,</span>
   <span class="verse v4980"><span class="verse-number">4980</span>Soꝛtirent hoꝛs dolentz /. et neut celluy</span>
   <span class="verse v4981">Qui hault et cler ne murmuraſt 
      <span class="lem">ſus</span>
      
       luy,</span>
   <span class="verse v4982">Tous publians eſtre honte et 
      <span class="lem"></span>
      
      dommaige</span>
   <span class="verse v4983">Permectre 
      <span class="lem"></span>
      
      viure oyſeau 
      <span class="lem">de</span>
      
       tel plumaige./</span>
   <span class="verse v4984"><mark title="piedMouche">§</mark>Le roy ayant
      conſideration</span>
   
   
   <hr data-img-id="f247">
   
   <p title="Numéro de folio" class="text-end"><i>106r</i></p>
   <span class="d-block fw-bold mb-3">Prothadius pour ces
      vices occis.</span>
   <span class="verse v4985"><span class="verse-number">4985</span>A ce murmur / et conſpiration</span>
   <span class="verse v4986">Fiſt faire a tous gꝛandz et petitz / deffenſe</span>
   <span class="verse v4987">De luy toucher /. Mais ſans doubter loffenſe,</span>
   <span class="verse v4988">Ce meſme iour lallerent aſſaillir</span>
   <span class="verse v4989">Tant quon luy fiſt lame du coꝛps ſaillir.</span>
   <span class="verse v4990"><span class="verse-number">4990</span><mark title="piedMouche">§</mark>Paſſant le temps
      / aux eſchecz / en ſa tente</span>
   <span class="verse v4991">Eſchec et mat receut /. Loꝛs mal contente</span>
   <span class="verse v4992">Fut Bꝛunechilde
      / et bien autant le roy.</span>
   <span class="verse v4993">Et nonobſtant / pour fouyꝛ tout deſroy,</span>
   <span class="verse v4994">Des freres fut la lecon recoꝛdee</span>
   <span class="verse v4995"><span class="verse-number">4995</span>Si bien que y eut entre eulx paix accoꝛdee /.</span>
   
   </div>
{% endmacro %}

{% macro linear(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="linear tab-pane fade" role="tabpanel" tabindex="0" id="linear-{{pos}}" aria-labelledby="linear-{{pos}}-tab">
   <div><span class="btn toggle-mark" data-type="highlight" data-pos="{{pos}}"><span class="text-show">Afficher les surlignages</span><span class="text-hide">Masquer les surlignages</span></span><span class="btn toggle-mark" data-type="collation" data-pos="{{pos}}"><span class="text-show">Afficher les appels de collations</span><span class="text-hide">Masquer les appels de collations</span></span><span class="btn toggle-mark" data-type="note" data-pos="{{pos}}"><span class="text-show">Afficher les appels de notes</span><span class="text-hide">Masquer les appels de notes</span></span></div>
   <hr class="btnLine">
   
   
   <hr data-img-id="f242">
   
   
   
   <hr data-img-id="f243">
   
   <span class="curr-title fw-bold">De <mark class="persName">Prothadius<span class="persName-info fw-normal on-left"><b>Protade</b> ( — 606)<span class="hr-short">&nbsp;</span>Maire du Palais</span></mark> fait
      gouverneur de <mark class="persName">Theodorich<span class="persName-info fw-normal on-left"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark></span>
   
   <blockquote class="ms-2">
      
      <span class="verse v4888"><mark title="piedMouche">§</mark>En cest endroit le
         conte nous recorde</span>
      <span class="verse v4889">Que forte guerre entre freres s’esmeut,</span>
      <span class="verse v4890"><span class="verse-number">4890</span>Et comme lors <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark> ung homme eut</span>
      <span class="verse v4891">Amy de noyse et hayneux de
         concorde.</span>
      
      </blockquote>
   
   <blockquote class="ms-2">
      <mark title="piedMouche">§</mark>
      <span style="position: relative;"><span class="lem">Chapitre&nbsp;xxxii<sup>e</sup></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown2"><span class="collation-content">Chapitre xxxiii me<span class="coll-source"> [BnFfr4964]</span></span><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965, BnFfr23146]</span></span><span class="collation-content"><span class="choice">Chappitre</span> xxxiii<sup>e</sup><span class="coll-source"> [Aix419]</span></span><span class="collation-content"><span class="choice">Chapitre</span> xxxiii<sup>e</sup><span class="coll-source"> [BnFfr17274]</span></span><span class="collation-content">Chappitre .xxxiii<sup>e</sup>.<span class="coll-source"> [Cha515]</span></span></span></sup></span>
      </blockquote>
   
   <span class="verse v4892">L’<mark title="orgName" instant="false" full="yes">Italïen</mark> cault homme renommé,</span>
   <span class="verse v4893"><mark class="persName">Prothadïus<span class="persName-info fw-normal on-right"><b>Protade</b> ( — 606)<span class="hr-short">&nbsp;</span>Maire du Palais</span></mark> ja <span style="position: relative;">cy</span> dessus nommé,</span>
   <span class="verse v4894">Par sa finesse et mondaine prudence</span>
   <span class="verse v4895"><span class="verse-number">4895</span>Vers <mark class="persName">Theodorich<span class="persName-info fw-normal on-right"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> receut
      plaine evidence</span>
   <span class="verse v4896">De grand credit.
      Luy fort ambicïeux,</span>
   <span class="verse v4897">De vains honneurs tant avaricïeux,</span>
   <span class="verse v4898">Fut au prouffit du roy et le sien faire</span>
   <span class="verse v4899">Qu’il ne doubta contre honneur <span style="position: relative;"><span class="lem">se</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown5"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></span><span class="collation-content">ce<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> forfaire.</span>
   <span class="verse v4900"><span class="verse-number">4900</span>Craincte n’avoit d’exactïons lever</span>
   <span class="verse v4901">Pour gentz d’eglise et <span style="position: relative;"><span class="lem">peuples</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown6" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown6"><span class="collation-content">peuple<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> fort grever.</span>
   <span class="verse v4902">Tant fut haultain que sans honte et vergongne</span>
   <span class="verse v4903">Moult molesta les plus grandz de
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark>.</span>
   <span class="verse v4904">En <span style="position: relative;"><span class="lem">telle</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown7" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown7"><span class="collation-content">tel<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4964, BnFfr4965]</span></span></span></sup></span> amour le prist ce roy et tint</span>
   <span class="verse v4905"><span class="verse-number">4905</span>Que le credit de gouverneur obtint</span>
   <span class="verse v4906">Et <span style="position: relative;">sus</span> le faict de <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown9" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown9"><span class="collation-content">sa<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> gendarmerie</span>
   <span class="verse v4907">Fut maistre et chief de <span style="position: relative;"><span class="lem">la</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown10" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown10"><span class="collation-content">sa<span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span> chevalerie.</span>
   <span class="verse v4908">Ce fut celluy, comme chascun tenoit,</span>
   <span class="verse v4909">Qui <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark> en <span style="position: relative;"><span class="lem">l’</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown11" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown11"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>amour maintenoit,</span>
   
   
   <hr data-img-id="f244">
   
   <span class="curr-title fw-bold"><mark class="persName">Brunechilde<span class="persName-info fw-normal on-left"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark>
      conseille <mark class="persName">Theodorich<span class="persName-info fw-normal on-left"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> de guerroyer
      <mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark></span>
   <span class="verse v4910"><span class="verse-number">4910</span>Dont <span style="position: relative;"><span class="lem">gentz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown12" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown12"><span class="collation-content">les<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">charnelz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown13" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown13"><span class="collation-content">chenelz<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> se <span style="position: relative;">affublent<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown15" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown15"><span class="collation-content">acointent<span class="coll-source"> [Cha515]</span> ; accointtent<span class="coll-source"> [BnFfr4964, BnFfr4965]</span> ; accoinctent<span class="coll-source"> [Aix419]</span> ; <span class="choice">accointent</span><span class="coll-source"> [BnFfr17274]</span> ; <span class="choice">accoinctent</span><span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> et affollent</span>
   <span class="verse v4911">En telz delitz
      <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown16" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown16"><span class="collation-content">et
                  <span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>qui par <span style="position: relative;"><span class="lem">mal</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown17" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown17"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">renom</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown18" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown18"><span class="collation-content">regner<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> vollent,</span>
   <span class="verse v4912">N’ayans egard que leurs faictz scandaleux</span>
   <span class="verse v4913">Non seullement <span style="position: relative;"><span class="lem">porte</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown19" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown19"><span class="collation-content">portent<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4965, BnFfr4964]</span></span></span></sup></span> scandale à eulx</span>
   <span class="verse v4914">Mais <span style="position: relative;"><span class="lem">causes</span></span> sont que playes renouvellent</span>
   <span class="verse v4915"><span class="verse-number">4915</span>Aux escoutans et ceulx qui les revellent.</span>
   <span class="verse v4916">Et de tant plus <span style="position: relative;"><span class="lem">qu’ilz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown21" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown21"><span class="collation-content">qu’il<span class="coll-source"> [Aix419]</span></span></span></sup></span> sont <span style="position: relative;"><span class="lem">hault</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown22" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown22"><span class="collation-content">haultz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> collocquéz</span>
   <span class="verse v4917">En grandz estatz de tant plus sont mocquéz.</span>
   <span class="verse v4918">Il me suffist que <span style="position: relative;">sus</span> ce vice on notte</span>
   <span class="verse v4919">Qu’en fin il <span style="position: relative;"><span class="lem">renge</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown24" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown24"><span class="collation-content">ronge<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> et paye à droit son hoste.</span>
   <span class="verse v4920"><span class="verse-number">4920</span><mark title="piedMouche">§</mark>Or <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark> ayant remors <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown27" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown27"><span class="collation-content">en<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> cueur</span>
   <span class="verse v4921">Que <mark class="persName">Theodebert<span class="persName-info fw-normal on-right"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark> son
      nepveu par rigueur</span>
   <span class="verse v4922">L’avoit ainsi de sa maison gectee,</span>
   <span class="verse v4923">Ne cessa tant que eut façon pourgectee</span>
   <span class="verse v4924">De s’en venger.
      <span style="position: relative;"><span class="lem">Si</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown28" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown28"><span class="collation-content">Se<span class="coll-source"> [Aix419]</span></span></span></sup></span> mist au feu les fers,</span>
   <span class="verse v4925"><span class="verse-number">4925</span>Pour l’abismer jusques <span style="position: relative;"><span class="lem">au</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown29" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown29"><span class="collation-content">aux<span class="coll-source"> [Aix419, BnFfr17274, BnFfr23146]</span></span></span></sup></span> bas enfers.</span>
   <span class="verse v4926">Lors conseilla <mark class="persName">Theodorich<span class="persName-info fw-normal on-right"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> la vipere</span>
   <span class="verse v4927">De quereller les tresors de son pere</span>
   <span class="verse v4928">Que il son hayneux avoit pris et raviz.</span>
   <span class="verse v4929">Et qui <span style="position: relative;"><span class="lem">plus</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown33" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown33"><span class="collation-content">pys<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> est,
      elle luy tint devis</span>
   <span class="verse v4930"><span class="verse-number">4930</span><span style="position: relative;">Que</span> repeter devoit tout l’heritaige</span>
   <span class="verse v4931">Par luy receu en faisant <span style="position: relative;"><span class="lem">le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown35" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown35"><span class="collation-content">leur<span class="coll-source"> [BnFfr4964, BnFfr4965, BnFfr17274, Cha515]</span></span><span class="collation-content"><span class="choice">leur</span><span class="coll-source"> [Aix419]</span></span><span class="collation-content">leurs<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">partaige</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown36" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown36"><span class="collation-content">partaiges<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v4932">Pour la raison <span style="position: relative;"><span class="lem">qu’il</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown37" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown37"><span class="collation-content">que<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> ne pouoit nÿer</span>
   <span class="verse v4933">Estre bastard et filz d’un jardinier.</span>
   <span class="verse v4934"><mark title="piedMouche">§</mark>Lors <mark class="persName">Theodorich<span class="persName-info fw-normal on-right"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> florissant en <span style="position: relative;"><span class="lem">jeune aaige</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown38" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown38"><span class="collation-content">jeunesse<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span>,</span>
   
   
   <hr data-img-id="f245">
   
   <span class="curr-title fw-bold">Bataille preste entre les deux freres <mark class="persName">Theodorich<span class="persName-info fw-normal on-left"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark> et <mark class="persName">Theodebert<span class="persName-info fw-normal on-left"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark></span>
   <span class="verse v4935"><span class="verse-number">4935</span>Monstrant que <span style="position: relative;"><span class="lem-empty"></span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown39" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown39"><span class="collation-content">a <span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>cueur de noblesse <span style="position: relative;"><span class="lem">en</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown40" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown40"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr17274, BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">jeu naige</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown41" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown41"><span class="collation-content">jeu n’esse<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span>,</span>
   <span class="verse v4936"><span style="position: relative;"><span class="lem">Hors</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown42" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown42"><span class="collation-content">Trop<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">sejournee</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown43" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown43"><span class="collation-content">sejourner<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown44" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown44"><span class="collation-content">en<span class="coll-source"> [BnFfr4965, BnFfr23146, BnFfr17274]</span></span></span></sup></span> vaine oysiveté,</span>
   <span class="verse v4937">Non tollerant folle lascivité,</span>
   <span class="verse v4938">À son prouffit printdes <span style="position: relative;">motz</span> la substance,</span>
   <span class="verse v4939">Et bien oza divulguer par jactance</span>
   <span class="verse v4940"><span class="verse-number">4940</span>Que <mark class="persName"><span style="position: relative;"><span class="lem">Theodebert</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown48" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown48"><span class="collation-content">Childebert<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span><span class="persName-info fw-normal on-right"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark> du regne gecteroit</span>
   <span class="verse v4941">Et <mark title="placeName" instant="false" full="yes">Austrasie</mark>
      <span style="position: relative;"><span class="lem">à</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown49" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown49"><span class="collation-content">et<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <mark title="placeName" instant="false" full="yes">Bourgongne</mark> joindroit.</span>
   <span class="verse v4942"><mark title="piedMouche">§</mark><span style="position: relative;"><span class="lem">Le</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown50" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown50"><span class="collation-content">Ce<span class="coll-source"> [Aix419]</span></span></span></sup></span> conseil pris
      armes se preparerent</span>
   <span class="verse v4943">Et du sejour les ostz desamparerent.</span>
   <span class="verse v4944"><span style="position: relative;"><span class="lem">Tant</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown51" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown51"><span class="collation-content">Tout<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">coustiller</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown52" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown52"><span class="collation-content"><span class="choice">coustilleur</span><span class="coll-source"> [Aix419]</span></span><span class="collation-content">coustille<span>r</span><span class="coll-source"> [BnFfr17274]</span></span></span></sup></span>, gendarme comme archier</span>
   <span class="verse v4945"><span class="verse-number">4945</span>Fut <span style="position: relative;"><span class="lem">ung</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown53" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown53"><span class="collation-content"><i>om.</i><span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> chascun contrainct à coup marcher.</span>
   <span class="verse v4946"><mark title="piedMouche">§</mark>Estant ainsi <span style="position: relative;">sus</span> les champs ceste armee</span>
   <span class="verse v4947">Ja près de <mark title="placeName" instant="false" full="yes">Metz</mark>, commune renommee</span>
   <span class="verse v4948">Qui de voller ne se peult divertir,</span>
   <span class="verse v4949">Tantost alla <mark class="persName">Theodebert<span class="persName-info fw-normal on-right"><b>Théodebert II</b> (585 — 612)<span class="hr-100">&nbsp;</span>Roi des Francs d'Austrasie (596-612)<br/><span class="hr-short">&nbsp;</span>Prince mérovingien</span></mark>
      <span style="position: relative;"><span class="lem">advertir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown56" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown56"><span class="collation-content">adverty<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span>.</span>
   <span class="verse v4950"><span class="verse-number">4950</span>Lequel saichant ceste desconvenue,</span>
   <span class="verse v4951">Pour recevoir le frere à sa venue,</span>
   <span class="verse v4952">Luy qui avoit <span style="position: relative;"><span class="lem">ses</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown57" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown57"><span class="collation-content">tous ces<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> gens d’armes tous prestz,</span>
   <span class="verse v4953">Se mist aux champs voulant le jour de aprés</span>
   <span class="verse v4954">Livrer bataille, au dangier qu’il y meure</span>
   <span class="verse v4955"><span class="verse-number">4955</span>Et soit vaincu ou que vaincueur demeure.</span>
   <span class="verse v4956"><mark title="piedMouche">§</mark>Considerans les barons et seigneurs</span>
   <span class="verse v4957">De <mark class="persName">Theodorich<span class="persName-info fw-normal on-right"><b>Thierry II</b> (587 — 613)<span class="hr-100">&nbsp;</span>Roi des Francs de Bourgogne (595-613)<br/>Roi des Francs d'Austrasie (612-613)<br/></span></mark>, quelz perilz, deshonneurs</span>
   <span class="verse v4958">Et maulx <span style="position: relative;"><span class="lem">ce</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown58" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown58"><span class="collation-content">se<span class="coll-source"> [Aix419, BnFfr23146]</span></span></span></sup></span> sont
      deux <span style="position: relative;"><span class="lem">freres</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown60" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown60"><span class="collation-content">frere<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> veoir combatre,</span>
   <span class="verse v4959">L’un contre l’autre
      adviserent de abatre</span>
   
   
   <hr data-img-id="f246">
   
   <span class="curr-title fw-bold"><mark class="persName">Prothadius<span class="persName-info fw-normal on-left"><b>Protade</b> ( — 606)<span class="hr-short">&nbsp;</span>Maire du Palais</span></mark>
      <span class="choice"><span title="Abbrégé en cōtredisant"><mark title="abbréviation">contredisant</mark></span></span> faire paix entre les deux freres roys</span>
   <span class="verse v4960"><span class="verse-number">4960</span>Leur maltalent. Si parlerent au roy,</span>
   <span class="verse v4961">Luy <span style="position: relative;">supplians</span> ce mortel desarroy</span>
   <span class="verse v4962"><span style="position: relative;"><span class="lem">Vouloir</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown62" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown62"><span class="collation-content">Vouloit<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> muer en pitié fraternelle,</span>
   <span class="verse v4963">Si qu’amour vraye on congneust estre en elle</span>
   <span class="verse v4964">Et oultreplus que pour l’indempnité,</span>
   <span class="verse v4965"><span class="verse-number">4965</span>Chose ne fist en <span style="position: relative;"><span class="lem">quoy</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown65" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown65"><span class="collation-content">quo<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> la dignité,</span>
   <span class="verse v4966">Fortune et heur de ses propres empires</span>
   <span class="verse v4967">Par son deffault se demonstrassent pires.</span>
   <span class="verse v4968"><mark title="piedMouche">§</mark><span style="position: relative;">Sus</span> le verset de ce <span style="position: relative;">beau respons</span> dit,</span>
   <span class="verse v4969"><mark class="persName">Prothadius<span class="persName-info fw-normal on-right"><b>Protade</b> ( — 606)<span class="hr-short">&nbsp;</span>Maire du Palais</span></mark>
      là estant respondit</span>
   <span class="verse v4970"><span class="verse-number">4970</span>Que pour raison d’occasïon peu chere,</span>
   <span class="verse v4971">On ne devoit traicter paix si legiere</span>
   <span class="verse v4972">Sans premier veoir,
      <span style="position: relative;"><span class="lem">peser et</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown71" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown71"><span class="collation-content">pour tout bien<span class="coll-source"> [BnFfr4965, BnFfr17274, BnFfr23146]</span></span></span></sup></span> compasser</span>
   <span class="verse v4973">Si on <span style="position: relative;"><span class="lem">vouldroit</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown72" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown72"><span class="collation-content">vouloit<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> les articles passer,</span>
   <span class="verse v4974"><span style="position: relative;"><span class="lem">Telz que</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown73" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown73"><span class="collation-content">De<span>ſ</span> quelz<span class="coll-source"> [BnFfr17274]</span></span></span></sup></span> le roy par conseil feroit mectre</span>
   <span class="verse v4975"><span class="verse-number">4975</span>Dont n’entendoit ung seul laisser obmectre.</span>
   <span class="verse v4976">Et s’il faisoit contre ses <span style="position: relative;"><span class="lem">appetitz</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown75" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown75"><span class="collation-content">apetifz<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span></span>
   <span class="verse v4977">Le tiendroit beste et les siens abestiz.</span>
   <span class="verse v4978">Doncq le <span style="position: relative;">voyant<sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown76" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown76"><span class="collation-content">voyans<span class="coll-source"> [Aix419, BnFfr17274, Cha515, BnFfr4964]</span> ; veoians<span class="coll-source"> [BnFfr23146]</span> ; voyantz<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span>
      <span style="position: relative;"><span class="lem">ces</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown77" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown77"><span class="collation-content">ses<span class="coll-source"> [BnFfr23146]</span></span></span></sup></span> seigneurs fort contraire</span>
   <span class="verse v4979">Au bien de paix et le traicté distraire,</span>
   <span class="verse v4980"><span class="verse-number">4980</span>Sortirent hors dolentz et n’eut celluy</span>
   <span class="verse v4981">Qui hault et cler ne murmurast <span style="position: relative;">sus</span> luy,</span>
   <span class="verse v4982">Tous publians estre honte et dommaige</span>
   <span class="verse v4983">Permectre vivre oyseau <span style="position: relative;"><span class="lem">de</span><sup aria-hidden="true"><a class="dropdown-toggle collation-call" href="#" id="navbarDropdown82" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"><span class="plus">+</span></a><span class="dropdown-menu collation-block" aria-labelledby="navbarDropdown82"><span class="collation-content">en<span class="coll-source"> [BnFfr4965]</span></span></span></sup></span> tel plumaige.</span>
   <span class="verse v4984"><mark title="piedMouche">§</mark>Le roy ayant
      consideratïon</span>
   
   
   <hr data-img-id="f247">
   
   <span class="curr-title fw-bold"><mark class="persName">Prothadius<span class="persName-info fw-normal on-left"><b>Protade</b> ( — 606)<span class="hr-short">&nbsp;</span>Maire du Palais</span></mark> pour ces
      vices occis</span>
   <span class="verse v4985"><span class="verse-number">4985</span>À ce murmur et conspiratïon</span>
   <span class="verse v4986">Fist faire à tous grandz et petitz deffense</span>
   <span class="verse v4987">De luy toucher. Mais sans doubter l’offense,</span>
   <span class="verse v4988">Ce mesme jour l’allerent assaillir</span>
   <span class="verse v4989">Tant qu’on luy fist l’ame du corps saillir.</span>
   <span class="verse v4990"><span class="verse-number">4990</span><mark title="piedMouche">§</mark>Passant le temps aux eschecz en sa tente</span>
   <span class="verse v4991">Eschec et mat receut. Lors mal contente</span>
   <span class="verse v4992">Fut <mark class="persName">Brunechilde<span class="persName-info fw-normal on-right"><b>Brunehaut</b> (entre 545 et 550 — 613)<span class="hr-100">&nbsp;</span>Princesse Wisigoths (?-566)<br/>Reine des Francs d'Austrasie (566-575)<br/></span></mark> et bien autant le roy.</span>
   <span class="verse v4993">Et nonobstant pour fouyr tout desroy,</span>
   <span class="verse v4994">Des freres fut la leçon recordee</span>
   <span class="verse v4995"><span class="verse-number">4995</span>Si bien que y eut entre eulx paix accordee.</span>
   
   </div>
{% endmacro %}

{% macro noteExist() %}false{% endmacro %}

{% macro notes(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="notes tab-pane fade" role="tabpanel" tabindex="0" id="notes-{{pos}}" aria-labelledby="notes-{{pos}}-tab"></div>
{% endmacro %}

{% macro collations(pos) %}<div xmlns="http://www.w3.org/1999/xhtml" class="collations tab-pane fade" role="tabpanel" tabindex="0" id="collations-{{pos}}" aria-labelledby="collations-{{pos}}-tab">
   <div class="collation row" id="coll2">
      <div class="coll-verse col-2"><span>Non num.</span> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964 </span>Chapitre xxxiii me</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">Chappitre</span> xxxiii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><span class="choice">Chapitre</span> xxxiii<sup>e</sup></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>Chappitre .xxxiii<sup>e</sup>.</span></div>
      </div>
   <div class="collation row" id="coll5">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4899);">v. 4899</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ce</span></div>
      </div>
   <div class="collation row" id="coll6">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4901);">v. 4901</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>peuple</span></div>
      </div>
   <div class="collation row" id="coll7">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4904);">v. 4904</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4964, BnFfr4965 </span>tel</span></div>
      </div>
   <div class="collation row" id="coll9">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4906);">v. 4906</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>sa</span></div>
      </div>
   <div class="collation row" id="coll10">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4907);">v. 4907</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span>sa</span></div>
      </div>
   <div class="collation row" id="coll11">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4909);">v. 4909</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll12">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4910);">v. 4910</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>les</span></div>
      </div>
   <div class="collation row" id="coll13">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4910);">v. 4910</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>chenelz</span></div>
      </div>
   <div class="collation row" id="coll15">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4910);">v. 4910</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Cha515 </span>acointent</span> ; <span><span class="coll-source">BnFfr4964, BnFfr4965 </span>accointtent</span> ; <span><span class="coll-source">Aix419 </span>accoinctent</span> ; <span><span class="coll-source">BnFfr17274 </span><span class="choice">accointent</span></span> ; <span><span class="coll-source">BnFfr23146 </span><span class="choice">accoinctent</span></span></div>
      </div>
   <div class="collation row" id="coll16">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4911);">v. 4911</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>et
            </span></div>
      </div>
   <div class="collation row" id="coll17">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4911);">v. 4911</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll18">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4911);">v. 4911</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>regner</span></div>
      </div>
   <div class="collation row" id="coll19">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4913);">v. 4913</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146, Cha515, BnFfr4965, BnFfr4964 </span>portent</span></div>
      
      </div>
   <div class="collation row" id="coll21">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4916);">v. 4916</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>qu’il</span></div>
      </div>
   <div class="collation row" id="coll22">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4916);">v. 4916</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>haultz</span></div>
      </div>
   <div class="collation row" id="coll24">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4919);">v. 4919</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ronge</span></div>
      </div>
   <div class="collation row" id="coll27">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4920);">v. 4920</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>en</span></div>
      </div>
   <div class="collation row" id="coll28">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4924);">v. 4924</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Se</span></div>
      </div>
   <div class="collation row" id="coll29">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4925);">v. 4925</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, BnFfr23146 </span>aux</span></div>
      </div>
   <div class="collation row" id="coll33">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4929);">v. 4929</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>pys</span></div>
      </div>
   <div class="collation row" id="coll35">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4931);">v. 4931</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4964, BnFfr4965, BnFfr17274, Cha515 </span>leur</span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">leur</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>leurs</span></div>
      </div>
   <div class="collation row" id="coll36">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4931);">v. 4931</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>partaiges</span></div>
      </div>
   <div class="collation row" id="coll37">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4932);">v. 4932</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>que</span></div>
      </div>
   <div class="collation row" id="coll38">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4934);">v. 4934</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>jeunesse</span></div>
      </div>
   <div class="collation row" id="coll39">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4935);">v. 4935</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>a </span></div>
      </div>
   <div class="collation row" id="coll40">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4935);">v. 4935</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274, BnFfr23146 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll41">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4935);">v. 4935</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>jeu n’esse</span></div>
      </div>
   <div class="collation row" id="coll42">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4936);">v. 4936</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>Trop</span></div>
      </div>
   <div class="collation row" id="coll43">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4936);">v. 4936</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>sejourner</span></div>
      </div>
   <div class="collation row" id="coll44">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4936);">v. 4936</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr23146, BnFfr17274 </span>en</span></div>
      </div>
   <div class="collation row" id="coll48">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4940);">v. 4940</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Childebert</span></div>
      </div>
   <div class="collation row" id="coll49">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4941);">v. 4941</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>et</span></div>
      </div>
   <div class="collation row" id="coll50">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4942);">v. 4942</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span>Ce</span></div>
      </div>
   <div class="collation row" id="coll51">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4944);">v. 4944</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>Tout</span></div>
      </div>
   <div class="collation row" id="coll52">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4944);">v. 4944</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419 </span><span class="choice">coustilleur</span></span></div>
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>coustille<span>r</span></span></div>
      </div>
   <div class="collation row" id="coll53">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4945);">v. 4945</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span><i>om.</i></span></div>
      </div>
   <div class="collation row" id="coll56">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4949);">v. 4949</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>adverty</span></div>
      </div>
   <div class="collation row" id="coll57">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4952);">v. 4952</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>tous ces</span></div>
      </div>
   <div class="collation row" id="coll58">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4958);">v. 4958</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr23146 </span>se</span></div>
      </div>
   <div class="collation row" id="coll60">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4958);">v. 4958</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>frere</span></div>
      </div>
   <div class="collation row" id="coll62">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4962);">v. 4962</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>Vouloit</span></div>
      </div>
   <div class="collation row" id="coll65">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4965);">v. 4965</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>quo</span></div>
      </div>
   <div class="collation row" id="coll71">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4972);">v. 4972</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965, BnFfr17274, BnFfr23146 </span>pour tout bien</span></div>
      </div>
   <div class="collation row" id="coll72">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4973);">v. 4973</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>vouloit</span></div>
      </div>
   <div class="collation row" id="coll73">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4974);">v. 4974</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr17274 </span>De<span>ſ</span> quelz</span></div>
      </div>
   <div class="collation row" id="coll75">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4976);">v. 4976</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>apetifz</span></div>
      </div>
   <div class="collation row" id="coll76">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4978);">v. 4978</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">Aix419, BnFfr17274, Cha515, BnFfr4964 </span>voyans</span> ; <span><span class="coll-source">BnFfr23146 </span>veoians</span> ; <span><span class="coll-source">BnFfr4965 </span>voyantz</span></div>
      </div>
   <div class="collation row" id="coll77">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4978);">v. 4978</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr23146 </span>ses</span></div>
      </div>
   <div class="collation row" id="coll82">
      <div class="coll-verse col-2"><a href="javascript:versePointer(4983);">v. 4983</a> </div>
      
      
      <div class="coll-text col-10"><span><span class="coll-source">BnFfr4965 </span>en</span></div>
      </div>
</div>
{% endmacro %}
